<div id="wrapper">
  <div id="page-wrapper">
    <div class="container-fluid">

      	<div class="row">
	      <div class="col-sm-6">
	      	<h3>Emailer</h3>
	      </div>     
	    </div>
	    <hr>
	    <div class="row">
	    	<div class="col-sm-12">
        	<form name="form" novalidate>
        		<div class="row">
	    		<div class="form-group"></div>
	    		<div class="col-sm-2">
	    			Target Groups:
	    		</div>
	    		<div class="col-sm-3">
	    			<input type="radio" checked="checked" name="regUser" ng-model="regUser" value="registered"> Registered Users                  
	            </div>
	      		<div class="col-sm-2 ">
	      			<input type="radio" name="regUser" ng-model="regUser" value="newsletter"> Newsletter Users
	      		</div>
	      		</div>
      		<div class="form-group"></div>
      		<div class="row">
      			<div class="col-sm-5 col-sm-offset-2" ng-if="regUser == 'registered'">
      				<!-- <div class="select-recipent">
	      				<i class="fa fa-search left"> </i>
	      				<input type="text" class="form-control" placeholder="Search" value="">
	      				<a href="javascript:void(0);"><i class="fa fa-close right"> </i></a>
      				</div> -->
      				<!-- <select class=" form-control" ng-model="selectedValues" ng-options="regUser.email for regUser in regUsers track by regUser._id" multiple>
					</select> -->
      				<select class=" form-control" ng-model="emailerVm.selectedRegValues" ng-change="emailerVm.onChangedRegUser(emailerVm.selectedRegValues)" ng-multiple="true" multiple>
					  <option ng-repeat="regUser in regUsers"  value="{{regUser.email}}" ng-selected="{{emailerVm.selectedRegValues.indexOf(regUser.email.toString())!=-1}}">{{regUser.fname}} {{regUser.lname}} ({{regUser.email}})</option>
					</select>
				</div>
      			<div class="col-sm-4 col-sm-offset-5" ng-if="regUser == 'newsletter'"  >
      				<!-- <div class="select-recipent">
	      				<i class="fa fa-search left"> </i>
	      				<input type="text" class="form-control" placeholder="Search" value="">
	      				<a href="javascript:void(0);"><i class="fa fa-close right"> </i></a>
      				</div> -->     				
      				<select name="" class="form-control" ng-model="emailerVm.selectedSubValues" ng-change="emailerVm.onChangedSubUser(emailerVm.selectedSubValues)" multiple>
					 <option ng-repeat="subUser in subscribeUsers"  value="{{subUser.email}}" ng-selected="{{emailerVm.selectedSubValues.indexOf(subUser.email.toString())!=-1}}">{{subUser.email}}</option>
					</select>	
      			</div>
      		</div>
      		<div class="form-group"></div>
	        		<div class="form-group" ng-class="{'has-error':form.subject.$invalid && submitted}">	        			
	        			<input type="text" class="form-control" ng-model="emailerVm.mailData.subject" name="subject" placeholder="* Subject" required />
	        		</div>
	        		
					<div class="form-group" ng-class="{'has-error':form.content.$invalid && submitted}">
						<textarea ui-tinymce ng-model="emailerVm.mailData.content" name="content" rows="10" ></textarea>
					</div>
					<div class="row form-group">						
						<div class="col-sm-2">
							<span class="btn btn-warning fileinput-button">
                                <span><i class="fa fa-upload"></i> Upload Document</span>
                                <input type="file" name="doc"  data-filetype="doc" file-upload>
		                    </span>
						</div>
						<div class="col-sm-2">{{docObj.name}}</div>
						<div class="col-sm-offset-6 col-sm-2">
							<button class="btn btn-primary btn-block" ng-click="emailerVm.sendEmail()" ng-disabled="disabled">Send</button>
						</div>
					</div>
				</form> 
	      	</div> 
	    </div>          
    </div>
  </div>
</div>
