
<div class="row">
  <div class="col-sm-6">
    <h4>Add New Request </h4>
  </div>
<div class="col-sm-6 text-right">
  <a href="/enterprisevaluation/transaction" class="btn btn-primary btn-md">Back</a>
</div>
</div>
<!-- <p>Download the <a href="javascript:void(0);">template</a> and fill all fields. (*) mark fields are mandatory. System will accept multiple records in a single file.</p> -->
<legend></legend>
<div >
  <form class="enterpriseValForm" name="enterpriseValForm" novalidate>
    <!-- Enterprise block -->
    <div class="panel panel-default" ng-if="showEnterpriseSection()">
      <div class="panel-heading">
        <h3 class="panel-title">Enterprise Information</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3 form-group" ng-class="{'has-error': enterpriseValForm.requestType.$invalid && enterpriseValForm.submitted}">
            <label>Request Type</label>
            <select class="form-control" name="requestType" ng-model="addTransactionVm.enterpriseValuation.requestType"  ng-disabled="!editEnterpriseField('requestType')" ng-change="addTransactionVm.getPartners(addTransactionVm.enterpriseValuation.requestType)" required>
              <option value="">*Request Type</option>
              <option ng-repeat="req in addTransactionVm.requestTypeList" value="{{req.name}}" ng-if="isServiceAvailed(req.name)">{{req.displayText}}</option>
            </select>
            
          </div>
          <div class="col-sm-3 form-group" ng-class="{'has-error': enterpriseValForm.purpose.$invalid && enterpriseValForm.submitted}">
            <label>Select Purpose</label>
            <select class="form-control" name="purpose" ng-model="addTransactionVm.enterpriseValuation.purpose" ng-disabled="!editEnterpriseField('purpose')" required>
              <option value="Financing">Financing</option>
              <option ng-repeat="valuation in valuationList" value="{{valuation.name}}">{{valuation.name}}</option>
            </select>
          </div>
        </div>
        <div class="row"> 
          <div class="col-sm-4 form-group">
            <label>Name of Original Owner</label>
            <input type="text" name="originalOwner" class="form-control" ng-model="addTransactionVm.enterpriseValuation.originalOwner" placeholder="Name of Original Owner" ng-disabled="!editEnterpriseField('originalOwner')">
          </div> 
           <div class="col-sm-4 form-group">
            <label>Name of Customer seeking Finance</label>
            <input type="text" name="" class="form-control" placeholder="Name of Customer seeking Finance"  ng-model="addTransactionVm.enterpriseValuation.nameOfCustomerSeeking" ng-disabled="!editEnterpriseField('nameOfCustomerSeeking')">
          </div>          
          <div class="col-sm-4 form-group">
            <label>Reference/FI Number</label>
            <input type="text" class="form-control" name="customerTransactionId" ng-model="addTransactionVm.enterpriseValuation.customerTransactionId" ng-disabled="!editEnterpriseField('customerTransactionId')" placeholder="Reference/FI Number"/>
          </div>
        </div>        
        <div class="row ">          
          <div class="col-sm-3 form-group" ng-class="{'has-error':enterpriseValForm.assetId.$invalid && enterpriseValForm.submitted}">
            <label>Asset No.</label>
            <input type="text" class="form-control" name="assetId" ng-model="addTransactionVm.enterpriseValuation.assetId" ng-disabled="!editEnterpriseField('assetId')" placeholder="Asset No."/>
          </div> 
          <div class="col-sm-3 form-group">
            <label>Repo. Date</label>
            <div class="input-group">
              <input class="form-control" name="repoDate" id="repodate" ng-model="addTransactionVm.enterpriseValuation.repoDate" ng-disabled="!editEnterpriseField('repoDate')" datetime-picker readonly date-format="MM/dd/yyyy" date-only placeholder="Repo. Date" />
              <label for="repodate" class="input-group-addon"><i class="fa fa-calendar"></i></label>
            </div>
          </div> 
          <div class="col-sm-3 form-group" ng-class="{'has-error': enterpriseValForm.customerInvoiceDate.$invalid && enterpriseValForm.submitted}">
            <label>Invoice Date</label>
            <div class="input-group">
              <input  class="form-control" name="customerInvoiceDate" id="customerInvoiceDate" ng-model="addTransactionVm.enterpriseValuation.customerInvoiceDate" placeholder="Invoice Date" datetime-picker readonly date-format="MM/dd/yyyy" ng-disabled="!editEnterpriseField('customerInvoiceDate')" date-only>
              <label for="customerInvoiceDate" class="input-group-addon"><i class="fa fa-calendar"></i></label>
            </div>
          </div>
          <div class="col-sm-3 form-group" ng-class="{'has-error': enterpriseValForm.customerInvoiceValue.$invalid && enterpriseValForm.submitted}">
            <label>Invoice Value</label>
            <input type="number" class="form-control" name="customerInvoiceValue" ng-model="addTransactionVm.enterpriseValuation.customerInvoiceValue" min="0" placeholder="Invoice Value" ng-disabled="!editEnterpriseField('customerInvoiceValue')">
          </div>        
        </div>
        
        <div class="row">  
          <div class="col-sm-3 form-group" ng-class="{'has-error': enterpriseValForm.assetCategory.$invalid && enterpriseValForm.submitted}">
            <label>Select Category</label>
            <select class="form-control" name="assetCategory" ng-model="addTransactionVm.enterpriseValuation.assetCategory" ng-disabled="(!addTransactionVm.enterpriseValuation.enterprise.enterpriseId || !addTransactionVm.enterpriseValuation.agency.partnerId || !editEnterpriseField('assetCategory'))" required>
                <option value="">*Select Category</option>
                <option value="{{ast.assetCategory}}" ng-repeat="ast in addTransactionVm.assetCategoryList">{{ast.assetCategory}}</option>
              </select>
          </div>
          <div class="col-sm-3 form-group" ng-class="{'has-error': (enterpriseValForm.brand.$invalid || enterpriseValForm.otherBrand.$invalid) && enterpriseValForm.submitted}">
            <label>Select Brand</label>
            <select class="form-control" name="brand" ng-model="addTransactionVm.enterpriseValuation.brand" ng-disabled="!editEnterpriseField('brand')" ng-change="addTransactionVm.onBrandChange(addTransactionVm.enterpriseValuation.brand)">
              <option value="">Select Brand</option>
              <option ng-repeat="br in addTransactionVm.brandList" value="{{br.name}}">{{br.name}}</option>
            </select>
            
            <input type="text" ng-if="addTransactionVm.enterpriseValuation.brand == 'Other'" ng-model="addTransactionVm.enterpriseValuation.otherBrand" class="form-control form-group" name="otherBrand" placeholder="*Other Brand Name" ng-required = "addTransactionVm.enterpriseValuation.brand == 'Other'" ng-disabled="!editEnterpriseField('otherBrand')">
          </div>          
          <div class="col-sm-3 form-group" ng-class="{'has-error': (enterpriseValForm.model.$invalid || enterpriseValForm.otherModel.$invalid) && enterpriseValForm.submitted}">
            <label>Select Model</label>
            <select class="form-control" name="model" ng-model="addTransactionVm.enterpriseValuation.model" ng-disabled="!editEnterpriseField('model')">
              <option value="">Select Model</option>
              <option ng-repeat="md in addTransactionVm.modelList" value="{{md.name}}">{{md.name}}</option>
            </select>
            
            <input type="text" ng-if="addTransactionVm.enterpriseValuation.model == 'Other'" ng-model="addTransactionVm.enterpriseValuation.otherModel" class="form-control form-group" name="otherModel" placeholder="*Other Model Name" ng-required = "addTransactionVm.enterpriseValuation.model == 'Other'" ng-disabled="!editEnterpriseField('otherModel')">
          </div>
          <div class="col-sm-3 form-group" ng-class="{'has-error':enterpriseValForm.assetDescription.$invalid && enterpriseValForm.submitted}">
            <label>Asset Name</label>
            <input type="text" name="assetDescription" ng-model="addTransactionVm.enterpriseValuation.assetDescription" ng-disabled="!editEnterpriseField('assetDescription')" placeholder="*Asset Name" class="form-control" required/>
            <!--<textarea name="assetDescription" ng-model="addTransactionVm.enterpriseValuation.assetDescription" ng-disabled="!editEnterpriseField()" placeholder="*Asset Name" class="form-control" required></textarea>-->
          </div>
          
        </div>
        <div class="row">          
          <div class="col-sm-3 form-group">
            <label>Engine No.</label>
            <input type="text" class="form-control" name="engineNo" ng-model="addTransactionVm.enterpriseValuation.engineNo" ng-disabled="!editEnterpriseField('engineNo')" placeholder="Engine No."/>
          </div>
          <div class="col-sm-3 form-group" ng-class="{'has-error': (enterpriseValForm.chassisNo.$invalid || enterpriseValForm.registrationNo.$invalid) && enterpriseValForm.submitted}">
            <label>Chassis No.</label>
             <input type="text" class="form-control" name="chassisNo" ng-model="addTransactionVm.enterpriseValuation.chassisNo" ng-disabled="!editEnterpriseField('chassisNo')" placeholder="Chassis No." ng-required="!(addTransactionVm.enterpriseValuation.chassisNo || addTransactionVm.enterpriseValuation.registrationNo)"/>
          </div>
          <div class="col-sm-3 form-group" ng-class="{'has-error': (enterpriseValForm.chassisNo.$invalid || enterpriseValForm.registrationNo.$invalid) && enterpriseValForm.submitted}">
            <label>Registration No.</label>
             <input type="text" class="form-control" name="registrationNo" ng-model="addTransactionVm.enterpriseValuation.registrationNo" ng-disabled="!editEnterpriseField('registrationNo')" placeholder="Registration No." ng-required="!( addTransactionVm.enterpriseValuation.chassisNo || addTransactionVm.enterpriseValuation.registrationNo)"/>
          </div>
          <div class="col-sm-3 form-group">
            <label>Serial No.</label>
            <input type="text" class="form-control" name="serialNo" ng-model="addTransactionVm.enterpriseValuation.serialNo" placeholder="Serial No." ng-disabled="!editEnterpriseField('serialNo')"/>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 form-group" ng-class="{'has-error': enterpriseValForm.yearOfManufacturing.$invalid && enterpriseValForm.submitted}">
            <label>Year of Manufacture</label>
            <input type="number" class="form-control" name="yearOfManufacturing" ng-model="addTransactionVm.enterpriseValuation.yearOfManufacturing" ng-disabled="!editEnterpriseField('yearOfManufacturing')" placeholder="Year of Manufacture" ng-maxlength="4" ng-minlength="4" ng-max="currentYear" min="1900" string-to-number/>
          </div>
          <div class="col-sm-3 form-group" ng-class="{'has-error': enterpriseValForm.yardParked.$invalid && enterpriseValForm.submitted}">
            <label>Yard Information/Asset Address</label>
           <input type="text" class="form-control" name="yardParked" ng-model="addTransactionVm.enterpriseValuation.yardParked" placeholder="*Yard Information/Asset Address" ng-disabled="!editEnterpriseField('yardParked')" required/>          
           <!--  <select  class="form-control" name="yardParked" ng-model="addTransactionVm.enterpriseValuation.yardParked" ng-disabled="!editEnterpriseField()">
              <option value="">Yard Parked</option>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
             -->
          </div>
          <div class="col-sm-3 form-group" ng-class="{'has-error': enterpriseValForm.country.$invalid && enterpriseValForm.submitted}">
            <label>Select Country</label>
            <select class="form-control" ng-model="addTransactionVm.enterpriseValuation.country" name="country" ng-disabled="!editEnterpriseField('country')" ng-change="addTransactionVm.onCountryChange(addTransactionVm.enterpriseValuation.country)" required>
              <option value="">*Select Country</option>
              <option ng-repeat="country in allCountries | orderBy:'name'" value="{{country.name}}">{{country.name}}</option>
            </select>
            
          </div>
          <div class="col-sm-3 form-group" ng-class="{'has-error': enterpriseValForm.state.$invalid && enterpriseValForm.submitted}">
            <label>Select State</label>
            <select class="form-control" name="state" ng-model="addTransactionVm.enterpriseValuation.state" ng-disabled="!editEnterpriseField('state')" ng-change="addTransactionVm.onStateChange(addTransactionVm.enterpriseValuation.state)" required>
              <option value="">*Select State</option>
                <option ng-repeat="state in stateList | orderBy:'name'" value="{{state.name}}">{{state.name}}</option>
            </select>
            
          </div>        
        </div>
        <div class="row">
          <div class="col-sm-3 form-group" ng-class="{'has-error': enterpriseValForm.location.$invalid && enterpriseValForm.submitted}">
            <label>Select Location</label>
            <select class="form-control" name="location" ng-model="addTransactionVm.enterpriseValuation.city" ng-disabled="!editEnterpriseField('city')" required>
              <option value="">*Select Location</option>
                <option ng-repeat="location in locationList | orderBy:'name'" value="{{location.name}}">{{location.name}}</option>
            </select>
            
          </div>
          <div class="col-sm-3 form-group" ng-class="{'has-error':enterpriseValForm.contactPerson.$invalid && enterpriseValForm.submitted}">
            <label>Contact Person</label>
            <input type="text" class="form-control" name="contactPerson" ng-model="addTransactionVm.enterpriseValuation.contactPerson" ng-disabled="!editEnterpriseField('contactPerson')" placeholder="*Contact Person" required/>
          </div>
          <div class="col-sm-3 form-group" ng-class="{'has-error':enterpriseValForm.contactPersonTelNo.$invalid && enterpriseValForm.submitted}">
            <label>Contact Person Tel No</label>
            <input type="text" class="form-control" name="contactPersonTelNo" ng-model="addTransactionVm.enterpriseValuation.contactPersonTelNo" ng-disabled="!editEnterpriseField('contactPersonTelNo')" placeholder="*Contact Person Tel No" required/>
          </div>
          <div class="col-sm-3 form-group">
            <label>Distance to be Travelled</label>
            <div class="input-group">
              <input type="text" class="form-control" name="disFromCustomerOffice" ng-model="addTransactionVm.enterpriseValuation.disFromCustomerOffice" ng-disabled="!editEnterpriseField('disFromCustomerOffice')" placeholder="Distance to be Travelled"/>
              <span class="input-group-addon">Kms</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 form-group" ng-class="{'has-error': enterpriseValForm.agencyName.$invalid && enterpriseValForm.submitted}">
            <label>Select Agency</label>
            <select class="form-control" name="agencyName" ng-model="addTransactionVm.enterpriseValuation.agency.partnerId" ng-disabled="!editEnterpriseField('partnerId')" required ng-change="getAssetGroup()">
              <option value="">*Select Agency</option>
              <option  ng-repeat="ag in addTransactionVm.valAgencies | orderBy:'name'" value="{{ag.partnerId}}">{{ag.name}}</option>
            </select>
            
          </div>
          <div class="col-sm-3 form-group" ng-class="{'has-error': enterpriseValForm.enterpriseId.$invalid && enterpriseValForm.submitted}">
            <label>Select Enterprise</label>
            <select class="form-control" name="enterpriseId" ng-model="addTransactionVm.enterpriseValuation.enterprise.enterpriseId" ng-disabled="!editEnterpriseField('enterpriseId')" ng-change="addTransactionVm.setCustomerData(addTransactionVm.enterpriseValuation.enterprise.enterpriseId);getAssetGroup()" required>
              <option value="">*Select Enterprise</option>
              <option ng-repeat="enterprise in addTransactionVm.enterprises" value="{{enterprise.enterpriseId}}">{{enterprise.fname}} {{enterprise.lname}} ({{enterprise.mobile}})</option>
            </select>
            
          </div>    
          <div class="col-sm-3 form-group">
            <label>Invoice Upload</label>
            <span class="btn btn-default fileinput-button">
             <input type="file" id="upload" name="upload" onchange="angular.element(this).scope().upload(this.files,'invoiceDoc')" ng-disabled="!editEnterpriseField('invoiceDoc')">
              <span><i class="fa fa-upload"></i> Invoice Upload</span>
            </span>
            <a href="javascript:void(0)" ng-click="downloadFile(addTransactionVm.enterpriseValuation.invoiceDoc,addTransactionVm.enterpriseValuation.assetDir)"><span>{{addTransactionVm.enterpriseValuation.invoiceDoc.filename}}</span></a>
          </div>
          <div class="col-sm-3 form-group">
            <label>RC Upload</label>
            <span class="btn btn-default fileinput-button">
             <input type="file" id="upload" name="upload" data-filetype="doc" onchange="angular.element(this).scope().upload(this.files,'rcDoc')" ng-disabled="!editEnterpriseField('rcDoc')">
              <span><i class="fa fa-upload"></i> RC Upload</span>
            </span>
            <a href="javascript:void(0)" ng-click="downloadFile(addTransactionVm.enterpriseValuation.invoiceDoc,addTransactionVm.enterpriseValuation.assetDir)"><span>{{addTransactionVm.enterpriseValuation.rcDoc.filename}}</span></a>
          </div>
                 
        </div>
        <div class="row">          
          <div class="col-sm-3 form-group">
            <label>Enterprise</label>
            <input type="text" class="form-control" name="customerPartyName" ng-model="addTransactionVm.enterpriseValuation.customerPartyName" disabled placeholder="Enterprise"/>
          </div> 
          <div class="col-sm-3 form-group">
            <label>User Name</label>
            <input type="text" class="form-control" name="userName" ng-model="addTransactionVm.enterpriseValuation.userName" disabled placeholder="User Name" disabled/>
          </div>
          <div class="col-sm-3 form-group">
          <label>Mobile No.</label>
            <input type="text" class="form-control" name="customerPartyNo" ng-model="addTransactionVm.enterpriseValuation.customerPartyNo" disabled placeholder="Mobile No."/>
          </div>   
          <div class="col-sm-3 form-group"> 
            <label>Request Date</label>
              <input class="form-control" name="requestDate" id="requestdate" ng-model="addTransactionVm.enterpriseValuation.requestDate" ng-disabled="true" placeholder="Request Date" />
          </div>  
        </div>
        
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-offset-6 col-sm-6 text-right">
            <button type="button" class="btn btn-default" ng-click="addTransactionVm.reset(enterpriseValForm)"  ng-disabled="isEdit">Reset</button>
            <button type="button" class="btn btn-danger" ng-click="addTransactionVm.addOrUpdateRequest(enterpriseValForm,'enterpriseform')" ng-if="!isEdit">Save</button>
            <button type="button" class="btn btn-danger" ng-click="addTransactionVm.addOrUpdateRequest(enterpriseValForm,'enterpriseform')" ng-if="isEdit && editEnterpriseField('updatebutton')">Update</button>
           <!--  <button type="button" class="btn btn-danger" ng-click="addTransactionVm.addOrUpdateRequest(agencyForm)" ng-if="isEdit && !editEnterpriseField()">Update</button> -->
          </div>
        </div>
      </div>
    </div>
    </form>
    <!-- Agency block -->
    <!-- <div class="panel panel-default" ng-if="showAgencySection()"> -->
   <form class="agencyForm" name="agencyForm" novalidate>
    <div class="panel panel-default" ng-if="showAgencySection()">
      <div class="panel-heading">
        <h3 class="panel-title">Agency Information</h3>
      </div>
      <div class="panel-body">
        <div class="row">                              
            <div class="col-sm-3 form-group" ng-class="{'has-error':agencyForm.reportNo.$invalid && agencyForm.submitted}">
              <label>Report No.</label>
              <input type="text" class="form-control" name="reportNo" ng-model="addTransactionVm.enterpriseValuation.reportNo" placeholder="*Report No." ng-disabled="!editAgencyField()" required/>
            </div>
            <div class="col-sm-3 form-group">
              <label>Report Date</label>
               <div class="input-group" ng-class="{'has-error':agencyForm.reportDate.$invalid && agencyForm.submitted}">
                 <input class="form-control" name="reportDate" id="reportdate" ng-model="addTransactionVm.enterpriseValuation.reportDate" datetime-picker readonly date-format="MM/dd/yyyy"  date-only placeholder="Report Date*" disabled/>
                 <label for="reportdate" class="input-group-addon"><i class="fa fa-calendar"></i></label>
               </div>
            </div>
            <div class="col-sm-3 form-group" ng-class="{'has-error':agencyForm.agencYom.$invalid && agencyForm.submitted}">
              <label>Year of Manufacture</label>
              <input type="text" class="form-control" name="agencYom" ng-model="addTransactionVm.enterpriseValuation.agencyYearOfManufacturing" placeholder="*Year of Manufacture" ng-disabled="!editAgencyField()" required/>
            </div>
            <div class="col-sm-3 form-group">
              <label>Engine No.</label>
              <input type="text" class="form-control" name="agencyEngineNo" ng-model="addTransactionVm.enterpriseValuation.agencyEngineNo" ng-disabled="!editAgencyField()" placeholder="Engine No."/>
            </div>
        </div>
        <div class="row">        
          <div class="col-sm-3 form-group">
            <label>Chassis No.</label>
             <input type="text" class="form-control" name="agencyChassisNo" ng-model="addTransactionVm.enterpriseValuation.agencyChassisNo" ng-disabled="!editAgencyField()" placeholder="Chassis No."/>
          </div>
          <div class="col-sm-3 form-group">
            <label>Registration No.</label>
             <input type="text" class="form-control" name="agencyRegistrationNo" ng-model="addTransactionVm.enterpriseValuation.agencyRegistrationNo"  ng-disabled="!editAgencyField()" placeholder="Registration No."/>
          </div>
          <div class="col-sm-3 form-group">
            <label>Serial No.</label>
             <input type="text" class="form-control" name="agencySerialNo" ng-model="addTransactionVm.enterpriseValuation.agencySerialNo" ng-disabled="!editAgencyField()" placeholder="Serial No." />
          </div>
          <div class="col-sm-3 form-group" ng-class="{'has-error':agencyForm.hmr_kmr.$invalid && agencyForm.submitted}">
            <label>HMR / KMR</label>
              <input type="text" class="form-control" name="hmr_kmr" ng-model="addTransactionVm.enterpriseValuation.hmr_kmr" placeholder="*HMR / KMR" ng-disabled="!editAgencyField()" required/>
            </div>
        </div>
        <div class="row ">                            
          <div class="col-sm-3 form-group" ng-class="{'has-error':agencyForm.assessedValue.$invalid && agencyForm.submitted}">
            <label>Assessed Value</label>
            <input type="number" class="form-control" min="0" name="assessedValue" ng-model="addTransactionVm.enterpriseValuation.assessedValue" ng-disabled="!editAgencyField()" placeholder="*Assessed Value" required/>
          </div>
          <div class="col-sm-3 form-group" ng-class="{'has-error':agencyForm.inspectionBy.$invalid && agencyForm.submitted}">
            <label>Inspection By</label>
             <input type="text" class="form-control" name="inspectionBy" ng-model="addTransactionVm.enterpriseValuation.inspectionBy" ng-disabled="!editAgencyField()" placeholder="*Inspection By" required/>
          </div>
          <div class="col-sm-3 form-group" ng-class="{'has-error':agencyForm.physicalCondition.$invalid && agencyForm.submitted}">
            <label>Physical Condition</label>
            <input type="text" class="form-control" name="physicalCondition" ng-model="addTransactionVm.enterpriseValuation.physicalCondition" ng-disabled="!editAgencyField()" placeholder="*Physical Condition" required/>            
          </div>
          <div class="col-sm-3 form-group">
             GPS Installed
              <div class="row">
                <div class="col-xs-6">
                  <input type="radio" name="gps" ng-model="addTransactionVm.enterpriseValuation.gpsInstalled" ng-value="true"  ng-disabled="!editAgencyField()"> Yes
                </div>
                <div class="col-xs-6">
                  <input type="radio" name="gps" ng-model="addTransactionVm.enterpriseValuation.gpsInstalled" ng-value="false" ng-disabled="!editAgencyField()"> No
                </div>
              </div>
          </div>
        </div>

          <div class="row " ng-if="addTransactionVm.enterpriseValuation.gpsInstalled">        
            <div class="col-sm-3 form-group">
              <label>GPS Device No.</label>
             <input type="text" class="form-control" name="gpsDeviceNo" ng-model="addTransactionVm.enterpriseValuation.gpsDeviceNo" ng-disabled="!editAgencyField()" placeholder="GPS Device No." />
            </div>
            <div class="col-sm-3 form-group">
              <label>IMIE No.</label>
              <input type="text" class="form-control" name="gpsIMEINo"  ng-model="addTransactionVm.enterpriseValuation.gpsIMEINo" ng-disabled="!editAgencyField()" value="" placeholder="IMIE No." />
            </div>
            
          </div>
          <div class="row">
            <div class="col-sm-12 form-group">
              <label>Overall General Condition</label>
              <textarea name="" class="form-control" ng-disabled="!editAgencyField()" ng-model="addTransactionVm.enterpriseValuation.overallGeneralCondition" placeholder="Overall General Condition" rows="10" cols="100"></textarea>
            </div>
          </div>
          <h5 class="form-group"><strong>Upload Asset Images</strong></h5>
          <div class="row form-group">
              <div class="col-sm-2  text-center">                
                 <div class="br5">
                    <span class="fileinput-button browse-icon" ng-if="!addTransactionVm.enterpriseValuation.generalImage.filename">
                        <span><i class="fa fa-plus-circle"></i></span>
                          <input type="file" name="general" onchange="angular.element(this).scope().upload(this.files,'generalImage')" ng-disabled="!editAgencyField()" accept="image/*">
                     </span> 
                      <div ng-if="addTransactionVm.enterpriseValuation.generalImage.filename">
                        <div class="icn2">
                          <a href="javascript:void(0);" ng-click="addTransactionVm.deleteImg('generalImage')"><i class="fa fa-times"></i></a>
                       </div>
                        <span class="fileinput-button">
                          <a href="javascript:void(0);">
                            <img ng-src="{{addTransactionVm.enterpriseValuation.generalImage.filename}}" class="img-responsive" ng-if="addTransactionVm.enterpriseValuation.generalImage.external">
                            <img ng-src="{{uploadImagePrefix}}{{addTransactionVm.enterpriseValuation.assetDir}}/{{addTransactionVm.enterpriseValuation.generalImage.filename}}" class="img-responsive" ng-if="!addTransactionVm.enterpriseValuation.generalImage.external">
                          </a>
                        </span> 
                      </div>                      
                  </div>
                  <span ng-if="!addTransactionVm.enterpriseValuation.generalImage.filename">General</span>
                  <a href="javascript:void(0);" ng-if="addTransactionVm.enterpriseValuation.generalImage.filename" ng-click="downloadFile(addTransactionVm.enterpriseValuation.generalImage,addTransactionVm.enterpriseValuation.assetDir)">General</a>
              </div>
              <div class="col-sm-2  text-center">
                <div class="br5">
                  <span class="fileinput-button browse-icon" ng-if="!addTransactionVm.enterpriseValuation.engineImage.filename">
                      <span><i class="fa fa-plus-circle"></i></span>
                        <input type="file" name="engine" onchange="angular.element(this).scope().upload(this.files,'engineImage')" ng-disabled="!editAgencyField()" accept="image/*">
                   </span>
                   <div ng-if="addTransactionVm.enterpriseValuation.engineImage.filename">
                      <div class="icn2">
                        <a href="javascript:void(0);" ng-click="addTransactionVm.deleteImg('engineImage')"><i class="fa fa-times"></i></a>
                     </div>
                      <span class="fileinput-button">
                        <a href="javascript:void(0);">
                          <img ng-src="{{addTransactionVm.enterpriseValuation.engineImage.filename}}" class="img-responsive" ng-if="addTransactionVm.enterpriseValuation.engineImage.external">
                          <img ng-src="{{uploadImagePrefix}}{{addTransactionVm.enterpriseValuation.assetDir}}/{{addTransactionVm.enterpriseValuation.engineImage.filename}}" class="img-responsive" ng-if="!addTransactionVm.enterpriseValuation.engineImage.external">
                        </a>
                      </span> 
                    </div>                        
                </div>  
                <span ng-if="!addTransactionVm.enterpriseValuation.engineImage.filename">Engine</span>  
                <a href="javascript:void(0);" ng-if="addTransactionVm.enterpriseValuation.engineImage.filename" ng-click="downloadFile(addTransactionVm.enterpriseValuation.engineImage,addTransactionVm.enterpriseValuation.assetDir)">Engine</a>
              </div>
              <div class="col-sm-2  text-center">
                <div class="br5">
                  <span class="fileinput-button browse-icon" ng-if="!addTransactionVm.enterpriseValuation.hydraulicImage.filename">
                      <span><i class="fa fa-plus-circle"></i></span>
                        <input type="file" name="hydraulic" onchange="angular.element(this).scope().upload(this.files,'hydraulicImage')" ng-disabled="!editAgencyField()" accept="image/*">
                   </span> 
                   <div ng-if="addTransactionVm.enterpriseValuation.hydraulicImage.filename">
                      <div class="icn2">
                        <a href="javascript:void(0);" ng-click="addTransactionVm.deleteImg('hydraulicImage')"><i class="fa fa-times"></i></a>
                     </div>
                      <span class="fileinput-button">
                        <a href="javascript:void(0);">
                          <img ng-src="{{addTransactionVm.enterpriseValuation.hydraulicImage.filename}}" class="img-responsive" ng-if="addTransactionVm.enterpriseValuation.hydraulicImage.external">
                          <img ng-src="{{uploadImagePrefix}}{{addTransactionVm.enterpriseValuation.assetDir}}/{{addTransactionVm.enterpriseValuation.hydraulicImage.filename}}" class="img-responsive" ng-if="!addTransactionVm.enterpriseValuation.hydraulicImage.external">
                        </a>
                      </span> 
                    </div>                       
                </div>
                <span ng-if="!addTransactionVm.enterpriseValuation.hydraulicImage.filename">Hydraulic</span>
                <a href="javascript:void(0);" ng-if="addTransactionVm.enterpriseValuation.hydraulicImage.filename" ng-click="downloadFile(addTransactionVm.enterpriseValuation.hydraulicImage,addTransactionVm.enterpriseValuation.assetDir)">Hydraulic</a>
              </div>
              <div class="col-sm-2  text-center">
                <div class="br5">
                  <span class="fileinput-button browse-icon" ng-if="!addTransactionVm.enterpriseValuation.cabinImage.filename">
                      <span><i class="fa fa-plus-circle"></i></span>
                        <input type="file" name="cabin" onchange="angular.element(this).scope().upload(this.files,'cabinImage')" ng-disabled="!editAgencyField()" accept="image/*">
                   </span> 
                   <div ng-if="addTransactionVm.enterpriseValuation.cabinImage.filename">
                      <div class="icn2">
                        <a href="javascript:void(0);" ng-click="addTransactionVm.deleteImg('cabinImage')"><i class="fa fa-times"></i></a>
                     </div>
                      <span class="fileinput-button">
                       <a href="javascript:void(0);">
                          <img ng-src="{{addTransactionVm.enterpriseValuation.cabinImage.filename}}" class="img-responsive" ng-if="addTransactionVm.enterpriseValuation.cabinImage.external">
                          <img ng-src="{{uploadImagePrefix}}{{addTransactionVm.enterpriseValuation.assetDir}}/{{addTransactionVm.enterpriseValuation.cabinImage.filename}}" class="img-responsive" ng-if="!addTransactionVm.enterpriseValuation.cabinImage.external">
                        </a>
                      </span> 
                    </div>                       
                </div>
                <span ng-if="!addTransactionVm.enterpriseValuation.cabinImage.filename">Cabin</span>
                <a href="javascript:void(0);" ng-if="addTransactionVm.enterpriseValuation.cabinImage.filename" ng-click="downloadFile(addTransactionVm.enterpriseValuation.cabinImage,addTransactionVm.enterpriseValuation.assetDir)">Cabin</a>
              </div>
              <div class="col-sm-2  text-center">
                <div class="br5">
                  <span class="fileinput-button browse-icon" ng-if="!addTransactionVm.enterpriseValuation.underCarriageImage.filename">
                      <span><i class="fa fa-plus-circle"></i></span>
                        <input type="file" name="undercarriage" onchange="angular.element(this).scope().upload(this.files,'underCarriageImage')" ng-disabled="!editAgencyField()" accept="image/*">
                   </span>    
                   <div ng-if="addTransactionVm.enterpriseValuation.underCarriageImage.filename">
                      <div class="icn2">
                        <a href="javascript:void(0);" ng-click="addTransactionVm.deleteImg('underCarriageImage')"><i class="fa fa-times"></i></a>
                     </div>
                      <span class="fileinput-button">
                        <a href="javascript:void(0);">
                          <img ng-src="{{addTransactionVm.enterpriseValuation.underCarriageImage.filename}}" class="img-responsive" ng-if="addTransactionVm.enterpriseValuation.underCarriageImage.external">
                          <img ng-src="{{uploadImagePrefix}}{{addTransactionVm.enterpriseValuation.assetDir}}/{{addTransactionVm.enterpriseValuation.underCarriageImage.filename}}" class="img-responsive" ng-if="!addTransactionVm.enterpriseValuation.underCarriageImage.external">
                        </a>
                      </span> 
                    </div>                    
                </div> 
                <span ng-if="!addTransactionVm.enterpriseValuation.underCarriageImage.filename">Under-Carriage / Tyre </span>
                <a href="javascript:void(0);" ng-if="addTransactionVm.enterpriseValuation.underCarriageImage.filename" ng-click="downloadFile(addTransactionVm.enterpriseValuation.underCarriageImage,addTransactionVm.enterpriseValuation.assetDir)">Under-Carriage / Tyre </a>
              </div>
              <div class="col-sm-2  text-center">
                <div class="br5">
                  <span class="fileinput-button browse-icon" ng-if="!addTransactionVm.enterpriseValuation.otherImage.filename">
                      <span><i class="fa fa-plus-circle"></i></span>
                        <input type="file" name="other" onchange="angular.element(this).scope().upload(this.files,'otherImage')" ng-disabled="!editAgencyField()" accept="image/*">
                   </span> 
                   <div ng-if="addTransactionVm.enterpriseValuation.otherImage.filename">
                      <div class="icn2">
                        <a href="javascript:void(0);" ng-click="addTransactionVm.deleteImg('otherImage')"><i class="fa fa-times"></i></a>
                     </div>
                      <span class="fileinput-button">
                        <a href="javascript:void(0);">
                          <img ng-src="{{addTransactionVm.enterpriseValuation.otherImage.filename}}" class="img-responsive" ng-if="addTransactionVm.enterpriseValuation.otherImage.external">
                          <img ng-src="{{uploadImagePrefix}}{{addTransactionVm.enterpriseValuation.assetDir}}/{{addTransactionVm.enterpriseValuation.otherImage.filename}}" class="img-responsive" ng-if="!addTransactionVm.enterpriseValuation.otherImage.external">
                        </a>
                      </span> 
                    </div>                       
                </div> 
                <span ng-if="!addTransactionVm.enterpriseValuation.otherImage.filename">Other</span>
                <a href="javascript:void(0);" ng-if="addTransactionVm.enterpriseValuation.otherImage.filename" ng-click="downloadFile(addTransactionVm.enterpriseValuation.otherImage,addTransactionVm.enterpriseValuation.assetDir)">Other</a>
              </div>              
          </div>
          <div class="row ">
            <div class="col-sm-2">Valuation Report</div>
            <div class="col-sm-2">
              <span class="btn btn-warning fileinput-button">
               <input type="file" name="report" onchange="angular.element(this).scope().upload(this.files,'valuationReport')" ng-disabled="!editAgencyField()">
                <span><i class="fa fa-upload"></i> Upload</span>
              </span>
            </div>
            <div class="col-sm-4"><a href="javascript:void(0);" ng-click="downloadFile(addTransactionVm.enterpriseValuation.valuationReport,addTransactionVm.enterpriseValuation.assetDir)" ng-if="addTransactionVm.enterpriseValuation.valuationReport.filename">{{addTransactionVm.enterpriseValuation.valuationReport.filename}}</a></div>
          </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-offset-6 col-sm-6 text-right">
            <!-- <button type="button" class="btn btn-default" ng-click="addTransactionVm.reset(enterpriseValForm)"  ng-disabled="!editEnterpriseField()">Reset</button> -->
            <button type="button" class="btn btn-danger" ng-click="addTransactionVm.addOrUpdateRequest(agencyForm,'agencyform')" ng-if="isEdit && editAgencyField()">Update</button>
          </div>
        </div>
      </div>
      </div>
    </div>
     </form>
    <!-- for admin -->
    <div class="panel panel-default" ng-if="showPaymentSection()">
      <div class="panel-heading">
        <h3 class="panel-title">Payment Details</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3 form-group" ng-init="invoicedToCustomer = addTransactionVm.enterpriseValuation.invoiceNo?true:false">
             Invoiced to Customer{{invoicedToCustomer}}
              <div class="row">
                <div class="col-xs-6">
                  <input type="radio" name="inv" ng-model="invoicedToCustomer" ng-value="true" disabled> Yes
                </div>
                <div class="col-xs-6">
                  <input type="radio" name="inv" ng-mode="invoicedToCustomer" ng-value="false" disabled> No
                </div>
              </div>
          </div>
          <div class="col-sm-3 form-group">
            <label>Invoice Date</label>
            <div class="input-group">
               <input type="text" class="form-control" disabled name="invoiceDate" ng-model="addTransactionVm.enterpriseValuation.invoiceDate" placeholder="Invoice Date"/>
               <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
             </div>
          </div>
          <div class="col-sm-3 form-group">
              Payment Received
              <div class="row">
                <div class="col-xs-6">
                  <input type="radio" name="rec" ng-model="addTransactionVm.enterpriseValuation.paymentReceived" ng-value="true" disabled> Yes
                </div>
                <div class="col-xs-6">
                  <input type="radio" name="rec" ng-model="addTransactionVm.enterpriseValuation.paymentReceived" ng-value="false" disabled> No
                </div>
              </div>
          </div>
          <div class="col-sm-3 form-group">
             Payment Made to Agency
              <div class="row">
                <div class="col-xs-6">
                  <input type="radio" name="mad" ng-model="addTransactionVm.enterpriseValuation.paymentMade" ng-value="true" disabled> Yes
                </div>
                <div class="col-xs-6">
                  <input type="radio" name="mad" ng-model="addTransactionVm.enterpriseValuation.paymentMade" ng-value="false"disabled> No
                </div>
              </div>
          </div>
        </div>
      </div>
      
    </div>
        
      
</div>
<script type="text/ng-template" id="modificationComment.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Comments</h4>
  </div>
  <form name="modificationCommentForm" novalidate>
    <div class="modal-body">
      <div class="col-sm-offset-1 col-sm-10" ng-class="{'has-error': modificationCommentForm.comment.$invalid && submitted}">
        <textarea class="form-control" ng-model="dataModel.comment" name="comment" required></textarea>
      </div>
    </div>
    <div class="modal-footer text-right">
      <button class="btn btn-danger btn-md" ng-click="submit(modificationCommentForm)">Submit</button>
    </div>
  </form>
</script> 
