<div id="wrapper">
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h3>
          Enterprise Valuation
          
          </h3>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <!-- success error start-->
          <div class="row animate-show" ng-show="isSuccess" >
            <div class="col-sm-12">
              <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" ng-click="closeMeassage()" aria-label="Close"><span aria-hidden="true">×</span></button>
                {{successMessage}}
              </div>
            </div>
          </div>
          <div class="row animate-show" ng-show="isError">
            <div class="col-sm-12">
              <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" ng-click="closeMeassage()" aria-label="Close"><span aria-hidden="true">×</span></button>
                {{errorMessage}}
              </div>
            </div>
          </div>
        </div>
      </div>
          <!-- success error end -->
          <uib-tabset justified="true">
              <uib-tab heading="Dashboard">
              </uib-tab>
              <uib-tab heading="Transaction">
                <p>Download the <a href="javascript:void(0);">template</a> and fill all fields. (*) mark fields are mandatory. System will accept multiple records in a single file.</p>
                <div class="row form-group">
                  <div class="col-sm-6">
                    <h4>Add New Request                    
                    </h4>
                  </div>
                  <div class="col-sm-6 text-right">
                    <h4>
                    <button class="btn btn-success btn-md" ng-click="isCollapsed = !isCollapsed"><i class="fa" ng-class="{'fa-minus': isCollapsed, 'fa-plus': !isCollapsed}"></i> Add New Request</button>
                    <button class="btn btn-success" ng-click=""> <i class="fa fa-file-excel-o"></i> Import Excel</button>
                    </h4>
                  </div>
                </div>
                  <legend></legend>
                    <div >

                    <form class="enterpriseForm" ng-if="!isCollapsed" name="enterpriseForm" novalidate>
                      <div class="row form-group ">                            
                        <div class="form-group col-sm-3" ng-class="{'has-error': enterpriseForm.requestType.$invalid && enterpriseSubmitted}">
                          <select class="form-control" name="requestType" ng-model="enterpriseVm.enterpriseValuation.requestType" required>
                            <option value="">Request Type*</option>
                            <option ng-repeat="req in enterpriseVm.requestTypeList" value="{{req.name}}">{{req.name}}</option>
                          </select>
                          <i class="caret"></i>
                        </div>
                        <div class="form-group col-sm-3" ng-class="{'has-error': enterpriseForm.purpose.$invalid && enterpriseSubmitted}">
                          <select class="form-control" name="purpose" ng-model="enterpriseVm.enterpriseValuation.purpose" required>
                             <option value="">Select Purpose*</option>
                              <option ng-repeat="valuation in valuationList" value="{{valuation.name}}">{{valuation.name}}</option>
                            </select>
                          <i class="caret"></i>
                        </div>
                        <div class="form-group col-sm-3" ng-class="{'has-error': enterpriseForm.agencyName.$invalid && enterpriseSubmitted}">
                          <select class="form-control" name="agencyName" ng-model="enterpriseVm.enterpriseValuation.agencyName" required>
                            <option value="">Select Agency*</option>
                            <option  ng-repeat="ag in enterpriseVm.valAgencies | orderBy:'name'" value="{{ag._id}}">{{ag.name}}</option>
                          </select>
                          <i class="caret"></i>
                        </div>
                        <div class="col-sm-2">
                          <span class="btn btn-warning fileinput-button">
                           <input type="file" name="doc"  data-filetype="doc" file-upload>
                            <span><i class="fa fa-upload"></i> Upload File</span>
                          </span>
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-sm-12 text-right">
                          <button class="btn btn-primary" ng-click="enterpriseVm.submitUploadTemp(enterpriseForm)">Submit</button>
                        </div>
                      </div>
                      <legend></legend>
                    </form>

                      <form class="enterpriseValForm" name="enterpriseValForm" ng-if="isCollapsed" novalidate>
                        <!-- Enterprise block -->
                        <div>
                          <div class="row form-group ">                            
                            <div class="col-sm-3" ng-class="{'has-error': enterpriseValForm.requestType.$invalid && enterpriseValSubmitted}">
                              <select class="form-control" name="requestType" ng-model="enterpriseVm.enterpriseValuation.requestType" required>
                                <option value="">Request Type*</option>
                                <option ng-repeat="req in enterpriseVm.requestTypeList" value="{{req.name}}">{{req.name}}</option>
                              </select>
                              <i class="caret"></i>
                            </div>
                            <div class="col-sm-3" ng-class="{'has-error': enterpriseValForm.purpose.$invalid && enterpriseValSubmitted}">
                              <select class="form-control" name="purpose" ng-model="enterpriseVm.enterpriseValuation.purpose" required>
                                <option value="">Select Purpose*</option>
                                <option ng-repeat="valuation in valuationList" value="{{valuation.name}}">{{valuation.name}}</option>
                              </select>
                              <i class="caret"></i>
                            </div>
                            <div class="col-sm-3" ng-class="{'has-error': enterpriseValForm.agencyName.$invalid && enterpriseValSubmitted}">
                              <select class="form-control" name="agencyName" ng-model="enterpriseVm.enterpriseValuation.agencyName" required>
                                <option value="">Select Agency*</option>
                                <option  ng-repeat="ag in enterpriseVm.valAgencies | orderBy:'name'" value="{{ag._id}}">{{ag.name}}</option>
                              </select>
                              <i class="caret"></i>
                            </div>
                            <div class="col-sm-3">
                              <input type="text" class="form-control" name="enterpriseName" ng-model="enterpriseVm.enterpriseValuation.enterpriseName" placeholder="Enterprise Name"/>
                              <!-- <select class="form-control" name="enterpriseName" ng-model="enterpriseVm.enterpriseValuation.enterpriseName" required>
                                <option value="">Select Enterprise*</option>
                                <option ng-repeat="enterprise in enterpriseVm.enterpriseNameList" value="{{enterprise.name}}">{{enterprise.name}}</option>
                              </select> -->
                            </div>
                          </div>
                          <div class="row form-group">                            
                            <div class="col-sm-3">
                              <input type="text" class="form-control" name="customerTransactionId" ng-model="enterpriseVm.enterpriseValuation.customerTransactionId" placeholder="Customer Transaction ID"/>
                            </div>
                            <div class="col-sm-3">
                              <input type="text" class="form-control" name="customerValuationNo" ng-model="enterpriseVm.enterpriseValuation.customerValuationNo" placeholder="Customer Valuation Number"/>
                            </div>
                            <div class="col-sm-3">
                              <input type="text" class="form-control" name="customerPartyNo" ng-model="enterpriseVm.enterpriseValuation.customerPartyNo" placeholder="Customer Party No."/>
                            </div>
                            <div class="col-sm-3">
                              <input type="text" class="form-control" name="customerPartyName" ng-model="enterpriseVm.enterpriseValuation.customerPartyName" placeholder="Customer Party Name"/>
                            </div>
                          </div>
                          <div class="row form-group ">
                            <div class="col-sm-3">
                              <input type="text" class="form-control" name="userName" ng-model="enterpriseVm.enterpriseValuation.user.userName" placeholder="User Name" ng-disabled="true"/>
                            </div>
                            <div class="col-sm-3">
                             <input class="form-control" name="requestDate" ng-model="enterpriseVm.enterpriseValuation.requestDate" placeholder="Request Date" ng-disabled="true"/>
                            </div>
                            <div class="col-sm-3">
                              <input type="text" class="form-control" name="assetId" ng-model="enterpriseVm.enterpriseValuation.assetId" placeholder="Asset No."/>
                            </div>
                            <div class="col-sm-3">
                              <input class="form-control" name="repoDate" ng-model="enterpriseVm.enterpriseValuation.repoDate" datetime-picker readonly date-format="MM/dd/yyyy" date-only placeholder="Repo. Date" />
                            </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-3" ng-class="{'has-error': enterpriseValForm.category.$invalid && enterpriseValSubmitted}">
                              <select class="form-control" name="category" ng-model="enterpriseVm.enterpriseValuation.category" ng-change="enterpriseVm.onCategoryChange(enterpriseVm.enterpriseValuation.category)" required>
                                <option value="">Select Category/Asset Type*</option>
                                <option ng-repeat="cat in enterpriseVm.allCategory" value="{{cat.name}}" ng-if="cat.name != 'Other'">{{cat.name}}</option>
                              </select>
                              <i class="caret"></i>
                            </div>
                            <div class="col-sm-3" ng-class="{'has-error': enterpriseValForm.brand.$invalid && enterpriseValSubmitted}">
                              <select class="form-control" name="brand" ng-model="enterpriseVm.enterpriseValuation.brand" ng-change="enterpriseVm.onBrandChange(enterpriseVm.enterpriseValuation.brand)" required>
                                <option value="">Select Brand*</option>
                                <option ng-repeat="br in enterpriseVm.brandList" value="{{br.name}}" ng-if="br.name != 'Other'">{{br.name}}</option>
                              </select>
                              <i class="caret"></i>
                            </div>
                            <div class="col-sm-3" ng-class="{'has-error': enterpriseValForm.model.$invalid && enterpriseValSubmitted}">
                              <select class="form-control" name="model" ng-model="enterpriseVm.enterpriseValuation.model" required>
                                <option value="">Select Model*</option>
                                <option ng-repeat="md in enterpriseVm.modelList" value="{{md.name}}" ng-if="md.name != 'Other'">{{md.name}}</option>
                              </select>
                              <i class="caret"></i>
                            </div>
                            <div class="col-sm-3">
                              <textarea name="assetDescription" ng-model="enterpriseVm.enterpriseValuation.assetDescription" placeholder="Asset Description" class="form-control"></textarea>
                            </div>
                            
                          </div>
                          <div class="row form-group">
                            
                            <div class="col-sm-3">
                              <input type="text" class="form-control" name="engineNo" ng-model="enterpriseVm.enterpriseValuation.engineNo" placeholder="Engine No."/>
                            </div>
                            <div class="col-sm-3">
                               <input type="text" class="form-control" name="chassisNo" ng-model="enterpriseVm.enterpriseValuation.chassisNo" placeholder="Chassis No."/>
                            </div>
                            <div class="col-sm-3">
                               <input type="text" class="form-control" name="registrationNo" ng-model="enterpriseVm.enterpriseValuation.registrationNo" placeholder="Registration No."/>
                            </div>
                            <div class="col-sm-3">
                               <input class="form-control" name="invoiceDate" ng-model="enterpriseVm.enterpriseValuation.invoiceDate" datetime-picker readonly date-format="MM/dd/yyyy" date-only placeholder="Invoice Date" />
                            </div>
                          </div>
                          <div class="row form-group">
                            
                            <div class="col-sm-3">
                              <!-- <input type="text" class="form-control" name="" value="" placeholder="Yard Parked" required/> -->
                              <select  class="form-control" name="yardParked" ng-model="enterpriseVm.enterpriseValuation.yardParked">
                                <option value="">Yard Parked</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                              </select>
                              <i class="caret"></i>
                            </div>
                            <div class="col-sm-3" ng-class="{'has-error': enterpriseValForm.country.$invalid && enterpriseValSubmitted}">
                              <select class="form-control" ng-model="enterpriseVm.enterpriseValuation.country" name="country" ng-change="enterpriseVm.onCountryChange(enterpriseVm.enterpriseValuation.country)" required>
                                <option value="">*Select Country</option>
                                <option ng-repeat="country in allCountries | orderBy:'name'" value="{{country.name}}">{{country.name}}</option>
                              </select>
                              <i class="caret"></i>
                            </div>
                            <div class="col-sm-3" ng-class="{'has-error': enterpriseValForm.state.$invalid && enterpriseValSubmitted}">
                              <select class="form-control" name="state" ng-model="enterpriseVm.enterpriseValuation.state" ng-change="enterpriseVm.onStateChange(enterpriseVm.enterpriseValuation.state)" required>
                                <option value="">*Select State</option>
                                  <option ng-repeat="state in stateList | orderBy:'name'" value="{{state.name}}">{{state.name}}</option>
                              </select>
                              <i class="caret"></i>
                            </div>
                            <div class="col-sm-3" ng-class="{'has-error': enterpriseValForm.location.$invalid && enterpriseValSubmitted}">
                              <select class="form-control" name="location" ng-model="enterpriseVm.enterpriseValuation.city" required>
                                <option value="">*Select Location</option>
                                  <option ng-repeat="location in locationList | orderBy:'name'" value="{{location.name}}">{{location.name}}</option>
                              </select>
                              <i class="caret"></i>
                            </div>
                          </div>
                          <div class="row form-group">
                            
                            <div class="col-sm-3">
                              <input type="text" class="form-control" name="contactPerson" ng-model="enterpriseVm.enterpriseValuation.contactPerson" placeholder="Contact Person" required/>
                            </div>
                            <div class="col-sm-3">
                               <input type="text" class="form-control" name="contactPersonTelNo" ng-model="enterpriseVm.enterpriseValuation.contactPersonTelNo" placeholder="Contact Person Tel No" required/>
                            </div>
                            <div class="col-sm-3">
                               <input type="text" class="form-control" name="disFromCustomerOffice" ng-model="enterpriseVm.enterpriseValuation.disFromCustomerOffice" placeholder="Distance From Customer Office" required/>
                            </div>
                          </div>

                        </div>
                        <!-- Agency block -->
                        <!-- <div>
                          <div class="row form-group ">                              
                              <div class="col-sm-3">
                                <input type="number" class="form-control" name="" value="" placeholder="Report No." required/>
                              </div>
                              <div class="col-sm-3">
                                 <input class="form-control" name="regEndDate" ng-model="gsettingVm.auctionData.regEndDate" datetime-picker readonly date-format="MM/dd/yyyy" date-only placeholder="Report Date" />
                              </div>
                              <div class="col-sm-3">
                                <input type="text" class="form-control" name="" value="" placeholder="Year of Manufacture" required/>
                              </div>
                              <div class="col-sm-3">
                                <input type="text" class="form-control" name="" value="" placeholder="HMR / KMR" required/>
                              </div>
                          </div>

                          <div class="row form-group ">                            
                            <div class="col-sm-3">
                              <input type="number" class="form-control" name="" value="" placeholder="Assessed Value" required/>
                            </div>
                            <div class="col-sm-3">
                               <input type="text" class="form-control" name="" value="" placeholder="Inspection By" required/>
                            </div>
                            <div class="col-sm-3">
                              <input type="text" class="form-control" name="" value="" placeholder="Physical Condition" required/>
                                
                              </div>
                          </div>

                          <div class="row form-group ">
                            <div class="col-sm-3">
                               GPS Installed
                                <div class="row">
                                  <div class="col-xs-6">
                                    <input type="radio" name="gps"> Yes
                                  </div>
                                  <div class="col-xs-6">
                                    <input type="radio" name="gps"> No
                                  </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                             <input type="number" class="form-control" name="" value="" placeholder="GPS Device No." required/>
                            </div>
                            <div class="col-sm-3">
                              <input type="number" class="form-control" name="" value="" placeholder="IMIE No." required/>
                            </div>
                            
                          </div>
                          <div class="row form-group">
                              <div class="col-sm-3 pic-popover">Asset Image General</div>
                                <div class="col-sm-9 col-xs-12">
                                   <div class="row pic-popover">
                                      <div class="col-sm-2 col-xs-6 primary-upload text-center">
                                        <div class="br5">
                                          <span class="fileinput-button browse-icon">
                                              <span><i class="fa fa-plus-circle"></i></span>
                                                <input type="file" name="">
                                           </span>
                                            <span>
                                              <div class="icn2">
                                                <a href="javascript:void(0);"><i class="fa fa-times" ></i></a>
                                              </div>
                                               <div class="icn">
                                                  <a href="javascript:void(0);"><i class="fa fa-repeat"></i></a>
                                               </div>
                                            </span>
                                        </div>
                                         <span><input type="radio" name="" value="">Primary</span>
                                      </div>
                                       <div class="col-sm-2 clearfix">
                                        <button class="btn btn-block active">Add More</button>
                                        <button class="btn btn-block active">Delete</button>
                                      </div> 
                                  </div>
                                </div>
                          </div>

                          <div class="row form-group">
                              <div class="col-sm-3 pic-popover">Asset Image Engine</div>
                                <div class="col-sm-9 col-xs-12">
                                   <div class="row pic-popover">
                                      <div class="col-sm-2 col-xs-6 primary-upload text-center">
                                        <div class="br5">
                                          <span class="fileinput-button browse-icon">
                                              <span><i class="fa fa-plus-circle"></i></span>
                                                <input type="file" name="">
                                           </span>
                                            <span>
                                              <div class="icn2">
                                                <a href="javascript:void(0);"><i class="fa fa-times" ></i></a>
                                              </div>
                                               <div class="icn">
                                                  <a href="javascript:void(0);"><i class="fa fa-repeat"></i></a>
                                               </div>
                                            </span>
                                        </div>
                                         <span><input type="radio" name="" value="">Primary</span>
                                      </div>
                                       <div class="col-sm-2 clearfix">
                                        <button class="btn btn-block active">Add More</button>
                                        <button class="btn btn-block active">Delete</button>
                                      </div> 
                                  </div>
                                </div>
                          </div>

                          <div class="row form-group">
                              <div class="col-sm-3 pic-popover">Asset Image Hydraulic</div>
                                <div class="col-sm-9 col-xs-12">
                                   <div class="row pic-popover">
                                      <div class="col-sm-2 col-xs-6 primary-upload text-center">
                                        <div class="br5">
                                          <span class="fileinput-button browse-icon">
                                              <span><i class="fa fa-plus-circle"></i></span>
                                                <input type="file" name="">
                                           </span>
                                            <span>
                                              <div class="icn2">
                                                <a href="javascript:void(0);"><i class="fa fa-times" ></i></a>
                                              </div>
                                               <div class="icn">
                                                  <a href="javascript:void(0);"><i class="fa fa-repeat"></i></a>
                                               </div>
                                            </span>
                                        </div>
                                         <span><input type="radio" name="" value="">Primary</span>
                                      </div>
                                       <div class="col-sm-2 clearfix">
                                        <button class="btn btn-block active">Add More</button>
                                        <button class="btn btn-block active">Delete</button>
                                      </div> 
                                  </div>
                                </div>
                          </div>

                          <div class="row form-group ">
                              <div class="col-sm-3 pic-popover">Asset Image Cabin</div>
                                <div class="col-sm-9 col-xs-12">
                                   <div class="row pic-popover">
                                      <div class="col-sm-2 col-xs-6 primary-upload text-center">
                                        <div class="br5">
                                          <span class="fileinput-button browse-icon">
                                              <span><i class="fa fa-plus-circle"></i></span>
                                                <input type="file" name="">
                                           </span>
                                            <span>
                                              <div class="icn2">
                                                <a href="javascript:void(0);"><i class="fa fa-times" ></i></a>
                                              </div>
                                               <div class="icn">
                                                  <a href="javascript:void(0);"><i class="fa fa-repeat"></i></a>
                                               </div>
                                            </span>
                                        </div>
                                         <span><input type="radio" name="" value="">Primary</span>
                                      </div>
                                       <div class="col-sm-2 clearfix">
                                        <button class="btn btn-block active">Add More</button>
                                        <button class="btn btn-block active">Delete</button>
                                      </div> 
                                  </div>
                                </div>
                          </div>

                          <div class="row form-group ">
                              <div class="col-sm-3 pic-popover">Asset Image Under-Carriage / Tyre</div>
                                <div class="col-sm-9 col-xs-12">
                                   <div class="row pic-popover">
                                      <div class="col-sm-2 col-xs-6 primary-upload text-center">
                                        <div class="br5">
                                          <span class="fileinput-button browse-icon">
                                              <span><i class="fa fa-plus-circle"></i></span>
                                                <input type="file" name="">
                                           </span>
                                            <span>
                                              <div class="icn2">
                                                <a href="javascript:void(0);"><i class="fa fa-times" ></i></a>
                                              </div>
                                               <div class="icn">
                                                  <a href="javascript:void(0);"><i class="fa fa-repeat"></i></a>
                                               </div>
                                            </span>
                                        </div>
                                         <span><input type="radio" name="" value="">Primary</span>
                                      </div>
                                       <div class="col-sm-2 clearfix">
                                        <button class="btn btn-block active">Add More</button>
                                        <button class="btn btn-block active">Delete</button>
                                      </div> 
                                  </div>
                                </div>
                          </div>

                          <div class="row form-group">
                              <div class="col-sm-3 pic-popover">Asset Image Others</div>
                                <div class="col-sm-9 col-xs-12">
                                   <div class="row pic-popover">
                                      <div class="col-sm-2 col-xs-6 primary-upload text-center">
                                        <div class="br5">
                                          <span class="fileinput-button browse-icon">
                                              <span><i class="fa fa-plus-circle"></i></span>
                                                <input type="file" name="">
                                           </span>
                                            <span>
                                              <div class="icn2">
                                                <a href="javascript:void(0);"><i class="fa fa-times" ></i></a>
                                              </div>
                                               <div class="icn">
                                                  <a href="javascript:void(0);"><i class="fa fa-repeat"></i></a>
                                               </div>
                                            </span>
                                        </div>
                                         <span><input type="radio" name="" value="">Primary</span>
                                      </div>
                                       <div class="col-sm-2 clearfix">
                                        <button class="btn btn-block active">Add More</button>
                                        <button class="btn btn-block active">Delete</button>
                                      </div> 
                                  </div>
                                </div>
                          </div>
                          <div class="row form-group ">
                            <div class="col-sm-3">Valuation Report</div>
                            <div class="col-sm-2">
                              <span class="btn btn-warning fileinput-button">
                               <input type="file" name="">
                                <span><i class="fa fa-upload"></i> Upload</span>
                              </span>
                            </div>
                            <div class="col-sm-4"></div>
                          </div>
                          
                        </div> -->
                        <!-- Admin block -->
                        <!-- <div>
                          <div class="row form-group ">
                              <div class="col-sm-3">
                               Invoiced to Customer
                                <div class="row">
                                  <div class="col-xs-6">
                                    <input type="radio" name="invoice"> Yes
                                  </div>
                                  <div class="col-xs-6">
                                    <input type="radio" name="invoice"> No
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <input type="number" class="form-control" name="" value="" placeholder="Invoice No." required/>
                              </div>
                              <div class="col-sm-3 form-group">
                                Payment Received
                                  <div class="row">
                                    <div class="col-xs-6">
                                      <input type="radio" name="invoice"> Yes
                                    </div>
                                    <div class="col-xs-6">
                                      <input type="radio" name="invoice"> No
                                    </div>
                                  </div>
                              </div>
                              <div class="col-sm-3 form-group">
                               Payment Made to Agency
                                <div class="row">
                                  <div class="col-xs-6">
                                    <input type="radio" name="payment"> Yes
                                  </div>
                                  <div class="col-xs-6">
                                    <input type="radio" name="payment"> No
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div> -->


                            <div class="row form-group">
                              <div class="col-sm-offset-6 col-sm-6 text-right">
                                <button type="button" class="btn btn-default" ng-click="enterpriseVm.reset()">Reset</button>
                                <button type="button" class="btn btn-danger" ng-click="enterpriseVm.addOrEditRequest(enterpriseValForm)">Submit</button>
                              </div>
                            </div>
                          
                      </form>
                    </div> 
                  <div class="row form-group">                    
                    <div class="col-sm-offset-9 col-sm-3 tablesearch text-right">
                      Search: <input type="text" placeholder="Search...">
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-bordred table-striped">
                      <thead>
                        <tr>
                          <th>Action</th>
                          <th>Unique Control No</th>
                          <th>Request Type</th>
                          <th>Purpose</th>
                          <th>Agency Name</th>
                          <th>Enterprise</th>
                          <th>Customer Transaction ID</th>
                          <th>Customer Valuation No</th>
                          <th>Asset No.</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="enterpriseValuation in enterpriseVm.enterpriseValuationListing">
                          <td>
                          <a class="btn btn-primary btn-md" href="javascript:void(0);" ng-click="enterpriseVm.editEnterpriseRequest(enterpriseValuation)"><i class="fa fa-pencil"></i> </a>
                          <a class="btn btn-default btn-md" href="javascript:void(0);"><i class="fa fa-download"></i> </a>
                          <a class="btn btn-danger btn-md" href="javascript:void(0);" ng-click="enterpriseVm.deleteEnterprise(enterpriseValuation)"><i class="fa fa-trash"></i> </a>

                          </td>
                          <td>{{enterpriseValuation.uniqueControlNo}}</td>
                          <td>{{enterpriseValuation.requestType}}</td>
                          <td>{{enterpriseValuation.purpose}}</td>
                          <td>{{enterpriseValuation.agencyName}}</td>
                          <td>{{enterpriseValuation.enterpriseName}}</td>
                          <td>{{enterpriseValuation.customerTransactionId}}</td>
                          <td>{{enterpriseValuation.customerValuationNo}}</td>
                          <td><a href="javascript:void(0);" title=""> {{enterpriseValuation.assetId}}</a></td>
                          <td><a href="javascript:void(0);" title=""> More..</a></td>
                          
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <uib-pagination total-items="enterpriseVm.totalItems" ng-model="enterpriseVm.currentPage" items-per-page="enterpriseVm.itemsPerPage" max-size="enterpriseVm.maxSize" ng-change="enterpriseVm.fireCommand()" class="pagination-sm" rotate="false">  </uib-pagination>
                
             
            </uib-tab>
          </uib-tabset>
          
          
        </div> 
      </div>
    </div>
  </div>
</div>
