<div id="wrapper">
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h3>
          Enterprise Valuation
          
          </h3>
          <hr>
        </div>
      </div>
          <!-- success error end -->
          <div class="btn-group enterprise-value">
            <button type="button" class="btn" ng-class="{'btn-warning': enterpriseVm.tabValue == 'dashboard'}" ng-click="enterpriseVm.onTabChange('dashboard')">Dashboard</button>
            <button type="button" class="btn" ng-class="{'btn-warning': enterpriseVm.tabValue == 'transaction'}" ng-click="enterpriseVm.onTabChange('transaction')">Transaction</button>
            <button type="button" class="btn" ng-class="{'btn-warning': enterpriseVm.tabValue == 'invoicing'}" ng-click="enterpriseVm.onTabChange('invoicing')">Invoicing</button>
            <button type="button" class="btn" ng-click="enterpriseVm.onTabChange('payment-received')">Payment Received</button>
            <button type="button" class="btn" ng-click="enterpriseVm.onTabChange('payment-made')">Payment Made</button>
          </div>
          <div ui-view></div>
        </div> 
      </div>
    </div>
  </div>
</div>
