<div id="wrapper">
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h3>
          <span ng-if="isAdmin()">Enterprise Valuation</span> <span ng-if="!isAdmin()">{{getCurrentUser().fname}} {{getCurrentUser().lname}}</span> <small ng-if="isEnterprise() || isEnterpriseUser()">({{getCurrentUser().enterpriseId}})</small>
          <small ng-if="isPartner()">({{getCurrentUser().partnerInfo.partnerId}})</small>
          
          </h3>
          <legend></legend>
        </div>
      </div>
          <!-- success error end -->
          <div class="btn-group enterprise-value form-group">
            <!-- <button type="button" class="btn" ng-class="{'btn-warning': tabValue == 'dashboard'}" ng-click="onTabChange('dashboard')">Dashboard</button> -->
            <button type="button" class="btn" ng-class="{'btn-warning': tabValue == 'transaction'}" ng-click="onTabChange('transaction')">Transaction</button>
            <button type="button" class="btn" ng-class="{'btn-warning': tabValue == 'invoicing'}" ng-click="onTabChange('invoicing')">Invoicing</button>
            <button type="button" ng-if="isAdmin()" class="btn" ng-class="{'btn-warning': tabValue == 'paymentreceived'}" ng-click="onTabChange('paymentreceived')">Payment Received</button>
            <button type="button" ng-if="isAdmin()" class="btn" ng-class="{'btn-warning': tabValue == 'paymentmade'}" ng-click="onTabChange('paymentmade')">Payment Made</button>
          </div>
          <div ui-view></div>
        </div> 
      </div>
    </div>
  </div>
</div>
