<div class="row">
  <div class="col-sm-6">
    <h4>Invoicing</h4>
  </div>
  <div class="col-sm-6 text-right">
    <h4>
    <button class="btn btn-success btn-md"><i class="fa fa-file-excel-o"></i> Export Excel</button>                 
    </h4>
  </div>
</div>
<legend></legend>

<div class="row form-group featured"> 
  <div class=" col-sm-2">                   
    <button class="btn btn-primary btn-block" ng-click="enterpriseInvoiceVm.openInvoiceModal()">Genrate Invoice</button>                   
  </div>                   
  <div class="col-sm-offset-7 col-sm-3 tablesearch text-right">
    Search: <input type="text" placeholder="Search...">
  </div>
</div>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Select</th>
        <th>Invoice Date</th>
        <th>Invoice No.</th>
        <th>Enterprise Name</th>
        <th>Enterprise User Name</th>
        <th>Enterprise User Contact No.</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="entVal in enterpriseInvoiceVm.dataList">
        <td>
        	<input type="checkbox" ng-click="enterpriseInvoiceVm.updateSelection($event,entVal)">
        </td>
        <td>{{entVal.invoiceDate}}</td>
        <td>{{entVal.invoiceNo}}</td>
        <td>{{entVal.enterpriseName}}</td>
        <td>{{entVal.userName}}</td>
        <td>{{entVal.contactNo}}</td>
        <td>{{entVal.status}}</td>
        <td>
           <a class="btn btn-primary btn-md" href="javascript:void(0);"><i class="fa fa-pencil"></i> </a>
            <a class="btn btn-danger btn-md" href="javascript:void(0);"><i class="fa fa-trash"></i> </a>
            <a class="btn btn-default btn-md" href="javascript:void(0);"><i class="fa fa-download"></i> </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  <uib-pagination total-items="pager.totalItems" ng-model="pager.currentPage" items-per-page="pager.itemsPerPage" max-size="6" ng-change="enterpriseInvoiceVm.fireCommand()" class="pagination-sm" rotate="false">  </uib-pagination>
 <!-- for popup -->
 <script type="text/ng-template" id="invoiceForm.html">
   <div class="modal-header">
    <button  type="button"  class="close" ng-click="close()">&times;</button>
  </div>
 <div class="modal-body">
   <form name="invoiceForm" novalidate>
   	<div class="row">
   		<div class="col-md-8 form-group">
   			Total No. of valuation request selected 			
   		</div>
   		<div class="col-md-4">
   			{{selectedItems.length}}
   		</div>
   	</div>
   	<div class="row" ng-repeat="ent in selectedItems"> 		
   		<div class="col-md-4 form-group">
   		   Unique Control No : {{ent.uniqueControlNo}}
   		</div>
   		<div class="col-md-4 form-group">
   			<input type="text" class="form-control" name="engineNo" ng-value="{{getServiceFee(ent).amount}}" ng-model="ent.invoiceDetail.serviceFee" placeholder="Service Fee"/>
   		</div>
   	</div>
    <div class="row">     
      <div class="col-md-4 form-group">
        <select class="form-control" ng-model="taxRate">
          <option value="">Select Rate for Invoice</option>
          <option value="{{tax.taxRate}}" ng-repeat="tax in serviceTaxes">{{tax.taxRate}}</option>
        </select>
        <i class="caret"></i>
      </div>
      <div class="col-md-4 form-group">
      </div>
    </div>
   	<div class="row">
   		<div class="col-md-12 text-right">
   			<button type="button" class="btn btn-danger" ng-click="generateInvoice()">Genrate</button>
   		</div>
   	</div>
  </form>
  </div>
</script>