<div class="row form-group">
  <div class="col-sm-1 padd-right">
    <h4>Invoicing</h4>
  </div>
  <div class="col-sm-3">
    <div ng-if="isAdmin()">
      <select class="form-control" ng-model="enterpriseInvoiceVm.type" ng-change="enterpriseInvoiceVm.onTypeChange()">
        <option value="generated">Invoice Generated</option>
        <option value="tobegenerate">Invoice to be Generated</option>
      </select>
      <i class="caret"></i>
    </div>
  </div> 
  <div class="col-sm-8 text-right">
    <h4>
    <button class="btn btn-success btn-md" ng-click="enterpriseInvoiceVm.exportExcel()" ng-if="enterpriseInvoiceVm.type == 'generated'"><i class="fa fa-file-excel-o"></i> Export Excel</button>
    <export-form name="invoiceexport"></export-form>                 
    </h4>
  </div>
</div>
<legend></legend>
<!-- invoice to be genrated -->
<div ng-if="enterpriseInvoiceVm.type == 'tobegenerate' && isAdmin()">
  <form name="searchForm">
    <div class="row form-group">          
    <div class="col-sm-3">
      <select class="form-control" ng-model="enterpriseInvoiceVm.enterpriseId" ng-change="enterpriseInvoiceVm.fireCommand(true)">
        <option value="">Select Enterprise Name</option>
        <option value="{{ent.enterpriseId}}" ng-repeat="ent in enterpriseInvoiceVm.enterprises">{{ent.fname}} {{ent.lname}}({{ent.enterpriseId}}) </option>
      </select>
      <i class="caret"></i>
    </div>
    <div class="col-sm-3">
      <select class="form-control" ng-model="enterpriseInvoiceVm.reqType" ng-change="enterpriseInvoiceVm.getPartners(enterpriseInvoiceVm.reqType)">
        <option value="">Select Type of Request</option>
        <option ng-repeat="req in enterpriseInvoiceVm.serviceList" value="{{req.name}}">{{req.name}}</option>
      </select>
      <i class="caret"></i>
    </div>
    <div class="col-sm-3">
      <select class="form-control" ng-model="enterpriseInvoiceVm.agencyId" ng-change="enterpriseInvoiceVm.fireCommand(true)">
        <option value="">Select Valuation Partner</option>
        <option value="{{val._id}}" ng-repeat="val in enterpriseInvoiceVm.agencies">{{val.name}}</option>
      </select>
      <i class="caret"></i>
    </div>
    <div class="col-sm-offset-1 col-sm-2">
     <!--  <button type="button" class="btn btn-danger btn-block" >Search</button> -->
    </div>
  </div>
  </form>
  <div class="row form-group featured"> 
    <div class=" col-sm-2">                   
      <button class="btn btn-primary btn-block" ng-click="enterpriseInvoiceVm.openInvoiceModal()">Generate Invoice</button>                   
    </div>      
    <div class="col-sm-offset-2 col-sm-5">
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group">
              <custom-datepicker placeholder="From Date" ng-model="enterpriseTransactionVm.fromDate" myid="fromdate" on-change="enterpriseInvoiceVm.fireCommand(true)"></custom-datepicker>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group">
              <custom-datepicker placeholder="To Date" ng-model="enterpriseInvoiceVm.toDate" myid="todate"  on-change="enterpriseInvoiceVm.fireCommand(true)"></custom-datepicker>
            </div>
          </div>
        </div>
      </div>
    <div class="col-sm-3 tablesearch text-right">
      Search: <input type="text" placeholder="Search..." ng-model="enterpriseInvoiceVm.searchStr" ng-change="enterpriseInvoiceVm.fireCommand(true)" ng-model-options="{debounce:500}">
    </div>
  </div>
  <div class="row form-group featured"> 
    <div class=" col-sm-2">
    show                   
     <select ng-model="selPageSize" ng-change="changePageSize(selPageSize)">
       <option value="100">100</option>
       <option value="200">200</option>
       <option value="300">300</option>
       <option value="400">400</option>
       <option value="500">500</option>
       <option value="500">1000</option>
     </select>
     entries                   
    </div>      
    <div class="col-sm-offset-7 col-sm-3 tablesearch text-right">
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><input type="checkbox" ng-model="enterpriseInvoiceVm.selectAllReq" ng-click="enterpriseInvoiceVm.selectAll($event)"> All</th>
          <th>Unique Control No</th>
          <th>Request Type</th>
          <th>Purpose</th>
          <th>Agency Name</th>
          <th>Enterprise</th>
          <th>Reference/FI Number</th>
          <th>Asset No.</th>
          <th>Status</th>
          <th>Remark</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="entVal in enterpriseInvoiceVm.dataList">
          <td>
            <input type="checkbox" ng-checked="enterpriseInvoiceVm.selectAllReq" ng-disabled="entVal.status == EnterpriseValuationStatuses[7]" ng-click="enterpriseInvoiceVm.updateSelection($event,entVal)">
          </td>
          <td>{{entVal.uniqueControlNo}}</td>
          <td>{{entVal.requestType}}</td>
          <td>{{entVal.purpose}}</td>
          <td>{{entVal.agency.name}}</td>
          <td>{{entVal.customerPartyName}}</td>
          <td>{{entVal.customerTransactionId}}</td>
          <td>{{entVal.assetId}}</td>
          <td>{{entVal.status}}</td>
          <td></td>

        </tr>
      </tbody>
    </table>
  </div>
    <uib-pagination total-items="pager.totalItems" ng-model="pager.currentPage" items-per-page="pager.itemsPerPage" max-size="6" ng-change="enterpriseInvoiceVm.fireCommand()" class="pagination-sm" rotate="false">  </uib-pagination>
</div>
<!-- invoice genrated -->
<div ng-if="enterpriseInvoiceVm.type == 'generated'">
  <div class="row form-group featured"> 
    <div class="col-sm-offset-4 col-sm-5">
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group">
                <custom-datepicker placeholder="From Date" ng-model="enterpriseInvoiceVm.fromDate" myid="fromdate"  on-change="enterpriseInvoiceVm.fireCommand(true)"></custom-datepicker>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                 <custom-datepicker placeholder="To Date" ng-model="enterpriseInvoiceVm.toDate" myid="todate"  on-change="enterpriseInvoiceVm.fireCommand(true)"></custom-datepicker>
              </div>
            </div>
          </div>
        </div>       
    <div class="col-sm-3 tablesearch text-right">
      Search: <input type="text" placeholder="Search..." ng-model="enterpriseInvoiceVm.searchStr" ng-change="enterpriseInvoiceVm.fireCommand(true)" ng-model-options="{debounce:500}">
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th><input type="checkbox"  ng-model="enterpriseInvoiceVm.selectAllInv" ng-click="enterpriseInvoiceVm.selectAll($event)"> All</th>
          <th>Invoice Number</th>
          <th>Enterprise Name</th>
          <th>Enterprise Contact No.</th>
          <th>Valuation Partner Name</th>
          <th>Valuation Partner Contact No.</th>
          <th ng-if="isAdmin()">Payment Received</th>
          <th ng-if="isAdmin()">Payment Made</th>
          <th>Amount</th>
          <th>Status</th>
          <th>Remark</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="entVal in enterpriseInvoiceVm.dataList">
          <td>
            <input type="checkbox" ng-checked="enterpriseInvoiceVm.selectAllInv" ng-click="enterpriseInvoiceVm.updateSelection($event,entVal)">
          </td>
          <td><a href="javascript:void(0);" ng-click="enterpriseInvoiceVm.showDetail(entVal)">{{entVal.invoiceNo}}</a></td>
          <td>{{entVal.enterprise.name}}</td>
          <td>{{entVal.enterprise.mobile}}</td>
          <td>{{entVal.agency.name}}</td>
          <td>{{entVal.agency.mobile}}</td>
          <td ng-if="isAdmin()">{{entVal.totalAmount - entVal.paymentReceivedDetail.remainingAmount}}</td>
          <td ng-if="isAdmin()">{{entVal.totalAmount - entVal.paymentMadeDetail.remainingAmount}}</td>
           <td>{{entVal.totalAmount}}</td>
          <td>{{entVal.status}}</td>
          <td></td>
          <td>          
              <a class="btn btn-default btn-md" ng-click="enterpriseInvoiceVm.downloadInvoice(entVal.invoiceNo)" href="javascript:void(0);"><i class="fa fa-download"></i> </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <uib-pagination total-items="pager.totalItems" ng-model="pager.currentPage" items-per-page="pager.itemsPerPage" max-size="6" ng-change="enterpriseInvoiceVm.fireCommand()" class="pagination-sm" rotate="false">  </uib-pagination>
</div>

 <!-- for popup -->
 <!-- <script type="text/ng-template" id="invoiceForm.html">
   <div class="modal-header">
    <button  type="button"  class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Invoicing</h4>
  </div>
 <div class="modal-body">
   <form name="invoiceForm" class="text-left" novalidate>
   	<div class="row">
   		<div class="col-md-12">
   			<div class="alert alert-info">Valuation Request Count: {{invoice.requestCount}}</div>
   		</div>
   	</div>
    <div class="row">
      <div class="col-sm-4 text-right">
        Service Fee:
      </div>
      <div class="col-md-6 form-group" ng-class="{'has-error':invoiceForm.serviceFee.$invalid && submitted}">        
        <input type="number" class="form-control" name="serviceFee" ng-model="invoice.serviceFee" placeholder="Enter Service Fee" required/>
      </div>
    </div>
    <legend></legend>
    <div class="row form-group">
      <div class="col-sm-12">
        <span class="badge" ng-repeat="token in selectedTax">
          {{token.type}} : {{token.rate}} 
          <a href="javascript:void(0);" uib-tooltip="Remove" tooltip-placement="top" tooltip-trigger="mouseenter" ng-click="deleteTaxToken($index)">
            <i class="fa fa-times" ></i>
          </a>
        </span>
      </div>
    </div>
   	<div class="row"> 	
      <div class="col-sm-5 form-group">
        <select class="form-control" ng-change="getTax(selectedType)" ng-model="selectedType">
          <option value="">Select Type of Tax</option>
          <option ng-repeat="tx in serviceTaxes" value="{{tx._id}}">{{tx.type}}</option>
        </select>
      </div>
   		<div class="col-md-5 form-group" ng-class="{'has-error':invoiceForm.servicetax.$invalid && submitted}">
        <input type="number" class="form-control" placeholder="Enter Rate" ng-model="currentTax.taxRate" disabled>     
   		</div>
      <div class="col-md-2">
      <button class="btn btn-primary" ng-click="addTaxToken(currentTax)"> Add</button>
      </div>
   	</div>    
    <div class="row">
      <div class="col-sm-6 form-group">
        <label>Date of Invoice</label>
        <custom-datepicker placeholder="Date of Invoice"  ng-model="invoice.invoiceDate" required></custom-datepicker>
      </div>
      <div class="col-sm-6 form-group" ng-class="{'has-error':invoiceForm.invcInFavourOf.$invalid && submitted}">
        <label>Invoice in favour of</label>
        <input type="text" class="form-control" placeholder="Invoice in favour of" name="invcInFavourOf" ng-model="invoice.invoiceInFavour" required>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">User GST Details</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12 form-group" ng-class="{'has-error':invoiceForm.userAddress.$invalid && submitted}">
            <label>Address</label>
            <input type="text" class="form-control" ng-model="invoice.userAddress" placeholder="Address" name="userAddress" required>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group" ng-class="{'has-error':invoiceForm.userCountry.$invalid && submitted}">            
            <label>Country</label>
            <select class="form-control" name="userCountry" ng-model="invoice.userCountry" ng-change="getCountryWiseState(invoice.userCountry)" required>
              <option value="">Select Country</option>
              <option value="{{country.name}}" ng-repeat="country in allCountries">{{country.name}}</option>
            </select>
          </div>
          <div class="col-sm-6 form-group" ng-class="{'has-error':invoiceForm.userState.$invalid && submitted}">
            <label>State</label>
            <select class="form-control" name="userState" ng-model="invoice.userState" ng-change="getStateWiseLocation(invoice.userState)" required>
              <option value="">Select State</option>
               <option value="{{state.name}}" ng-repeat="state in stateList">{{state.name}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group" ng-class="{'has-error':invoiceForm.userCity.$invalid && submitted}">
            <label>City</label>
            <select class="form-control" name="userCity" ng-model="invoice.userCity" required>
              <option value="">Select City</option>
               <option value="{{city.name}}" ng-repeat="city in cityList">{{city.name}}</option>
            </select>
          </div>
          <div class="col-sm-6 form-group" ng-class="{'has-error':invoiceForm.registrationNo.$invalid && submitted}">
            <label>Registration Number</label>
            <input type="text" class="form-control" placeholder="Registration Number" name="registrationNo" ng-model="invoice.userGstin" required>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">iQuippo GST Details</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6 form-group" ng-class="{'has-error':invoiceForm.iquippoState.$invalid && submitted}">
            <label>State</label>
            <select class="form-control" name="iquippoState" ng-model="invoice.iquippoGstState" ng-change="setIquippoGstin(invoice.iquippoGstState)" required>
              <option value="">Select State</option>
              <option value="{{state.name}}" ng-repeat="state in allState">{{state.name}}</option>
            </select>
          </div>
          <div class="col-sm-6 form-group" ng-class="{'has-error':invoiceForm.iquipporegistrationNo.$invalid && submitted}">
            <label>Registration Number</label>
            <input type="text" class="form-control" placeholder="Registration Number" name="iquipporegistrationNo" ng-model="invoice.iquippoGstin" required>
          </div>
        </div>
      </div>
    </div>

   	<div class="row">
   		<div class="col-md-12 text-right">
   			<button type="button" class="btn btn-danger" ng-click="generateInvoice(invoiceForm)">Generate</button>
   		</div>
   	</div>
  </form>
  </div>
</script>
 -->
<script type="text/ng-template" id="invDetail.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Invoice Details</h4>
  </div>
  <div class="modal-body">
    <!--payment recieved -->
    <table class="table table-bordred">               
      <tr>

        <td class="col-sm-3"><b>Invoice No.:</b></td>
        <td class="col-sm-3">{{invoice.invoiceNo}}</td>
        <td class="col-sm-3"><b>Type of Request:</b></td>
        <td class="col-sm-3">{{invoice.requestType}}</td>                  
      </tr>
      <tr>
        <td><b>Enterprise Name:</b></td>
        <td>{{invoice.enterprise.name}}</td>
        <td><b>Enterprise Contact No.:</b></td>
        <td>{{invoice.enterprise.mobile}}</td>
      </tr>
      <tr>
        <td><b>Agency Name:</b></td>
        <td>{{invoice.agency.name}}</td>
         <td><b>Agency Contact No.:</b></td>
        <td>{{invoice.agency.mobile}}</td>
      </tr>              
           
    </table>

    <div class="panel panel-default" ng-if="invoice.paymentReceived && isAdmin()">
      <div class="panel-heading">
        <h3 class="panel-title">Payment Received Details</h3>
      </div>
      <div class="panel-body">
        <table class="table table-bordred" ng-repeat="pmt in invoice.paymentReceivedDetail.paymentDetails" ng-if="pmt.attached">
          <tr>
            <td class="col-sm-3"><b>Bank Name:</b></td>
            <td class="col-sm-3">{{pmt.bankName}}</td>
            <td class="col-sm-3"><b>Branch Name:</b></td>
            <td class="col-sm-3">{{pmt.branchName}}</td>
          </tr>
          <tr>
            <td><b>Cheque Number:</b></td>
            <td>{{pmt.chequeNo}}</td>
            <td><b>Cheque Date:</b></td>
            <td>{{pmt.chequeDate}}</td>
          </tr>
          <tr>
            <td><b>Cheque Value:</b></td>
            <td>{{pmt.chequeValue}}</td>
            <td><b>Deducted TDS:</b></td>
            <td>{{pmt.deductedTds}}</td>
          </tr> 
        </table>
      </div>
    </div>
    <!-- payment made -->
    <div class="panel panel-default" ng-if="invoice.paymentMade && isAdmin()">
      <div class="panel-heading">
        <h3 class="panel-title">Payment Made Details</h3>
      </div>
      <div class="panel-body">
        <table class="table table-bordred" ng-repeat="pmt in invoice.paymentMadeDetail.paymentDetails" ng-if="pmt.attached">
          <tr>
            <td class="col-sm-3"><b>Bank Name:</b></td>
            <td class="col-sm-3">{{pmt.bankName}}</td>
            <td class="col-sm-3"><b>Branch Name:</b></td>
            <td class="col-sm-3">{{pmt.branchName}}</td>
          </tr>
          <tr>
            <td><b>Cheque Number:</b></td>
            <td>{{pmt.chequeNo}}</td>
            <td><b>Cheque Date:</b></td>
            <td>{{pmt.chequeDate}}</td>
          </tr>
          <tr>
            <td><b>Cheque Value:</b></td>
            <td>{{pmt.chequeValue}}</td>
            <td><b>Deducted TDS:</b></td>
            <td>{{pmt.deductedTds}}</td>
          </tr> 
        </table>
      </div>
    </div>
  </div>
</script>