
<div class="row form-group">
<div class="col-sm-6">
  <h4>Payment Received</h4>                    
  
</div>
<div class="col-sm-6 text-right">
  <h4>
  <button class="btn btn-success" ng-click=""> <i class="fa fa-file-excel-o"></i> Export Excel</button>
  </h4>
</div>
</div>
<legend></legend>
	
    <div class="row form-group">
      <div class="col-sm-12 text-right">
        Search : <input type="text" placeholder="Invoice No.">
      </div>
    </div>
        
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Select</th>
            <th>Invoice No.</th>
            <th>Type of Request</th>
            <th>Enterprise Name</th>
            <th>Enterprise User</th>
            <th>Enterprise User No.</th>
            <th>Status</th>
            <th>Bank Name</th>
            <th>Branch Name</th>
            <th>Cheque Number</th>
            <th>Cheque Date</th>
            <th>Cheque Value</th>
            <th>Deducted TDS</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="checkbox"></td>
            <td>7738273</td>
            <td></td>
            <td>Rafia</td>
            <td>xyz</td>
            <td>9272372966</td>               
            <td>Request Submitted</td>
            <td>SBI</td>
            <td>Saket</td>
            <td>3589</td>
            <td>01/03/2017</td>
            <td>5657</td>
            <td>Rs.24000</td>
            <td>
            <label class="btn btn-primary">Update</label>
            <a class="btn btn-danger btn-sm" href="javascript:void(0);"><i class="fa fa-trash"></i> </a>
           
          </tr>
        </tbody>
      </table>              
    </div>
    <uib-pagination total-items="enterpriseTransactionVm.totalItems" ng-model="enterpriseTransactionVm.currentPage" items-per-page="enterpriseTransactionVm.itemsPerPage" max-size="enterpriseTransactionVm.maxSize" ng-change="enterpriseTransactionVm.fireCommand()" class="pagination-sm" rotate="false">  </uib-pagination>

<!-- popup -->
<form class="form" name="form">
        <div class="row form-group ">
          <div class="col-sm-4">
            <input type="text" class="form-control" name="" value="" placeholder="Bank Name" required/>
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" name="" value="" placeholder="Branch Name" required/>
          </div>
          <div class="col-sm-4">
             <input type="text" class="form-control" name="" value="" placeholder="Cheque Number" required/>
          </div>
          
        </div>
        <div class="row form-group ">
          <div class="col-sm-4">
             <input type="text" class="form-control" name="" value="" placeholder="Cheque Date" required/>
          </div>
          <div class="col-sm-4">
            <input type="number" class="form-control" name="" value="" placeholder="Cheque Value" required/>
          </div>
          <div class="col-sm-4">
            <input type="number" class="form-control" name="" value="" placeholder="Deducted TDS" required/>
          </div>
          
        </div>
        <div class="row form-group">
            <div class="col-sm-2 pull-right">
              <input class="btn btn-primary btn-md btn-block" name="" type="button" value="Submit">
            </div>
        </div>
        <legend></legend>
              
    </form>