<div>
  <p>Download the <a href="/download/templates/{{enterpriseTransactionVm.uploadTemplate}}" target="_blank">template</a> and fill all fields. (*) mark fields are mandatory. System will accept multiple records in a single file.</p>
  <div class="row">
    <div class="col-sm-6">
      <h4>Add New Request  </h4>
    </div>    
    <div class="col-sm-offset-2 col-sm-2 text-right">
      <h4>
        <a href="javascript:void(0)" ng-click="onTabChange('addtransaction')" class="btn btn-success btn-block" ng-if="isAdmin() || isEnterprise() || isEnterpriseUser()"><i class="fa fa-plus"></i> Add New Request</a>
      </h4>
    </div>
    <div class="col-sm-2 text-right">
      <h4>
        <button class="btn btn-success btn-block"><i class="fa fa-file-excel-o"></i> Export Excel</button>
      </h4>
    </div>
  </div>
    <legend></legend>
     
    <div class="row form-group">
      <div class="col-sm-2" ng-if="isAdmin() || isEnterprise() || isEnterpriseUser()">        
          <span class="btn btn-default fileinput-button">
           <input type="file" id="upload" name="upload" data-filetype="doc" file-upload required>
            <span><i class="fa fa-upload"></i> Upload Request</span>
          </span>
           <span>{{uploadedExcel}}</span>        
      </div>
      <div class="col-sm-2">
          <span class="btn btn-default fileinput-button">
           <input type="file" id="modify" name="modify"  data-filetype="doc" file-upload required>
            <span><i class="fa fa-upload"></i> Update Request</span>
          </span>
           <span>{{modifiedExcel}}</span>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary btn-block" ng-click="enterpriseTransactionVm.submitUploadTemp()">Submit Request</button>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary btn-block" ng-click="enterpriseTransactionVm.submitToAgency()">Submit to Agency</button>
      </div>
      <div class="col-sm-offset-7 col-sm-3 tablesearch text-right">
        Search: <input type="text" placeholder="Search...">
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordred table-striped">
        <thead>
          <tr>
            <th><input type="checkbox"> All</th>
            <th>Action</th>
            <th>Unique Control No</th>
            <th>Request Type</th>
            <th>Purpose</th>
            <th>Agency Name</th>
            <th>Enterprise</th>
            <th>Customer Transaction ID</th>
            <th>Job ID</th>
            <th>Asset No.</th>
            <th>Status</th>
            <th>Remark</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="enterpriseValuation in enterpriseTransactionVm.enterpriseValuationListing">
            <td><input type="checkbox" ng-click="enterpriseTransactionVm.updateSelection($event,enterpriseValuation)" ng-disabled="enterpriseValuation.status != EnterpriseValuationStatuses[0]"></td>
            <td>
            <a class="btn btn-primary btn-md" href="javascript:void(0);" ng-click="enterpriseTransactionVm.editEnterpriseRequest(enterpriseValuation)"><i class="fa fa-pencil"></i> </a>
            <a class="btn btn-default btn-md" href="/download/{{enterpriseValuation.assetDir}}/{{enterpriseValuation.valuationReport.filename}}" ng-if="enterpriseValuation.valuationReport.filename" target="_blank"><i class="fa fa-download"></i> </a>
            <a class="btn btn-danger btn-md" href="javascript:void(0);" ng-click="enterpriseTransactionVm.deleteEnterprise(enterpriseValuation)"><i class="fa fa-trash"></i> </a>

            </td>
            <td>{{enterpriseValuation.uniqueControlNo}}</td>
            <td>{{enterpriseValuation.requestType}}</td>
            <td>{{enterpriseValuation.purpose}}</td>
            <td>{{enterpriseValuation.agency.name}}</td>
            <td>{{enterpriseValuation.customerPartyName}}</td>
            <td>{{enterpriseValuation.customerTransactionId}}</td>
            <td>{{enterpriseValuation.jobId}}</td>
            <td><a href="javascript:void(0);" title=""> {{enterpriseValuation.assetId}}</a></td>
            <td>{{enterpriseValuation.status}}</td>
            <td>{{enterpriseValuation.remarks}}</td>
            <td><a href="javascript:void(0);" title=""> More..</a></td>
            
          </tr>
        </tbody>
      </table>
    </div>
    <uib-pagination total-items="pager.totalItems" ng-model="pager.currentPage" items-per-page="pager.itemsPerPage" max-size="6" ng-change="enterpriseTransactionVm.fireCommand()" class="pagination-sm" rotate="false">  </uib-pagination>
</div>
