<div>
        <div class="modal-header">
              <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body">
              
              <table class="table table-bordred">               
                <tr>
                  <td class="col-sm-3"><b>Unique Control No:</b></td>
                  <td class="col-sm-3">{{valuation.uniqueControlNo}}</td>
                  <td class="col-sm-3"><b>Request Type:</b></td>
                  <td class="col-sm-3">{{valuation.requestType}}</td>                  
                </tr>
                <tr>
                  <td><b>Purpose:</b></td>
                  <td>{{valuation.purpose}}</td>
                  <td><b>Agency Name:</b></td>
                  <td>{{valuation.agency.name}}</td>
                </tr>
                <tr>
                  <td><b>Enterprise:</b></td>
                  <td>{{valuation.enterprise.name}}({{valuation.enterprise.enterpriseId}})</td>
                   <td><b>Customer Transaction ID:</b></td>
                  <td>{{valuation.customerTransactionId}}</td>
                </tr>                 
                <tr>
                  <td><b>Job ID:</b></td>
                  <td>{{valuation.jobId}}</td>
                  <td><b>Asset No:</b></td>
                  <td>{{valuation.assetId}}</td>
                </tr>

                 <tr>
                  <td><b>Status:</b></td>
                  <td>{{valuation.status}}</td>
                  <td><b>Remark:</b></td>
                  <td>{{valuation.remark}}</td>
                </tr>

                <tr>
                  <td><b>Customer Valuation/Inspection No:</b></td>
                  <td>{{valuation.customerValuationNo}}</td>
                   <td><b>Customer No:</b></td>
                  <td>{{valuation.customerPartyNo}}</td>
                </tr>

                <tr>
                  <td><b>Customer Name:</b></td>
                  <td>{{valuation.customerPartyName}}</td>
                  <td><b>User:</b></td>
                  <td>{{valuation.userName}}</td>
                </tr>

                <tr>
                  <td><b>Request Date:</b></td>
                  <td>{{valuation.requestDate | date:'MM/dd/yyyy'}}</td>
                  <!-- <td><b>Asset No:</b></td>
                  <td>{{valuation.assetId}}</td> -->
                   <td><b>Repo. Date:</b></td>
                  <td>{{valuation.repoDate | date:'MM/dd/yyyy'}}</td>
                </tr>
                <tr>
                  <td><b>Asset Category:</b></td>
                  <td>{{valuation.assetCategory}}</td>
                  <td><b>Brand/Make:</b></td>
                  <td>{{valuation.brand}}</td>
                </tr>

                <tr>
                  <td><b>Model:</b></td>
                  <td>{{valuation.model}}</td>
                  <td><b>Asset Description:</b></td>
                  <td>{{valuation.assetDescription}}</td>
                </tr>

                <tr>
                  
                  <td><b>Engine No.:</b></td>
                  <td>{{valuation.engineNo}}</td>
                  <td><b>Chassis No.:</b></td>
                  <td>{{valuation.chassisNo}}</td>
                </tr>

                <tr>
                  <td><b>Regn. No.:</b></td>
                  <td>{{valuation.registrationNo}}</td>
                  <td><b>Serial No.</b></td>
                  <td>{{valuation.serialNo}}</td>
                </tr>
                
                <tr>
                  <td><b>Year of Manufacture:</b></td>
                  <td>{{valuation.yearOfManufacturing}}</td>
                  <td><b>Yard Information/Asset Address:</b></td>
                  <td>{{valuation.yardParked}}</td>
                </tr>

                <tr>
                  
                  <!-- <td><b>Invoice Date:</b></td>
                  <td>{{valuation.invoiceDate}}</td> -->
                  
                  <td><b>Country:</b></td>
                  <td>{{valuation.country}}</td>
                  <td><b>State:</b></td>
                  <td>{{valuation.state}}</td>
                </tr>

                <tr>
                  <td><b>Location:</b></td>
                  <td>{{valuation.city}}</td>
                  <td><b>Contact Person:</b></td>
                  <td>{{valuation.contactPerson}}</td>
                </tr>
                
                <tr>
                  <td><b>Contact Person TelNo:</b></td>
                  <td>{{valuation.contactPersonTelNo}}</td>
                  <td><b>Distance From Customer Office:</b></td>
                  <td>{{valuation.disFromCustomerOffice}}</td>  
                </tr>

               
              </table>
                <!-- <tr>
                  
                  <td><b>Integrated:</b></td>
                  <td>{{valuation.uniqueControllNO}}</td>
                </tr> -->
              <table class="table table-bordred" ng-if="EnterpriseValuationStatuses.indexOf(valuation.status) > 3">
              
                <tr>
                  <td class="col-sm-3"><b>Report No.:</b></td>
                  <td class="col-sm-3">{{valuation.reportNo}}</td>
                  <td class="col-sm-3"><b>Report Date:</b></td>
                  <td class="col-sm-3">{{valuation.reportDate}}</td>
                </tr>
                <tr>
                  <td><b>Year of Manufacture:</b></td>
                  <td>{{valuation.agencyYearOfManufacturing}}</td>
                  <td><b>Engine No.:</b></td>
                  <td>{{valuation.agencyEngineNo}}</td>
                  <tr>
                    <td><b>Chassis No.:</b></td>
                    <td>{{valuation.agencyChassisNo}}</td>
                    <td><b>Regn. No.:</b></td>
                    <td>{{valuation.agencyRegistrationNo}}</td>
                  </tr>
                  <tr>
                  <td><b>Serial No.</b></td>
                  <td>{{valuation.agencySerialNo}}</td>
                  <td><b>HMR / KMR:</b></td>
                  <td>{{valuation.hmr_kmr}}</td>
                </tr>
                <tr>
                  <td><b>Assessed Value:</b></td>
                  <td>{{valuation.assessedValue}}</td>
                  <td><b>Inspection By:</b></td>
                  <td>{{valuation.inspectionBy}}</td>
                </tr>
                <tr>
                  <td><b>Physical Condition:</b></td>
                  <td>{{valuation.physicalCondition}}</td>
                  <td><b>GPS Installed:</b></td>
                  <td>{{valuation.gpsInstalled}}</td>
                </tr>
                <tr ng-if="valuation.gpsInstalled">
                  <td><b>IMIE No.:</b></td>
                  <td>{{valuation.gpsIMEINo}}</td>
                  <td><b>GPS Device No.:</b></td>
                  <td>{{valuation.gpsDeviceNo}}</td>
                </tr>
                <tr>
                  <td><b>Asset Image General:</b></td>
                  <td>
                    <a href="javascript:void(0);" ng-click="downloadFile(valuation.generalImage,valuation.assetDir)">{{valuation.generalImage.filename}}</a>
                    </td>
                  <td><b>Asset Image Engine:</b></td>
                  <td>
                    <a href="javascript:void(0);" ng-click="downloadFile(valuation.engineImage,valuation.assetDir)">{{valuation.engineImage.filename}}</a></td>
                </tr>
                <tr>
                  <td><b>Asset Image Hydraulic:</b></td>
                  <td><a href="javascript:void(0);" ng-click="downloadFile(valuation.hydraulicImage,valuation.assetDir)">{{valuation.hydraulicImage.filename}}</a></td>
                  <td><b>Asset Image Cabin:</b></td>
                  <td><a href="javascript:void(0);" ng-click="downloadFile(valuation.cabinImage,valuation.assetDir)">{{valuation.cabinImage.filename}}</a></td>
                </tr>
                <tr>
                  <td><b>Asset Image Under-Carriage / Tyre:</b></td>
                  <td><a href="javascript:void(0);" ng-click="downloadFile(valuation.underCarriageImage,valuation.assetDir)">{{valuation.underCarriageImage.filename}}</td>
                  <td><b>Asset Image Others:</b></td>
                  <td><a href="javascript:void(0);" ng-click="downloadFile(valuation.otherImage,valuation.assetDir)">{{valuation.otherImage.filename}}</a></td>
                </tr>
                <tr>
                  <td colspan="2"><b>Valuation Report:</b></td>
                  <td colspan="2"><a href="javascript:void(0);" ng-click="downloadFile(valuation.valuationReport,valuation.assetDir)">{{valuation.valuationReport.filename}}</a></td>                  
                 <!--  <td><b>Invoiced Date:</b></td>
                  <td>{{valuation.invoiceDate}}</td> -->
                </tr>
               <!--  <tr>
                  <td><b>Invoice No:</b></td>
                  <td>{{valuation.invoiceNo}}</td>
                  <td><b>Payment Received:</b></td>
                  <td>{{valuation.paymentReceived}}</td>
                </tr>     -->                 
              </table>
              <table class="table table-bordred" ng-if="isAdmin()">
              
                <tr>
                  <td class="col-sm-3"><b>Invoiced to Customer:</b></td>
                  <td class="col-sm-3">
                    <span ng-if="valuation.invoiceNo">Yes</span>
                    <span ng-if="!valuation.invoiceNo">No</span>
                  </td>
                  <td class="col-sm-3"><b> Invoice Date:</b></td>
                  <td class="col-sm-3">{{valuation.invoiceDate | date:'MM/dd/yyyy'}}</td>
                </tr>
                <tr>
                  <td><b>Payment Received</b></td>
                  <td>
                    <span ng-if="valuation.paymentReceived">Yes</span>
                    <span ng-if="!valuation.paymentReceived">No</span>
                  </td>
                  <td><b>Payment Made to Agency</b></td>
                  <td>
                    <span ng-if="valuation.paymentMade">Yes</span>
                    <span ng-if="!valuation.paymentMade">No</span>
                  </td>
              </table>
            </div>
            
</div>
