<div id="wrapper">
  <div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
        <div class="col-sm-6">
          <h3> Auction Transactions</h3>
        </div>
        <div class="col-sm-6 text-right">
          <h3><button class="btn btn-success btn-md" ng-click="auctionPaymentListingVm.exportExcel()"><i class="fa fa-file-excel-o"></i> Export</button></h3>
        </div>     
      </div>
      <hr>
      
      
     
        <div class="clearfix form-group"></div>
        <div class="table-responsive">
            <table datatable="ng" dt-options="dtOptions" class="table table-bordred table-striped">

              <thead>
                <!-- <th width="40"><input type="checkbox" ng-model="auctionPaymentListingVm.master"> All</th>  -->
                <th>Transaction ID</th>                                
                <th>Auction ID</th>
                <th>Lots</th>
                <th>User Id</th>
                <th>User Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Payment Type</th>
                <th>Request Status</th>
                <th>Request Date</th>
                <th width="90">Action</th>
               
              </thead>
              <tbody>
              <tr ng-repeat="tns in auctionPaymentListingVm.transactions">
                <!-- <td><input type="checkbox" ng-checked="auctionPaymentListingVm.master" ng-click="auctionPaymentListingVm.updateSelection($event,tns._id)"></td> -->
                <td>{{tns.transactionId}}</td>
                <td>{{tns.auctionId}}</td>
                <td><span ng-if="tns.emdTax != 'overall'">{{tns.selectedLots.join()}}</span><span ng-if="tns.emdTax == 'overall'"> Overall</span></td>
                <td>{{tns.user.customerId}}</td>
                <td>{{tns.user.fname}} {{tns.user.lname}}</td>
                <td>{{tns.user.mobile}}</td>
                <td>{{tns.user.email}}</td>
                <td>{{tns.paymentMode}}</td>
                <td>{{tns.status}}</td>
                <td>{{tns.createdAt | date:'MM/dd/yyyy'}}</td>
                 <td>
                 <!-- <a class="btn btn-primary" ng-if="tns.status != 'completed' && tns.paymentMode == 'online'" href="/payment/{{tns._id}}">Pay Now</a> -->
                 <a class="btn btn-primary" ng-if="tns.status != 'completed' && tns.paymentMode != 'online' && isAdmin()" href="javascript:void(0);" ng-click="auctionPaymentListingVm.openPaymentModel(tns, 'paymentAdd')">Add Payment</a>
                 <a href="javascript:void(0);" ng-if="tns.status == 'completed'" ng-click="auctionPaymentListingVm.openPaymentModel(tns, 'paymentView')" class="btn btn-sm btn-primary" uib-popover="View Payment" popover-trigger="mouseenter"><i class="fa fa-eye"></i></a>
                 <a class="btn btn-info btn-md" href="javascript:void(0);" ng-click="auctionPaymentListingVm.resendUserData(tns)" uib-popover="Resubmit" ng-if="tns.reqSubmitStatus === ReqSubmitStatuses[1]"><i class="fa fa-repeat"></i> </a>
                </td>
               </tr>
              </tbody>
            </table>
        </div>
    </div>
  </div>
</div>
