<div id="wrapper">
  <div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
        <div class="col-sm-6">
          <h3> Auction Transactions</h3>
        </div>
<!--        <div class="col-sm-6 text-right">
          <h3><button class="btn btn-success btn-md" ng-click="auctionPaymentListingVm.exportExcel()"><i class="fa fa-file-excel-o"></i> Export</button></h3>
        </div>-->
        <div class="col-sm-6 text-right">
          <h3><button class="btn btn-success btn-md" ng-click="auctionPaymentListingVm.exportExcel('all')"><i class="fa fa-file-excel-o"></i> Export All</button></h3>
          <export-form name="paymentexport"></export-form>
        </div>
      </div>
      <hr>
      <p class="text-right"></p>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-9">
            Showing : {{auctionPaymentListingVm.totalItems}} Records
          </div>
          <div class="col-sm-3 pull-right">
            <div class="tablesearch text-right form-group">
               Search: <input type="text" placeholder="Search..." ng-model="auctionPaymentListingVm.searchStr" ng-change="auctionPaymentListingVm.fireCommand(true)" ng-model-options="{debounce:500}">
            </div>
          </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <!-- <th width="40"><input type="checkbox" ng-model="auctionPaymentListingVm.master"> All</th>  -->
                <th>Transaction ID</th>                                
                <th>Auction ID</th>
                <th>Lots</th>
                <th>User Id</th>
                <th>User Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>Payment Type</th>
                <th>Request Status</th>
                <th>Request Date</th>
                <th width="90">Action</th>
               
              </thead>
              <tbody>
              <tr ng-repeat="tns in auctionPaymentListingVm.transactions">
                <!-- <td><input type="checkbox" ng-checked="auctionPaymentListingVm.master" ng-click="auctionPaymentListingVm.updateSelection($event,tns._id)"></td> -->
                <td>{{tns.transactionId}}</td>
                <td>{{tns.auctionId}}</td>
                <td><span ng-if="tns.emdTax != 'overall'">{{tns.selectedLots.join()}}</span><span ng-if="tns.emdTax == 'overall'"> Overall</span></td>
                <td>{{tns.user.customerId}}</td>
                <td>{{tns.user.fname}} {{tns.user.lname}}</td>
                <td>{{tns.user.mobile}}</td>
                <td>{{tns.user.email}}</td>
                <td>{{tns.paymentMode}}</td>
                <td>{{tns.status}}</td>
                <td>{{tns.createdAt | date:'MM/dd/yyyy'}}</td>
                 <td>
                 <!-- <a class="btn btn-primary" ng-if="tns.status != 'completed' && tns.paymentMode == 'online'" href="/payment/{{tns._id}}">Pay Now</a> -->
                 <a class="btn btn-primary" ng-if="isAdmin() || isAuctionRegPermission()" href="javascript:void(0);" ng-click="auctionPaymentListingVm.openPaymentModel(tns, 'paymentAdd')">Add Payment</a>
                 
                 <a class="btn btn-primary" ng-if="tns.status != 'completed' && !isAdmin() && !isAuctionRegPermission()" ng-click="auctionPaymentListingVm.openPaymentOptionModal(tns)">Pay Now</a>

                 <a class="btn btn-primary" ng-if="tns.status === 'completed' && !isAdmin() && !isAuctionRegPermission()" ng-click="auctionPaymentListingVm.openPaymentOptionModal(tns)">Add More Payment</a>
                 
                 <a href="javascript:void(0);" ng-if="tns.payments.length > 0" ng-click="auctionPaymentListingVm.openPaymentModel(tns, 'paymentView')" class="btn btn-sm btn-primary" uib-popover="View Payment" popover-trigger="mouseenter"><i class="fa fa-eye"></i></a>
                 
                 <a class="btn btn-info btn-md" href="javascript:void(0);" ng-click="auctionPaymentListingVm.resendUserData(tns)" uib-popover="Resubmit" ng-if="tns.reqSubmitStatus === ReqSubmitStatuses[1] && tns.status === 'completed' && (isAdmin() || isAuctionRegPermission())"><i class="fa fa-repeat"></i> </a>

                 <a class="btn btn-success btn-md" href="javascript:void(0);" popover-trigger="mouseenter" uib-popover="Registration Form"><i class="fa fa-download"></i> </a>

                 <a class="btn btn-success btn-md" href="javascript:void(0);" popover-trigger="mouseenter" uib-popover="Undertaking Form"><i class="fa fa-download"></i> </a>

                </td>
               </tr>
              </tbody>
            </table>
        </div>
        <uib-pagination total-items="pager.totalItems" ng-model="pager.currentPage" items-per-page="pager.itemsPerPage" max-size="pager.maxSize" ng-change="auctionPaymentListingVm.fireCommand()" class="pagination-sm" rotate="false">  </uib-pagination>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="paymentOption.html">
  <div class="modal-header">
    <button  type="button"  class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Select Payment Option</h4>
  </div>
  <div class="modal-body">
  <p>You need to pay an EMD of Rs {{auctionRegPayment.emd}}. Please select your preferred payment method</p>
    <form novalidate class="" name="paymentForm">
      <div class="row">
        <div class="col-xs-6 col-sm-6 form-group">
          <div class="radio radio-info">
                  <input type="radio" id="offline" name="payment" ng-model="option.select" value="offline">
                  <label for="offline"> Offline Payment </label>
              </div>
        </div>
        <div class="col-xs-6 col-sm-6 form-group">
          <div class="radio radio-info">
                  <input type="radio" id="online" name="payment" ng-model="option.select" value="online">
                  <label for="online"> Online Payment</label>
              </div>
        </div>
      </div>
      <div class="row" ng-if="kycExist">
        <div class="col-sm-offset-1 col-sm-10">
          <div class="checkbox text-left">
            <input type="checkbox" id="kycFlag" name="kycUploadlater" ng-model="option.kycUploadlater"> 
            <label for="kycFlag">Your KYC details are not uploaded. Check here to upload later and proceed for payment.</label>
          </div>
        </div>
      </div>
    <div class="modal-footer asset-sale">
      <div>
        <button type="button" class="btn btn-danger" ng-click="submit()">Proceed</button>                
      </div>
    </div>
  </form>
</div>
</script>
