<div>
</div><div class="modal-header">
  <button type="button" class="close" ng-click="offlinePaymentVm.closeDialog()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Offline Payment Information</h4>
</div>
<div class="modal-body">
	<form class="techInformationForm" name="offlineform" novalidate>
		<div class="row">
			<div class="col-sm-6 form-group">
				<input type="text" class="form-control" name="amount" value="" placeholder="offlinePaymentVm.dataModel.amount" ng-model="offlinePaymentVm.dataModel.amount" disabled>
			</div>

			<div class="col-sm-6 form-group">
				<input type="text" class="form-control" name="transactionId" value="" placeholder="offlinePaymentVm.dataModel.transactionId" ng-model="offlinePaymentVm.dataModel.transactionId" disabled>
			</div>
			<!--<div class="col-sm-6 form-group">
				<select class="form-control">
					<option>Amount Paid</option>
					<option>Pyment Reference No</option>
					<option>Date of Payment</option>
					<option>Bank Name</option>
					<option>Bank branch</option>
				</select>
			</div>-->
		</div>
		<div class="row">
			<div class="col-sm-6 form-group" ng-class="{'has-error': offlineform.paymentDate.$invalid && submitted}">
				<input class="form-control" name="paymentDate" ng-model="offlinePaymentVm.dataModel.paymentDate" datetime-picker readonly date-format="MM/dd/yyyy" date-only placeholder="*Date of Payment" required />
			</div>
			<div class="col-sm-6 form-group" ng-class="{'has-error': offlineform.bankname.$invalid && submitted}">
				<input type="text" class="form-control" name="bankname" value="" placeholder="*Bank Name" ng-model="offlinePaymentVm.dataModel.bankname" required>
			</div>
		</div>
		<div class="row">			
			<div class="col-sm-6 form-group" ng-class="{'has-error': offlineform.branch.$invalid && submitted}">
				<input type="text" class="form-control" name="branch" value="" placeholder="*Branch Name" ng-model="offlinePaymentVm.dataModel.branch" required>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary"  ng-click="offlinePaymentVm.save(offlineform)">Save</button>
	
</div>

</div>
