<div ng-controller="offlinePaymentCtrl as offlinePaymentVm">
	
</div><div class="modal-header">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Offline Payment Information</h4>
</div>
<div class="modal-body">
	<form class="techInformationForm" name="offlineform" novalidate>
		<div class="row">
			<div class="col-sm-6 form-group">
				<input type="text" class="form-control" name="amount" value="" placeholder="offlinePaymentVm.dataModel.amount" ng-model="offlinePaymentVm.dataModel.amount" disabled>
			</div>

			<div class="col-sm-6 form-group">
				<input type="text" class="form-control" name="transactionid" value="" placeholder="offlinePaymentVm.dataModel.transactionid" ng-model="offlinePaymentVm.dataModel.transactionid" disabled>
			</div>
			<!--<div class="col-sm-6 form-group">
				<select class="form-control">
					<option>Amount Paid</option>
					<option>Pyment Reference No</option>
					<option>Date of Payment</option>
					<option>Bank Name</option>
					<option>Bank branch</option>
				</select>
			</div>-->
		</div>
		<div class="row">
			<div class="col-sm-6 form-group">
				<input type="text" class="form-control" name="dop" value="" placeholder="Date of Payment" ng-model="offlinePaymentVm.dataModel.dop">
			</div>
			<div class="col-sm-6 form-group">
				<input type="text" class="form-control" name="bank" value="" placeholder="Bank Name" ng-model="offlinePaymentVm.dataModel.bank">
			</div>
		</div>
		<div class="row">			
			<div class="col-sm-6 form-group">
				<input type="text" class="form-control" name="branch" value="" placeholder="Branch Name" ng-model="offlinePaymentVm.dataModel.branch">
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary"  ng-click="offlinePaymentVm.save(offlineform)">Save</button>
	
</div>

</div>
