
<!--for payment -->
<div id="wrapper">
  <section class="wrapper">
    <div class="container-fluid">
      <div class="row">        
        <div class="col-sm-12">
          <div id="page-wrapper">
            <!-- Page Heading -->
              <div class="row">
                <div class="col-lg-12">
                  <h3>
                      Order Summary
                  </h3>
                  <hr>
                </div>
              </div>
              <!-- /.row -->

              <div class="row form-group">
                <div class="col-sm-4">
                  <h4>Product</h4>
                </div>
                <div class="col-sm-4">
                  <h4>Request Type</h4>
                </div>
                <div class="col-sm-4">
                  <h4>Price(Rs.)</h4>
                </div>
              </div>
              <legend></legend>
              <div class="row form-group" ng-repeat="py in paymentVm.payTransaction.payments">
                <div class="col-sm-4">
                  <div class="media">
                    <a class="pull-left" href="javascrip:void(0)">
                      <img class="img-circle media-object" ng-src="{{uploadImagePrefix}}{{paymentVm.payTransaction.product.assetDir}}/{{paymentVm.payTransaction.product.primaryImage}}" alt="Image" width="70" height="70">
                    </a>
                    <div class="media-body payment-details">
                      <h4 class="media-heading"><a href="javascrip:void(0);">{{paymentVm.payTransaction.product.name}}</a></h4>                      
                      <p>Spare id/no.</p>
                      <p>Manufacturer</p>
                      <p>asset for rent - Brand , Model, Variant</p>
                      <p>Rental Period</p>
                      <p>{{paymentVm.payTransaction.product.city}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <span ng-if="py.type=='auctionreq'">Auction (quippoauctions.com)</span>
                  <span ng-if="py.type=='valuationreq'">Valuation (Agency Name)</span>
                </div>
                <div class="col-sm-4">
                  {{py.charge}}
                </div>
              </div>

              <div class="well text-center">
                  <div class="row">
                    <div class="col-sm-offset-7 col-sm-5 text-right">
                      <p>Sub total: Rs. {{paymentVm.payTransaction.totalAmount}}</p>
                      <p>Total: Rs. {{paymentVm.payTransaction.totalAmount}}</p>                      
                    </div>
                  </div>
                  <button class="btn btn-success btn-lg" ng-if = "paymentVm.enablePayment" ng-click="paymentVm.payNow()">Proceed to Payment</button>
                </div>
          </div>
         <!--  <div class="page-wrapper" ng-if="ccAvenue">
            <iframe width="100%" height="570" scrolling="yes" frameborder="0"  id="paymentFrame" ng-src="{{ ccavenueURLSCE }}"></iframe>
          </div> -->
        </div>
      </div>
    </div>
  </section>
</div>
