<div  id="quote-modal">
          <div class="modal-header">
              <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Quick Query</h4>
            </div>
            <div class="modal-body">
                <form class="form-signin" name="form" novalidate>
                <div class="row">
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.fname.$invalid && form.submitted }">
                    <input type="text" class="form-control" name="fname" ng-model="quote.fname" ng-value="quote.fname" placeholder="* First Name" required>
                  </div>
                  <div class="form-group col-sm-4">
                    <input type="text" class="form-control" name="mname" ng-model="quote.mname" ng-value="quote.mname" placeholder="Middle Name">
                  </div>
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.lname.$invalid && form.submitted }">
                    <input type="text" class="form-control" name="lname" ng-model="quote.lname" ng-value="quote.lname" placeholder="* Last Name" required>
                  </div>
                </div>
                
                <div class="row">
                  <div class="form-group col-sm-6" ng-class="{'has-error': form.phone.$invalid && form.submitted }">
                    <input type="text" class="form-control" name="phone" ng-model="quote.phone" ng-value="quote.phone" placeholder="Phone No.">
                  </div>
                   <div class="form-group col-sm-6" ng-class="{'has-error': form.mobile.$invalid && form.submitted }">
                   <div class="input-group">
                  <input type="text" class="form-control" name="mobile"  ng-model="quote.mobile" ng-value="quote.mobile" placeholder="* Mobile No." uib-tooltip="98-XXXX-XXXX" pattern="^[7-9][0-9]{9}$" tooltip-trigger="focus" tooltip-placement="top" required>
                  </div>
                </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 form-group" ng-class="{'has-error': form.email.$invalid && form.submitted }">
                    <input type="email" class="form-control" name="email" ng-model="quote.email" ng-value="quote.email" placeholder="Email Address">
                    <p class="help-block" ng-show="(form.email.$error.email || form.email.$error.pattern) && form.submitted">
                      Please enter a valid email.
                    </p>
                    
                  </div>
                   <!-- <div class="form-group col-sm-6">
                      <select class="form-control col-md-2" name="groupName" ng-model="quote.groupName">
                      <option value="" disabled>Select Group</option>
                      <option ng-repeat="group in allGroup" value="{{group.name}}">{{group.name}}</option>
                      </select>   
                      <i class="caret"></i>                    
                    </div> -->
                </div>
               

                <div class="row">                  
                  <div class="form-group col-sm-6" ng-class="{'has-error': form.catName.$invalid && form.submitted}">
                    <select class="form-control" name="catName" ng-model="quote.catName" required>
                    <option value="" disabled>* Select Category</option>
                    <option ng-repeat="category in allCategory"  value="{{category.name}}">{{category.name}}</option>
                    </select>  
                    <i class="caret"></i> 
                  </div>
                  <div class="col-sm-6 form-group" ng-class="{'has-error': form.otherCategory.$invalid && form.submitted}">
                      <input type="text" class="form-control" name="otherCategory" ng-model="quote.otherCategory" ng-value="{{quote.otherCategory}}" ng-disabled ="quote.catName != 'Other'" placeholder="Other" ng-required= "quote.catName == 'Other'">
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="form-group col-sm-12">
                    <select class="form-control col-md-2" name="subcategory" ng-model="quote.subcategory">
                    <option value="" disabled>Select Sub-Category</option>
                    <option ng-repeat="ct in allSubcategory"  value="{{ct.name}}">{{ct.name}}</option>
                    </select>   
                    <i class="caret"></i>                    
                  </div>
                </div> -->

                <div class="row">
                  <div class="form-group col-sm-6">
                    <input type="text" class="form-control" name="brand" ng-model="quote.brand" value="" placeholder="Product Brand">
                  </div>
                  <div class="form-group col-sm-6">
                    <input type="text" class="form-control" name="model" ng-model="quote.model" value="" placeholder="Model No.">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <input type="text" class="form-control" name="expPrice" ng-model="quote.expPrice" value="" placeholder="Expected Price">
                  </div>
                  <div class="form-group col-sm-6" ng-class="{'has-error': form.location.$invalid && form.submitted}">
                    <select class="form-control" name="location" ng-model="quote.city" required>
                      <option value="" disabled>*Select Location</option>
                      <option ng-repeat="location in locationList" value="{{location.name}}">{{location.name}}</option>
                    </select>
                    <i class="caret"></i>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 form-group">
                    <textarea class="form-control" name="comment" ng-model="quote.comment" placeholder="Comments"></textarea>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 form-group text-left">
                    <input type="checkbox" name="agree" ng-model="quote.agree" value=""> I Agree to the 
                    <a href="/privacy" ng-click="closeDialog()" aria-hidden="true" target="_blank">Terms &amp; Conditions.</a>
                  </div>
                </div>

                
              </form>
            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-lg btn-default" data-dismiss="modal" ng-click="reset()">Reset</button> -->
              <button type="submit" class="btn btn-lg btn-warning" ng-click="sendQuoteRequest(quote)">Submit</button>
            </div>
      </div>