node_modules

.tmp

.sass-cache
.DS_Store
client/.DS_Store
.idea
client/bower_components
client/assets/uploads/*
client/assets/uploads/temp/*
client/assets/uploads/templates/*
client/assets/uploads/report/*
client/assets/uploads/newsevents/*
client/assets/uploads/manufacturer/*
client/assets/uploads/import/*
client/assets/uploads/featured/*
client/assets/uploads/classifiedad/*
client/assets/uploads/category/*
client/assets/uploads/banner/*
client/assets/uploads/avatar/*
client/assets/uploads/auctionmaster/*
client/assets/uploads/auction/*
client/assets/uploads/manpower/*
client/assets/uploads_bak
client/app/constant.js
client/index.html
server/components/sendEmail.js
server/components/sms.js
/server/config/local.env.js
dist
dist/public/app
dist/public/bower_components
dist/server

npm-debug.log
/server/config/environment/local.js
/client/app/admin/gsettings/offer.controller-vin.js
/client/app/admin/gsettings/gsettings-vin.html