node_modules

.tmp

.sass-cache
.DS_Store
client/.DS_Store
.idea
client/bower_components
client/assets/uploads
client/assets/uploads_bak
client/app/constant.js
client/index.html
server/components/sendEmail.js
server/components/sms.js
/server/config/local.env.js
dist
dist/public/app
dist/public/bower_components
dist/server

npm-debug.log
