
<div>
	<div>
		<!-- When : {{showmailVM.mess.created }} -->
		{{showmailVM.mess.createdAt | date:"MM/dd/yyyy 'at' h:mma"}}
	</div>
	<div>
		From : {{	showmailVM.mess.from }}
	</div>
	<div ng-repeat="gg in showmailVM.mess.to">
		To : {{	gg }}
	</div>	
	<div>
		Subject : {{	showmailVM.mess.subject }}
	</div>
	<div>
		<!-- Message : {{	showmailVM.mess.message }} -->
		<p ng-bind-html="showmailVM.mess.message"></p>
	</div>	
	<hr />
	<div ng-repeat="reply in showmailVM.mess.replies">
		 To : <span ng-repeat="to in reply.to"> {{to}}&nbsp; </span>
		 <span> From : {{reply.from}}&nbsp; </span>
		 <div> {{reply.createdAt | date:"MM/dd/yyyy 'at' h:mma"}}</div>
		<!-- <div> Message : {{ reply.reply }} </div> -->
		<p ng-bind-html="reply.reply"></p>
	</div>
			<a ng-hide="showmailVM.isSentBox" ng-click="showmailVM.goReply(showmailVM.mess)" class="btn btn-success pull-right">Reply</a>	 	
	    	<div class="col-sm-9">
	    		<div ui-view></div>
	    	</div>	
</div>
