<div> 
      <div class="modal-header">
          <button type="button" class="close" ng-click="paymentOptVm.closeDialog()">&times;</button>
          <h4 class="modal-title">Pay {{paymentOptVm.payTransaction.totalAmount}} Rs</h4>
        </div>
      <div class="modal-body">
        <form novalidate class="" name="paymentForm">
              <div class="row">
                <div class="col-xs-6 col-sm-6 form-group">
                  <div class="radio radio-info">
                          <input type="radio" id="offline" name="payment" ng-model="option.select" value="offline">
                          <label for="offline"> Pay Later </label>
                      </div>                   
                </div>
                <div class="col-xs-6 col-sm-6 form-group">
                  <div class="radio radio-info">
                          <input type="radio" id="online" name="payment" ng-model="option.select" value="online">
                          <label for="online"> Pay Now </label>
                      </div>     
                </div>
              </div>
        </div>  
        <div class="modal-footer asset-sale">
          <div>
            <button type="button" class="btn btn-primary" ng-click="paymentOptVm.closeDialog()">Cancel</button>
            <button type="button" class="btn btn-danger" ng-click="paymentOptVm.submit()">Proceed</button>                
          </div>
        </div>
    </div>