<div id="wrapper">
  <div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
        <div class="col-sm-6">
          <h3>Valuation Request</h3>
        </div>
        <div class="col-xs-2 col-sm-2" style="margin-top: 15px;">
          <custom-datepicker placeholder="From Date" name="effectiveFromDate" ng-model="valuationListingVm.fromDate" myid="fromdate" required></custom-datepicker>
        </div>

        <div class="col-xs-2 col-sm-2" style="margin-top: 15px;">
          <custom-datepicker placeholder="To Date" name="effectiveToDate" ng-model="valuationListingVm.toDate" myid="todate" required></custom-datepicker>
        </div>
        <div class="col-sm-2 text-right">
          <h3><button class="btn btn-success btn-md" ng-click="valuationListingVm.exportExcel()"><i class="fa fa-file-text"></i> Export</button></h3>
        </div>     
      </div>
      <hr>
      
      <!-- <div class="row" ng-if="valuationListingVm.isUserMode()">
        <div class="col-sm-3 form-group">
          <select class="form-control" ng-change="valuationListingVm.onValuationReqTypeChange(valType)" ng-model="valType">
            <option value="sent"> Request sent by customer</option>
            <option value="received"> Request received by customer</option>
            
          </select>
          <i class="caret"></i>
        </div>
      </div> -->
      
     
        <div class="clearfix form-group"></div>
       <!--  <div class="featured-pro" ng-if="isPartner()">
            <button class="btn btn-primary">Completed</button>
            <button class="btn btn-primary">Inprogress</button> 
          </div> -->
        <div class="row">
            <div class="col-sm-2 padd-right">
              Showing : {{valuationListingVm.totalItems}} Records
            </div>
            <div class="col-sm-3" ng-if="isAdmin()">
              <select name="statusType" ng-model="valuationListingVm.statusType" ng-change="valuationListingVm.fireCommand(true)">
                <option value="">Select Status Type</option>
                <option value="Request Initiated">Request Initiated</option>
                <option value="Payment Completed">Payment Completed</option>
                <option value="Request Submitted">Request Submitted</option>
                <option value="Invoice Generated">Invoice Generated</option>
                <option value="Report Submitted">Report Submitted</option>
                <option value="Completed">Request Completed</option>
                <option value="Request On Hold">Request On Hold</option>
                <option value="Cancelled">Request Cancelled</option>
              </select>
            </div>
            <div class="col-sm-3 pull-right">
              <div class="tablesearch text-right form-group">
                 Search: <input type="text" placeholder="Search..." ng-model="valuationListingVm.searchStr" ng-change="valuationListingVm.fireCommand(true)" ng-model-options="{debounce:500}">
              </div>
            </div>
        </div>
        <div class="table-responsive">          
            <table class="table table-bordred table-striped">
              <thead>
                <tr>
                  <!-- <th width="50"><input type="checkbox" ng-model="valuationListingVm.master"> All</th> -->
                  <th>Unique Control No</th>
                  <th>Request Type</th>
                  <th>Purpose</th>
                  <th>User Name</th>
                  <th>Job ID</th>
                  <th>Asset No.</th>
                  <th>Report No</th>
                  <!-- <th>Category</th> -->
                  <!-- <th>Asset Name</th> -->
                  <!-- <th>Asset Status</th> -->
                  <!-- <th>Serial Number</th> -->
                  <th>Status</th>
                  <th>Payment Mode</th>
                  <th>Request Date</th>
                  <th>View All</th>
                  <th width="15%">Action</th>
                </tr>
               
              </thead>
              <tbody>
              <tr ng-repeat="valuation in valuationListingVm.valuations">
                <!-- <td><input type="checkbox" ng-checked="valuationListingVm.master" ng-click="valuationListingVm.updateSelection($event,valuation._id)"></td> -->
                <td>{{valuation.requestId}}</td>
                <td>{{valuation.requestType}}</td>
                <td>{{valuation.purpose}}</td>
                <td>{{valuation.user.fname}} {{valuation.user.lname}}</td>
                <td>{{valuation.jobId}}</td>
                <td>{{valuation.product.assetId}}</td>
                <td>{{valuation.reportNo}}</td>
                <!-- <td>{{valuation.product.category}}</td> -->
               <!--  <td>
                  <span ng-if="valuation.product.name">{{valuation.product.name}}</span>
                  <span ng-if="!valuation.product.name">{{valuation.product.category}} {{valuation.product.brand}} {{valuation.product.model}}</span>
                </td> -->
                <!-- <td>{{valuation.product.status}}</td> -->
                <!-- <td>{{valuation.product.serialNumber}}</td> -->
                <td>
                  <span ng-if="!valuation.onHold">{{valuation.status}}</span>
                  <span ng-if="valuation.onHold && !valuation.cancelled">Hold - {{valuation.onHoldMsg}}</span>
                </td>
                <td>
                  <span ng-if="valuation.transactionIdRef.paymentMode">{{valuation.transactionIdRef.paymentMode}}</span>
                  <span ng-if="!valuation.transactionIdRef.paymentMode">{{valuation.payOption}}</span>
                </td>
                <td>{{valuation.createdAt | date:'MM/dd/yyyy'}}</td>
                <td>
                  <a href="javascript:void(0);" title="Detail" ng-click="valuationListingVm.showDetail(valuation)">
                    More..
                  </a>
                </td>
                <td>
                  <!-- <button class="btn btn-default fileinput-button" ng-if="isPartner() && (valuation.status == 'request_in_process' || valuation.status == 'request_completed')" uib-popover="Upload" popover-trigger="mouseenter">
                      <span><i class="fa fa-upload"></i></span>
                        <input type="file" data-index="{{$index}}" name="report" onchange="angular.element(this).scope().uploadReport(this.files,this)">
                  </button> -->

                  <a class="btn btn-sm btn-info" ng-if="valuationListingVm.validateAction(valuation,'GENERATEINVOICE')" href="javascript:void(0);" ng-click="valuationListingVm.openInvoiceModal(valuation)" uib-popover="Generate Invoice" popover-trigger="mouseenter" ng-disabled="valuation.cancelled"><i class="fa fa-file"></i></a>
                  <!-- <button class="btn btn-success" ng-if="isPartner() && valuation.status == 'request_in_process'" ng-click="valuationListingVm.updateStatus(valuation,'request_completed')" uib-popover="Complete" popover-trigger="mouseenter" ><i class="fa fa-hourglass-end"></i></button> -->

                   <!-- <button class="btn btn-info" ng-if="isPartner() && valuation.status == 'request_submitted'"  ng-click="valuationListingVm.updateStatus(valuation,'request_in_process')" uib-popover="Inprogress" popover-trigger="mouseenter"><i class="fa fa-hourglass-2"></i></button> -->

                  <!-- <a class="btn btn-success btn-md" ng-if="valType =='received' && valuation.status == 'request_listed'" ng-click="valuationListingVm.updateStatus(valuation,'request_submitted','request_approved')" uib-popover="Approved" popover-trigger="mouseenter"><i class="fa fa-check"></i> </a> -->
                  <!-- <a class="btn btn-default btn-md" href="/download/{{valuation.product.assetId}}/{{valuation.report}}" uib-popover="Download" popover-trigger="mouseenter" target="_blank"><i class="fa fa-download"></i> </a> -->
                  <!-- ng-if="IndividualValuationStatuses.indexOf(valuation.status) > 4 && IndividualValuationStatuses.indexOf(valuation.status) < 8 " -->

                  <a class="btn btn-infodark btn-sm" ng-if="valuationListingVm.validateAction(valuation,'INVOICEDOWNLOAD')" ng-click="valuationListingVm.downloadInvoice(valuation._id)" href="javascript:void(0);" uib-popover="Download Invoice" popover-trigger="mouseenter" target="_blank"><i class="fa fa-download"></i> </a>

                  <a class="btn btn-primary btn-sm" ng-if="valuationListingVm.validateAction(valuation,'ADDPAYMENT')" href="javascript:void(0);" ng-click="valuationListingVm.openPaymentModel(valuation, 'paymentAdd')" uib-popover="Add Payment" popover-trigger="mouseenter" ng-disabled="valuation.cancelled"><i class="fa fa-money"></i></a>

                  <!-- <a class="btn btn-primary" href="/payment/{{valuation.transactionId}}" ng-if="valuationListingVm.validateAction(valuation,'PAYNOW')">Pay Now</a> -->
                  <a class="btn btn-primarydark btn-sm" href="javascript:void(0);" ng-click="valuationListingVm.openPaymentOptionModel(valuation)" ng-if="valuationListingVm.validateAction(valuation,'PAYNOW')" uib-popover="Pay Now" popover-trigger="mouseenter" ng-disabled="valuation.cancelled"> <i class="fa fa-paypal"></i></a>

                  <a href="javascript:void(0);" ng-if="valuation.transactionIdRef.payments.length > 0" ng-click="valuationListingVm.openPaymentModel(valuation, 'paymentView')" class="btn btn-sm btn-primary" uib-popover="View Payment" popover-trigger="mouseenter"><i class="fa fa-eye"></i></a>

                  <a class="btn btn-primary btn-sm" href="javascript:void(0);" ng-if="(valuation.resubmit || (valuation.status === IndividualValuationStatuses[1] && !valuation.jobId)) && isAdmin()" ng-click="valuationListingVm.submitToAgency(valuation, 'Mjobcreation')" uib-popover="Submit to Agency" popover-trigger="mouseenter" ng-disabled="valuation.cancelled"><i class="fa fa-check-circle"></i></a>
                  
                  <a class="btn btn-success btn-sm" ng-if="valuationListingVm.validateAction(valuation,'REPORTDOWNLOAD')" href="{{valuation.valuationReport.filename}}" uib-popover="Download Report" popover-trigger="mouseenter" target="_blank"><i class="fa fa-download"></i> </a>

                  <a class="btn btn-success btn-sm" ng-show="false" ng-click="valuationListingVm.updateStatus(valuation, IndividualValuationStatuses[7])" uib-popover="Completed" popover-trigger="mouseenter" ng-disabled="valuation.cancelled"><i class="fa fa-check"></i></a>

                  <a class="btn btn-default btn-sm" href="javascript:void(0);" uib-popover="Resume Hold Request" popover-trigger="mouseenter" ng-if= "valuation.onHold" ng-click="valuationListingVm.openCommentModal(valuation,'onHold')" ng-disabled="valuation.cancelled"><i class="fa fa-send"></i> </a>

                  <a class="btn btn-success btn-sm" ng-if="isAdmin()" href="javascript:void(0);" uib-popover="More Info" popover-trigger="mouseenter" ng-click="valuationListingVm.openCommentModal(valuation, 'info')"><i class="fa fa-info"></i> </a>
                  
                  <a class="btn btn-warning btn-sm" href="javascript:void(0);" ng-if="isAdmin()" ng-click="valuationListingVm.cancelledHandler(valuation, IndividualValuationStatuses[8])" uib-popover="Cancel" popover-trigger="mouseenter" ng-disabled="valuation.cancelled || valuation.status === IndividualValuationStatuses[7]"><i class="fa fa-close"></i> </a>
                </td>
               
               </tr>
              </tbody>
            </table>
            </div>
            <uib-pagination total-items="pager.totalItems" ng-model="pager.currentPage" items-per-page="pager.itemsPerPage" max-size="pager.maxSize" ng-change="valuationListingVm.fireCommand()" class="pagination-sm" rotate="false">  </uib-pagination>
        
    </div>
  </div>
</div>
<script type="text/ng-template" id="usercomment.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Comments</h4>
  </div>
  <form name="usercommentForm" novalidate>
    <div class="modal-body">
      <div class="col-sm-offset-1 col-sm-10" ng-class="{'has-error': usercommentForm.comment.$invalid && submitted}">
        <textarea class="form-control" ng-model="dataModel.userComment" name="comment" required></textarea>
      </div>
    </div>
    <div class="modal-footer text-right">
      <button class="btn btn-danger btn-md" ng-click="submit(usercommentForm)">Submit</button>
    </div>
  </form>
</script>

<script type="text/ng-template" id="requestStatus.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Request Status</h4>
  </div>
  <form name="requestStatusForm" novalidate>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10" >
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Status</th>
                <th>Date &amp; Time</th>
              </tr>
              <tr ng-repeat="statusVal in valuationData.statuses">
                <td>
                  {{statusVal.status}}
                </td>
                <td>
                  {{statusVal.createdAt | date:"MM/dd/yyyy 'at' h:mma"}}
                </td>
              </tr>
            </table>
          </div>
        </div>  
      </div>
    </div>
    <div class="modal-footer text-right">
      <button class="btn btn-default" ng-click="close()">Close</button>
    </div>
  </form>
</script>
