 <div id="magnifier-modal">
      <div class="modal-header">
          <h3 class="modal-title" id="modal-title">Valuation Request
            <button type="button" class="close" ng-click="valuationReqVm.close()" aria-hidden="true">&times;</button>
          </h3>
          
      </div>
      <form>
      <div class="modal-body">
        
          <div class="row">
            <div class="col-sm-6 form-group">
              <input type="text" class="form-control" placeholder="Category" disabled="">
            </div>
            <div class="col-sm-6 form-group">
              <input type="text" class="form-control" placeholder="Asset Name" disabled="">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <input type="text" class="form-control" placeholder="Asset Status" disabled="">
            </div>
            <div class="col-sm-6 form-group">
              <input type="text" class="form-control" placeholder="Serial Number" disabled="">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <input type="text" class="form-control" placeholder="Asset Location" disabled="">
            </div>
            <div class="col-sm-6 form-group">
              <input type="text" class="form-control" placeholder="Agency Name" disabled="">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <input type="text" class="form-control" placeholder="Request Date">
            </div>
            <div class="col-sm-6 form-group">
              <select class="form-control" name="" required>
                <option value="">*Select Purpose</option>
                <option ng-repeat="valuation in valuationList" value="{{valuation.name}}">{{valuation.name}}</option>
              </select>
            </div>
          </div>
           <div class="row">
           
            <div class="col-sm-6 form-group">
              <select class="form-control" name="" required>
                <option value="">Request Status</option>
                <option>Valuation Request Received</option>
                <option>Valuation – In Progress</option>
                <option>Valuation Complete</option>
              </select>
              <i class="caret"></i>
            </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="resetQuote()">Reset</button>
        <button type="button" class="btn btn-warning" ng-click="addProductQuote($event)">Submit</button>
      </div>
    </form>
  </div>
