<div class="container-fluid">
  <ol class="breadcrumb">
    <li>
      <a href="/main">Home</a>
    </li>
    <li>
      <a href="/newequipments">New Equipments</a>
    </li>
    <li class="active">Bulk Orders</li>
  </ol>
</div>
<!-- New Equipment -->
<section class="category-block">
  <div class="container padd-left padd-right">
    <div class="heading-titles text-center form-group">
      <h4>[ FOR BULK ORDERS ]</h4>
      <p>Need large quantities of equipments with amazing quality and attractive prices? iQuippo has the solution for you. </p>
    </div>

    <div class="information-tabs">
      <div class="information-padd">
        <h4 class="text-center">BULK INQUIRY FORM</h4>
        <legend></legend>

        <div class="row">
          <div class="col-sm-4 form-group">
            <div class="floating-label-wrapper">
              <label for="name">Name*</label>
              <input type="text" class="form-control" id="name" placeholder="Name*" ng-model="user.name" required with-floating-label>
            </div>
          </div>
          <div class="col-sm-4 form-group">
            <div class="floating-label-wrapper">
              <label for="mobile">Mobile*</label>
              <input type="number" class="form-control" id="mobile" placeholder="Mobile*" ng-model="user.mobile" required with-floating-label>
            </div>
          </div>
          <div class="col-sm-4 form-group">
            <div class="floating-label-wrapper">
              <label for="email">Email*</label>
              <input type="email" class="form-control" id="email" placeholder="Email*" ng-model="user.email" required with-floating-label>
            </div>
          </div>
          <div class="col-sm-4 form-group">
            <div class="floating-label-wrapper">
              <label>State</label>
              <select class="form-control">
                <option value="">Select State</option>              
              </select>
            </div>
          </div>
          <div class="col-sm-4 form-group">
            <label>City</label>
            <div class="floating-label-wrapper">
              <select class="form-control">
                <option value="">Select City</option>              
              </select>
            </div>
          </div>
        </div>

        <h5>
          <strong>ADD YOUR REQUIREMENTS</strong>
        </h5>

        <div class="row">
          <div class="col-sm-4 form-group">
            <div class="floating-label-wrapper">
              <label for="category">Category</label>
              <select class="form-control">
                <option value="">Select Category</option>              
              </select>
            </div>
          </div>
          <div class="col-sm-4 form-group">
            <div class="floating-label-wrapper">
              <label for="brand">Brand</label>
              <select class="form-control" id="brand">
                <option value="">Select Brand</option>              
              </select>
            </div>
          </div>
          <div class="col-sm-2 form-group text-center">
            <label>Quantity</label>
            <div class="input-group floating-label-wrapper">              
              <a href="javascript:void(0);" class="input-group-addon"><i class="fa fa-minus"></i></a>
              <input type="number" class="form-control" name="" placeholder="1" min="1">
              <a href="javascript:void(0);" class="input-group-addon"><i class="fa fa-plus"></i></a>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <a href="javascript:void(0);">
            <i class="fa fa-plus"></i> ADD MORE
          </a>
        </div>
        <hr>

        <div class="row">
          <div class="col-sm-8">
            <p><em class="text-danger">*Required Fields</em></p>
            You need not worry about anything, our customer care executive will contact you shortly with the quotations.
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-primary btn-block">Get a Quote</button>
          </div>
        </div>
      </div>
    </div>

    <div class="information-tabs">
      <div class="information-padd">
        <h4 class="text-center">BULK INQUIRY FORM</h4>
        <legend></legend>

        <div class="row form-group">
          <div class="col-sm-3 form-group">
            <label>Your Requirements</label>
            <p>Excavators, JCB, JS140 (9 Required)</p>
          </div>
          <div class="col-sm-3 form-group">
            <label>Status</label>
            <p>In Progress</p>
          </div>
          <div class="col-sm-offset-3 col-sm-2 form-group">
            <button type="button" class="btn btn-primary btn-block">Track Application</button>
          </div>
        </div>

        <div class="text-center">
          <i class="fa fa-check-circle-o fa-5x"></i>
          <h4>SUCCESS</h4>
          <p>
            Congratulations! You have successfully requested for a quote. Our customer care executive will get back to you shortly with the quotations.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
