<div class="container-fluid">
  <ol class="breadcrumb">
    <li>
      <a href="/main">Home</a>
    </li>
    <li class="active">New Equipments</li>
  </ol>
</div>
<!-- New Equipment -->
<section class="category-block">
  <div class="container padd-left padd-right">
    <div class="heading-titles text-center">
      <h4>[ NEW EQUIPMENTS ]</h4>
      <p>Choose from a complete range of Jcb®, TataMotors® &amp; Cat® equipments, power systems, work tools and technology solutions.</p>
    </div>
    <div class="row">
      <div class="col-sm-6 form-group text-center"> 
        <a href="javascript:void(0);" title="">
          <img src="/assets/images/jcb-NewEquipment.jpg" alt="" class="img-responsive">
        </a>
      </div>
      <div class="col-sm-6 form-group text-center"> 
        <div class="row">
          <div class="col-sm-12 form-group">
            <a href="javascript:void(0);" title="" class="form-group">
              <img src="/assets/images/cat-NewEquipment.jpg" alt="" class="img-responsive">
            </a>
          </div>
          <div class="col-sm-12 form-group">
             <a href="javascript:void(0);" title="" class="form-group">
              <img src="/assets/images/cat-NewEquipment.jpg" alt="" class="img-responsive">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Browse Brand -->
<section class="category-block">
  <div class="container-fluid text-center">
    <div class="heading-titles">
      <h4>[ Browse Used Equipment By Brands ]</h4>
      <a href="javascript:void(0);">View All (15)</a>
    </div>
    <div class="row">
      <div class="col-sm-4 form-group text-center">   
        <div class="brand-logo">
          <img src="/assets/images/JCBlogo.png">
        </div>
      </div>
      <div class="col-sm-4 form-group text-center">   
        <div class="brand-logo">
          <img src="/assets/images/HitachiLogo.png">
        </div>
      </div>
      <div class="col-sm-4 form-group text-center">   
        <div class="brand-logo">
          <img src="/assets/images/TataLogo.png">
        </div>
      </div>
      <div class="col-sm-4 form-group text-center">   
        <div class="brand-logo">
          <img src="/assets/images/L&TLogo.png">
        </div>
      </div>
      <div class="col-sm-4 form-group text-center">   
        <div class="brand-logo">
          <img src="/assets/images/AshokLeylandLogo.png">
        </div>
      </div>
      <div class="col-sm-4 form-group text-center">   
        <div class="brand-logo">
          <img src="/assets/images/HyundaiLogo.png">
        </div>
      </div>
    </div>
  </div>
      
</section>

<section class="category-block bulk-order">
  <div class="container">
    <div class="col-sm-8">
      <h3>FOR BULK ORDERS </h3>
      <p>Wholesale is selling goods in tremendous quantities at a low unit price to retail merchants. Choose your desired equipments and get a quote.</p>
    </div>
    <div class="col-sm-4 text-right">
      <button type="button" class="btn btn-primary btn-lg">Select Items</button>
    </div>
  </div>
</section>

<!-- Browse Category -->
<section class="category-block">
  <div class="container-fluid text-center">
    <div class="heading-titles">
      <h4>[ Browse Used Equipment By Category ]</h4>
      <a href="javascript:void(0);">View All (45)</a>
    </div>
    <div class="row">
      <div class="col-sm-4 form-group text-center">   
        <div class="cat-rectangle">
          <img src="/assets/images/excavator.png" class="category-item">
        </div>
        <h5 class="category-name">Excavator (963)</h5>
      </div>
      <div class="col-sm-4 form-group text-center">   
        <div class="cat-rectangle">
          <img src="/assets/images/backhoeloader.png" class="category-item">
        </div>
        <h5 class="category-name">Backhoe Loader (201)</h5>
      </div>
      <div class="col-sm-4 form-group text-center">   
        <div class="cat-rectangle">
          <img src="/assets/images/tractor.png" class="category-item">
        </div>
        <h5 class="category-name">Tractor (780)</h5>
      </div>
      <div class="col-sm-4 form-group text-center">   
        <div class="cat-rectangle">
          <img src="/assets/images/tipper.png" class="category-item">
        </div>
        <h5 class="category-name">Tipper (285)</h5>
      </div>
      <div class="col-sm-4 form-group text-center">   
        <div class="cat-rectangle">
          <img src="/assets/images/crane.png" class="category-item">
        </div>
        <h5 class="category-name">Crane (178)</h5>
      </div>
      <div class="col-sm-4 form-group text-center">   
        <div class="cat-rectangle">
          <img src="/assets/images/truck.png" class="category-item">
        </div>
        <h5 class="category-name">Truck (963)</h5>
      </div>
    </div>
  </div>
      
</section>


<div class="clearfix"></div>

<script type="text/ng-template" id="primtmedia.html">
  <div>
    <div class="modal-header">
    <button type="button" class="close"  data-ng-click="close()" aria-hidden="true"><i class="fa fa-times"></i></button>
    </div>
    <div class="modal-body text-center">
       <img data-ng-src="{{url}}" width="100%">
    </div>
     <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-ng-click="close()">Close</button>
      </div>
  </div>
</script>