<div class="container-fluid">
  <ol class="breadcrumb">
    <li>
      <a href="/main"> Home </a>
    </li>
    
    <li><a href="/new"> New Equipments </a></li>
    <li class="active"> {{displayText || equipmentSearchFilter.group || equipmentSearchFilter.category || equipmentSearchFilter.brand || equipmentSearchFilter.tradeType || equipmentSearchFilter.location || equipmentSearchFilter.tradeType || equipmentSearchFilter.assetId || "XXXXX"}} </li>
  </ol>
</div>
<div class="view-content">
  <section class="wrapper">
    <div class="container">
      <div class="alert alert-danger" ng-if="currentProduct.assetStatus == 'sold' || currentProduct.assetStatus == 'rented'">
        The product has been <span ng-if="currentProduct.assetStatus == 'sold'">sold</span><span ng-if="currentProduct.assetStatus == 'rented'">rented</span>
      </div>
      <div class="alert alert-danger" ng-if="currentProduct.tradeType == 'NOT_AVAILABLE'">
        This asset is currently not available for sale
      </div>
      <div class="row">
        <div class="col-sm-7 form-group">
          <div class="carousel slide article-slide form-group" id="article-photo-carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner cont-slider">
              <div class="item" ng-repeat="thumbnailImage in currentProduct.images" ng-class="{'active':thumbnailImage.isPrimary && !thumbnailImage.catImgType}">
                <img alt="" title="" ng-src="{{thumbnailImage.displaySrc}}" class="img-responsive" ng-click="productDetailVm.previewProduct(currentProduct.images, $index)">
              </div>
            </div>            
          </div>
          <ol class="carousel-indicators">
            <li class="" data-slide-to="{{$index}}" ng-class="{'active':thumbnailImage.isPrimary && !thumbnailImage.catImgType}" data-target="#article-photo-carousel" ng-repeat="thumbnailImage in currentProduct.images | limitTo:5">
                <img alt="" ng-src="{{uploadImagePrefix}}{{currentProduct.assetDir}}/{{thumbnailImage.src}}" class="img-responsive img-thumbnail" ng-click = "imageClick()">
            </li>
          </ol>
        </div>
        <div class="col-sm-5 form-group">
          <div class="currentproduct-info">
            <h2>
            JCB EXCAVATOR 240B PRIME
            </h2>
            <div class="row maximum-capacity">
              <div class="col-xs-7 padd-left">
                Maximum Bucket Capacity
              </div>
              <div class="col-xs-5 text-warning text-right">
                1.85m3(2yd3)
              </div>
            </div>
            <div class="row maximum-capacity">
              <div class="col-xs-7 padd-left">
                Maximum Engine Power
              </div>
              <div class="col-xs-5 text-warning text-right">
                212kW(285hp)
              </div>
            </div>
            <div class="row maximum-capacity">
              <div class="col-xs-7 padd-left">
                Maximum Operating Weight
              </div>
              <div class="col-xs-5 text-warning text-right">
                38372kg(84596lb)
              </div>
            </div>
            <div class="row maximum-capacity">
              <div class="col-xs-7 padd-left">
                Maximum Digging Depth
              </div>
              <div class="col-xs-5 text-warning text-right">
                6680mm(21’)
              </div>
            </div>
          </div>
          
          <div class="row text-center form-group download-brochure">            
            <div class="col-xs-4">
              <a href="javascript:void(0);">
                <img src="/assets/images/icon-compare.png" alt="">
                ADD TO COMPARE
              </a>
            </div>
            <div class="col-xs-4">
              <a href="javascript:void(0);">
                <img src="/assets/images/icon-book-demo.png" alt="">
                BOOK A DEMO
              </a>
            </div>
            <div class="col-xs-4">
              <a href="javascript:void(0);">
                <img src="/assets/images/icon-download.png" alt="">
                DOWNLOAD BROCHURE
              </a>
            </div>
          </div>

          
          <div class="floating-label-wrapper form-group">
            <label>Location</label>
            <select class="form-control">
              <option value="">Select City</option>              
            </select>
            <small>Select a location to view all applicable offers.</small>
          </div>
          <div class="asset-sale">
            <button type="button" class="btn btn-primary btn-block">VIEW OFFERS</button>
          </div>
        </div>
      </div>
    <p>
      The JCB JS370 sits in the middle of our range of heavy tracked excavators. Weighing in at around 36 ton, it’s engineered with exceptional strength, productivity, efficiency, comfort, safety and ease of maintenance.
    </p>
    <p>

      A closed box section revolving frame increases strength and reduces stress. It also makes these tracked excavators highly resistant to impact damage. We’ve used strong parts too – premium industry standards in fact. Meanwhile, this tracked excavator’s engine is a highly efficient Isuzu  285hp (212kW) 6HK unit, compliant with Stage 3b and Tier 4i. The benefits of the JS370 series of tracked excavators don’t end there either.
    </p>
      <uib-tabset justified="true" class="information-tabs" ng-if="false">
        <uib-tab heading="STRENGTH">
          <p>
            We’ve designed JCB JS360 tracked excavators to be low maintenance and easily serviceable. Which makes them affordable, efficient and highly productive.
          </p>

          <p>
            Hoods open and close easily with gas-assisted cylinders, and the service bays are large and wide for good access. 1000-hour boom and dipper greasing intervals and a 5000-hour oil life provide maximum uptime on these 360 excavators. Grease points are centralized on JS360 tracked excavators too, for safe and easy access to high level pivots. Likewise filters (engine oil, hydraulic oil and fuel).
          </p>

          <p>
            Because they’re mounted side by side, the JS360 tracked excavator’s engine radiator, hydraulic cooler and intercooler can be serviced individually and cleaned easily.
          </p>
        </uib-tab>
        <uib-tab heading="PRODUCTIVITY">
          <p>
            We’ve designed JCB JS360 tracked excavators to be low maintenance and easily serviceable. Which makes them affordable, efficient and highly productive.
          </p>

          <p>
            Hoods open and close easily with gas-assisted cylinders, and the service bays are large and wide for good access. 1000-hour boom and dipper greasing intervals and a 5000-hour oil life provide maximum uptime on these 360 excavators. Grease points are centralized on JS360 tracked excavators too, for safe and easy access to high level pivots. Likewise filters (engine oil, hydraulic oil and fuel).
          </p>

          <p>
            Because they’re mounted side by side, the JS360 tracked excavator’s engine radiator, hydraulic cooler and intercooler can be serviced individually and cleaned easily.
          </p>
        </uib-tab>
        <uib-tab heading="OPERATOR COMFORT & SAFETY">
          <p>
            We’ve designed JCB JS360 tracked excavators to be low maintenance and easily serviceable. Which makes them affordable, efficient and highly productive.
          </p>

          <p>
            Hoods open and close easily with gas-assisted cylinders, and the service bays are large and wide for good access. 1000-hour boom and dipper greasing intervals and a 5000-hour oil life provide maximum uptime on these 360 excavators. Grease points are centralized on JS360 tracked excavators too, for safe and easy access to high level pivots. Likewise filters (engine oil, hydraulic oil and fuel).
          </p>

          <p>
            Because they’re mounted side by side, the JS360 tracked excavator’s engine radiator, hydraulic cooler and intercooler can be serviced individually and cleaned easily.
          </p>
        
        </uib-tab>
        <uib-tab heading="SERVICEABILITY">
          <p>
            We’ve designed JCB JS360 tracked excavators to be low maintenance and easily serviceable. Which makes them affordable, efficient and highly productive.
          </p>

          <p>
            Hoods open and close easily with gas-assisted cylinders, and the service bays are large and wide for good access. 1000-hour boom and dipper greasing intervals and a 5000-hour oil life provide maximum uptime on these 360 excavators. Grease points are centralized on JS360 tracked excavators too, for safe and easy access to high level pivots. Likewise filters (engine oil, hydraulic oil and fuel).
          </p>

          <p>
            Because they’re mounted side by side, the JS360 tracked excavator’s engine radiator, hydraulic cooler and intercooler can be serviced individually and cleaned easily.
          </p>
        </uib-tab>
      </uib-tabset>

      <div>
        <h4 class="form-group">
            <strong>ALL AVAILABLE OFFERS</strong> <br>
            <small>You can choose multiple offers and submit your querry</small>
        </h4>
        <div class="form-group"></div>
        <uib-accordion close-others="oneAtATime" class="view-offer">
          <uib-accordion-group is-open="status.cash">
            <uib-accordion-heading>
              CASH OFFERS (2 Available)
              <p><small>Get additional 2 years service free from iQuippo.</small></p>
              <i class="pull-right fa" ng-class="{'fa-angle-up': status.cash, 'fa-angle-down': !status.cash}"></i>
            </uib-accordion-heading>
            <div class="row">
              <div class="col-sm-offset-1 col-sm-5 form-group">
                <div class="checkbox">
                  <input type="checkbox" id="amount1" name="" value="">
                  <label for="amount1">
                    <i class="fa fa-inr"></i> 4,050,000/-
                  </label>
                  <small>Total Amount to be paid</small>
                </div>
              </div>
              <div class="col-sm-5 form-group">
                <ul>
                  <li>
                      Get first two services free
                  </li>
                  <li>
                      Get first two services free
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-offset-1 col-sm-5 form-group">
                <div class="checkbox">
                  <input type="checkbox" id="amount2" name="" value="">
                  <label for="amount2">
                    <i class="fa fa-inr"></i> 3,750,000/-
                  </label>
                  <small>Total Amount to be paid</small>
                </div>
              </div>
              <div class="col-sm-5 form-group">
                <ul>
                  <li>
                      Get first two services free
                  </li>
                  <li>
                      Get first two services free
                  </li>
                </ul>
              </div>
            </div>
          </uib-accordion-group>

          <uib-accordion-group is-open="status.finance">
            <uib-accordion-heading>
              FINANCING OFFERS (3 Available)
              <p><small>Get additional 2 years service free from iQuippo.</small></p>
              <i class="pull-right fa" ng-class="{'fa-angle-up': status.finance, 'fa-angle-down': !status.finance}"></i>
            </uib-accordion-heading>
            <div class="row">
              <div class="col-sm-offset-1 col-sm-5 form-group">
                <div class="checkbox">
                  <input type="checkbox" id="financer1" name="" value="">
                  <label for="financer1">
                    Financer 1
                  </label>
                </div>
              </div>
              <div class="col-sm-5 form-group">
                <ul>
                  <li>
                      Get first two services free
                  </li>
                  <li>
                      Get first two services free
                  </li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-2">
                <h5 class="text-center"><small>Select Quantity &amp; Tenure</small></h5>                
                <div class="floating-label-wrapper form-group">
                  <label>Quantity</label>              
                  <div class="input-group">
                    <a href="javascript:void(0);" class="input-group-addon"><i class="fa fa-minus"></i></a>
                    <input type="number" class="form-control" name="" placeholder="1" min="1">
                    <a href="javascript:void(0);" class="input-group-addon"><i class="fa fa-plus"></i></a>
                  </div>
                </div>

                <div class="floating-label-wrapper">
                  <label>TENURE*(In Months)</label>
                  <select class="form-control">
                    <option value="">1</option>              
                  </select>
                </div>
              </div>
              <div class="col-sm-7">
                <h5 class="text-center"><small>Check per unit and total cost</small></h5>
                <div class="row">
                  <div class="col-sm-4 form-group">
                    <label>Finance Amount per unit</label>
                    <div class="floating-label-wrapper">                      
                      <input type="text" class="form-control" name="" value="" placeholder="" disabled>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group">
                    <label>Down-payment per unit</label>
                    <div class="floating-label-wrapper">                      
                      <input type="text" class="form-control" name="" value="" placeholder="" disabled>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group">
                    <label>Processing Fee per unit</label>
                    <div class="floating-label-wrapper">                      
                      <input type="text" class="form-control" name="" value="" placeholder="" disabled>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group">
                    <label>Total Finance Amount</label>
                    <div class="floating-label-wrapper">                      
                      <input type="text" class="form-control" name="" value="" placeholder="" disabled>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group">
                    <label>Total Down-payment</label>
                    <div class="floating-label-wrapper">                      
                      <input type="text" class="form-control" name="" value="" placeholder="" disabled>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group">
                    <label>Total Processing Fee</label>
                    <div class="floating-label-wrapper">                      
                      <input type="text" class="form-control" name="" value="" placeholder="" disabled>
                    </div>
                  </div>
                  
                </div>
              </div>
              <div class="col-sm-3">
                <h5 class="text-center"><small>Amount to be paid</small></h5>
                <div class="form-group">
                  <h4>10%</h4>
                  <small>Rate Of Interest</small>
                </div>
                <div class="form-group">
                  <h4><i class="fa fa-inr"></i> 5,590/-</h4>
                  <small>Total Monthly Repayment(E.M.I)</small>
                </div>
                <div class="form-group">
                  <h4><i class="fa fa-inr"></i> 5,590/-</h4>
                  <small>Down-Payment+Processing Fee</small>
                </div>
              </div>
            </div>

          </uib-accordion-group>

          <uib-accordion-group is-open="status.leasing">
            <uib-accordion-heading>
              LEASING OFFERS (2 Available)
              <p><small>Get additional 2 years service free from iQuippo.</small></p>
              <i class="pull-right fa" ng-class="{'fa-angle-up': status.leasing, 'fa-angle-down': !status.leasing}"></i>
            </uib-accordion-heading>

            <div class="row">
              <div class="col-sm-offset-1 col-sm-5 form-group">
                <div class="checkbox">
                  <input type="checkbox" id="leasing" name="" value="">
                  <label for="leasing">
                    Leasing Offer 1
                  </label>
                </div>
              </div>
              <div class="col-sm-5 form-group">
                <ul>
                  <li>
                      Get first two services free
                  </li>
                  <li>
                      Get first two services free
                  </li>
                </ul>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-2">
                <h5 class="text-center"><small>Select Quantity &amp; Tenure</small></h5>                
                <div class="floating-label-wrapper form-group">
                  <label>Quantity</label>              
                  <div class="input-group">
                    <a href="javascript:void(0);" class="input-group-addon"><i class="fa fa-minus"></i></a>
                    <input type="number" class="form-control" name="" placeholder="1" min="1">
                    <a href="javascript:void(0);" class="input-group-addon"><i class="fa fa-plus"></i></a>
                  </div>
                </div>

                <div class="floating-label-wrapper">
                  <label>TENURE*(In Months)</label>
                  <select class="form-control">
                    <option value="">1</option>              
                  </select>
                </div>
              </div>
              <div class="col-sm-7">
                <h5 class="text-center"><small>Check per unit and total cost</small></h5>
                <div class="row">
                  <div class="col-sm-4 form-group">
                    <label>Finance Amount per unit</label>
                    <div class="floating-label-wrapper">                      
                      <input type="text" class="form-control" name="" value="" placeholder="" disabled>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group">
                    <label>Down-payment per unit</label>
                    <div class="floating-label-wrapper">                      
                      <input type="text" class="form-control" name="" value="" placeholder="" disabled>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group">
                    <label>Processing Fee per unit</label>
                    <div class="floating-label-wrapper">                      
                      <input type="text" class="form-control" name="" value="" placeholder="" disabled>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group">
                    <label>Total Finance Amount</label>
                    <div class="floating-label-wrapper">                      
                      <input type="text" class="form-control" name="" value="" placeholder="" disabled>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group">
                    <label>Total Down-payment</label>
                    <div class="floating-label-wrapper">                      
                      <input type="text" class="form-control" name="" value="" placeholder="" disabled>
                    </div>
                  </div>
                  <div class="col-sm-4 form-group">
                    <label>Total Processing Fee</label>
                    <div class="floating-label-wrapper">                      
                      <input type="text" class="form-control" name="" value="" placeholder="" disabled>
                    </div>
                  </div>
                  
                </div>
              </div>
              <div class="col-sm-3">
                <h5 class="text-center"><small>Amount to be paid</small></h5>
                <div class="form-group">
                  <h4>10%</h4>
                  <small>Rate Of Interest</small>
                </div>
                <div class="form-group">
                  <h4><i class="fa fa-inr"></i> 5,590/-</h4>
                  <small>Total Monthly Repayment(E.M.I)</small>
                </div>
                <div class="form-group">
                  <h4><i class="fa fa-inr"></i> 5,590/-</h4>
                  <small>Down-Payment+Processing Fee</small>
                </div>
              </div>
            </div>
          </uib-accordion-group>
        </uib-accordion>

        <div class="asset-sale text-center">
          <h5><small>Choose at least one offer to proceed.</small></h5>
          <button type="button" class="btn btn-primary">Proceed</button>
        </div>
      </div>
    </div>
  </section>
</div>
