<!-- Browse Brand -->
<section class="category-block">
  <div class="container">
    <div class="information-tabs">
      <div class="row">
        <div class="col-sm-6">
          <img src="/assets/images/loging-image.png" class="img-responsive" alt="">
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5 form-group">
            <h3 class="text-center form-group">Reset Password</h3>
            
            <form class="signin" name="form" data-ember-action="2" novalidate>
              <div class="floating-lable-form form-group" ng-show="!isApproved">
                <div class="row">
                  <div class="col-sm-5 form-group has-error">
                    <div class="floating-label-wrapper">
                      <label for="mobile">Mobile No.</label>
                      <input type="number" class="form-control" id="mobile" ng-model="forgetPassVm.data.mobile" placeholder="Mobile No." required with-floating-label autocomplete="off">
                    </div>
                    <!-- <small class="help-block" ng-show="form.userId.$error.required && !form.password.$error.required && submitted">
                         Please enter a valid user id.
                      </small> -->
                  </div>
                  <div class="col-sm-2 text-center">
                    OR
                  </div>
                  <div class="col-sm-5 form-group has-error">
                     <div class="floating-label-wrapper form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" placeholder="Email" ng-model="forgetPassVm.data.email" required  with-floating-label autocomplete="off">
                    </div>
                    <!-- <small class="help-block" ng-show="!form.userId.$error.required && form.password.$error.required && submitted">
                         Please enter a valid password.
                      </small> -->
                  </div>
                </div>
                <div class="text-center form-group">
                  <button type="submit" class="btn btn-primary">Generate OTP</button>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 form-group">
                  <div class="floating-label-wrapper" ng-class="{'has-error':otpForm.otp.$invalid && submiited}">
                    <label for="otp">Enter OTP</label>
                    <input type="text" class="form-control" id="otp" name="otp" placeholder="Enter OTP" ng-model="signupVm.user.otp"  with-floating-label required>
                  </div>
                  <small>Check your phone/email for 4-digit OTP</small>
                </div>
                <div class="col-sm-6 form-group text-center">
                    <h5 class="invisible">resend</h5>
                   <a href="javascript:void(0);" class="text-info">Resend OTP</a>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-6">
                  <small>Don't have an account?</small>
                  <p><a href="/signup" class="text-danger">Signup!</a></p>
                </div>
                <div class="col-sm-offset-1 col-sm-5">
                  <button type="submit" class="btn btn-primary btn-block">Verify</button>
                </div>
              </div> 
            </form> 
        </div>
      </div>
    </div>
  </div>      
</section>
