<!-- Browse Brand -->
<section class="category-block">
  <div class="container">
    <div class="information-tabs">
      <div class="row registration-forms">
        <div class="col-sm-6 hidden-xs">
          <img src="/assets/images/loging-image.png" class="img-responsive" alt="">
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-5 form-group">
            <h3 class="text-center form-group">Reset Password</h3>
            <div ng-if="step === 1">
              <form class="signin" name="detailFormform" data-ember-action="2" novalidate>
                <div class="floating-lable-form form-group">
                  <div class="row">
                    <div class="col-sm-5 form-group has-error">
                      <div class="floating-label-wrapper">
                        <label for="mobile">Mobile No.</label>
                        <input type="number" class="form-control" id="mobile" ng-model="forgetPassVm.data.mobile" placeholder="Mobile No." with-floating-label autocomplete="off" ng-disabled="isUserFound">
                      </div>
                    </div>
                    <div class="col-sm-2 text-center">
                      OR
                    </div>
                    <div class="col-sm-5 form-group has-error">
                       <div class="floating-label-wrapper form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" ng-model="forgetPassVm.data.email" with-floating-label autocomplete="off" ng-disabled="isUserFound">
                      </div>
                    </div>
                  </div>
                  <div class="text-center form-group">
                    <button type="submit" class="btn btn-primary" ng-click="forgetPassVm.validateUser(detailFormform)" ng-disabled="isUserFound">Generate OTP</button>
                  </div>
                </div>
                </form>
                <form name="otpForm" novalidate>
                <div class="row">
                  <div class="col-sm-6 form-group">
                    <div class="floating-label-wrapper" ng-class="{'has-error':otpForm.otp.$invalid && submiited}">
                      <label for="otp">Enter OTP</label>
                      <input type="text" class="form-control" id="otp" name="otp" placeholder="Enter OTP" ng-model="forgetPassVm.data.otp"  with-floating-label required>
                    </div>
                    <small>Check your phone/email for 4-digit OTP</small>
                  </div>
                  <div class="col-sm-6 form-group text-center">
                      <h5 class="invisible">resend</h5>
                     <a href="javascript:void(0);" class="text-info" ng-click="forgetPassVm.sendOTP(otpForm)">Resend OTP</a>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-6">
                    <small>Don't have an account?</small>
                    <p><a href="/signup" class="text-danger">Signup!</a></p>
                  </div>
                  <div class="col-sm-offset-1 col-sm-5">
                    <button type="submit" class="btn btn-primary btn-block" ng-click="forgetPassVm.validateOtp(otpForm)">Verify</button>
                  </div>
                </div> 
              </form>
              </div> 

            <form name="passwordForm" novalidate ng-if="step === 2">
            <div class="floating-lable-form">
              
              <div class="row">
                <div class="col-sm-8 form-group">
                  <div class="floating-label-wrapper" ng-class="{'has-error': passwordForm.password.$invalid && submitted }">
                    <label for="cpassword">Create Password</label>
                    <input type="password" class="form-control" id="cpassword" placeholder="Create Password" ng-model="forgetPassVm.data.password" name="password" with-floating-label  ng-minlength="6"
                     required
                     mongoose-error>
                  </div>
                  <small>Create a password (min. 6 characters).</small>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8 form-group">
                  <div class="floating-label-wrapper" ng-class="{'has-error': passwordForm.passwordCompare.$invalid && submitted }">
                    <label for="repassword">Re-enter Password</label>
                    <input type="password" class="form-control" id="repassword" placeholder="Re-enter Password" ng-model="forgetPassVm.data.passwordConfirm" name="passwordCompare" ng-minlength="6"
                     valid-password-c="forgetPassVm.data.password" required mongoose-error>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <small>Already have an account?</small>
                  <p><a href="/signup" class="text-danger">Login!</a></p>
                </div>
                <div class="col-sm-offset-1 col-sm-5">
                  <button type="button" class="btn btn-primary btn-block" ng-click="forgetPassVm.changePassword(passwordForm)">Done</button>
                </div>
              </div>
            </div>  
            
          </form>
        </div>
      </div>
    </div>
  </div>      
</section>
