<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <div class="logo text-center"><a class="" href="index.html"><img src="assets/img/srei-logo_0.png" width="80"></a></div>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" style="background-color:#ccc;color:black;"></i> Mr Firoz <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="#"><i class="fa fa-user"></i> Profile</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-power-off"></i> Log Out</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <!--<div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object img-circle img-thumbnail" src="http://placehold.it/50x50" alt="Image">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Mr. Firoz</h4>
                    <p><i class="fa fa-circle text-success"></i> <small>Online</small></p>
                </div>
            </div>-->
            <li>
              <a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
              <a href="index.html"><i class="fa fa-upload"></i> Product Upload</a>
            </li>
            <li >
              <a href="index.html"><i class="fa fa-list"></i>Product Listing</a>
            </li>
            
            <li class="active">
              <a href="index.html"><i class="fa fa-database"></i>Master Data</a>
            </li>
            <li>
              <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-users"></i> User Management<i class="fa fa-fw fa-caret-down"></i></a>
              <ul id="demo" class="collapse">
                <li>
                  <a href="#" style="color:#FFF;">Buyer/Seller</a>
                </li>
                <li>
                  <a href="#" style="color:#FFF;">Vendor</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="index.html"><i class="fa fa-history"></i>Product History</a>
            </li>
            <li>
              <a  href="javascript:;" data-toggle="collapse" data-target="#demo1"><i class="fa fa-cog"></i>Services<i class="fa fa-fw fa-caret-down"></i></a>
              <ul id="demo1" class="collapse">
                <li>
                  <a href="#" style="color:#FFF;">Lease</a>
                </li>
                <li>
                  <a href="#" style="color:#FFF;">Insurance</a>
                </li>
                <li>
                  <a href="#" style="color:#FFF;">Transport</a>
                </li>
                <li>
                  <a href="#" style="color:#FFF;">Valuation</a>
                </li>
              </ul>
            </li>
            <li>
              <a href=""><i class="fa fa-user"></i> About Us</a>
            </li>
            
            <li>
              <a href=""><i class="fa fa-user"></i> Classified Add</a>
            </li>
            <li>
              <a href=""><i class="fa fa-newspaper-o"></i> Ad Listing </a>
            </li>
            <li>
              <a href=""><i class="fa fa-file-text-o"></i> Terms &amp; Conditions</a>
            </li>
            <li>
              <a href=""><i class="fa fa-lock"></i> Privacy Policy</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </nav>