<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-conroller="AdminHeaderCtrl">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo text-center"><a class="" href="index.html"><img src="assets/images/srei-logo-img.png" width="80"></a></div>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">               
            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" style="background-color:#ccc;color:black;" ng-if="!getCurrentUser().imgsrc"></i>
                <img src="{{uploadImagePrefix}}{{avatarDir}}/{{getCurrentUser().imgsrc}}" ng-if="getCurrentUser().imgsrc"> 
                {{ getCurrentUser().fname }}</a>
                <ul class="dropdown-menu">
                     <li ng-show="isLoggedIn()" ><a href="/myaccount"><span class="fa fa-key"></span> My Account</a></li>                        
                    <li ng-show="isLoggedIn()" ><a href="javascript:void(0);" ng-click="openDialog('settings')"><span class="fa fa-key"></span> Change Password</a></li>                      
                  <li ng-show="isLoggedIn()"><a href="javascript:void(0);" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">              
            <div class="side-nav scrollbar" id="style-2">
                <ul class="nav navbar-nav force-overflow">                
                    <!-- <li ng-if="isAdmin()">
                        <a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li> -->
                    <li >
                        <a href="/productlisting"><i class="fa fa-list"></i>    
                            Product Listing</a>
                    </li>
                    <li >
                        <a href="/sparelisting"><i class="fa fa-list"></i>    
                            Spare Listing</a>
                    </li>           
                    <!-- <li >
                        <a href="/yardlisting" ng-show="isLoggedIn()"><i class="fa fa-list"></i>    
                            Yard Listing</a>
                    </li>  -->        
                    <li>
                        <a href="/product" ng-show="isLoggedIn()"><i class="fa fa-upload"></i>  Product Upload</a>
                    </li>
                    <li>
                        <a href="/spareupload" ng-show="isLoggedIn()"><i class="fa fa-upload"></i>  Spare Upload</a>
                    </li>
                    <!-- <li >
                        <a href="/yardupload" ng-show="isLoggedIn()"><i class="fa fa-upload"></i>    
                            Yard &amp; Workshop Upload</a>
                    </li> -->
                     <li ng-if="isAdmin()">
                        <a href="/masterdata"><i class="fa fa-database"></i> Master Data</a>
                        </li>
                    <li ng-if="isAdmin() || isChannelPartner() || isEnterprise()">
                        <a href="/usermanagement"><i class="fa fa-user"></i>
                        User Management</a>
                         
                    </li>
                    <li ng-if="isAdmin()">
                        <a href="/partnermanagement"><i class="fa fa-users"></i> Partner Management</a>
                    </li>                    
                    <li ng-if="isAdmin() || isEnterprise() || isEnterpriseUser() || isPartner()">
                        <a href="/enterprisevaluation/transaction"><i class="fa fa-user-plus"></i> Enterprise Valuation</a>
                    </li>
                    <!-- <li>
                        <a href="javascript:void(0);" ng-click="redirectToUrl()"><i class="fa fa-gavel"></i> Asset Sale</a>
                    </li> -->
                    <li ng-if="!isFAgencyPartner() && isBuySaleViewOnly()">
                        <a href="/assetsale/bidproduct?t=1"><i class="fa fa-gavel"></i> TRADE DETAILS </a>
                    </li>
                    <li ng-if="isFAgencyPartner()">
                        <a href="/assetsale/fulfilmentagency?t=1"><i class="fa fa-gavel"></i> TRADE DETAILS</a>
                    </li>
                   <!--  <li ng-if="!isFAgencyPartner() && !isAdmin()">
                        <a href="/assetsale/seller"><i class="fa fa-gavel"></i> Asset Sale</a>
                    </li> -->
                    <!--<li ng-if="isAdmin()">
                        <a href="javascript:void(0);"><i class="fa fa-history"></i>Product History</a>
                    </li>
                    <li ng-if="isAdmin()">
                        <a href="javascript:void(0);"><i class="fa fa-user"></i>About Us</a>
                    </li>-->
                     <li ng-if="isAdmin()">
                        <a href="/classifiedadlisting"><i class="fa fa-newspaper-o"></i>  Classified Ad</a>
                    </li>
                    <!-- <li ng-if="isAdmin()">
                        <a href="/classifiedadlisting"><i class="fa fa-history"></i>History</a>
                    </li> -->
                    <!-- <li ng-if="isAdmin()">
                        <a href="/services"><i class="fa fa-users"></i> Services</a>
                         
                    </li>  -->
                    <li ng-if="isAdmin()">
                        <a href="/emailer"><i class="fa fa-envelope-o"></i>
                            Emailer</a>
                         
                    </li>
                     
                    <li ng-if="isAdmin()">
                        <a href="/policies"><i class="fa fa-pencil-square-o"></i>
                            General Editor</a>
                         
                    </li>

                    <li ng-if="isAdmin()">
                        <a href="/gsettings"><i class="fa fa-cogs"></i>
                            General Settings</a>
                         
                    </li>
                    <li ng-if="isAdmin()">
                        <a href="/pricetrend"><i class="fa fa-inr"></i>
                            Price Trend</a>
                         
                    </li>
                     <li ng-if="isAdmin()">
                        <a href="/pricetrendcomment"><i class="fa fa-comment"></i>
                            Price Trend Comments</a>
                    </li>
                    
                    <li >
                        <a href="/bidValue"><i class="fa fa-tag"></i>
                            Promo Transaction Summary </a>
                         
                    </li>  
                    <li ng-if="isAdmin()">
                        <a href="/manpowerlisting"><i class="fa fa-list"></i>Manpower Listing</a>
                    </li>
                    <li>
                        <a href="/auctionrequets"><i class="fa fa-gavel"></i>Auction Request</a>
                    </li>
                    <!-- <li ng-if="isAuctionPartner() || isAdmin()">
                        <a href="/auctionregreport"><i class="fa fa-gavel"></i>Auction Registration Report</a>
                    </li> -->
                    <li ng-if="isPartner()">
                        <a href="/valuationrequests/valuationpartner"><i class="fa fa-tags"></i>Valuation Request</a>
                    </li>
                    <li>
                        <a href="/valuationrequests/myrequest"><i class="fa fa-tags"></i>My Valuation Request</a>
                    </li>
                    <li>
                        <a href="/paymenthistory"><i class="fa fa-cc"></i>Payment History</a>
                    </li>  
                    <li>
                        <a href="/reports"><i class="fa fa-cc"></i>Reports</a>
                    </li>                
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </nav>