<div class="container" ng-controller="HeaderCtrl">
        <div class="text-right">
          <ul class="top-menu">
            
            <li><a href="javascript:void(0);" ng-click="openDialog('quote')"><i class="fa fa-edit"></i> <span class="hidden-xs">Demand Fulfillment</span></a></li>
            <li><a href="javascript:void(0);" ng-click="sendCallback()"><i class="fa fa-phone"></i> <span class="hidden-xs">Call Back</span></a></li>
            <li ng-hide="isLoggedIn()"><a href="javascript:void(0);" ng-click="openDialog('login')"><i class="fa fa-user"></i> <span class="hidden-xs">Login</span></a></li>
            
            <li><a href="javascript:void(0)" ng-click="openCart()" ng-class="{cart_item:cartCounter > 0}"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs">Cart </span></a></li>
            <li>
            </li>

            <li ng-show="isLoggedIn()" class="dropdown" >
              <a href class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" style="background-color:#ccc;color:#fff; padding:3px 5px; border-radius:50%;height:20px;width:20px;" ></i> {{ getCurrentUser().fname }}</a>
              
              <ul class="dropdown-menu">
                  <li ng-show="isAdmin()">
                    <a href="/productlisting">
                      <i class="fa fa-user"></i> Admin
                    </a>
                  </li>  
                  <li ng-show="isLoggedIn()" ><a href="javascript:void(0);" ng-click="openDialog('settings')"><span class="fa fa-key"></span> Change Password</a></li>                      
                  <li ng-show="isLoggedIn()"><a href="javascript:void(0);" ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
              </ul>
            </li>
            <!-- <li>
              <div id="google_translate_element"></div>
            </li> -->
          </ul>
        </div>
        <!--<script type="text/javascript">
          function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,ar,fa', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
          }
          </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        -->
        <div class="navbar">
          <a class="navbar-brand" href="index.html"><img src="assets/images/srei-logo-img.png"></a>
           
           <nav class="navbar navbar-inverse pull-left" role="navigation">
              <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>           
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
                  <ul class="nav navbar-nav">
                    <li ng-class="{active: isActive('/')}"><a href="index.html">Home</a></li>
                    <li ng-class="{active: isActive('/aboutus')}"><a href="/aboutus">About Us</a></li>
                    <li class="dropdown" uib-dropdown>
                      <a href="javascript:void(0);" id="single-button"  uib-dropdown-toggle >Services</a>
                      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li role="menuitem"><a href="/lease">Man Power</a></li>
                        <!--<li role="menuitem"><a href="/insurance">Insurance</a></li> -->
                        <li role="menuitem"><a href="/shipping">Shipping</a></li>
                        <li role="menuitem"><a href="/valuation">Valuation</a></li>
                        <li role="menuitem"><a href="/certifiedbyiquippo">Certified by iQuippo</a></li>
                      </ul>
                    </li>
                    
                    <li ng-class="{active: isActive('/contactus')}"><a href="/contactus">Contact Us</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
                <!--<script type="text/javascript">
                  setTimeout(function(){convertSelectToUL();},100);
                </script>-->
            </nav>
          <ul class="nav navbar-nav navbar-right hidden-xs">
            <li>
              <a href="javascript:void(0);" ng-click="redirectToProduct()">Upload Machine</a>
            </li>
             <li>
              <a href="javascript:void(0);" ng-click="openDialog('classifiedad')">Place a Classified Ad</a>
            </li>
          </ul>
        </div>
        <!-- common modal container -->
      </div>  

     