<div class="container-fluid">
  <ol class="breadcrumb">
    <li>
      <a href="/main">Home</a>
    </li>
    <li><a href="/used-equipment">Used Equipment</a></li>
    <li class="active"> Brand</li>
  </ol>
</div>

<!-- Upcoming Auction -->
<section class="category-block">
  <div class="container">
    <div class="heading-titles text-center">
      <h1>[ BROWSE BY BRANDS ]</h1>
      <p>Now browse equipments from a list of top leading brands in the market and choose your product according to your necessity.</p>
    </div>
    <ul class="brand-list">      
      <li class="form-group" ng-repeat="brand in brandListingVm.brandList" ng-if="$index < brandListingVm.showedItems && brand.name !== 'Other'">
        <div class="media text-center">
          <a href="/used-equipment/brands/{{brand.name}}?currentPage=1" class="brand-name">             
             <img data-ng-src="{{uploadImagePrefix}}{{categoryDir}}/{{brand.imgSrc}}" ng-if="brand.imgSrc">  <img src="/assets/images/JCBlogo.png" ng-if="!brand.imgSrc">            
          </a>
          <h4>{{brand.name}}</h4>               
        </div>
      </li>
    </ul>
    <div class="heading-titles text-center">
    <a href="javascript:void(0);" title="" ng-click="brandListingVm.showMore()" ng-if="brandListingVm.showedItems < brandListingVm.brandList.length">Show More</a>
  </div>
  </div>
</section>