 <section class="category-block">
  <div class="foot" ng-controller="FooterCtrl">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="footer-logos">
            <ul>
              <li><a href="javascript:void(0);"><img src="/assets/images/srei-logo-img.png"></a></li>
              <li><a href="javascript:void(0);"><img src="/assets/images/iquippo-market.png"></a></li>
            </ul>
            <div class="copy">© 2017 iQuippo, All Rights Reserved.</div>
          </div>
        </div>        
        <div class="col-sm-9">
          <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4 form-group">
              <h4>About Us</h4>
              <ul class="nav">
                <li><a href="/aboutus">About Us</a></li>  
              </ul>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-4 form-group">
              <h4>Help</h4>
              <ul class="nav">
                <li><a href="/contactus">Contact Us</a></li>  
              </ul>
            </div>  
            <div class="col-xs-6 col-sm-4 col-md-4 form-group">
              <h4>Our Policies</h4>
              <ul class="nav">
                <li><a href="/privacy">Privacy Policy</a></li> 
              </ul>
            </div>        
            <div class="col-xs-12">
              <h5>Follow us on:</h5>
              <ul class="footer-icon">
                <li><a href="https://www.facebook.com/iquippo/" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/iquippo" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/iquippo" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>        
      </div>
        <div class="form-group"></div>
      </div>         
  </div>
</section>
<section>
  <div class="container">
    <div class="heading-titles text-center">
      <h4>[ ABOUT iQUIPPPO ]</h4>
    </div>
    <p>India’s leading marketplace for construction equipment and services.</p>
    <p>
      iQuippo is India’s first and a one-of- its-kind digital marketplace for construction equipment, machinery and services. Our platform allows buyers and sellers to interact, negotiate and close transactions in a timely, transparent and cost-effective manner.
      iQuippo aims to consolidate and digitalize the extremely fragmented construction equipment industry in India, thereby aiding fair price discovery, higher asset utilization rates, quicker pay-back period, and transparent dealing.
      Seller can list their assets on the platform and get real-time offers from interested buyers from across the country. iQuippo’s proprietary asset certification program – iQuippo Certified – gives our buyers a detailed analysis of the listed equipment, thus empowering informed decision making.
    </p>
    <p>
      Through iQuippo we aim to unleash the next wave of growth in the Indian construction industry by enabling wider market access, removing information asymmetry and delivering significant time and cost savings.
      iQuippo is the preferred mode of transacting for players and stakeholders across the industry including infrastructure and real estate companies, contractors, consultants, banks &amp; NBFCs, rental agencies, brokers, SMEs and individual business owners.
    </p>
    </p>
  </div>
</section>
<section>
  <div class="container">
    <div class="heading-titles text-center">
      <h4>[ PRINT MEDIA ]</h4>
    </div>
    <div class="medianame">
     <ul>
        <li><a href="javascript:void(0);" class=""> The Economic Times </a></li>
        <li><a href="javascript:void(0);" class=""> The Hindu Business Line </a></li>
        <li><a href="javascript:void(0);" class=""> The Hindustan Business Lines </a></li>
        <li><a href="javascript:void(0);" class=""> Orissa today</a></li>
        <li><a href="javascript:void(0);" class=""> Arthic Lipi</a></li>
        <li><a href="javascript:void(0);" class=""> Financial Chronicle</a></li>
        <li><a href="javascript:void(0);" class=""> The Times of India</a></li>
        <li><a href="javascript:void(0);" class=""> The Economic Times </a></li>
        <li><a href="javascript:void(0);" class=""> The Hindu Business Line </a></li>
        <li><a href="javascript:void(0);" class=""> The Hindustan Business Lines </a></li>
        <li><a href="javascript:void(0);" class=""> Orissa today</a></li>
        <li><a href="javascript:void(0);" class=""> Arthic Lipi</a></li>
        <li><a href="javascript:void(0);" class=""> Financial Chronicle</a></li>
        <li><a href="javascript:void(0);" class=""> The Times of India</a></li>
        <li><a href="javascript:void(0);" class=""> The Economic Times </a></li>
        <li><a href="javascript:void(0);" class=""> The Hindu Business Line </a></li>
        <li><a href="javascript:void(0);" class=""> The Hindustan Business Lines </a></li>
        <li><a href="javascript:void(0);" class=""> Orissa today</a></li>
        <li><a href="javascript:void(0);" class=""> Arthic Lipi</a></li>
        <li><a href="javascript:void(0);" class=""> Financial Chronicle</a></li>
        <li><a href="javascript:void(0);" class=""> The Times of India</a></li>
      </ul>
     </div>
  </div>
</section>
<!-- <div id="back-top" style="display: block;">
  <a href="#top" class="btn btn-info page-scroll"><i class=" fa fa-chevron-up"></i></a>
</div> -->
    