<div class="foot" ng-controller="FooterCtrl">
  <div class="container">
    <div class="row">
            <div class="col-sm-3 col-md-2">
              
              <ul class="nav">
                <li><a href="/aboutus">About Us</a></li>
                <!-- <li><a href="javascript:;">Quick Links</a></li>                -->
                <!-- <li><a href="/termscondition">Terms &amp; Conditions</a></li> -->
                <li><a href="/privacy">Privacy Policy</a></li>
                <!-- <li><a href="javascript:;">My account</a></li>  -->               

              </ul>
            </div>
            <div class="col-sm-3 col-md-3">
              <h5>Contact Us</h5>
              <p>
               Quippo Valuers &amp; Auctioneers Pvt Ltd <br>
                D-2 , 5th Floor , Southern Park
                Saket Place , Saket
                New Delhi - 110017
              </p>
              
            </div>
            <div class="col-sm-3 col-md-3">
              <h5>Connect with us</h5>
              <ul class="footer-icon">
                <li><a href="javascript:void(0);" ><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/iquippo" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/iquippo" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
            <div class="col-sm-3 col-md-4">
              <h5>Subscribe</h5>
              <form class="form" name="form" novalidate>
                <div class="form-group row">
                  <div class="col-xs-10" ng-class="{'has-error': form.email.$invalid && form.submitted }">
                    <input type="email" class="form-control" name="email" ng-model="subscribe.email" placeholder="Enter email" required>
                  </div>
                  
                  <div class="col-xs-2 padd-left">
                    <button class="btn btn-primary btn-block subscribe" ng-click="createSubscribe(subscribe)">Go</button>
                  </div>
                </div>                
              </form>
            </div>
          </div>
          <div class="form-group"></div>
        </div>
        <div class="foot-bottom">
          <div class="text-center">
            <div class="copy">Copyrights © 2016. All Rights Reserved. - iQuippo</div>
          </div>
                    <!-- BEGIN JIVOSITE CODE {literal} -->
          <!--<script type='text/javascript'>
          (function(){ var widget_id = 'sUW9ujniHZ';
          var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>-->
          <!-- {/literal} END JIVOSITE CODE -->
           <!-- BEGIN JIVOSITE CODE {literal} -->
          <!--script type='text/javascript'>
          (function(){ var widget_id = 'Oo5CDKSmVT';
          var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 
          '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; 
          ss.parentNode.insertBefore(s, ss);})();</script -->
          <!-- {/literal} END JIVOSITE CODE -->

          <!-- BEGIN JIVOSITE CODE {literal} -->
            <script type='text/javascript'>
              (function(){ var widget_id = '1Vmz683Pjd';
              var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
            <!-- {/literal} END JIVOSITE CODE -->
  </div>           

</div>
<!-- <div id="back-top" style="display: block;">
  <a href="#top" class="btn btn-info page-scroll"><i class=" fa fa-chevron-up"></i></a>
</div> -->
    