<div ng-controller="FooterCtrl">
 <section class="category-block">
  <div class="foot">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="footer-logos">
            <ul class="form-group">
              <li><a href="javascript:void(0);"><img src="/assets/images/srei-logo-img.png"></a></li>
              <!-- <li><a href="javascript:void(0);"><img src="/assets/images/iquippo-market.png"></a></li> -->
            </ul>
            <div class="copy">© 2017 iQuippo, All Rights Reserved.</div>
          </div>
        </div>        
        <div class="col-sm-9">
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 form-group">
              <h4>About Us</h4>
              <ul class="nav">
                <li><a href="/aboutus">About Us</a></li>  
              </ul>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 form-group">
              <h4>Help</h4>
              <ul class="nav">
                <li><a href="/contactus">Contact Us</a></li>  
              </ul>
            </div>  
            <div class="col-xs-4 col-sm-4 col-md-4 form-group">
              <h4>Our Policies</h4>
              <ul class="nav">
                <li><a href="/privacy">Privacy Policy</a></li> 
              </ul>
            </div>        
            <div class="col-xs-12">
              <h4>Follow us on:</h4>
              <ul class="footer-icon">
                <li><a href="https://www.facebook.com/iquippo/" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/iquippo" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/iquippo" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>        
      </div>
        <div class="form-group"></div>
      </div>         
  </div>
</section>
<section>
  <div class="container text-justify">
    <div class="heading-titles text-center">
      <h4>[ ABOUT <span>iQUIPPO</span> ]</h4>
    </div>
    <p>
      iQuippo is India’s first and largest digital marketplace for construction equipment, machinery, commercial vehicles and services. Our platform allows buyers and sellers to interact, negotiate and close transactions in a timely, transparent and cost-effective manner. 
    </p>
    <p>
      iQuippo is the preferred mode of transacting for stakeholders across the industry including infrastructure and real estate companies, contractors, financial institutions, rental agencies, brokers as well as individual .
    </p>
    </p>
  </div>
</section>
<!-- <section>
  <div class="container">
    <div class="heading-titles text-center">
      <h4>[ PRINT MEDIA ]</h4>
    </div>
    <div class="medianame">
     <ul>
        <li data-ng-repeat="nwEvt in newsEvents"><a href="javascript:void(0);" data-ng-click="openPrintMedia(nwEvt.image)"> {{nwEvt.name}} </a></li>
      
      </ul>
     </div>
  </div>
</section> -->
</div>

<script type="text/ng-template" id="printmedia.html">
  <div>
    <div class="modal-header">
    <button type="button" class="close"  data-ng-click="close()" aria-hidden="true"><i class="fa fa-times"></i></button>
    </div>
    <div class="modal-body text-center">
       <img data-ng-src="{{url}}" width="100%">
    </div>
     <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-ng-click="close()">Close</button>
      </div>
  </div>
</script>
<!-- <div id="back-top" style="display: block;">
  <a href="#top" class="btn btn-info page-scroll"><i class=" fa fa-chevron-up"></i></a>
</div> -->
    