<div class="container">
    <div class="col-sm-7 text-justify">
      <h3>Manpower</h3>
      <legend></legend>

      <div class="form-group">
        <h5>Trusted Services, One Portal</h5>

        <ul>
          <li>
            Operators are essential to run equipment both effectively and efficiently. This portal would help you find the best and trained operators for your assets. 
          </li>  
          <li>
            Furthermore, the portal offers this as a service in and with its Wet Lease products. This section of the websites - provides the following services:
          </li> 
        </ul>

        <p>
          <strong>Operators</strong>: Enroll themselves -> Get listed -> Viewed 
          Serves as a specialised job portal

        </p>
        <p>
          <strong>Operator Training Institutes and Manufacturers</strong>: Collaboration with us on iQuippo.
        </p>

        <p>
          This hand-on-service from getting operators to get the machines running to search a job and also to get trained in it is unique to the iQuippo platform.
        </p>
      </div>
      <h4>Search Manpower</h4>
      <legend></legend>
      <div class="form-group row search-manpower">
        <div class="col-sm-3">
        <!-- <select class="form-control" name="location" ng-model="manpowerVm.manpowerFilter.locationText" ng-change="manpowerVm.doSearch()">
            <option value="">Select Location</option>
            <option ng-repeat="location in locationList" value="{{location.name}}">{{location.name}}</option>
          </select>
          <i class="caret"></i> -->
          <input type="text" class="form-control" ng-model="manpowerVm.manpowerFilter.locationText" placeholder="Enter Location/State" uib-typeahead="address for address in manpowerVm.getLocationHelp($viewValue)" ng-keypress="manpowerVm.myFunct($event)" typeahead-focus-first = "false" typeahead-wait-ms="200"/>
        </div>
        <div class="col-sm-3 padd-left">
          <!-- <div class="search-equip">
          <i class="fa fa-search"></i>
           </div> -->
          <input type="text" class="form-control" placeholder="Enter Equipment/Assets" ng-model="manpowerVm.manpowerFilter.equipmentSearchText" uib-typeahead="address for address in manpowerVm.getEquipmentHelp($viewValue)" ng-keypress="manpowerVm.myFunct($event)" typeahead-focus-first = "false" typeahead-wait-ms="200">
         
        </div>
        <div class="col-sm-3 padd-left">
          <!-- <div class="search-equip">
          <i class="fa fa-search"></i>
           </div> -->
          <input type="text" class="form-control" placeholder="Enter Experience" ng-model="manpowerVm.manpowerFilter.equipmentSearchText" uib-typeahead="address for address in manpowerVm.getEquipmentHelp($viewValue)" ng-keypress="manpowerVm.myFunct($event)" typeahead-focus-first = "false" typeahead-wait-ms="200">
         
        </div>
        <div class="col-sm-3 padd-left">
        <button type="button" class="btn btn-warning btn-block" ng-click="manpowerVm.doSearch()">
         <i class="fa fa-search"></i> Search</button>
        </div>
      </div>


      <h4>Manpowers List
        <small> <a href="javascript:void(0);" class="pull-right" ng-click="manpowerVm.viewAllUser()">View All</a></small>
      </h4>
      <legend></legend>
      <div class="row manpower-lists">
        <div class="col-sm-3 text-center" ng-repeat="manpowerUser in allManpowerUserList | limitTo:4">
          <a href="javascript:void(0);">
            <img ng-src="{{uploadImagePrefix}}{{avatarDir}}/{{manpowerUser.user.imgsrc}}" ng-if="manpowerUser.user.imgsrc" class="img-responsive form-group">
            <img ng-src="assets/images/profile.png" ng-if="!manpowerUser.user.imgsrc" class="img-responsive form-group">
          </a>
          <p>{{manpowerUser.user.fname}} {{manpowerUser.user.lname}}</p>
          <p>{{manpowerUser.user.city}}</p>
        </div>
        <div class="row manpower-lists" ng-if="noUserExist">
          <h4 class="text-center">No data found.</h4>
        </div>
      </div>

      <!-- <div class="serve text-center">
          <a class="btn btn-block btn-md btn-warning quote-btn" ng-click="openDialog('shippingquote')">Request a Quote</a>
      </div> -->
    </div>
    <div class="col-sm-5 padd-right manpower-register" ng-if="!isLoggedIn()">
      <div class="form-group"></div>
      <uib-tabset justified="true">
        <uib-tab heading="Register">
          <div class="panel panel-default">
            <div class="panel-body">
              <form class="form" novalidate name="form">
                  <div class="row">
                   <div class="col-xs-6">
                    <div class="profilePic-button">
                    <img class="media-object img-rounded" ng-if="manpowerVm.manpower.imgsrc" ng-src="{{uploadImagePrefix}}{{avatarDir}}/{{manpowerVm.manpower.imgsrc}}" alt="Image">
                      <img class="media-object img-rounded" ng-if="!manpowerVm.manpower.imgsrc" src="assets/images/profile.png" class="form-group">
                      <span class="btn btn-default fileinput-button">
                       <input type="file" name="file" onchange="angular.element(this).scope().updateAvatar(this.files,this)"  class="ng-scope" accept="image/*">
                        <span><i class="fa fa-camera"></i> Upload Picture</span>
                      </span>
                    </div>
                  </div>
                    <div class="col-xs-6">
                      <div class="form-group" ng-class="{'has-error': form.fname && submitted }">                          
                        <input type="text" name="fname" class="form-control" placeholder="* First Name" ng-model="manpowerVm.manpower.fname" required>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="form-group">                                      
                        <input type="text" name="mname" class="form-control" placeholder="Middle Name" ng-model="manpowerVm.manpower.mname">
                      </div>
                    </div>
                   <div class="col-xs-6">
                      <div class="form-group" ng-class="{'has-error': form.lname && submitted }">                          
                        <input type="text" name="lname" class="form-control" placeholder="* Last Name" ng-model="manpowerVm.manpower.lname" required>
                      </div>
                    </div>
                  </div>  
              
                  <div class="form-group">
                  <!-- <div class="row">
                    <div class="col-xs-6">
                      <div class="form-group" ng-class="{'has-error': form.fname && submitted }">                          
                        <input type="text" name="fname" class="form-control" placeholder="* First Name" ng-model="manpowerVm.manpower.fname" required>
                      </div>
                    </div>
                    <div class="col-xs-6">
                      <div class="form-group">                                      
                        <input type="text" name="mname" class="form-control" placeholder="Middle Name" ng-model="manpowerVm.manpower.mname">
                      </div>
                    </div>
                  </div>   -->
                  <div class="row">
                    <!-- <div class="col-xs-6">
                      <div class="form-group" ng-class="{'has-error': form.lname && submitted }">                          
                        <input type="text" name="lname" class="form-control" placeholder="* Last Name" ng-model="manpowerVm.manpower.lname" required>
                      </div>
                    </div> -->
                    <div class="col-xs-6">
                      <div class="form-group">                              
                      <input type="email" name="email" class="form-control" placeholder="Email Address" ng-model="manpowerVm.manpower.email" >
                      <!-- <p class="help-block" ng-show="(form.email.$error.email || form.email.$error.pattern) && submitted">
                      Please enter a valid email.
                      </p> -->
                      </div>
                    </div>
                     <div class="col-xs-6">
                      <div class="form-group" ng-class="{'has-error': form.mobile && submitted }"> 
                       <input type="text" name="mobile" class="form-control" placeholder="* Mobile No." ng-model="manpowerVm.manpower.mobile" uib-tooltip="+91-98-XXXX-XXXX" tooltip-trigger="focus" tooltip-placement="top" required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                   
                    <div class="col-xs-6">
                      <div class="form-group" ng-class="{'has-error': form.password && submitted }">
                        <input type="password" name="password" class="form-control" placeholder="Password*" ng-model="manpowerVm.manpower.password" ng-minlength="4">
                      </div>
                      <p class="help-block"
                       ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                      Password must be at least 4 characters.
                    </p>
                    </div>
                    <div class="col-xs-6">
                      <div class="form-group">                          
                        <input type="text" name="" class="form-control" placeholder="Nature of Work" ng-model="manpowerVm.manpower.work">
                      </div>
                    </div>
                  </div>      
                  

                  <div class="row">
                    <div class="col-xs-6 form-group" ng-class="{'has-error': form.location && submitted }">
                        <select class="form-control" name="location" ng-model="manpowerVm.manpower.city" ng-change="manpowerVm.onLocationChange(manpowerVm.manpower.city)" required>
                          <option value="" >*Current Location</option>
                          <option ng-repeat="location in locationList" value="{{location.name}}">{{location.name}}</option>
                        </select>
                        <i class="caret"></i>
                    </div>
                    <div class="col-xs-6">
                      <div class="form-group">                          
                        <input type="text" name="" class="form-control" placeholder="Fees &amp; Charges" ng-model="manpowerVm.manpower.fees">
                      </div>
                    </div>  
                  </div>
                  <div class="row">
                    <div class="col-xs-6 form-group" ng-class="{'has-error': form.location && submitted }">
                        <select class="form-control" name="location" ng-model="manpowerVm.manpower.city" ng-change="manpowerVm.onLocationChange(manpowerVm.manpower.city)" required>
                          <option value="" >Experience</option>
                          <option ng-repeat="location in locationList" value="{{location.name}}">{{location.name}}</option>
                        </select>
                        <i class="caret"></i>
                    </div>
                    <div class="col-xs-6">
                      <div class="form-group">                          
                        <input type="text" name="" class="form-control" placeholder="Certificates">
                      </div>
                    </div>  
                  </div>
                                   
                  <div class="row">
                    <div class="col-xs-6">
                      <!-- <div class="form-group"> --> 
                      <label>Available from</label>
                      <div class="input-group form-group">
                      <input type="text" class="form-control" ng-model="manpowerVm.manpower.availableFrom" uib-datepicker-popup="{{format}}" name="availableFrom" ng-value="" is-open="popup1.opened" min-date="minDate" datepicker-options="datepickerOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" placeholder="dd/mm/yyyy" />
                      <span class="input-group-addon">
                        <a href class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar-o fa-2x"></i></a>
                      </span>
                    </div>  

                        <!-- <input type="text" name="" class="form-control" placeholder="Available" ng-model="manpowerVm.manpower.availableFrom"> -->
                      <!-- </div> -->
                      <div class="form-group">
                        <span class="btn btn-default fileinput-button">
                         <input type="file" name="doc" data-filetype="doc" onchange="angular.element(this).scope().uploadDoc(this.files,this)"  class="ng-scope" accept=".doc, .docx, .pdf">
                         <!-- <input type="file" name="doc"  data-filetype="doc" file-upload> -->
                          <span><i class="fa fa-upload"></i> Upload Resume</span>
                          
                        </span>
                        <span>{{manpowerVm.manpower.resumeDoc}}</span>
                      </div>
                    </div>
                    <div class="col-xs-6 form-group" ng-class="{'has-error': form.selectedAssets && submitted }">
                        <!-- <select class="form-control" name="location" ng-model="manpowerVm.manpower.city">
                          <option value="">Assets Operated</option>
                            <option ng-repeat="location in locationList" value="{{location.name}}">{{location.name}}</option>
                        </select>
                        <i class="caret"></i> -->
                        <label>Select the equipment:</label>
                        <select class=" form-control" name="selectedAssets" ng-model="manpowerVm.selectedAssets" ng-change="manpowerVm.onChangedValue(manpowerVm.selectedAssets)" ng-multiple="true" multiple>
                          <option ng-repeat="assets in assetsList"  value="{{assets}}" ng-selected="{{manpowerVm.selectedAssets.indexOf(assets.toString())!=-1}}">{{assets}}</option>
                        </select>
                    </div>
                  </div> 
                              
                </div>

                <div class="modal-footer">
                  <button type="reset" ng-click="manpowerVm.resetClick()" class="btn btn-default">Reset</button>
                  <button type="button" ng-click="manpowerVm.register(form)" class="btn btn-warning">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </uib-tab>
        <uib-tab heading="Login">
          <div class="panel panel-default">
            <div class="panel-body">
              <form class="form-signin" name="signInForm" novalidate>
                <div class="row">
                  <div class="col-sm-offset-2 col-sm-8">
                    <div class="form-group">
                      <input class="form-control" type="text" name="userId" ng-model="loginObj.userId" placeholder="Mobile Number or Email Address" required>
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="password" name="password" ng-model="loginObj.password" placeholder="Password" required>
                    </div>
                    <div class="form-group has-error">
                      <p class="help-block" ng-show="signInForm.userId.$error.required && signInForm.password.$error.required && submitted">
                         Please enter your user id and password.
                      </p>
                      <p class="help-block" ng-show="signInForm.userId.$error.required && !signInForm.password.$error.required && submitted">
                         Please enter a valid user id.
                      </p>

                      <p class="help-block">{{ errors.other }}</p>
                    </div>
                    <div class="form-group">
                      <input class="btn btn-warning btn-block" type="button" value="Login" ng-click="manpowerVm.login(signInForm)">
                    </div>
                    <div class="form-group text-center">
                      <a href="javascript:void(0);" ng-click="manpowerVm.forgotPassword()">Forgot Password?</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
</div>

<script type="text/ng-template" id="viewAllUserProfile.html">
  <div>
       <div class="modal-header">
          <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
          <h4 class="modal-title">View All Candidates</h4>
        </div>
        <div class="modal-body">
          <div class="">
            <div class="row">
              <div class="col-sm-3 form-group" ng-repeat="manpower in allUsers">
                <a href="javascript:void(0);">
                    <img ng-src="{{uploadImagePrefix}}{{avatarDir}}/{{manpower.user.imgsrc}}" ng-if="manpower.user.imgsrc" class="img-responsive form-group">
                    <img ng-src="assets/images/profile.png" ng-if="!manpower.user.imgsrc" class="img-responsive form-group">
                  </a>
                  <p>{{manpower.user.fname}} {{manpower.user.lname}}</p>
                  <p>{{manpower.user.city}}</p>

              </div>
            </div>
          </div>
        </div>

  </div>
</script>