$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

@import '../bower_components/DataTables/media/css/jquery.datatables.min.css';
@import '../bower_components/Hover/css/hover-min.css';
@import '../bower_components/angularjs-datetime-picker/angularjs-datetime-picker.css';



/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/forgotpassword/forgotpassword.scss';
@import 'account/login/login.scss';
@import 'main/main.scss';
@import 'modal/modal.scss';
// endinjector
