<head>
  <meta charset="utf-8" content="width=divice-width, initial-screen=1"/>
</head>
<body>
  <table style="width:90%; margin:0 auto; padding:15px; /* [disabled]font-family:Verdana, Geneva, sans-serif; */ border: 5px solid rgba(128, 128, 128, 0.28);">
    <tr>
      <td style="height:70px;padding-bottom:20px;" valign="top"><img src="{{awsBaseImagePath}}/assets/images/srei-logo-img.png"></td>
    </tr>
    <tr>
      <td style="color: #333; padding-bottom: 15px;">Dear <strong>{{userName}}</strong>,</td>
    </tr>
    <tr>
      <td style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:14px; padding-bottom:10px;">
       Thank you for registering for the auction <strong>{{auctionName}}</strong>. The links to download the Registration Form and the Bidder Undertaking form are specified below. 
       <p>Please carry a print of both the forms at the auction venue. The auction details are specified below -</p>        
      </td>
    </tr>
    
    <tr>
      <td>Auction: <strong>{{auctionName}}</strong></td>      
    </tr>
    <tr>
      <td>Date: <strong>{{auctionDate}}</strong></td>      
    </tr>
    <tr>
      <td style="padding-bottom: 20px;">Location: <strong>{{auctionLocation}}</strong></td>      
    </tr>
    <tr>
      <td>
        Download Registration Form: <a href="{{awsBaseImagePath}}/assets/uploads/auction/{{registrationKit}}" target="_blank">Registration Form</a>
      </td>
    </tr>
    <tr>
      <td>
        Download Bidder Undertaking Form: <a href="{{awsBaseImagePath}}/assets/uploads/auction/{{undertakingKit}}" target="_blank">Bidder Undertaking Form</a>
      </td>
    </tr>
    <tr>
      <td colspan="3" style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:14px; padding-top:10px; padding-bottom:10px;">
        
        Please feel free to email us at <a href="javascript:void(0);">info@iquippo.com</a> for any other queries or support.
      </td>
    </tr>
    <tr>
      <td style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:14px;">
        Best Wishes,
        
        
      </td>
    </tr>
    <tr>
      <td style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:14px; padding-bottom:10px;">
        
        <b>iQuippo Team</b>
        
      </td>
    </tr>
  </table>
</body>