<head>
  <meta charset="utf-8" content="width=divice-width, initial-screen=1"/>
</head>
<body>
    <table style="width:70%; margin:0 auto;padding:20px; font-family:Verdana, Geneva, sans-serif;border: 5px solid rgba(128, 128, 128, 0.28);">
    	<tr>
    		<td valign="top"><img src="{{serverPath}}/assets/images/srei-logo-img.png"></td>
    	</tr>
        
        <tr>
            <td style="color:#01395c;color:#01395c; font-size:14px;font-weight:bold;padding-top: 16px;padding-bottom: 15px;">
    			Your Spare Upload Request has been processed succesfully;
            </td>
        </tr>
        {{#each spareUploaded}}
        <tr>
            Part No.:{{this}}
        </tr>
        {{/each}}  
    <tr>
        
            <td style="color:#01395c; font-size:13px;padding-top: 15px;">
                 Regards, iQuippo Support Team
            </td>
    </tr>                  
     </table>
    </body>

