<table style="width:80%; margin:0 auto;padding:20px; font-family:Verdana, Geneva, sans-serif;border: 5px solid rgba(128, 128, 128, 0.28);">
    <tr>
        <td valign="top"><img src="{{serverPath}}/assets/images/srei-logo-img.png"></td>
    </tr>
    <tr>
        <td style="color:#FF4342;"><h3>Hello Support Team,</h3></td>
    </tr>
    <tr>
        <td style="color:#01395c;font-size:12px; padding-bottom:10px;" align="center">
            <p><strong>This is to notify you that a prospective buyer has shown interest in</strong></p>
            <table style="border:3px solid #ccc;" border="0" cellspacing="0" cellpadding="0" width="80%" bgcolor="#ffffff">
                <tr>
                    <td>
                        <img width="200" height="165" src="{{serverPath}}/assets/images/loader.png">
                    </td>
                    <td>
                        <table border="0" cellspacing="1" cellpadding="1" style="font-size:13px;line-height:20px;color:#333333; text-align: left; margin: 5px 0;">
                            <tr>
                                <td><strong>{{product.name}}</strong></td>
                            </tr>
                            <tr>
                                <td><b>Brand:</b> {{product.brand.name}}</td>
                            </tr>
                            <tr>
                                <td><b>Model :</b> {{product.model.name}}</td>
                            </tr>
                            <tr>
                                <td><b>Category:</b>{{product.category.name}}</td>
                            </tr>
                            <tr>
                                <td><b>Asset ID :</b>{{product.assetId}}</td>
                            </tr>
                        </table>
                        <p style="padding:8px; font-weight: bold; background:#ccc; text-align: center; margin: 5px 15px 5px 0;">
                            <a href="{{serverPath}}/productdetail/{{product._id}}" style="font-size:14px; color: #004394" > Click to View </a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        
        <td>
            <table style="width:95%;color:#01395c; font-size:12px; margin:0 auto; text-align:left; ">
                <tr>
                    <td>
                        <strong>Name:</strong>
                    </td>
                    <td>
                        {{user.fname}}  {{user.mname}} {{user.lname}}
                    </td>                    
                                 
                    <td>
                        <strong>Country:</strong>
                    </td>
                    <td >
                        {{user.country}}
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <strong>City:</strong>
                    </td>
                    <td>
                        {{user.city}}
                    </td>
                    
                    {{#if user.companyname}}
                    <td>
                        <strong>Company name:</strong>
                    </td>
                    <td>
                        {{user.companyname}}
                    </td>
                    {{/if}}
                </tr>
                
                <tr>
                {{#if user.designation}}
                    <td>
                        <strong>Designation:</strong>
                    </td>
                    <td>
                        {{user.designation}}
                    </td>
                    {{/if}}
                    {{#if user.phone}}
                    <td>
                        <strong>Phone no:</strong>
                    </td>
                    <td>
                        {{user.phone}}
                    </td>
                    {{/if}}
                </tr>
                
                <tr>
                    <td>
                        <strong>Mobile no:</strong>
                        
                    </td>
                    <td>
                        {{user.mobile}}
                        
                    </td>
                    
                    <td>
                        <strong>Email ID:</strong>
                        
                    </td>
                    <td>
                        {{user.email}}
                        
                    </td>
                </tr>
                {{#if reqFinance}}
                <tr>
                
                    <td>
                        <strong>Amount to be Financed :</strong>
                        
                    </td>
                    <td>
                        {{reqFinance.financeInfo.assetCost}}
                        
                    </td>
                    
                    <td>
                        <strong>Indicative Rate :</strong>
                        
                    </td>
                    <td>
                        {{reqFinance.financeInfo.financeAmount}}
                        
                    </td>
                </tr>
                 <tr>
                    <td>
                        <strong>Tenure in Months :</strong>
                        
                    </td>
                    <td>
                        {{reqFinance.financeInfo.periodInMonths}}
                        
                    </td>
                    
                    <td>
                        <strong>Financing Company :</strong>
                        
                    </td>
                    <td>
                        {{reqFinance.financeInfo.finAgency}}
                        
                    </td>
                </tr>
                <tr>
                    <td><strong>Comments</strong></td>
                    <td>{{reqFinance.message}}</td>
                </tr>
                {{/if}}
                
            </table>
        </td>
    </tr>
    
</table>