<head>
  <meta charset="utf-8" content="width=divice-width, initial-screen=1"/>
</head>
<body>
<table style="width:70%; margin:0 auto;padding:20px; font-family:Verdana, Geneva, sans-serif;border: 5px solid rgba(128, 128, 128, 0.28);">
    <tr>
        <td style="height:70px;" valign="top"><img src="{{awsBaseImagePath}}/assets/images/srei-logo-img.png"></td>
    </tr>
    <tr>
        <td style="font-size:20px; color:#FF4342; padding-bottom:20px;">Hello Support team,</td>    
    </tr>
    <tr>
        <td style="color:#01395c;color:#01395c; font-size:13px; padding-bottom:10px;">
         This is to notify you that a prospective customer has shown interest in a quote with the following details:
    
        </td>
    </tr>
<tr>
    
        <td style="color:#01395c; font-size:13px; padding-bottom:10px;">
        <table style="width:95%; font-family:Verdana, Geneva, sans-serif;color:#01395c; font-size:12px; margin:0 auto; text-align:left; ">
                <tr>
                    <td width="30%">
                        First name:
                    </td>
                    <td width="25%">
                     {{fname}}
                    </td>
                    <td width="25%">
                        Middle name:
                    </td>
                    <td width="25%">
                        {{mname}}
                    </td>
                </tr>
  
            <tr>
                <td >
                    Last name:
                </td>
                <td >
                    {{lname}}
                 </td>
                 <td>
                    Country:
                 </td>
                <td >
                {{country}}
                </td>
            </tr>
 
            <tr>
                <td >
                    City:
                </td>
                <td>
                    {{city}}
                </td>

                <td>
                    Company name:
                 </td>
                <td>
                    {{companyname}}
                </td>
            </tr>
  
                <tr>
                    <td>
                        Designation:
                     </td>
                    <td>
                        {{designation}}
                     </td>
   
                    <td>
                        Phone no:
                     </td>
                     <td>
                        {{phone}}
                    </td>
               </tr>
  
                <tr>
                    <td>
                        Mobile no:
                        
                    </td>
                    <td>
                        {{mobile}}
                        
                    </td>
                    
                    <td>
                    Email ID: 
                        
                    </td>
                    <td>
                    {{email}}
                        
                    </td>
                </tr>
                <tr>
                        <td ></td><td ></td>
                        <td >Method Of Contact</td><td >{{contactMethod}}</td>
                        <td ></td><td ></td>
                   </tr>
                <tr>
                        <td>
                            
                       Comments:
                            
                        </td>
                
                        <td>
                         {{comment}}
                         </td>
                        <td></td>
                         <td></td>
                   </tr> 
                   <tr>
                        <td >Amount To Be Financed:</td><td >{{amountToBeFinanced}}</td>
                        <td >Indicative Rate</td><td >{{indicativeRate}}</td>
                   </tr>
                   <tr>
                        <td >Tenure (in Months):</td><td >{{periodInMonths}}</td>
                        <td ></td><td ></td>
                   </tr> 
                   <tr>
                        <td colspan="4"><b>Product deatil</b></td>
                   </tr>

                   <tr>
                        <td >Category:</td><td >{{product.category}}</td>
                        <td >Brand</td><td >{{product.brand}}</td>
                   </tr>
                   <tr>
                        <td >Model:</td><td >{{product.model}}</td>
                        <td >Manufacturing Year</td><td >{{product.mfgYear}}</td>
                   </tr>
                   <tr>
                        <td >Asset Location</td><td >{{product.city}}</td>
                        <td >Description:</td><td >{{product.descripton}}</td>
                   </tr>   
                   </table>
                   </td>
                   </tr>     
 </table>
</body>