<head>
  <meta charset="utf-8" content="width=divice-width, initial-screen=1"/>
</head>
<body>
  <table style="width:80%; margin:0 auto; padding:15px; /* [disabled]font-family:Verdana, Geneva, sans-serif; */ border: 5px solid rgba(128, 128, 128, 0.28);">
    <tr>
      <td style="height:70px;padding-bottom:20px;" valign="top"><img src="{{awsBaseImagePath}}/assets/images/srei-logo-img.png"></td>
    </tr>
    <tr>
      <td style="font-size:20px; color:#FF4342; padding-bottom:20px; font-family:Verdana, Geneva, sans-serif;">Dear User, </td>
    </tr>
    <tr>
      <td colspan="3" style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:14px; padding-bottom:10px;">
        There are new items matching your saved search:
        
      </td>
    </tr>
    <tr>
      <td colspan="3" align="center"  style="font-size: 16px;padding:5px;color:#fff;font-family:Verdana, Geneva, sans-serif;background: #104295;">Saved Searches</td>
    </tr>
    {{#if productLists}}
    {{#each productLists}}
    <tr>
      
      <td style=" padding-top: 10px;padding-bottom: 10px;">
        <table align="center" style="background:#fff;border-radius:4px;border: 1px solid #ccc; font-family:Verdana, Geneva, sans-serif;width:76%;">
          <tbody>
            <tr>
              <tr>
                <td>
                  <a style="display:block" href="{{../serverPath}}/productdetail/{{_id}}" target="_blank">
                    <img width="200" src="{{../awsBaseImagePath}}/assets/uploads/{{assetDir}}/{{primaryImg}}">
                  </a>
                </td>
                 <td>
        <table align="center">
          <tbody>
            <tr>
            
              
              <tr>
                <td align="left" style="font-size:14px;line-height:22px;color:#104295;font-weight:bold;  font-family:Verdana, Geneva, sans-serif;">{{name}} <br>
                  
                </td>
              </tr>
              <tr>
                <td align="left" style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif;"><b>Product Brand :</b> {{brand.name}}</td>
              </tr>
              <tr>
                <td align="left" style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif;"><b>Location</b> {{city}}</td>
              </tr>
              <tr>
                <td align="left" style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif;padding-bottom: 10px;"><b>Model No :</b>{{model.name}}</td>
              </tr>
             
            </tr>
          </tbody>
        </table>
      </td>
               
            </tr>
          </tbody>
        </table>
      </td>
      
    </tr>
    {{/each}}
    {{/if}}  
 
    <tr>
      <td style="font-size:13px;line-height:22px;color:#01395c; font-weight:bold;font-family:Verdana, Geneva, sans-serif;" >
        Best Wishes,
      </td>
    </tr>
    <tr>
      <td style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:13px; padding-bottom:10px;">
        
        <b>iQuippo Team</b>
        
      </td>
    </tr>
  </table>
</body>