<head>
  <meta charset="utf-8" content="width=divice-width, initial-screen=1"/>
</head>
<body>
<table style="width:55%; margin:0 auto;padding:15px; font-family:Verdana, Geneva, sans-serif;border: 5px solid rgba(128, 128, 128, 0.28);">
  <tr>
    <td style="height:70px;padding-bottom:20px;" valign="top"><img src="{{serverPath}}/assets/images/srei-logo-img.png"></td>
  </tr>
    <tr>
    <td style="font-size:20px; color:#FF4342; padding-bottom:20px;">Dear User,</td>  
  </tr>
    <tr>
        <td style="color:#01395c;color:#01395c; font-size:13px; padding-bottom:10px;">
     We have received your request for equipment on 5/3/2016 matching the following criteria:
  
        </td>
</tr>
<tr>
<td style="color:#01395c; font-size:13px; padding-bottom:10px;">
            <table style="width:95%; font-family:Verdana, Geneva, sans-serif;color:#01395c; font-size:12px; margin:0 auto; text-align:left; ">
                <tr>
                    <td width="10%">
                        <b>Category:</b>
                    </td>
                    <td width="10%">
                       {{category}}
                    </td>
                    <td width="10%">
                        <b>Sub-Category:</b>
                    </td>
                    <td width="25%">
                      {{subcategory}}
                    </td>
                </tr>
                
                <tr>
                    <td >
                       <b>Brand:</b>
                    </td>
                    <td >
                        {{brand}}
                    </td>
                    <td>
                     <b> Model</b>
                    </td>
                    <td >
                       {{model}}
                    </td>
                </tr>
                
                <tr>
                    <td >
                        <b>Expected Price:</b>
                    </td>
                    <td>
                        {{expPrice}}
                    </td>
                    <td>
                        <b>Location:</b>
                    </td>
                    <td>
                        {{city}}
                    </td>
                </tr>
                
                <tr>
                    <td>
                     <b>Comments(If any):</b> 
                    </td>
                    <td>
                        {{comment}}
                    </td>
                    
                   
                </tr>
                
               
                
    
</table>
</td>
</tr>
    <tr>
        <td style="color:#01395c;color:#01395c; font-size:13px; padding-bottom:10px;">
       We will notify you when stocks arrive and as and when there are equipment that match your rquest.
      
        </td>
    </tr> 
    <tr>
        <td style="color:#01395c;color:#01395c; font-size:13px; padding-bottom:10px;">
       Please feel free to get in touch with us on {{supportContact}}
      
        </td>
    </tr> 

<tr>
        <td style="color:#01395c;color:#01395c; font-size:13px;">
        Best Wishes, 
       
      
        </td>
   </tr>
   <tr>
        <td style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:13px; padding-bottom:10px;">
        
        <b>iQuippo Team</b>
      
        </td>
    </tr>   
  
   </table>
</body>
