<head>
  <meta charset="utf-8" content="width=divice-width, initial-screen=1"/>
</head>
<body>
<table style="width:95%; margin:0 auto;padding:15px; font-family:Verdana, Geneva, sans-serif;border: 5px solid rgba(128, 128, 128, 0.28);">
	<tr>
		<td style="height:70px;" valign="top"><img src="{{serverPath}}/assets/images/srei-logo-img.png"></td>
	</tr>
    <tr>
		<td style="font-size:20px; color:#FF4342; padding-bottom:20px;">Hello Support Team,</td>	
	</tr>
    <tr>
        <td style="color:#01395c; font-size:13px; padding-bottom:10px;">
         This is to notify you that a prospective buyer has requested for a quote with the following details:
	
        </td>
    </tr>

<tr>
	
        <td style="color:#01395c; font-size:13px; padding-bottom:10px;">
		<table style="width:105%; font-family:Verdana, Geneva, sans-serif;color:#01395c; font-size:12px; margin:0 auto; text-align:left; ">
				<tr>
					<td width="10%">
      					First name:
				 	</td>
					<td width="25%">
      				 {{fname}}
				 	</td>
					<td width="10%">
                       Last Name:
                    </td>
                    <td width="25%">
                    	{{lname}}
                    </td>
	            </tr>
  
       		<tr>
        		<td >
     				Mobile no:
        		</td>
     			<td>
     					{{mobile}}
       			 </td>
       			 <td>
     				Email-id:
       			 </td>
      			<td >
     			{{email}}
        		</td>
			</tr>
 
        	<tr>
        		<td >
     				Group:
        		</td>
				<td>
     				{{group}}
        		</td>

        		<td>
     				Category:
     			 </td>
    			<td>
     				{{category}}
        		</td>
 			</tr>
  
        		<tr>
       			 	<td>
     					Brand:
       				 </td>
   					<td>
     						{{brand}}
       				 </td>
   
        			<td>
     					Model no:
       				 </td>
       				 <td>
     	 				{{model}}
        			</td>
			   </tr>
  
        		<tr>
                    <td >
                       Meassage:
                        
                    </td>
               		<td colspan="3">
                      {{comment}}
                        
                    </td>
                    
                    
                </tr>
 
                
                    </table>
                </td>
                  </tr>
      
 </table>
 </body>
