<table style="width:95%; margin:0 auto;padding:15px; font-family:Verdana, Geneva, sans-serif;border: 5px solid rgba(128, 128, 128, 0.28);">
	<tr>
		<td style="height:70px;" valign="top"><img src="{{awsBaseImagePath}}/assets/images/srei-logo-img.png"></td>
	</tr>
    <tr>
		<td style="font-size:20px; color:#FF4342; padding-bottom:20px;">Hello Support Team,</td>	
	</tr>
    <tr>
        <td style="color:#01395c; font-size:13px; padding-bottom:10px;">
         This is to notify you that a prospective buyer has shown interest in a quote for additional services for <b>{{product.productId}} {{product.name}}</b> with the following details: 
	
        </td>
    </tr>


<tr>
  
        <td style="color:#01395c; font-size:13px; padding-bottom:10px;">
    <table style="width:95%; font-family:Verdana, Geneva, sans-serif;color:#01395c; font-size:12px; margin:0 auto; text-align:left; ">
        <tr>
          <td width="30%">
                First name:
          </td>
          <td width="25%">
               {{user.fname}}
          </td>
          {{#if user.mname}}
          <td width="25%">
                        Middle name:
                    </td>
                    <td width="25%">
                      {{user.mname}}
                    </td>
                    {{/if}}
              </tr>
  
          <tr>
            <td >
            Last name:
            </td>
          <td >
            {{user.lname}}
             </td>
             <td>
            Country:
             </td>
            <td >
          {{user.country}}
            </td>
      </tr>
 
          <tr>
            <td >
            City:
            </td>
        <td>
            {{user.city}}
            </td>

            <td>
            Company name:
           </td>
          <td>
            {{user.companyname}}
            </td>
      </tr>
  
            <tr>
              <td>
              Designation:
               </td>
            <td>
              {{user.designation}}
               </td>
   
              <td>
              Phone no:
               </td>
               <td>
              {{user.phone}}
              </td>
         </tr>
  
            <tr>
                    <td>
                        Mobile no:
                        
                    </td>
                  <td>
                        {{user.mobile}}
                        
                    </td>
                    
                    <td>
                    Email ID: 
                        
                    </td>
                <td>
                    {{user.email}}
                        
                    </td>
                </tr>
 
               <!-- <tr>
                    <th colspan="2" style="padding:10px 0 0;">
                       Get a shipping quote
                        
                    </th>
                    
                    <th colspan="2" style="padding:10px 0 0;">
                       Get a valuation quote
                        
                    </th>
            
                 </tr> -->  
              <!-- <tr>
                    <td>
                        Part shipment allowed
                    </td>
                <td>
                         {{shippingQuote.allowed}}
                    </td>
            
                    <td>
                    Purpose of valuation
                    </td>
                  <td>
                        {{valuationQuote.valuation}}
                    </td>
                </tr>  --> 
                <!-- <tr>
                        <td>
                           Packaging as per international standard:
                            
                        </td>
                
                        <td>
                            {{shippingQuote.packaging}}
                            
                        </td> 
                
                        <td>
                            Schedule a call:
                            
                        </td>
                    <td>
                          {{certifiedByIquippo.scheduleC}}
                            
                        </td>
                    
                   </tr> -->  
                    <!-- <tr>
                            <td>
                              Comment:
                                
                            </td>
                        <td>
                               {{shippingQuote.comment}}
                                
                            </td>
                    
                           <td style="padding-left:10px;">
                                Date
                                
                            </td>
                          <td>
                               {{valuationQuote.date}}
                                
                            </td>
                      </tr> -->  
                      <!-- <tr>
                            <td>
                                
                                
                            </td>
                    
                            <td>
                               
                                
                            </td>
                    <td style="padding-left:10px;">
                         Time      
                                
                            </td>
                    
                            <td>
                               {{valuationQuote.scheduledTime}}
                                
                            </td>
                        </tr> -->  

                            <tr>
                                <th>
                                    Get a Certified by iQuippo quote
                                    
                                </th>
                                
                                <td>
                                   
                                    
                                </td>
                              
                            </tr>  
                        <tr>
                                <td>
                                    Purpose of valuation:
                                    
                                </td>
                                <td>
                                {{certifiedByIQuippoQuote.valuation}}
                                    
                                </td>
                         
                            </tr>  
                            <tr>
                                    <td>
                                        Schedule a call:
                                        
                                    </td>
                                     <td>
                                       {{certifiedByIQuippoQuote.scheduleC}}
                                    </td>
                                   
                                </tr>  
                                <tr>
                                        <td style="padding-left:10px;">
                                            Date
                                            
                                        </td>
                                    <td>
                                           {{certifiedByIQuippoQuote.date}}
                                            
                                        </td>
                                       
                                </tr>
                                <tr>
                                        <td style="padding-left:10px;">
                                         Time
                                            
                                        </td>
                                        <td>
                                           {{certifiedByIQuippoQuote.scheduledTime}}
                                            
                                        </td>
                                         
                                </tr>
                    </table>
                </td>
                  </tr>
      
 </table>
