<head>
  <meta charset="utf-8" content="width=divice-width, initial-screen=1"/>
</head>
<body>
  <table style="width:90%; margin:0 auto; padding:15px; /* [disabled]font-family:Verdana, Geneva, sans-serif; */ border: 5px solid rgba(128, 128, 128, 0.28);">
    <tr>
      <td style="height:70px;padding-bottom:20px;" valign="top"><img src="{{serverPath}}/assets/images/srei-logo-img.png"></td>
    </tr>
    <tr>
      <td style="font-size:20px; color:#FF4342; padding-bottom:20px; font-family:Verdana, Geneva, sans-serif;">Dear {{user.fname}}, </td>
    </tr>
    <tr>
      <td style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:14px; padding-bottom:10px;">
        Thanks for purchasing spare part- {{product.name}} on iQuippo.
        
      </td>
    </tr>
    <tr>
      <td style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:14px; padding-bottom:10px;">
        The details of the Spare part that you have buy are as follows:
        
      </td>
    </tr>
    <tr>
      <td align="center" style=" padding-top: 10px;padding-bottom: 10px;">
        <table style="font-size:11px;line-height:14px; border:3px solid #ccc;" border="0" cellspacing="0" cellpadding="0" width="60%" bgcolor="#ffffff">
          <tbody>
            <tr>
              <td>
                <img width="200" height="165" src="{{serverPath}}/assets/{{product.assetDir}}/{{product.primaryImg}}">
              </td>
              <td>
                <p style="font-size:14px;line-height:22px;color:#104295;font-weight:bold; font-family:Verdana, Geneva, sans-serif; text-align:left; margin-bottom: 5px;">
                  {{product.name}}
                </p>
                
                <p  style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif; text-align: left; margin: 5px 0;">
                  <b>Part No.:</b>{{product.partNo}}
                </p>
                <p  style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif; text-align: left; margin: 5px 0;">
                  <b>Manufacturer:</b> {{product.manufacturer}}
                </p>
                <p  style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif; text-align: left; margin: 5px 0;">
                  <b>Price:</b> Rs.{{product.grossPrice}}
                </p>
                
                <a href="{{serverPath}}/sparedetail/{{product._id}}" style="font-size:14px;line-height:22px;color:#104295;padding: 5px 30px;background:#ccc; text-align: center; margin: 5px 15px 5px 0;font-weight:bold;font-family:Verdana, Geneva, sans-serif;" >
                Click to View </a>
                
                
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      
    </tr>
    <tr>
      <td style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:14px; padding-bottom:10px;">
        Your Invoice for Purchasing Spare Part  for {{product.name}} is embedded alongwith.
      </td>
    </tr>
    <tr>
      <td>
        <table style="width:55%; margin:0 auto;padding:15px; font-family:Verdana, Geneva, sans-serif;">
          <tr>
            <td style="color:#01395c; font-size:13px; padding-bottom:10px;"><strong>Transaction ID:</strong></td>
            <td  style="color:#01395c; font-size:13px; padding-bottom:10px;">{{tId}}</td>
            <tr>
              <tr>
                <td style="color:#01395c; font-size:13px; padding-bottom:10px;"><strong>Transaction Date:</strong></td>
                <td  style="color:#01395c; font-size:13px; padding-bottom:10px;">{{createdAt}}</td>
                <tr>
                  <td style="color:#01395c; font-size:13px; padding-bottom:10px;"><strong>Transaction Details:</strong></td>
                  <td  style="color:#01395c; font-size:13px; padding-bottom:10px;"></td>
                </tr>
                <tr>
                  <td style="color:#01395c; font-size:13px; padding-bottom:10px;"><strong>Transaction Amount:</strong></td>
                  <td  style="color:#01395c; font-size:13px; padding-bottom:10px;">Rs.{{totalAmount}}</td>
                </tr>
                <tr>
                  <td style="color:#01395c; font-size:13px; padding-bottom:10px;"><strong>Transaction Status:</strong></td>
                  <td  style="color:#01395c; font-size:13px; padding-bottom:10px;">{{status}}</td>
                </tr>
              </table>
            </td>
          </tr>
          
          
          <tr>
            <td colspan="3" style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:14px; padding-top:10px; padding-bottom:10px;">
              <strong>Happy Shopping!</strong>
            </td>
          </tr>
          <tr>
            <td style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:14px;">
              Best Wishes,
            </td>
          </tr>
          <tr>
            <td style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:14px; padding-bottom:10px;">
              
              <b>iQuippo Helpdesk</b>
              
            </td>
          </tr>
        </table>
      </body>