<head>
  <meta charset="utf-8" content="width=divice-width, initial-screen=1"/>
</head>
<body>
<table style="width:80%; margin:0 auto;padding:15px; font-family:Verdana, Geneva, sans-serif;border: 5px solid rgba(128, 128, 128, 0.28);">
	<tr>
		<td style="height:70px;" valign="top"><img src="{{serverPath}}/assets/images/srei-logo-img.png"></td>
	</tr>
    <tr>
		<td style="font-size:20px; color:#FF4342; padding-bottom:20px;">Hello {{fname}} {{lname}},</td>	
	</tr>
    <tr>
        <td style="color:#01395c;color:#01395c; font-size:13px; padding-bottom:10px;">
        Welcome to iQuippo. Thank you for registering with us.Your Unique User ID is <strong>{{customerId}}</strong> You can access your account with the following details: 
        </td>
    </tr> 
    <tr>
    <td style="color:#01395c; font-size:13px; padding-bottom:10px;">
    Username: {{mobile}} / {{email}} /{{customerId}}</td>
    </tr>
    <tr>
    <td style="color:#01395c; font-size:13px; padding-bottom:10px;">Password: {{password}}</td>
    </tr>
    <tr>
        <td style="color:#01395c;color:#01395c; font-size:13px; padding-bottom:10px;">
        It is suggested to change your password for security purposes.  
        </td>
    </tr>  
    <tr>
        <td style="color:#01395c;color:#01395c; font-size:13px;">
       Regards, 
       </td>
    </tr>
    <tr>
        <td style="color:#01395c;color:#01395c; font-size:13px;">
       iQuippo Support Team
        </td>
    </tr>     
  
 </table>
 </body>
