<head>
  <meta charset="utf-8" content="width=divice-width, initial-screen=1"/>
</head>
<body>
  <table style="width:70%; margin:0 auto;padding:15px; font-family:Verdana, Geneva, sans-serif;border: 5px solid rgba(128, 128, 128, 0.28);">
    <tr>
      <td style="height:70px;" valign="top"><img src="{{serverPath}}/assets/images/srei-logo-img.png"></td>
    </tr>
    <tr>
      <td style="font-size:20px; color:#FF4342; padding-bottom:20px;">Dear User,</td>
    </tr>
    <tr>
      <td style="color:#01395c; font-size:13px; padding-bottom:10px;">
        {{otp}} is the One Time Password (OTP) for your iQuippo Registration, as per your request.
      </td>
    </tr>
    <tr>
      <td style="color:#01395c; font-size:13px; padding-bottom:10px;">
        <strong>Please Note:</strong>
      </td>
    </tr>
    
    <tr>
      <td style="color:#01395c; font-size:13px; padding-bottom:10px;">
        OTP is valid for 30 minutes from the time you have generated the same, post which a new OTP will have to be generated.
      </td>
    </tr>
    <tr>
      <td style="color:#01395c; font-size:13px; padding-bottom:10px;">
        OTP has also been sent to your preferred mobile number registered with us.
      </td>
    </tr>
    
    <tr>
      <td style="color:#01395c; font-size:13px; padding-bottom:10px;">Best Wishes,</td>
    </tr>
    <tr>
      <td style="color:#01395c; font-size:13px;">
        iQuippo Helpdesk
      </td>
    </tr>
  </table>
</body>