<head>
  <meta charset="utf-8" content="width=divice-width, initial-screen=1"/>
</head>
<body>
<table style="width:80%; margin:0 auto;padding:15px; font-family:Verdana, Geneva, sans-serif;border: 5px solid rgba(128, 128, 128, 0.28);">
	<tr>
		<td style="height:70px;" valign="top"><img src="{{serverPath}}/assets/images/srei-logo-img.png"></td>
	</tr>
  <tr>
		<td style="font-size:20px; color:#FF4342; padding-bottom:20px;">Hello {{fname}} {{lname}},</td>	
	</tr>
    <tr>
            <td style="color:#01395c; font-size:13px; padding-bottom:10px;">
                Welcome to iQuippo.com - your trusted partner for all Equipment needs.
                Your Unique User ID is <strong>{{customerId}}</strong>.
            </td>
        </tr>
        <tr>
            <td style="color:#01395c; font-size:13px; padding-bottom:10px;">
                You can access your account with the following details:
            </td>
        </tr>
        <tr>
        <td>
          <table style="width:60%; margin:0 auto;padding:15px; font-family:Verdana, Geneva, sans-serif;">
            <tr>
              <td style="color:#01395c; font-size:13px; padding-bottom:10px;"><strong>Username:</strong></td>
              <td  style="color:#01395c; font-size:13px; padding-bottom:10px;">{{mobile}} / {{email}} / {{customerId}}</td>
            </tr>
            <tr>
              <td style="color:#01395c; font-size:13px; padding-bottom:10px;"><strong>Password:</strong></td>
              <td  style="color:#01395c; font-size:13px; padding-bottom:10px;">****</td>
            </tr>
          </table>
        </td>
        </tr>
        <tr>
            <td style="color:#01395c; font-size:13px; padding-bottom:10px;">
                <strong>Great News!</strong> You would now have access to the My Account area, which allows you to:
            </td>
        </tr>
        <tr>
            <td style="color:#01395c; font-size:13px; padding-bottom:10px;">
                1. Add your Equipment without a charge.
            </td>
        </tr>
        <tr>
            <td style="color:#01395c; font-size:13px; padding-bottom:10px;">
                2. Make your equipment available to a world of buyers and users.
            </td>
        </tr>
        
        <tr>
            <td style="color:#01395c; font-size:13px; padding-bottom:10px;">
                3. Search for Equipment you want to rent or purchase through specific to your industry needs.
            </td>
        </tr>
        <tr>
            <td style="color:#01395c; font-size:13px; padding-bottom:10px;">
                4. Purchase inspected equipment directly from featured sales.
            </td>
        </tr>
        <tr>
            <td style="color:#01395c; font-size:13px; padding-bottom:10px;">
                5. Avail other services like Inspection, Valuation and Auction for your assets through verified providers.
            </td>
        </tr>
        <tr>
            <td style="color:#01395c; font-size:13px; padding-bottom:10px;">
                
                Best Wishes,
            </td>
        </tr>
        <tr>
            <td style="color:#01395c; font-size:13px;">
                iQuippo Helpdesk
            </td>
        </tr>
    </table>
</body>