<head>
  <meta charset="utf-8" content="width=divice-width, initial-screen=1"/>
</head>
<body>
  <table style="width:60%; margin:0 auto; padding:15px;font-family:Verdana, Geneva, sans-serif; border: 5px solid rgba(128, 128, 128, 0.28);">
    <tr>
      <td style="height:70px;padding-bottom:20px;" valign="top"><img src="{{awsBaseImagePath}}/assets/images/srei-logo-img.png"></td>
    </tr>
    <tr>
      <td style="color:#01395c;font-size:13px; padding-bottom:10px;">
          Unique Control No : <strong>{{uniqueControlNo}}</strong>
      </td>
    </tr>
    <tr>
      <td style="font-size:18px; color:#FF4342; padding-bottom:20px; font-family:Verdana, Geneva, sans-serif;">Dear {{name}}, </td>
    </tr>
   
    <tr>
      <td style="color:#000;font-size:13px;font-weight:bold;padding-bottom:40px;">
           Your {{requestType}} Request has been {{status}} Successfully.
      </td>
    </tr>
    <tr>
      <td style="color:#01395c;font-size:13px; padding-bottom:10px;">
          Regards, 
          iQuippo Support Team
      </td>
    </tr>
  </table>
</body>