<head>
  <meta charset="utf-8" content="width=divice-width, initial-screen=1"/>
</head>
<body>
  <table style="width:90%; margin:0 auto; padding:15px; /* [disabled]font-family:Verdana, Geneva, sans-serif; */ border: 5px solid rgba(128, 128, 128, 0.28);">
    <tr>
      <td style="height:70px;padding-bottom:20px;" valign="top"><img src="{{awsBaseImagePath}}/assets/images/srei-logo-img.png"></td>
    </tr>
    <tr>
      <td style="font-size:20px; color:#FF4342; padding-bottom:20px; font-family:Verdana, Geneva, sans-serif;">Dear User, </td>
    </tr>
    <tr>
      <td style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:14px; padding-bottom:10px;">
       Your invoice has been generated for valuation / inspection request.</strong>.
      </td>
    </tr>
	  <tr>
      <td>
        Click here link to pay online 
          <a href="{{serverPath}}/signin?state=payment&tid={{transactionId}}" style="font-size:14px;line-height:22px;color:#104295;font-weight:bold;font-family:Verdana, Geneva, sans-serif; padding:6px 20px; background:#ccc; text-align: center; margin: 5px 15px 5px 0;" >
            Pay Now
          </a>
        </td>
     </tr>
    <tr>
    <td>
      Click here to view/download invoice 
        <a href="{{serverPath}}/api/valuation/generateinvoice/{{_id}}" style="font-size:14px;line-height:22px;color:#104295;font-weight:bold;font-family:Verdana, Geneva, sans-serif; padding:6px 20px; background:#ccc; text-align: center; margin: 5px 15px 5px 0;" >
          Download
        </a>
      </td>
    </tr>
    <tr>
      <td colspan="3" style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:14px; padding-top:10px; padding-bottom:10px;">
        
        Please feel free to email us at <a href="javascript:void(0);">info@iquippo.com</a> for any other queries or support.
      </td>
    </tr>
    <tr>
      <td style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:14px;">
        Best Wishes,
        
        
      </td>
    </tr>
    <tr>
      <td style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:14px; padding-bottom:10px;">
        
        <b>iQuippo Team</b>
        
      </td>
    </tr>
  </table>
</body>