<head>
  <meta charset="utf-8" content="width=divice-width, initial-screen=1"/>
</head>
<body>
  <table style="width:90%; margin:0 auto; padding:15px; /* [disabled]font-family:Verdana, Geneva, sans-serif; */ border: 5px solid rgba(128, 128, 128, 0.28);">
    <tr>
      <td style="height:70px;padding-bottom:20px;" valign="top"><img src="images/srei-logo-img.png"></td>
    </tr>
    <tr>
      <td style="font-size:20px; color:#FF4342; padding-bottom:20px; font-family:Verdana, Geneva, sans-serif;">Hello Team, </td>
    </tr>
    <tr>
      <td style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:14px; padding-bottom:10px;">
       A Valuation request has been submitted on iQuippo.com.
        
      </td>
    </tr>
     <tr>
      <td style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:14px; padding-bottom:10px;">
      The following Asset details mentioned here in need to be Välued/Inspected.
        
      </td>
    </tr>
    <tr>
      <td align="center" style=" padding-top: 10px;padding-bottom: 10px;">
        <table style="font-size:11px;line-height:14px; border:3px solid #ccc;" border="0" cellspacing="0" cellpadding="0" width="80%" bgcolor="#ffffff">
              <tbody>
                <tr>
                  <td>                    
                    <img width="200" height="165" src="images/loader.png">
                  </td>
                  <td>
                    <p style="font-size:14px;line-height:22px;color:#104295;font-weight:bold; font-family:Verdana, Geneva, sans-serif; text-align:left; margin-bottom: 5px;">
                     {{product.name}}
                    </p>
                    <p  style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif; text-align: left; margin: 5px 0;">
                      <b>Asset ID :</b> {{product.assetId}}
                    </p>
                    <p  style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif; text-align: left; margin: 5px 0;">
                      <b>Asset Category:</b>{{product.category}}
                    </p>
                    <p style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif; text-align: left; margin: 5px 0;">
                      <b>Valuation Request Date :</b> {{createdAt}}</p>
                    
                    <a href="{{serverPath}}/productdetail/{{product._id}}" style="font-size:14px;line-height:22px;color:#104295;font-weight:bold;font-family:Verdana, Geneva, sans-serif; padding:6px 20px; text-decoration:none;background:#ccc; text-align: center; margin: 5px 15px 5px 0;" >
                       Click to View 
                    </a>
                    
                  </td>
                </tr>
              </tbody>
            </table>
      </td>
      
    </tr>
    <tr>
      <td colspan="3" style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:14px; padding-top:10px; padding-bottom:10px;">
        
        Please update the Valuation Report by logging in to <a href="http://iquippo.com/"> iQuippo.com</a>
      </td>
    </tr>
    <tr>
      <td style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:14px;">
        Best Wishes,
        
        
      </td>
    </tr>
    <tr>
      <td style="color:#01395c; font-family:Verdana, Geneva, sans-serif; font-size:14px; padding-bottom:10px;">
        
        <b>iQuippo Team</b>
        
      </td>
    </tr>
  </table>
</body>