<head>
  <meta charset="utf-8" content="width=divice-width, initial-screen=1"/>
</head>
<body>
  <table style="width:60%; margin:0 auto; padding:15px;font-family:Verdana, Geneva, sans-serif; border: 5px solid rgba(128, 128, 128, 0.28);">
    <tr>
      <td style="height:70px;padding-bottom:20px;" valign="top"><img src="{{awsBaseImagePath}}/assets/images/srei-logo-img.png"></td>
    </tr>
    <tr>
      <td style="font-size:18px; color:#FF4342; padding-bottom:10px; font-family:Verdana, Geneva, sans-serif;">Dear {{user.fname}}, </td>
    </tr>
   
    <tr>
      <td align="center" style=" padding-top: 10px;padding-bottom: 10px;">
        <table style="font-size:11px;line-height:14px;" border="0" cellspacing="0" cellpadding="0" width="90%" bgcolor="#ffffff">
              <tbody>
                <tr>
                  <td>
                    <p  style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif; text-align: left; margin: 5px 0;">
                      <b>Category:</b> {{product.category}}
                    </p>
                    <p  style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif; text-align: left; margin: 5px 0;">
                      <b>Brand:</b>{{product.brand}}
                    </p>
                    <p style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif; text-align: left; margin: 5px 0;">
                      <b>Model:</b> {{product.model}}
                    </p>
                    <p style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif; text-align: left; margin: 5px 0;">
                      <b>Asset Description:</b> {{product.description}}
                    </p>
                    <p style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif; text-align: left; margin: 5px 0;">
                      <b>Location:</b> {{product.city}}, {{product.state}}
                    </p>
                    <p style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif; text-align: left; margin: 5px 0;">
                      <b>Payment Status:</b> Pending
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
      </td>
      
    </tr>
    <tr>
      <td style="color:#000;font-size:13px;font-weight:bold;padding-bottom:10px;">
           Your reference Number is {{requestId}}. We are working on your request and one of our exectives will get back to you.
      </td>
    </tr>
    <tr>
      <td style="color:#000;font-size:13px;padding-bottom:10px;">
        You can check the status of your request by - 
        <ol>
          <li>
            Logging in to <a href="https://www.iquippo.com">www.iquippo.com</a>
          </li>
          <li>
            Click on Dashboard
          </li>
          <li>
            Click 'Valuation Request'to view your Valuation/Inspection requests.
          </li>
        </ol>
      </td>
    </tr>
    <tr>
      <td style="color:#000;font-size:13px;padding-bottom:10px;">
           In case you have not paid, you can click "Pay" button to make the payment for your request. You can either pay Online or you may pay offline and inform our customer care team.
      </td>
    </tr>
    <tr>
      <td style="color:#000;font-size:13px;padding-bottom:10px;">
           Please feel free to email us at <a href="mailto:info@iquippo.com">info@iquippo.com</a> for any queries or support.
      </td>
    </tr>
    <tr>
      <td style="color:#01395c;font-size:13px; font-weight: bold; padding-bottom:10px;">
          Best Wishes, <br/>
          iQuippo
      </td>
    </tr>
  </table>
</body>