<head>
  <meta charset="utf-8" content="width=divice-width, initial-screen=1"/>
</head>
<body>
  <table style="width:60%; margin:0 auto; padding:15px;font-family:Verdana, Geneva, sans-serif; border: 5px solid rgba(128, 128, 128, 0.28);">
    <tr>
      <td style="height:70px;padding-bottom:20px;" valign="top"><img src="{{awsBaseImagePath}}/assets/images/srei-logo-img.png"></td>
    </tr>
    <tr>
      <td style="font-size:18px; color:#FF4342; padding-bottom:10px; font-family:Verdana, Geneva, sans-serif;">Dear Valuation Partner, </td>
    </tr>
    <tr>
      <td style="color:#000;font-size:13px;padding-bottom:10px;">
           A Request for {{requestType}} has been received for the asset specified below - 
      </td>
    </tr>
   
    <tr>
      <td align="center" style=" padding-top: 10px;padding-bottom: 10px;">
        <table style="font-size:11px;line-height:14px;" border="0" cellspacing="0" cellpadding="0" width="90%" bgcolor="#ffffff">
              <tbody>
                <tr>
                  <td>
                    <p  style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif; text-align: left; margin: 5px 0;">
                      <b>Request ID:</b> {{requestId}}
                    </p>
                    <p  style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif; text-align: left; margin: 5px 0;">
                      <b>Category:</b> {{product.category}}
                    </p>
                    <p  style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif; text-align: left; margin: 5px 0;">
                      <b>Brand:</b>{{product.brand}}
                    </p>
                    <p style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif; text-align: left; margin: 5px 0;">
                      <b>Model:</b> {{product.model}}
                    </p>
                    <p style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif; text-align: left; margin: 5px 0;">
                      <b>Asset Description:</b> {{product.description}}
                    </p>
                    <p style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif; text-align: left; margin: 5px 0;">
                      <b>Location:</b> {{product.city}}, {{product.state}}
                    </p>
                    <p style="font-size:12px;line-height:20px;color:#333333; font-family:Verdana, Geneva, sans-serif; text-align: left; margin: 5px 0;">
                      <b>Payment Status:</b> Completed
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
      </td>
      
    </tr>
    <tr>
      <td style="color:#000;font-size:13px;padding-bottom:10px;">
           Please update the status of this Valuation Request on <a href="https://www.iquippo.com">www.iquippo.com</a>.
      </td>
    </tr>
    
    
    <tr>
      <td style="color:#01395c;font-size:13px; font-weight: bold; padding-bottom:10px;">
          Best Wishes, <br/>
          iQuippo
      </td>
    </tr>
  </table>
</body>