<div id="wrapper">
    <section class="wrapper">
      <div class="container-fluid">
        <div id="page-wrapper">
          <div class="row">
          <div class="col-sm-12">
            <h3>
              Spare Upload
            </h3>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
          <!-- success error start-->
            <div class="row animate-show" ng-show="isSuccess" >
              <div class="col-sm-12">
                <div class="alert alert-success alert-dismissible fade in" role="alert">
                  <button type="button" class="close" ng-click="closeMeassage()" aria-label="Close"><span aria-hidden="true">×</span></button>
                   {{successMessage}}
                </div>
              </div>
            </div>
            <div class="row animate-show" ng-show="isError">
              <div class="col-sm-12">
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                  <button type="button" class="close" ng-click="closeMeassage()" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{errorMessage}}
                </div>
              </div>
            </div>
            <!-- success error end -->

            <!-- tabs -->
            <uib-tabset justified="true">
              <uib-tab heading="Step1" index="0" active="spareVm.tabObj.step1">
                <form name="form" novalidate>
                      <div class="seller_info form-group" ng-if="isActive() || isChannelPartner()">
                        <h3>Seller Information</h3>
                        <div class="row">
                            <div class="form-group col-sm-4" ng-class="{'has-error': form.userType.$invalid && submitted }">
                              <select  class="form-control" name="userType" ng-model="spareVm.spare.seller.userType" ng-change="spareVm.onRoleChange(spareVm.spare.seller.userType)" ng-required="isActive() || isChannelPartner()">
                                <option value="">* Customer Type</option>
                                <option value="individual">Individual</option>
                                <option value="private">Private Entrepreneur</option>
                                <option value="legalentity">Legal Entity</option>
                              </select>
                              <i class="caret"></i>
                            </div>
                            <div class="col-sm-4 form-group" ng-if="spareVm.container.userType != 'legalentity'" ng-class="{'has-error': form.userName.$invalid && submitted}">
                              <select  class="form-control" name="userName"  ng-model="spareVm.container.selectedUserId" ng-change="spareVm.onUserChange(spareVm.container.selectedUserId)" required>
                                    <option value="">* Select User</option>
                                    <option value="{{user._id}}" ng-repeat="user in spareVm.getUsersOnUserType">{{user.fname}}</option>
                              </select>
                              <i class="caret"></i>
                    
                            </div>
                            <div class="col-sm-4 form-group" ng-if="spareVm.container.userType == 'legalentity'" ng-class="{'has-error': form.company.$invalid && submitted}">
                              <select class="form-control" name="company"  ng-model="spareVm.container.selectedUserId" ng-change="spareVm.onUserChange(spareVm.container.selectedUserId)" required>
                                    <option value="">* Select Company</option>
                                    <option value="{{user._id}}" ng-repeat="user in spareVm.getUsersOnUserType">{{user.company}}</option>
                              </select>
                              <i class="caret"></i>
                            </div>
                            <div class="col-sm-2 ln">
                            <a href="/usermanagement">Create User</a>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-4 form-group">
                              <input ng-disabled="true" type="email" class="form-control" placeholder="Email Address" ng-value="spareVm.spare.seller.email" ng-model="spareVm.spare.seller.email" name="sellerEmail">
                            </div>
                            <div class="col-sm-4 form-group">
                              <input ng-disabled="true" type="text" class="form-control" placeholder="Mobile No." ng-value="spareVm.spare.seller.mobile" ng-model="spareVm.spare.seller.mobile" name="sellerMobile" uib-tooltip="98-XXXX-XXXX" tooltip-trigger="focus" tooltip-placement="top">
                            </div>
                          </div>
                          <div class="row col-sm-12 form-group">
                            <p class="help-block cart_item" ng-show="(form.userName.$error.required || form.company.$error.required || form.userType.$invalid) && submitted">
                              Selection of Customer type and User/Company is must to upload your spare.
                            </p>
                          </div>
                      </div>
                      <div class="clearfix"></div>

                     <div class="panel panel-default">
                       <div class="panel-heading">
                         <h3 class="panel-title">Basic Information</h3>
                       </div>
                       <div class="panel-body">
                          <div class="row">
                            <div class="form-group col-sm-5" ng-if="spareVm.isEdit">Part ID.</div>
                            <!-- <input type="text" class="form-control" placeholder="Enter Part no." name="partId" ng-value="spareVm.spare.partId" ng-model="spareVm.spare.partId"> -->
                            <div class="form-group col-sm-7" ng-if="spareVm.isEdit">{{spareVm.spare.partId}}</div>
                          </div>
                          <div class="row">
                            <div class="form-group col-sm-5">Part No. <span class="text-warning">*</span></div>
                            <div class="form-group col-sm-7" ng-class="{'has-error': form.partNo.$invalid && submitted}">
                              <input type="text" class="form-control" name="partNo" ng-value="spareVm.spare.partNo" ng-model="spareVm.spare.partNo" placeholder="Enter Part no.">
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group col-sm-5">Serial Number</div>
                            <div class="form-group col-sm-7">
                            <input type="text" class="form-control" name="serialNo" ng-value="spareVm.spare.serialNo" ng-model="spareVm.spare.serialNo" placeholder="Enter Serial no.">
                            </div>                           
                          </div>
                          <div class="row">
                            <div class="form-group col-sm-5">Part Name <span class="text-warning">*</span> </div>
                            <div class="form-group col-sm-7" ng-class="{'has-error': form.name.$invalid && submitted}">
                            <input type="text" class="form-control" name="name" ng-value="spareVm.spare.name" ng-model="spareVm.spare.name" placeholder="Enter Part Name">
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group col-sm-5">Part Description</div>
                            <div class="form-group col-sm-7">
                            <input type="text" class="form-control" name="description" ng-value="spareVm.spare.description" ng-model="spareVm.spare.description" placeholder="Enter Part Description">
                            </div>
                          </div>
                          <div class="row"> 
                            <div class="form-group col-sm-5">Manufacturer <span class="text-warning">*</span></div>
                            <div class="form-group col-sm-7" ng-class="{'has-error': form.manufacturer.$invalid && submitted}">
                              <select class="form-control" name="manufacturer" ng-model="spareVm.container.manufacturerId" ng-change="spareVm.onManufacturerChange(spareVm.container.manufacturerId)" required>
                                <option value="">Select Manufacturer</option>
                                <option ng-repeat="manufacturer in spareVm.manufacturerList" value="{{manufacturer._id}}">{{manufacturer.name}}</option>
                              </select>
                              <i class="caret"></i>
                            </div>                             
                          </div>
                          <div class="row">
                            <div class="form-group col-sm-5">Price <span class="text-warning">*</span></div>
                            <div class="form-group col-sm-4">
                               <div class="input-group" ng-class="{'has-error': form.gPrice.$invalid && submitted}">
                                <span class="input-group-addon currency-width">
                                  <select class="form-control"  name="currencyType" ng-model="spareVm.spare.currencyType">
                                   <option value="" >&#x20B9; Rupee</option>
                                  </select>
                                  <!-- <i class="caret"></i> -->
                                </span>
                                  <input type="number"  placeholder="20,000" ng-disabled="priceOnRequest" name="gPrice" ng-value="spareVm.spare.grossPrice" class="form-control" ng-model="spareVm.spare.grossPrice" ng-required="!spareVm.spare.priceOnRequest">
                              </div>     
                            </div>
                            <div class="col-sm-3">
                              <div class="form-group checkbox check">
                                <input type="checkbox" name="" ng-value="true" ng-model="spareVm.spare.priceOnRequest">
                                Price on Request
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group col-sm-5">Location<span class="text-warning">*</span></div>
                            <div class="form-group col-sm-3" ng-class="{'has-error': form.location.$invalid && submitted}">
                              <select class="form-control" name="location" ng-model="spareVm.location" ng-change="spareVm.onLocationChange(spareVm.location)" required>
                                <option value="">Select Location</option>
                                <option ng-repeat="location in spareVm.locationList" value="{{location.name}}">{{location.name}}</option>
                              </select>
                              <i class="caret"></i>
                            </div>
                            <div class="form-group col-sm-4">
                              <span class="badge" ng-repeat="loc in spareVm.spare.locations" ng-if="loc.city">{{loc.city}} 
                              <a href="javascript:void(0);" ng-click="spareVm.deleteLocation($index)" uib-tooltip="Remove" tooltip-placement="top" tooltip-trigger="mouseenter">
                              <i class="fa fa-times" ></i></a></span>
                            </div>                            
                          </div>
                          <div class="row">                            
                            <div class="col-sm-5 form-group">Product Condition </div>
                              <div class="col-xs-6 col-sm-4 form-group">
                                  <span class="condition"><input type="radio" placeholder=""  name="condition" ng-model="spareVm.spare.productCondition" value="used"> Used</span>
                                </div>
                                <div class="col-xs-6 col-sm-3 form-group">
                                  <span class="condition"><input type="radio" placeholder=""  name="condition" ng-model="spareVm.spare.productCondition" value="new"> New</span>
                                </div>
                            </div>
                          <div class="row">                            
                            <div class="col-sm-5 form-group">Made In<span class="text-warning">*</span></div>
                              <div class="col-xs-6 col-sm-4 form-group" ng-class="{'has-error': form.madeIn.$invalid && submitted}">
                                 <select class="form-control" name="madeIn" ng-model="spareVm.spare.madeIn" required>
                                  <option value="">Select Country</option>
                                  <option ng-repeat="madeIn in allMadeInCountries" value="{{madeIn.name}}">{{madeIn.name}}</option>
                                </select>
                                <i class="caret"></i>
                              </div>
                          </div>
                          <div class="row form-group">
                            <div class="col-sm-5">Payment Mode  </div>
                            <div class="col-sm-7">
                              <div class="row">
                                <div class="col-sm-2" ng-repeat="paymentOpt in paymentOptions">
                                  <input type="checkbox"
                                  value="{{paymentOpt}}"
                                  ng-checked="spareVm.spare.paymentOption.indexOf(paymentOpt) > -1"
                                  ng-click="spareVm.paymentSelection(paymentOpt)"> {{paymentOpt}}
                                </div>
                              </div>
                            </div>                            
                          </div>
                          <div class="row" ng-if="isActive()">
                            <div class="col-sm-5 form-group">Commission Percent</div>
                            <div class="col-sm-7 form-group">
                              <input type="number" min="0"  class="form-control" name="commission" ng-value="spareVm.spare.commission" ng-model="spareVm.spare.commission" placeholder="Commission Percent (Numbers Only in Percent)">
                            </div>
                          </div>
                          <div class="row" ng-if="isActive()">
                            <div class="col-sm-5">Spare Status</div>
                            <div class="col-sm-7">
                              <select class="form-control" name="status" ng-model="spareVm.spare.status">
                                    <option value="">Spare Status</option>
                                    <option value="{{status.code}}" ng-repeat="status in spareStatus">{{status.name}}</option>
                              </select>
                              <i class="caret"></i>
                            </div>
                          </div>
                       </div>
                     </div>

                        <!-- <div class="clearfix form-group"></div> -->
                         <div class="form-group pull-right">
                            <button class="btn" type="button" ng-click="spareVm.resetClick(form)" ng-show="!spareVm.isEdit">Reset</button>
                            <button class="btn btn-danger" ng-click="spareVm.firstStep(form, spareVm.spare)">Next</button>
                        </div>
                </form>
              </uib-tab>
              <uib-tab heading="Step2" index="1" active="spareVm.tabObj.step2" disable="true">
                <form name="detailForm" novalidate>
                  <div class="panel panel-default">
                   <div class="panel-heading">
                     <h3 class="panel-title">Asset Details</h3>
                   </div>
                   <div class="panel-body">
                      <table class="table">
                              <thead>
                                <tr>
                                  <th>Category</th>
                                  <th>Modal</th>
                                  <th>Brand</th>
                                  <th>Variant</th>
                                  <th>Add More</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="spareDet in spareVm.spare.spareDetails">
                                  <td>
                                    <div class="form-group" ng-class="{'has-error': detailForm.category.$invalid && step2Submitted}">
                                      <select class="form-control" name="category"  ng-model="spareDet.category._id" ng-change="spareVm.onCategoryChange($index)" required>
                                            <option value="">Select Category*</option>
                                            <option value="{{category._id}}" ng-repeat="category in spareVm.allCategory">{{category.name}}</option>
                                      </select>
                                      <i class="caret"></i>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': detailForm.otherCategory.$invalid && step2Submitted}">
                                      <input type="text" class="form-control" name="otherCategory" ng-model="spareDet.category.otherName" ng-value="{{spareDet.category.otherName}}" ng-disabled ="spareDet.category.name != 'Other'" placeholder="Other" ng-required= "spareDet.category.name == 'Other'">
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group" ng-class="{'has-error': detailForm.brand.$invalid && step2Submitted}">
                                       <select class="form-control" name="brand" ng-model="spareDet.brand._id"  ng-change="spareVm.onBrandChange($index)" required>
                                            <option value="">Select Brand *</option>
                                            <option value="{{brand._id}}" ng-repeat="brand in spareDet.brandList">{{brand.name}}</option>
                                      </select>
                                      <i class="caret"></i>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error': detailForm.otherBrand.$invalid && step2Submitted}">
                                      <input type="text" class="form-control" name="otherBrand" ng-model="spareDet.brand.otherName" ng-value="{{spareDet.brand.otherName}}" ng-disabled ="spareDet.brand.name != 'Other'" placeholder="Other" ng-required= "spareDet.brand.name == 'Other'">
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group" ng-class="{'has-error': detailForm.model.$invalid && step2Submitted}">
                                       <select class="form-control" name="model" ng-model="spareDet.model._id" required ng-change="spareVm.onModelChange($index)">
                                              <option value="">Select Model *</option>
                                              <option value="{{model._id}}" ng-repeat="model in spareDet.modelList">{{model.name}}</option>
                                        </select>
                                        <i class="caret"></i>
                                      </div>
                                      <div class="form-group" ng-class="{'has-error': detailForm.otherModel.$invalid && step2Submitted}">
                                        <input type="text" class="form-control" name="otherModel" ng-model="spareDet.model.otherName" ng-value="{{spareDet.model.otherName}}" ng-disabled ="spareDet.model.name != 'Other'" placeholder="Other" ng-required= "spareDet.model.name == 'Other'">
                                      </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <input type="text" placeholder="Variant" ng-value="spareDet.variant" ng-model="spareDet.variant" name="variant" class="form-control">
                                    </div>
                                  </td>
                                  <td>
                                    <div class="form-group">
                                      <button class="btn btn-block" ng-click="spareVm.addMoreMaster()" ng-if="$last">Add More</button>
                                      <button class="btn btn-block" ng-click="spareVm.spare.spareDetails.splice($index,1)" ng-if="!$last">Delete</button>
                                    </div>
                                  </td>
                              </tbody>
                            </table>
                   </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Artifacts Details</h3>
                    </div>
                    <div class="panel-body">
                      <div class="form-group row" ng-repeat="miscDoc in spareVm.spare.miscDocuments">
                             <div class="col-sm-3 form-group">Document Category</div>


                            <div class="col-sm-3 form-group">
                              <select class="form-control" ng-model="miscDoc.type">
                                <option value="">Documents Type</option>
                                <option value="Manuals">User Manuals</option>
                                <option value="Specifications">Technical Specifications</option>
                                <option value="Certifications">Certifications</option>
                              </select>
                               <i class="caret"></i>
                            </div>
                            <div class="col-sm-2 form-group">
                              <span class="btn btn-warning fileinput-button">
                               <input type="file" data-index="{{$index}}" name="doc"  data-filetype="mdoc" file-upload ng-disabled="!miscDoc.type">
                                <span><i class="fa fa-upload"></i> Upload Document</span>

                              </span>
                            </div>
                            <div class="col-sm-2 uploads-doc">
                              {{miscDoc.name}}
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-2 pull-right">
                              <button class="btn btn-block" ng-click="spareVm.spare.miscDocuments.push({})" ng-if="$last">Add More</button>
                              <button class="btn btn-block" ng-click="spareVm.spare.miscDocuments.splice($index,1)" ng-if="!$last">Delete</button>
                            </div>
                          </div>
                      <div class="row upload-picHover form-group">
                            <div class="form-group col-sm-5 pic-popover">Upload Pictures</div>
                             <div class="col-sm-7 col-xs-12">
                             <div class="row pic-popover" popover-placement="left" uib-popover="To ensure picture quality we suggest minimum image resolutions as 450*300 pixels." popover-trigger="mouseenter">
                                <div class="col-sm-3 col-xs-6 primary-upload text-center" ng-repeat="img in spareVm.images">
                                  <div class="br5">
                                    <span class="fileinput-button browse-icon" ng-show="!img.src">
                                        <span><i class="fa fa-plus-circle"></i></span>
                                          <input type="file" name="files_{{$index}}"  data-index="{{$index}}" data-filetype="image" accept="image/*" image-upload>
                                     </span>

                                      <span ng-show="img.src">
                                        <div class="icn2">
                                          <a href="javascript:void(0);" ng-click="spareVm.deleteImg($index)"><i class="fa fa-times" ng-if="!img.isPrimary"></i></a>
                                       </div>
                                       <div class="icn">
                                          <a href="javascript:void(0);" ng-click="spareVm.rotate($index)" ng-if="!img.waterMarked"><i class="fa fa-repeat"></i></a>
                                       </div>
                                        <span class="fileinput-button"><a href="javascript:void(0);"  class="al2">
                                            <img ng-src="{{uploadImagePrefix}}{{spareVm.assetDir}}/{{img.src}}?spareVm.timestamp={{spareVm.timestamp}}" class="img-responsive">
                                          </a>
                                        </span>
                                      </span>
                                  </div>
                                   <span ng-show="img.src"><input type="radio" name="prvRadio" value="{{$index}}" ng-click="spareVm.makePrimary($index)" ng-checked="img.isPrimary"/>Primary</span>
                                </div>
                            </div>
                            </div>

                          </div>
                          <!-- <div class="row" ng-show="isActive()">
                             
                              <div class="col-xs-6 col-sm-6">
                                <div class="row">
                                  <div class="col-xs-1 col-sm-1">
                                  <input type="checkbox" id="" name="status"  ng-model="product.status" ng-value="product.status">
                                  </div>
                                  <div class="col-xs-5 col-sm-5">
                                    Active
                                  </div>
                                </div>
                              </div>
                            </div> -->
                    </div>
                  </div>

                  <div class="form-group pull-right">
                    <button class="btn" type="button" ng-click="spareVm.resetClick(detailForm)" ng-show="!spareVm.isEdit">Reset</button>                        
                    <button class="btn btn-danger" ng-click="spareVm.secondStep(detailForm, spareVm.spare)">Submit</button>
                  </div>
                </form>                
              </uib-tab>
            </uib-tabset>            
          </div>
        </div>
        </div>
      </div>
    </section>
  </div>
<div class="form-group"></div>