<div class="view-content">
  <section class="wrapper">
    <div class="container">
      <div class="row">        
        <!-- <div class="col-sm-3">
          <div class="panel panel-default myaccount">
            <div class = "panel-heading job-filter text-left">
              My Accounts
            </div>
            <ul class="list-group">
              <a href="javascript:void(0);" class="list-group-item" ng-click="myAccountVm.currentTab= 'basic'">Basic Details</a>
              <a href="javascript:void(0);" class="list-group-item" ng-click="myAccountVm.currentTab= 'product'">My Products</a>
              <a href="javascript:void(0);" class="list-group-item">My Transaction</a>
              
            </ul>
          </div>
        </div> -->
        <div class="col-sm-10 col-sm-offset-1">
          <h3>My Account</h3>
          <legend></legend>
          <div class="row form-group">           
            <div class="col-sm-12">
               <h4>My Profile</h4>
                <legend></legend>
              <div class="media well">
                <a class="pull-left" href="">
                  <img class="media-object img-rounded" src="assets/images/news-1.jpg" alt="Image" width="200">
                </a>

                <div class="pull-right">
                  <button class="btn btn-success" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-edit"></i></button>
                </div>                
                <div class="media-body">
                  <h3 class="media-heading">
                    {{myAccountVm.userInfo.fname}} {{myAccountVm.userInfo.mname}} {{myAccountVm.userInfo.lname}} <small>(Privet Entrepreneur)</small>
                  </h3>
                  <h4><i class="fa fa-map-marker"></i> {{myAccountVm.userInfo.country}}, {{myAccountVm.userInfo.city}}</h4>
                  <span ng-if="myAccountVm.userInfo.company"><h5><i class="fa fa-building"></i> myAccountVm.userInfo.company</h5></span> 
                  <h5><i class="fa fa-envelope"></i> {{myAccountVm.userInfo.email}}</h5>
                  <h5><i class="fa fa-phone"></i> {{myAccountVm.userInfo.mobile}}</h5>
                  
                </div>
                
              </div>

              <div class="well" uib-collapse="isCollapsed">
                <h4>Edit Basic Information</h4>
                <form class="form-signin" name="form" novalidate>
                  <div class="">
                    <div class="row">
                      <div class="form-group col-sm-4" ng-class="{'has-error': form.fname.$invalid && submitted }">
                        <input type="text" class="form-control" name="fname" ng-model="myAccountVm.userInfo.fname" value="" placeholder="*First Name" required/>
                      </div>
                      <div class="form-group col-sm-4">
                        <input type="text" class="form-control" name="mname" ng-model="myAccountVm.userInfo.mname" value="" placeholder="Middle Name"/>
                      </div>
                      <div class="form-group col-sm-4" ng-class="{'has-error': form.lname.$invalid && submitted }">
                        <input type="text" class="form-control" name="lname" ng-model="myAccountVm.userInfo.lname" value="" placeholder="*Last Name" required/>
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-sm-6">
                        <input type="text" class="form-control" name="phone" ng-model="myAccountVm.userInfo.phone" value="" placeholder="Phone No.">
                      </div>
                      <div class="form-group col-sm-6" ng-class="{'has-error': form.mobile.$invalid && submitted }">
                        <input type="text" class="form-control" name="mobile" ng-model="myAccountVm.userInfo.mobile" value="" placeholder="* Mobile No." uib-tooltip="+91-98-XXXX-XXXX" tooltip-trigger="focus" tooltip-placement="top" required disabled>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6" ng-class="{'has-error': form.country.$invalid && submitted }">
                        <select class="form-control" name="country" ng-model="myAccountVm.userInfo.country" required>
                          <option value="" disabled>*Select Country</option>
                          <option  ng-repeat ="country in allCountries" value="{{country.name}}">{{country.name}}</option>
                          <option value="Other">Other</option>
                        </select>
                        <i class="caret"></i>
                      </div>
                      <div class="form-group col-sm-6"  ng-class="{'has-error': form.otherCountry.$invalid && submitted}">
                        <input class="form-control" type="text" name="otherCountry" ng-model="myAccountVm.userInfo.otherCountry" placeholder="*Other Country" ng-required= "myAccountVm.userInfo.country == 'Other'" ng-disabled="myAccountVm.userInfo.country != 'Other'">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-sm-6" ng-class="{'has-error': form.location.$invalid && submitted }">
                        <select class="form-control" name="location" ng-model="myAccountVm.userInfo.city" required>
                          <option value="" disabled>Select Location</option>
                            <option ng-repeat="location in locationList" value="{{location.name}}">{{location.name}}</option>
                        </select>
                        <i class="caret"></i>
                      </div>
                      <div class="form-group col-sm-6">
                        <input type="text" class="form-control" name="company" ng-model="myAccountVm.userInfo.company" placeholder="*Company Name" ng-required= "myAccountVm.userInfo.userType == 'legalentity'" ng-disabled="myAccountVm.userInfo.userType != 'legalentity'">
                      </div>
                    </div>
                    <div class="form-group text-right">
                          <button type="button" class="btn btn-lg btn-warning" ng-click="myAccountVm.editUser()">Save</button>
                    </div>                    
                  </div>
                  <!-- </div> -->
                </form>
                
              </div>
            </div>
          </div>
          <!-- <div class="account-detail well" ng-if="myAccountVm.currentTab== 'basic'">            
            <h4>Basic Details</h4>
            <legend></legend>
            <div class="row">
              <div class="col-sm-3 form-group"><label>Name:</label></div>
              <div class="col-sm-4 form-group">
                {{myAccountVm.userInfo.fname}} {{myAccountVm.userInfo.mname}} {{myAccountVm.userInfo.lname}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 form-group"><label>Mobile No:</label></div>
              <div class="col-sm-5 form-group">
                +91-{{myAccountVm.userInfo.mobile}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 form-group"><label>Email:</label></div>
              <div class="col-sm-5 form-group">
                +91-{{myAccountVm.userInfo.email}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 form-group"><label>Country:</label></div>
              <div class="col-sm-5 form-group">
               {{myAccountVm.userInfo.country}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 form-group"><label>Location:</label></div>
              <div class="col-sm-5 form-group">
               {{myAccountVm.userInfo.city}}
              </div>
            </div>
          </div>
 -->
          <!-- <div class="my-product well" ng-if="myAccountVm.currentTab == 'product'"> -->
          <div class="form-group"></div>
          <div class="my-product">
            <h4>My Products</h4>
            <legend></legend>
            <div class="row">
              <div class="col-sm-3">
                <div class="panel panel-default">
                  <div class="panel-body bg-danger text-center">
                    <a href="" class="product-bars">
                      <h4>Rented Products</h4>
                      <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <span class="sr-only">40% Complete (success)</span>
                        </div>
                      </div>
                      <h4>{{myAccountVm.rentedCounts}}</h4>
                    </a>
                  </div>
                </div>  
              </div>
              <div class="col-sm-3">
                <div class="panel panel-default">
                  <div class="panel-body bg-success text-center">
                    <a href="" class="product-bars">
                      <h4>Listed Products</h4>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <span class="sr-only">40% Complete (success)</span>
                        </div>
                      </div>
                      <h4>{{myAccountVm.listedCounts}}</h4>
                    </a>
                  </div>
                </div>  
              </div>
              <div class="col-sm-3">
                <div class="panel panel-default">
                  <div class="panel-body bg-info text-center">
                    <a href="" class="product-bars">
                      <h4>Sold Products</h4>
                      <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <span class="sr-only">40% Complete (success)</span>
                        </div>
                      </div>
                      <h4>{{myAccountVm.soldCounts}}</h4>
                    </a>
                  </div>
                </div>  
              </div>
              <div class="col-sm-3">
                <div class="panel panel-default">
                  <div class="panel-body bg-warning text-center">
                    <a href="" class="product-bars">
                      <h4>All Products</h4>
                      <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <span class="sr-only">40% Complete (success)</span>
                        </div>
                      </div>
                      <h4>{{myAccountVm.totalProducts}}</h4>
                    </a>
                  </div>
                </div>  
              </div>
            </div>
            <!-- <div class="row">
                <div class="col-sm-5">
                <div class="rented">
                  <a href="javascript:void(0);"> 
                      Rented Items
                  </a>
                  <div class="bg-primary text-center rented-item">
                    50
                   
                  </div>
                </div> 
                   
                   
                </div>
                <div class="col-sm-5">
                 <div class="rented">
                  <a href="javascript:void(0);"> 
                    Listed Items
                  </a>
                    </div> 
                  <div class="bg-success text-center rented-item">
                   80
                   
                  </div>
                   
                </div>
               </div> -->
               <!-- <div class="form-group"></div> -->
              <!-- <div class="row">
                <div class="col-sm-5">
                <div class="rented">
                  <a href="javascript:void(0);"> 
                    Sold Items
                  </a>
                    </div> 
                  <div class="bg-info text-center rented-item">
                    85
                    
                  </div> 
                  
                </div>
                <div class="col-sm-5">
                <div class="rented">
                   <a href="javascript:void(0);"> Product Upload</a>
                    </div> 
                  <div class="bg-danger text-center rented-item">
                    120
                    
                  </div> 
                  
                </div>
              </div> -->
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>