<div class="view-content">
  <section class="wrapper">
    <div class="container">
      <div class="row">        
        <!-- <div class="col-sm-3">
          <div class="panel panel-default myaccount">
            <div class = "panel-heading job-filter text-left">
              My Accounts
            </div>
            <ul class="list-group">
              <a href="javascript:void(0);" class="list-group-item" ng-click="myAccountVm.currentTab= 'basic'">Basic Details</a>
              <a href="javascript:void(0);" class="list-group-item" ng-click="myAccountVm.currentTab= 'product'">My Products</a>
              <a href="javascript:void(0);" class="list-group-item">My Transaction</a>
              
            </ul>
          </div>
        </div> -->
        <div class="col-sm-10 col-sm-offset-1">
          <h3>My Account</h3>
          <legend></legend>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            Please fill all the required fields <strong>email</strong> and <strong>mobile no.</strong> 
          </div>
          <div class="row form-group">           
            <div class="col-sm-12">
               <h4>My Profile</h4>
                <legend></legend>
              <div class="media well">
                <div class="pull-left profilePic-button">
                  <!-- <i class="fa fa-camera"></i> -->
                  <img class="media-object img-rounded" src="assets/images/profile.png" alt="Image">
                  <span class="btn btn-default fileinput-button">
                     <input type="file" name="doc" data-filetype="doc" file-upload="" class="ng-scope">
                      <span><i class="fa fa-camera"></i> Change Image</span>
                    </span>
                </div>
                <small class="pull-right" ng-if="!editName" ng-click="editFun('name')"><i class="fa fa-pencil"></i></small>       
                <div class="media-body myProfileDetail">
                  <!--Full Name -->
                  <h3 class="media-heading">
                    {{myAccountVm.userInfo.fname}} {{myAccountVm.userInfo.mname}} {{myAccountVm.userInfo.lname}} <small><span ng-if="myAccountVm.userInfo.userType == 'individual'">(Individual)</span><span ng-if="myAccountVm.userInfo.userType == 'private'">(Private Entrepreneur)</span><span ng-if="myAccountVm.userInfo.userType == 'legalentity'">(Legal Entity)</span></small>                    
                  </h3>                
                  <div class="row form-group" ng-if="editName">
                    <div class="col-sm-4">
                      <input type="text" name="" value="{{myAccountVm.userInfo.fname}}" placeholder="First Name*">
                    </div>
                    <div class="col-sm-4">
                      <input type="text" name="" value="{{myAccountVm.userInfo.mname}}" placeholder="Middle Name">                  
                    </div>
                    <div class="col-sm-4">
                      <input type="text" name="" value="{{myAccountVm.userInfo.lname}}" placeholder="Last Name*">
                    </div>
                  </div>
                  <!-- Full Name end -->

                  <!-- Location start -->
                  <h4><i class="fa fa-map-marker"></i> {{myAccountVm.userInfo.country}}, {{myAccountVm.userInfo.city}}
                  
                  </h4>
                  <div class="row" ng-if="editName">
                    <div class="col-sm-3">
                      <div class="input-group">
                        <select>
                          <option>Select Country</option>
                          <option>india</option>
                        </select>                       
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="input-group">
                        <select>
                          <option>Select City</option>
                          <option>india</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- Location end -->

                  <!-- Company Name Start-->
                  <div ng-if="myAccountVm.userInfo.company">
                    <h5><i class="fa fa-building"></i> {{myAccountVm.userInfo.company}}
                    </h5>
                    <div ng-if="editName">
                      <input type="text" name="" value="{{myAccountVm.userInfo.company}}" placeholder="Company Name">
                    </div>
                  </div> 
                  <!-- Company Name end -->

                  <!-- email start -->
                  <h5><i class="fa fa-envelope"></i> {{myAccountVm.userInfo.email}}
                  </h5>
                    <div ng-if="editName"><input type="text" name="" value="{{myAccountVm.userInfo.email}}" placeholder="Email*"></div>
                  <!-- email end -->
                  <h5>
                    <i class="fa fa-phone"></i> {{myAccountVm.userInfo.mobile}}                    
                  </h5>
                  <div ng-if="editName" class="form-group">
                    <input type="text" name="" value="{{myAccountVm.userInfo.mobile}}" placeholder="Mobile No.*">
                  </div>
                  <div ng-if="editName">
                    <button class="btn btn-sm btn-primary">Save</button>
                    <button class="btn btn-sm btn-default">Cancel</button>
                  </div>
                </div>
                <div class="text-center">
                  <a class="btn btn-success" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-plus"></i> View Full Details </a>
                </div>
              </div>

              <div class="well myProfileDetail" uib-collapse="isCollapsed">                
                <form class="form-signin" name="form" novalidate>
                  <h4>Personal Information
                  <span ng-if="!editDOB" ng-click="editFun('DOB')">
                    <small><i class="fa fa-pencil"></i></small> 
                    <small><i class="fa fa-plus"></i></small>
                  </span>
                  </h4>
                  <legend></legend>
                  <div  ng-if="editDOB" class="row form-group">
                    <div class="col-sm-3 form-group">
                      <div><label>Date of Birth</label></div>                      
                      <div class="input-group">
                        <input type="text" name="" value="{{}}" placeholder="Date of Birth">
                      </div>
                    </div>
                    <div class="col-sm-8 form-group">
                      <div><label>Marital Status</label></div>

                      <div class="row">
                        <div class="col-sm-2">
                          <input type="radio" name="marital"> Married
                        </div>
                        <div class="col-sm-5">
                          <input type="text" placeholder="Anniversary Date">
                        </div>
                        <div class="col-sm-4">
                          <input type="radio" name="marital"> Unmarried
                        </div>
                        
                      </div>
                    </div>
                    <div class="col-sm-12 form-group">
                      <div>
                        <label>Education</label> 
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <span>Collage Name</span>
                        </div>
                        <div class="col-sm-6">
                          <span>Dates Attended</span>
                        </div>
                        <div class="col-sm-3">
                          <span>Degree</span>
                        </div>
                      </div>
                      <div class="row form-group">
                        <div class="col-sm-3">
                          <input type="text" placeholder="Collage Name">
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group">
                            <input type="text" placeholder="Start Year">
                             <span class="input-group-addon">to</span> 
                            <input type="text" placeholder="End Year">                            
                          </div>
                        </div>
                        <div class="col-sm-3">
                          <select>
                            <option>Select Degree</option>
                            <option>Graduation</option>
                            <option>Post Graduation</option>
                          </select>
                        </div>                                                  
                      </div>
                      <button class="btn btn-sm btn-primary">Save</button>
                      <button class="btn btn-sm btn-default">Cancel</button>
                    </div>
                  </div>

                  <h4>Social Media Information
                  <span ng-if="!editFacebook" ng-click="editFun('facebook')">
                    <small><i class="fa fa-pencil"></i></small>
                    <small><i class="fa fa-plus"></i></small>
                  </span>
                  </h4>
                  <legend></legend>
                  <div class="row form-group" ng-if="editFacebook">
                    <div class="col-sm-3 form-group">
                      <div><label>Facebook URL</label></div>
                      <input type="url" placeholder="Enter url">                
                    </div>
                    <div class="col-sm-3 form-group">
                      <div><label>LinkedIn URL</label></div>
                      <input type="url" placeholder="Enter url">
                    </div>
                    <div class="col-sm-3 form-group">
                      <div><label>Twitter URL</label></div>
                      <input type="url" placeholder="Enter url">
                    </div>
                    <div class="col-sm-3 form-group">
                      <div><label>Google Plus URL</label></div>
                      <input type="url" placeholder="Enter url">
                    </div>
                    <div class="col-sm-12 form-group">
                      <button class="btn btn-sm btn-primary">Save</button>
                      <button class="btn btn-sm btn-default">Cancel</button>
                    </div>
                  </div>

                  <h4>Professional Information
                    <span ng-if="!editBusiness" ng-click="editFun('business')">
                      <small><i class="fa fa-pencil"></i></small>
                      <small><i class="fa fa-plus"></i></small>
                    </span>
                  </h4>
                  <legend></legend>
                  <div class="row form-group" ng-if="editBusiness">
                    <div class="col-sm-3 form-group">
                      <div>
                        <label>
                          Profession<small>(Business)</small>
                        </label>
                      </div>
                      <input type="url" placeholder="Business Name">
                    </div>
                    <div class="col-sm-3 form-group">
                      <div><label>Annual Income</label></div>

                      <input type="url" placeholder="Annual Income">
                      
                    </div>
                    <div class="col-sm-3 form-group">
                      <div>
                        <label> Company Name </label>
                      </div>
                      <input type="url" placeholder="Company Name">
                      
                    </div>
                    <div class="col-sm-3 form-group">
                      <div>
                        <label> Designation</label>
                      </div>
                      <input type="url" placeholder="Designation">                      
                    </div>
                    <div class="col-sm-12 form-group">
                      <div>
                        <label>Website</label>
                      </div>
                      <input type="url" placeholder="Website">                      
                    </div>
                    <div class="col-sm-6 form-group">
                      <button class="btn btn-sm btn-primary">Save</button>
                      <button class="btn btn-sm btn-default">Cancel</button>
                    </div>
                  </div>
                </form>
                
              </div>
            </div>
          </div>
          <!-- <div class="account-detail well" ng-if="myAccountVm.currentTab== 'basic'">            
            <h4>Basic Details</h4>
            <legend></legend>
            <div class="row">
              <div class="col-sm-3 form-group"><label>Name:</label></div>
              <div class="col-sm-4 form-group">
                {{myAccountVm.userInfo.fname}} {{myAccountVm.userInfo.mname}} {{myAccountVm.userInfo.lname}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 form-group"><label>Mobile No:</label></div>
              <div class="col-sm-5 form-group">
                +91-{{myAccountVm.userInfo.mobile}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 form-group"><label>Email:</label></div>
              <div class="col-sm-5 form-group">
                +91-{{myAccountVm.userInfo.email}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 form-group"><label>Country:</label></div>
              <div class="col-sm-5 form-group">
               {{myAccountVm.userInfo.country}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 form-group"><label>Location:</label></div>
              <div class="col-sm-5 form-group">
               {{myAccountVm.userInfo.city}}
              </div>
            </div>
          </div>
 -->
          <!-- <div class="my-product well" ng-if="myAccountVm.currentTab == 'product'"> -->
          <div class="form-group"></div>
          <div class="my-product">
            <h4>My Products</h4>
            <legend></legend>
            <div class="row">
              <div class="col-sm-3">
                <div class="panel panel-default">
                  <div class="panel-body bg-danger text-center">
                    <a ng-href="/productlisting?assetStatus=rented" class="product-bars">
                      <h4>Rented Products</h4>
                      <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <span class="sr-only">40% Complete (success)</span>
                        </div>
                      </div>
                      <h4>{{myAccountVm.rentedCounts}}</h4>
                    </a>
                  </div>
                </div>  
              </div>
              <div class="col-sm-3">
                <div class="panel panel-default">
                  <div class="panel-body bg-success text-center">
                    <a ng-href="/productlisting?assetStatus=listed" class="product-bars">
                      <h4>Listed Products</h4>
                      <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <span class="sr-only">{{myAccountVm.listedCounts}}% Complete (success)</span>
                        </div>
                      </div>
                      <h4>{{myAccountVm.listedCounts}}</h4>
                    </a>
                  </div>
                </div>  
              </div>
              <div class="col-sm-3">
                <div class="panel panel-default">
                  <div class="panel-body bg-info text-center">
                    <a ng-href="/productlisting?assetStatus=sold" class="product-bars">
                      <h4>Sold Products</h4>
                      <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <span class="sr-only">{{myAccountVm.soldCounts}}% Complete (success)</span>
                        </div>
                      </div>
                      <h4>{{myAccountVm.soldCounts}}</h4>
                    </a>
                  </div>
                </div>  
              </div>
              <div class="col-sm-3">
                <div class="panel panel-default">
                  <div class="panel-body bg-warning text-center">
                    <a ng-href="/productlisting" class="product-bars">
                      <h4>All Products</h4>
                      <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <span class="sr-only">{{myAccountVm.totalProducts}}% Complete (success)</span>
                        </div>
                      </div>
                      <h4>{{myAccountVm.totalProducts}}</h4>
                    </a>
                  </div>
                </div>  
              </div>
            </div>
            <!-- <div class="row">
                <div class="col-sm-5">
                <div class="rented">
                  <a href="javascript:void(0);"> 
                      Rented Items
                  </a>
                  <div class="bg-primary text-center rented-item">
                    50
                   
                  </div>
                </div> 
                   
                   
                </div>
                <div class="col-sm-5">
                 <div class="rented">
                  <a href="javascript:void(0);"> 
                    Listed Items
                  </a>
                    </div> 
                  <div class="bg-success text-center rented-item">
                   80
                   
                  </div>
                   
                </div>
               </div> -->
               <!-- <div class="form-group"></div> -->
              <!-- <div class="row">
                <div class="col-sm-5">
                <div class="rented">
                  <a href="javascript:void(0);"> 
                    Sold Items
                  </a>
                    </div> 
                  <div class="bg-info text-center rented-item">
                    85
                    
                  </div> 
                  
                </div>
                <div class="col-sm-5">
                <div class="rented">
                   <a href="javascript:void(0);"> Product Upload</a>
                    </div> 
                  <div class="bg-danger text-center rented-item">
                    120
                    
                  </div> 
                  
                </div>
              </div> -->
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>