<section class="banner">
  <div class="overlay"></div>
  <div id="slides_control">
    <uib-carousel interval="mainVm.myInterval" no-wrap="noWrapSlides">
      <uib-slide data-ng-repeat="slide in mainVm.slides">
        <img  data-ng-src="assets/images/{{slide.webImg}}" data-ng-if="slide.default">
         <img  data-ng-src="{{uploadImagePrefix}}banner/{{slide.webImg}}" data-ng-if="!slide.default">
        <!-- <div class="carousel-caption" data-ng-if="!slide.default">
          <h1>{{slide.name}}</h1>          
          <h2>Promocode: {{slide.code}}</h2>
          <button type="button" class="btn btn-md btn-primary">Bid Now</button>          
        </div> -->
        <a href="javascript:void(0);" data-ng-if="slide.hyperlink == 'Yes'" data-ng-click="mainVm.openBidModal(slide)" class="bid-gif"><img src="assets/images/bid-now.gif"></a>
      </uib-slide>
      <div class="tricker" data-ng-if="mainVm.getBids != 0">
        <marquee><span data-ng-repeat="bids in mainVm.getBids">{{bids.name}}: {{bids.bidValuesStr}}  </span></marquee>
      </div>
    </uib-carousel>
  </div>
  <!-- <a href="javascript:void(0);" data-ng-click="openDialog('classifiedad')" class="btn btn-primary ad-btn">
    Place Classified Ad
  </a> -->
  <div class="col-xs-12 col-sm-offset-1 col-sm-10 search-banner">    
    <div class="search-tabs">

      <!-- Nav tabs -->
      <div class="btn-group">
        <label class="btn btn-default btn-lg" ng-model="mainVm.radioModel" btn-radio="'SELL'" selected="">Buy</label>
        <label class="btn btn-default btn-lg" ng-model="mainVm.radioModel" btn-radio="'RENT'">Rent</label>
      </div>

      <!-- Tab panes -->
      <div class="tab-content">
        <form>
            <div class="row">
              <div class="col-sm-3">
                <div class="select-text">
                  <input type="text" ng-model="mainVm.categorySearchText" placeholder="Enter Category Name" uib-typeahead="address for address in getCategoryHelp($viewValue)"  class="form-control"  ng-keypress="mainVm.myFunct($event)" typeahead-focus-first = "false" typeahead-wait-ms="200"/>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="select-text">
                  <input type="text" class="form-control" ng-model="mainVm.locationSearchText" placeholder="Enter Country/State/Location" uib-typeahead="address for address in getLocationHelp($viewValue)"  class="form-control" ng-keypress="mainVm.myFunct($event)" typeahead-focus-first = "false" typeahead-wait-ms="200"/>
                </div>
              </div> 
              <div class="col-sm-3">
                <div class="select-text">
                  <input type="text" class="form-control" ng-model="mainVm.searchstr" placeholder="Enter Product Name/Asset Id" class="form-control" ng-keypress="mainVm.myFunct($event)"/>
                </div>
              </div>             
              <div class="col-sm-3 text-center">
                <a href="javascript:;"  class="btn btn-lg btn-warning btn-block" data-ng-click="mainVm.doSearch()"><i class="fa fa-search"></i> Search Assets</a>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</section>


<section class="wrapper">
  <div class="container">

    <div class="row main-container">
    <div class="col-sm-2 col-md-2 hidden-xs">
            
       <a ng-href="{{mainVm.classifiedAd.imgLeftTop.websiteUrl}}" target="_blank" data-ng-if="mainVm.classifiedAd.imgLeftTop.src">
      <!--  <a href="/financing" target="_blank"> -->
          <img data-ng-src="{{uploadImagePrefix}}{{classifiedAdDir}}/{{mainVm.classifiedAd.imgLeftTop.src}}" class="img-responsive add1">
       </a>
        <!-- <img src="assets/images/Ad_Banner_1.jpg" class="img-responsive add1"> -->
        <div class="form-group"></div>
        <!-- <img src="assets/images/Ad_Banner_2.jpg" class="img-responsive add1"> -->
        <a ng-href="{{mainVm.classifiedAd.imgLeftCenter.websiteUrl}}" target="_blank" data-ng-if="mainVm.classifiedAd.imgLeftCenter.src">
       <!--  <a href="/insurance" target="_blank"> -->
          <img  data-ng-src="{{uploadImagePrefix}}{{classifiedAdDir}}/{{mainVm.classifiedAd.imgLeftCenter.src}}" class="img-responsive add1">
        </a>
        <div class="form-group"></div>
        <a ng-href="{{mainVm.classifiedAd.imgLeftBottom.websiteUrl}}" target="_blank" data-ng-if="mainVm.classifiedAd.imgLeftBottom.src">
          <img  data-ng-src="{{uploadImagePrefix}}{{classifiedAdDir}}/{{mainVm.classifiedAd.imgLeftBottom.src}}" class="img-responsive add1">
        </a>
      </div>
      <div class="col-sm-10 col-md-7 padd-left">
        <!-- <div class="head">

          <legend class="dull"></legend>
          <legend class="dark"></legend>
        </div> -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><i class="fa fa-th"></i> Categories</h4>
          </div>
        </div>
        <div class="cat cat-product text-center">
          <ul class="cat-list">
            <li data-ng-repeat="category in categoryList">
              <a href="/viewproducts/{{category._id}}">
                 <img data-ng-src="{{uploadImagePrefix}}{{categoryDir}}/{{category.imgSrc}}" class="img-responsive">
                  <span class="overlayer"></span><span>{{category.name}} <b>({{category.count}})</b></span>
              </a>

            </li>
          </ul>
          <div class="show-more">
            <button type="button" class="btn btn-default" data-ng-click="mainVm.toggleCategory()"><i class="fa " ng-class="{'fa-chevron-down' : mainVm.isCollapsed,'fa-chevron-up' : !mainVm.isCollapsed}"></i> </button>
          </div>
        </div>

      </div>

      <div class="col-sm-2 col-md-3 hidden-xs padd-left">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-hourglass-2"></i> Snapshots</h3>
            </div>
            <div class="panel-body">
             <!--  <img src="assets/images/update-product.jpg" class="img-responsive"> -->
             <div class="row form-group">
              <!--  <div class="col-sm-6 text-center">
                  <div class="uploded-asset">
                    <a href="javascript:void(0);" class="text-primary">
                      <strong>{{mainVm.productCountObj.total || 0}}</strong>
                      <p> Assets Uploaded</p>
                    </a>
                  </div>
               </div> -->
               <div class="col-sm-6 text-center">
                 <div class="uploded-asset">
                  <a href="javascript:void(0);" class="text-priamry">
                    <strong>{{(mainVm.productCountObj.listed + mainVm.productCountObj.sold + mainVm.productCountObj.rented) || 0}}</strong>
                    <p> Assets Listed</p>
                  </a>
                 </div>
               </div>
               <div class="col-sm-6 text-center">
                 <div class="uploded-asset">
                  <a href="javascript:void(0);" class="text-warning">
                    <strong>{{(mainVm.productCountObj.sold + mainVm.productCountObj.rented )|| 0}}</strong>
                    <p> Assets Sold/Rented</p>
                  </a>
                 </div>
               </div>
             </div>
             <div class="row">
              <div class="col-sm-6 text-center">
                <div class="uploded-asset">
                  <a href="javascript:void(0);" class="text-danger">
                    <strong>{{mainVm.spareCountObj.active || 0}}</strong>
                    <p>Spares Listed</p>
                  </a>
                </div>
              </div>
               <div class="col-sm-6 text-center">
                 <div class="uploded-asset">
                  <a href="javascript:void(0);" class="text-info">
                    <strong>{{mainVm.manPowerCountObj.true || 0}}</strong>
                    <p> Manpower Listed</p>
                  </a>
                 </div>
               </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-link"></i> Partners</h3>
              </div>
              <div class="panel-body text-center">
               <!--  <div class="form-group">
                  <a href="http://quippoauctions.com/" target="_blank">
                    <img src="assets/images/partner-logo-img.jpg">
                  </a>
                </div>
                <hr> -->
                <div class="form-group">
                  <a href="http://www.srei.com/" target="_blank">
                    <img src="assets/images/srei-logo.png" width="120">
                  </a>

                </div>
              </div>
          </div>
        </div>
      </div>

    </div>
        <div class="form-group"></div>
        <div class="form-group clearfix"></div>

        <div class="horizontal-crsl">
          <!-- <div class="head clear-fix">
            <h4>Featured Products</h4>
            <legend class="dull"></legend>
            <legend class="dark"></legend>
          </div> -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><i class="fa fa-star"></i> Featured Products</h4>
            </div>
          </div>
          <div id="slides_control_feature">
            <uib-carousel no-wrap="noWrapSlides">
              <uib-slide data-ng-repeat="gpSlide in mainVm.sortedFeaturedProduct">
                <div class="row">
                  <div class="col-sm-2" data-ng-repeat="slide in gpSlide">
                    <div class="panel panel-default">
                      <a ng-href="/productdetail/{{slide._id}}?FeatureProduct">
                        <img data-ng-src="{{uploadImagePrefix}}featured/{{slide.primaryImg}}" class="img-responsive">
                      </a>
                      <div class="panel-heading" uib-popover="{{slide.name}}" popover-trigger="mouseenter">
                        <h3 class="panel-title">{{slide.name}}</h3>
                      </div>
                      <div class="panel-body">
                        <!-- <div class="row">
                          <div class="col-xs-6 form-group text-ellips"><i class="fa fa-tags"></i> {{slide.brand.name}}</div>
                          <div class="col-xs-6 form-group text-ellips"><i class="fa fa-bookmark"></i> {{slide.model.name}}</div>
                        </div> -->
                        <div class="row">
                          <div class="col-xs-7 text-ellips"> <i class="fa fa-map-marker"></i> {{slide.city}}</div>
                          <div class="col-xs-5 padd-left text-ellips">
                            <i class="fa fa-ticket"></i>
                            <span data-ng-if="slide.tradeType=='SELL' || slide.tradeType=='BOTH'">SELL</span>
                            <span data-ng-if="slide.tradeType=='RENT' || slide.tradeType=='BOTH'">RENT</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </uib-slide>
            </uib-carousel>
          </div>
          <!-- <ul class="verContainer" drctv>
            <li data-ng-repeat="slide in mainVm.featuredslides">
              <div class="panel panel-default">
                    <a ng-href="/productdetail/{{slide._id}}">
                      <img data-ng-src="{{uploadImagePrefix}}{{slide.assetDir}}/{{slide.primaryImg}}" class="img-responsive">
                    </a>
                    <div class="panel-heading">
                      <h3 class="panel-title">{{slide.name}}</h3>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-6 form-group text-ellips"><i class="fa fa-tags"></i> {{slide.brand.name}}</div>
                        <div class="col-xs-6 form-group"><i class="fa fa-bookmark"></i> {{slide.model.name}}</div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 form-group"> <i class="fa fa-map-marker"></i> {{slide.city}}</div>
                        <div class="col-xs-6 form-group">
                          <i class="fa fa-ticket"></i>
                          <span data-ng-if="slide.tradeType=='SELL' || slide.tradeType=='BOTH'">SELL</span>
                          <span data-ng-if="slide.tradeType=='RENT' || slide.tradeType=='BOTH'">RENT</span>
                        </div>
                      </div>
                    </div>
                </div>
            </li>
          </ul> -->
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><i class="fa fa-newspaper-o"></i> Latest News</h4>
        </div>
        <div class="panel-body">
        <div class="row">
        <div class="col-sm-3">
          <div class="media">
            <h4 class="media-heading">How iQuippo Works?</h4>
            <div class="media-body media-coverage">
             <!--  <iframe width="250" height="180" src="http://img.youtube.com/vi/6fWE5bmpu9g/0.jpg" frameborder="0" allowfullscreen></iframe>
            --> <iframe data-ng-if="!toggle1" style="width:100%;height:100%;height: 180px; float: none; clear: both; margin: 2px auto;" src="https://www.youtube.com/embed/6fWE5bmpu9g?autoplay=1" frameborder="0" allowfullscreen>
               </iframe>
               <object data-ng-if="toggle1" style="width:100%;height:100%;height: 180px; float: none; clear: both; margin: 2px auto;" data="http://img.youtube.com/vi/6fWE5bmpu9g/0.jpg" frameborder="0" >
               </object>
              <a href="#" class="utube-icon" data-ng-if="toggle1" data-ng-click="toggling('vid1')"><img src="assets/images/utube.png"></a>
               <p><strong>iQuippo</strong> offers the best of services and expertise to take our customers to the next level ,improving their efficiency and productivity by offering cost effective solution on a Single platform.</p>
              <p class="text-primary">25 Aug, 2016</p>
            </div>             
              
            
          </div>
        </div>
       <div class="col-sm-3">
         <div class="media">
           <h4 class="media-heading">Media Coverage Videos Links:</h4>
           <div class="media-body">
             <!-- <iframe width="100%" height="180" src="https://www.youtube.com/embed/_KgtJzQAQfw" frameborder="0" allowfullscreen></iframe>-->
             <iframe data-ng-if="!toggle2" style="width:100%;height:100%;height: 180px; float: none; clear: both; margin: 2px auto;" src="https://www.youtube.com/embed/g38KycGZbzU?autoplay=1" frameborder="0" allowfullscreen>
               </iframe>
               <object data-ng-if="toggle2" style="width:100%;height:100%;height: 180px; float: none; clear: both; margin: 2px auto;" data="http://img.youtube.com/vi/g38KycGZbzU/0.jpg"  frameborder="0" allowfullscreen>
               </object>
               <a href="#" class="utube-icon" data-ng-if="toggle2" data-ng-click="toggling('vid2')" ><img src="assets/images/utube.png"></a>
           </div>
         </div>
        </div>
        <div class="col-sm-3 form-group">
         <div class="media">
           <h4 class="media-heading">Digital Media :</h4>
           <div class="media-body media-coverage">
             <div class="row">

                <div class="col-sm-12">
                  <h5><a href="/assets/uploads/templates/InfrastructureToday.pdf" target="_blank">Click Clique - Infrastructure Today, Dec 2016</a></h5>
                  <hr>
                </div>
                <div class="col-sm-12">
                  <h5><a href="http://economictimes.indiatimes.com/small-biz/startups/srei-launches-digital-marketplace-iquippo-for-infra-sector/articleshow/55094769.cms" target="_blank">Srei launches digital marketplace iQuippo for infra sector</a></h5>
                  <h6>
                  <span><i>The Economic Times​</i></span>
                  <span class="pull-right">27-10-16</span>
                  </h6>
                  <hr>
                </div>
                <div class="col-sm-12">
                  <h5><a href="http://www.business-standard.com/article/pti-stories/srei-launches-digital-marketplace-iquippo-for-infra-sector-116102700853_1.html" target="_blank">Srei launches digital marketplace iQuippo for infra sector.</a></h5>
                  <h6>
                  <span><i>Business Standard</i></span>
                  <span class="pull-right">27-10-16</span>
                  </h6>
                  <hr>
                </div>
                <div class="col-sm-12">
                  <h5><a href="http://www.business-standard.com/article/companies/srei-ventures-into-digital-marketplace-for-equipment-biz-116102700821_1.html" target="_blank">Srei ventures into digital marketplace for equipment biz.</a></h5>
                  <h6>
                  <span><i>Business Standard</i></span>
                  <span class="pull-right">27-10-16</span>
                  </h6>
                  <hr>
                </div>
                <div class="col-sm-12">
                  <h5><a href="http://www.livemint.com/Industry/8Zhrj5JkavLCmTCaqi48vK/Srei-launches-online-marketplace-iQuippo-for-construction-eq.html" target="_blank">Srei launches online marketplace iQuippo for construction equipment.</a></h5>
                  <h6>
                  <span><i>Mint</i></span>
                  <span class="pull-right">27-10-16</span>
                  </h6>
                  <hr>
                </div>
                <div class="col-sm-12">
                  <h5><a href="http://www.thehindubusinessline.com/info-tech/srei-launches-digital-platform-iquippo/article9276237.ece" target="_blank">Srei launches online platform iQuippo.</a></h5>
                 <h6>
                  <span><i>The Hindu Business Line</i></span>
                  <span class="pull-right">27-10-16</span>
                  </h6>
                  <hr>
                </div>
                <div class="col-sm-12">
                  <h5><a href="http://www.financialexpress.com/industry/companies/srei-group-launches-digital-marketplace-startup-to-tap-infra-sector-growth-globally/432229/" target="_blank">Srei Group launches digital marketplace startup to tap infra sector growth globally.</a></h5>
                 <h6>
                  <span><i>The Financial Express</i></span>
                  <span class="pull-right">27-10-16</span>
                  </h6>
                  <hr>
                </div>
                <div class="col-sm-12">
                  <h5><a href="http://www.mydigitalfc.com/news/srei-launches-platform-renting-selling-equipments-012" target="_blank">Srei launches platform for renting, selling equipments.</a></h5>
                 <h6>
                  <span><i>Financial Chronicle</i></span>
                  <span class="pull-right">27-10-16</span>
                  </h6>
                  <hr>
                </div>
                <div class="col-sm-12">
                  <h5><a href="http://www.moneycontrol.com/news/business/srei-launches-digital-marketplace-iquippo-for-infra-sector_7847501.html" target="_blank">Srei launches digital marketplace iQuippo for infra sector.</a></h5>
                  <h6>
                    <span><i>Money Control</i></span>
                    <span class="pull-right">27-10-16</span>
                  </h6>
                  <hr>
                </div>
                <div class="col-sm-12">
                  <h5><a href="http://indiatoday.intoday.in/story/srei-launches-digital-marketplace-iquippo-for-infra-sector/1/796985.html" target="_blank">Srei launches digital marketplace iQuippo for infra sector.</a></h5>
                  <h6>
                    <span><i>India Today</i></span>
                    <span class="pull-right">27-10-16</span>
                  </h6>
                  <hr>
                </div>
                <div class="col-sm-12">
                  <h5><a href="http://www.telegraphindia.com/1161028/jsp/business/story_116032.jsp" target="_blank">Srei prop for core sector.</a></h5>
                  <h6>
                    <span><i>The Telegraph</i></span>
                    <span class="pull-right">27-10-16</span>
                  </h6>
                  <hr>
                </div>
                <div class="col-sm-12">
                  <h5><a href="http://www.dnaindia.com/money/report-srei-infra-goes-amazon-way-takes-iquippo-global-2269415" target="_blank">Srei Infra goes Amazon way, takes iQuippo global.</a></h5>
                  <h6>
                  <span><i>DNA</i></span>
                  <span class="pull-right">01-11-16</span>
                  </h6>
                  <hr>
                </div>
                <div class="col-sm-12">
                  <h5><a href="http://echoofindia.com/kolkata-srei-launches-iquippo-117773" target="_blank">Srei launches iQuippo.</a></h5>
                  <h6>
                  <span><i>The Echo of India</i></span>
                  <span class="pull-right">27-10-16</span>
                  </h6>
                  <hr>
                </div>
                <div class="col-sm-12">
                  <h5><a href="http://www.dealstreetasia.com/stories/srei-launches-online-marketplace-iquippo-for-construction-equipment-56668/​" target="_blank">India: Srei launches online marketplace iQuippo for construction equipment.</a></h5>
                  <h6>
                  <span><i>Deal Street Asia</i></span>
                  <span class="pull-right">27-10-16</span>
                  </h6>
                  <hr>
                </div>
                <div class="col-sm-12">
                  <h5><a href="http://www.indiatechonline.com/it-happened-in-india.php?id=2450" target="_blank">Portal for construction industry equipment has come.</a></h5>
                  <h6>
                  <span><i>India Tech Online</i></span>
                  <span class="pull-right">02-11-16</span>
                  </h6>
                </div>
           </div>
         </div>
        </div>
        
        <div class="col-sm-3">
          <h4 class="media-heading">iQuippo Launch:</h4>
          <!-- <iframe width="100%" height="180" src="https://www.youtube.com/embed/0cabxI1gy4s" frameborder="0" allowfullscreen></iframe>
          --> <iframe data-ng-if="!toggle3" style="width:100%;height:100%;height: 180px; float: none; clear: both; margin: 2px auto;" src="https://www.youtube.com/embed/0cabxI1gy4s?autoplay=1" frameborder="0" allowfullscreen>
               </iframe>
               <object data-ng-if="toggle3" style="width:100%;height:100%;height: 180px; float: none; clear: both; margin: 2px auto;" data="http://img.youtube.com/vi/0cabxI1gy4s/0.jpg" data-ng-click="toggling('vid3')" frameborder="0" allowfullscreen>
               </object>
               <a href="#" class="utube-icon" data-ng-click="toggling('vid3')" data-ng-if="toggle3"><img src="assets/images/utube.png"></a>

        <!-- <iframe width="330" height="140" src="https://www.youtube.com/embed/cT3hcuOkdQc" frameborder="0" allowfullscreen></iframe> -->
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h4 class="media-heading">Print Media:</h4>
           <div class="media-body medianame well">
           <ul>
              <li data-ng-repeat="nwEvt in mainVm.newsEvents"><a href="javascript:void(0);" class="" data-ng-click="mainVm.openPrintMedia(nwEvt.image)"> {{nwEvt.name}}</a></li>
            </ul>
           </div>
        </div>
      </div>
      </div>
      </div>
      
  </div>
</section>
<div class="container text-center form-group">
  <div class="row">
    <div class="col-sm-6">
      <a ng-href="{{mainVm.classifiedAd.imgBottomLeft.websiteUrl}}" target="_blank" data-ng-if="mainVm.classifiedAd.imgBottomLeft.src">
        <img data-ng-src="{{uploadImagePrefix}}{{classifiedAdDir}}/{{mainVm.classifiedAd.imgBottomLeft.src}}" class="add2 img-responsive">
      </a>
    </div>
    <div class="col-sm-6">
      <a ng-href="{{mainVm.classifiedAd.imgBottomRight.websiteUrl}}" target="_blank" data-ng-if="mainVm.classifiedAd.imgBottomRight.src">
        <img  data-ng-src="{{uploadImagePrefix}}{{classifiedAdDir}}/{{mainVm.classifiedAd.imgBottomRight.src}}" class="add2 img-responsive">
      </a>
    </div>
  </div>
</div>
</div>
<script type="text/ng-template" id="primtmedia.html">
  <div>
    <div class="modal-header">
    <button type="button" class="close"  data-ng-click="close()" aria-hidden="true"><i class="fa fa-times"></i></button>
    </div>
    <div class="modal-body text-center">
       <img data-ng-src="{{url}}" width="100%">
    </div>
     <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-ng-click="close()">Close</button>
      </div>
  </div>
</script>