<section class="banner">
  <div class="overlay"></div>
  <div id="slides_control">    
    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
      <uib-slide ng-repeat="slide in mainVm.slides" active="slide.active">
        <img  ng-src="assets/images/{{slide.image}}">
      </uib-slide>
    </uib-carousel>
  </div>
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-5 search-banner">
   
    <div class="search-tabs">

      <!-- Nav tabs -->
      <div class="btn-group">
        <label class="btn btn-default btn-lg" ng-model="mainVm.radioModel" btn-radio="'BUY'" selected="">Buy</label>
        <label class="btn btn-default btn-lg" ng-model="mainVm.radioModel" btn-radio="'RENT'">Rent</label>
      </div>

      <!-- Tab panes -->
      <div class="tab-content">
        <form>
          <div class="select-text form-group">                 
              <input type="text" ng-model="mainVm.categorySearchText" placeholder="Enter Category Name..." uib-typeahead="address for address in mainVm.getCategoryHelp($viewValue)"  class="form-control"  typeahead-focus-first = "false" typeahead-wait-ms="500"/>               
            </div>
            
            <div class="select-text form-group">
              <input type="text" class="form-control" ng-model="mainVm.locationSearchText" placeholder="Enter Location..." uib-typeahead="address for address in mainVm.getLocationHelp($viewValue)"  class="form-control"  typeahead-focus-first = "false" typeahead-wait-ms="500"/>                
                <div ng-show="mainVm.noResults">
                  <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
            </div>
            <div class="text-center">
              <a href="javascript:;"  class="btn btn-lg btn-warning" ng-click="mainVm.doSearch()"><i class="fa fa-search"></i> Search</a>
            </div>
        </form>
      </div>
    </div>
  </div>
</section>


<section class="wrapper">
  <div class="container">
   
    <div class="row main-container">
      <div class="col-sm-2 col-md-2 hidden-xs hidden-sm">
        <img ng-if="mainVm.imgLeftTop" ng-src="{{uploadImagePrefix}}{{classifiedAdDir}}/{{mainVm.imgLeftTop}}" class="img-responsive add1">
        <!-- <img src="assets/images/Ad_Banner_1.jpg" class="img-responsive add1"> -->
        <div class="form-group"></div>
        <!-- <img src="assets/images/Ad_Banner_2.jpg" class="img-responsive add1"> -->
        <img ng-if="mainVm.imgLeftBottom" ng-src="{{uploadImagePrefix}}{{classifiedAdDir}}/{{mainVm.imgLeftBottom}}" class="img-responsive add1">
      </div>
      <div class="col-sm-9 col-md-8">
        <div class="head">
          <h4>Categories</h4>
          <legend class="dull"></legend>
          <legend class="dark"></legend>
        </div>

        <div class="cat cat-product text-center">
          <ul class="cat-list" ng-if="mainVm.isCollapsed">
            <li  ng-repeat="category in mainVm.allCategoryList" ng-if="$index < 8">
              <a href="/viewproducts/{{category._id}}" ng-if="category.name != 'Other'">
                 <img ng-src="{{uploadImagePrefix}}{{categoryDir}}/{{category.imgSrc}}" class="img-responsive">  
                  <span>{{category.name}}</span>
                 
              </a>
            </li>
          </ul>
          <ul class="cat-list" ng-if="!mainVm.isCollapsed">
            <li  ng-repeat="category in mainVm.allCategoryList">
              <a href="/viewproducts/{{category._id}}" ng-if="category.name != 'Other'">
                 <img ng-src="{{uploadImagePrefix}}{{categoryDir}}/{{category.imgSrc}}" class="img-responsive">  
                  <span>{{category.name}}</span>
                 
              </a>
            </li>
          </ul>
          <div class="show-more">
            <button type="button" class="btn btn-default btn-lg" ng-click="mainVm.isCollapsed = !mainVm.isCollapsed"><i class="fa " ng-class="{'fa-chevron-down' : mainVm.isCollapsed,'fa-chevron-up' : !mainVm.isCollapsed}"></i> </button>
          </div>
        </div>

        <div class="form-group"></div>
        <div class="form-group clearfix"></div>
        <div class="head">
          <h4>Services</h4>
          <legend class="dull"></legend>
          <legend class="dark"></legend>
        </div>
        <div class="cat text-center">
          <ul class="cat-list">
             <li>
              <a href="/lease">
                <img src="assets/images/lease.png"> Man Power
               
              </a>
            </li>
            <!--<li>
              <a href="/insurance">
                <img src="assets/images/insurance.png"> Insurance
                
              </a>
            </li> -->
            <li>
              <a href="/shipping">
                <img src="assets/images/transport.png"> Shipping
                
              </a>
            </li>
            <li>
              <a href="/valuation">
                <img src="assets/images/valuation.png"> Valuation
              </a>
            </li>
            <li>
              <a href="/certifiedbyiquippo">
                <img src="assets/images/certified.png"> Certified by iQuippo
              </a>
            </li>
          </ul>

        </div>
      </div>
      <div class="col-sm-3 col-md-2 padd-left hidden-xs">
        <div class="panel panel-primary">
          <div class="panel-heading text-center">
            <div class="panel-title">Featured Products</div>
            <hr>
          </div>
          <div class="panel-body text-center">
            <!-- <div class="media" ng-repeat="slide in featuredslides">
              <a class="pull-left" ng-href="/productdetail/{{slide._id}}">
                <img class="media-object" ng-src="{{uploadImagePrefix}}{{slide.assetDir}}/{{slide.image}}" alt="Image" width="70" height="60">
              </a>
              <div class="media-body text-left">
                <h5 class="media-heading text-left">{{slide.name}}</h5>
                New Delhi
              </div>
            </div> -->
            <!--carousel start -->
            <ul class="verContainer" drctv>
              <li ng-repeat="slide in mainVm.featuredslides" class="media">
                <a class="pull-left" ng-href="/productdetail/{{slide._id}}">
                  <img class="media-object" ng-src="{{uploadImagePrefix}}{{slide.assetDir}}/{{slide.primaryImg}}" alt="Image">
                </a>
                <div class="media-body text-left">
                  <h5 class="media-heading text-left">{{slide.name}}</h5>
                  New Delhi
                </div>
                <!-- <div class="popover left" id="popover_{{$index}}"> <div class="arrow"></div> <h3 class="popover-title">{{slide.name}}</h3> <div class="popover-content"> 
                  <div class="row">
                      <div class="col-sm-4"><small>{{slide.brand}}</small></div>
                      <div class="col-sm-8"><small>{{slide.model}}</small></div>
                  </div>
                </div> 
                </div> -->
               
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--carousel close -->
    </div>
  </div>
</section>
<div class="container text-center form-group">
<!-- <img src="assets/images/Ad_Banner_3.jpg" width="60%"> -->
  <img ng-if="mainVm.imgBottomCentre" ng-src="{{uploadImagePrefix}}{{classifiedAdDir}}/{{mainVm.imgBottomCentre}}" class="add2">
</div>
