<div id="inputformReq-modal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="inputFormVm.closeDialog()" aria-hidden="true">&times;</button>
    <h4 class="modal-title text-center">Input Form</h4>
  </div>
  <div class="modal-body">
    <form name="inputFormReqForm" novalidate class="form">
      <div class="row">
        <div class="col-sm-6 form-group" ng-class="{'has-error':inputFormReqForm.category.$invalid && submitted}">
          <select class="form-control" name="category" ng-model="inputFormVm.inputFormReqInfo.category" ng-change="inputFormVm.onCategoryChange(inputFormVm.inputFormReqInfo.category, true)" required>
            <option value="">*Select Category</option>
            <option value="{{cat.name}}" ng-repeat="cat in inputFormVm.allCategory | orderBy:'name'" ng-if="cat.name != 'Other'">{{cat.name}}</option>
          </select>
        </div>
        <div class="col-sm-6 form-group" ng-class="{'has-error':inputFormReqForm.brand.$invalid && submitted}">
          <select class="form-control" name="brand" ng-model="inputFormVm.inputFormReqInfo.brand" ng-change="inputFormVm.onBrandChange(inputFormVm.inputFormReqInfo.brand, true)" required>
            <option value="">*Select Brand</option>
            <option value="{{br.name}}" ng-repeat="br in inputFormVm.brandList | orderBy:'name'" ng-if="br.name != 'Other'">{{br.name}}</option>
          </select>
        </div>        
      </div>
      <div class="row">
        <div class="col-sm-6 form-group" ng-class="{'has-error':inputFormReqForm.model.$invalid && submitted}">
          <select class="form-control" name="model" ng-model="inputFormVm.inputFormReqInfo.model" ng-change="inputFormVm.onModelChange()" required>
            <option value="">*Select Model</option>
            <option value="{{md.name}}" ng-repeat="md in inputFormVm.modelList | orderBy:'name'" ng-if="md.name != 'Other'">{{md.name}}</option>
          </select>
        </div> 
        <div class="col-sm-6 form-group" ng-class="{'has-error':inputFormReqForm.tenure.$invalid && submitted}">
          <!-- <input type="number" class="form-control" name="tenure" ng-model="inputFormVm.inputFormReqInfo.tenure" placeholder="Tenure" required> -->
          <select class="form-control" name="tenure" ng-model="inputFormVm.inputFormReqInfo.tenure" ng-change="inputFormVm.getInstallmentPerUnit(inputFormVm.inputFormReqInfo.tenure)" required>
            <option value="">*Select Tenure</option>
            <option value="{{ten.tenure}}" ng-repeat="ten in inputFormVm.inputFormMasterData | orderBy:'tenure'">{{ten.tenure}}</option>
          </select>
        </div>        
      </div>
       <div class="row">
        <div class="col-sm-6 form-group" ng-class="{'has-error':inputFormReqForm.installmentPerUnit.$invalid && submitted}">
          <input type="number" class="form-control" name="installmentPerUnit" ng-model="inputFormVm.inputFormReqInfo.installmentPerUnit" disabled="disabled" placeholder="Installment per Unit" required>
        </div>
        <div class="col-sm-6 form-group" ng-class="{'has-error':inputFormReqForm.totalInstallment.$invalid && submitted}">
          <input type="number" class="form-control" name="totalInstallment" ng-model="inputFormVm.inputFormReqInfo.totalInstallment" disabled="disabled" placeholder="Total Installment" required>
        </div>        
      </div>
      
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-warning" ng-click="inputFormVm.submit(inputFormReqForm)">Submit</button>
  </div>
</div>