<div id="inputformReq-modal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="inputFormVm.closeDialog()" aria-hidden="true">&times;</button>
    <h4 class="modal-title text-left">Request Form</h4>
  </div>
  <div class="modal-body">
    <form name="inputFormReqForm" novalidate class="form">
      <div class="row">
        <div class="col-sm-6 form-group" ng-class="{'has-error':inputFormReqForm.category.$invalid && submitted}">
          <select class="form-control" name="category" ng-model="inputFormVm.inputFormReqInfo.category" ng-change="inputFormVm.onCategoryChange(inputFormVm.inputFormReqInfo.category, true)" required>
            <option value="">*Select Category</option>
            <option value="{{cat.category.name}}" ng-repeat="cat in inputFormVm.allCategory | orderBy:'category.name'">{{cat.category.name}}</option>
          </select>
        </div>
        <div class="col-sm-6 form-group" ng-class="{'has-error':inputFormReqForm.brand.$invalid && submitted}">
          <select class="form-control" name="brand" ng-model="inputFormVm.inputFormReqInfo.brand" ng-change="inputFormVm.onBrandChange(inputFormVm.inputFormReqInfo.brand, true)" required>
            <option value="">*Select Brand</option>
            <option value="{{br.brand.name}}" ng-repeat="br in inputFormVm.brandList | orderBy:'brand.name'">{{br.brand.name}}</option>
          </select>
        </div>        
      </div>
      <div class="row">
        <div class="col-sm-6 form-group" ng-class="{'has-error':inputFormReqForm.model.$invalid && submitted}">
          <select class="form-control" name="model" ng-model="inputFormVm.inputFormReqInfo.model" ng-change="inputFormVm.onModelChange()" required>
            <option value="">*Select Model</option>
            <option value="{{md.model.name}}" ng-repeat="md in inputFormVm.modelList | orderBy:'model.name'">{{md.model.name}}</option>
          </select>
        </div> 
        <div class="col-sm-6 form-group" ng-class="{'has-error':inputFormReqForm.tenure.$invalid && submitted}">
          <select class="form-control" ng-change="inputFormVm.onStateChange(inputFormVm.inputFormReqInfo.state)" name="tenure" ng-model="inputFormVm.inputFormReqInfo.state">
            <option value="">Select State</option>
            <option ng-repeat="state in inputFormState | orderBy:'state'" value="{{state}}">{{state}}</option>
          </select>
        </div>        
      </div>
      <div class="row">
        <div class="col-sm-6 form-group" ng-class="{'has-error':inputFormReqForm.quantity.$invalid && submitted}">
          <input type="number" class="form-control" name="quantity" ng-model="inputFormVm.inputFormReqInfo.quantity" ng-keyup="inputFormVm.getInstallmentPerUnit(inputFormVm.inputFormReqInfo.tenure)" typeahead-focus-first = "false" typeahead-wait-ms="100"  autocomplete="off" placeholder="Quantity" min="0" required>
        </div>
        <div class="col-sm-6 form-group" ng-class="{'has-error':inputFormReqForm.tenure.$invalid && submitted}">
          <select class="form-control" name="tenure" ng-model="inputFormVm.inputFormReqInfo.tenure" ng-change="inputFormVm.getInstallmentPerUnit(inputFormVm.inputFormReqInfo.tenure)" required>
            <option value="">*Select Tenure in months</option>
            <option value="{{ten.tenure}}" ng-repeat="ten in inputFormVm.inputFormMasterData | orderBy:'tenure'">{{ten.tenure}}</option>
          </select>
        </div>
      </div>
      <div class="row text-left">
        <div class="col-sm-6 form-group">
          <span>Down-payment Per Unit</span>
          <input type="number" class="form-control" name="marginPerUnit" ng-model="inputFormVm.inputFormReqInfo.marginPerUnit" disabled="disabled">
        </div> 
        <div class="col-sm-6 form-group">
          <span>Total Down-payment</span>
          <input type="number" class="form-control" name="totalMargin" ng-model="inputFormVm.inputFormReqInfo.totalMargin" disabled="disabled">
        </div>
      </div>
      <div class="row text-left">
        <div class="col-sm-6 form-group">
          <span>Processing Fee Per Unit</span>
          <input type="number" class="form-control" name="totalMargin" ng-model="inputFormVm.inputFormReqInfo.processingFee" disabled="disabled">
        </div>
        <div class="col-sm-6 form-group">
          <span>Total One Time Processing Fees</span>
          <input type="number" class="form-control" name="totalProcessingFee" ng-model="inputFormVm.inputFormReqInfo.totalProcessingFee" disabled="disabled">
        </div>        
      </div>
      <div class="row text-left">
        <div class="col-sm-6 form-group">
          <span>Monthly Repayment Per Unit</span>
          <input type="number" class="form-control" name="installmentPerUnit" ng-model="inputFormVm.inputFormReqInfo.installmentPerUnit" disabled="disabled">
        </div>
        <div class="col-sm-6 form-group">
          <span>Total Monthly Repayment</span>
          <input type="number" class="form-control" name="totalInstallment" ng-model="inputFormVm.inputFormReqInfo.totalInstallment" disabled="disabled">
        </div>        
      </div>
      <p class="text-left form-group" ng-if="inputFormVm.inputFormReqInfo.remark != ''"><strong>Note :</strong> {{inputFormVm.inputFormReqInfo.remark}}</p>

      <legend></legend>
      <div class="text-right">
        <button type="button" class="btn btn-lg btn-warning" ng-click="inputFormVm.submit(inputFormReqForm)">Submit</button>
      </div>
    </form>
  </div>
  
</div>