<div id="wrapper">
    <section class="wrapper">
      <div class="container-fluid">
        <div id="page-wrapper">
          <div class="row">
          <div class="col-sm-12">
            <h3>
              Product Upload
                <div class="pull-right" ng-if="isBulkUpload()">
                  <span class="fileinput-button" >
                      <a href="/bulkproduct" class="btn btn-success"><i class="fa fa-database"></i> Bulk Product Upload</a>
                   </span>
               </div>
            </h3> 
            <hr>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-12">            
          <!-- success error start-->
            <div class="row animate-show" ng-show="isSuccess" >
              <div class="col-sm-12">                
                <div class="alert alert-success alert-dismissible fade in" role="alert">
                  <button type="button" class="close" ng-click="closeMeassage()" aria-label="Close"><span aria-hidden="true">×</span></button>
                   {{successMessage}}
                </div>
              </div>
            </div>
            <div class="row animate-show" ng-show="isError">
              <div class="col-sm-12">                
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                  <button type="button" class="close" ng-click="closeMeassage()" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{errorMessage}}
                </div>
              </div>
            </div>
            <!-- success error end -->

            <form name="form" novalidate>
              <div class="seller_info form-group" ng-show="isActive() || isChannelPartner()">
                <h3>Seller Information</h3>
                <div class="row" ng-show="isActive() || isChannelPartner()">
                    <div class="form-group col-sm-4" ng-class="{'has-error': form.userType.$invalid && submitted }">
                      <select ng-disabled="isEdit" class="form-control" name="userType" ng-model="product.seller.userType" ng-change="onRoleChange(product.seller.userType)" ng-required="isActive() || isChannelPartner()">
                        <option value="" disabled>* Customer Type</option>
                        <option value="individual">Individual</option>
                        <option value="private">Private Entrepreneur</option>
                        <option value="legalentity">Legal Entity</option>
                      </select>
                      <i class="caret"></i>
                    </div>
                    <div class="col-sm-4 form-group" ng-show="userRequiredFlag" ng-class="{'has-error': form.userName.$invalid && submitted}">
                      <select ng-disabled="isEdit" class="form-control" name="userName"  ng-model="selectedUser" ng-change="onUserChange(selectedUser)" ng-options="user.fname for user in getUsersOnUserType track by user._id" ng-required="userRequiredFlag">
                            <option value="" disabled>* Select User</option>
                      </select>
                      <i class="caret"></i>
                      <!-- <p class="help-block" ng-show="form.userName.$error.required && submitted">
                        A name is required
                      </p> -->
                    </div>
                    <div class="col-sm-4 form-group" ng-show="compRequiredFlag" ng-class="{'has-error': form.company.$invalid && submitted}">
                      <select ng-disabled="isEdit" class="form-control" name="company"  ng-model="selectedCompany" ng-change="onUserChange(selectedCompany)" ng-options="user.company for user in getUsersOnUserType track by user._id" ng-required="compRequiredFlag">
                            <option value="" disabled>* Select Company</option>
                      </select>
                      <i class="caret"></i>
                    </div>
                    <div class="col-sm-2 ln">
                    <a href="/usermanagement">Create User</a>
                    </div>
                  </div>
                  <div class="row" ng-show="isActive() || isChannelPartner()">
                    <div class="col-sm-4">
                      <input ng-disabled="true" type="email" class="form-control" placeholder="Email Address" ng-value="product.seller.email" ng-model="product.seller.email" name="sellerEmail">
                    </div>
                    <div class="col-sm-4">
                      <input ng-disabled="true" type="text" class="form-control" placeholder="Mobile No." ng-value="product.seller.mobile" ng-model="product.seller.mobile" name="sellerMobile" uib-tooltip="+971-XX-XXXXXXX" tooltip-trigger="focus" tooltip-placement="top">
                    </div>
                  </div>
                  <div class="row col-sm-12 form-group" ng-show="isActive() || isChannelPartner()">
                    <p class="help-block cart_item" ng-show="(form.userName.$error.required || form.company.$error.required || form.userType.$invalid) && submitted">
                      Selection of Customer type and User/Company is must to upload your product.
                    </p>
                  </div>
              </div>
              <div class="clearfix"></div>
              <uib-accordion close-others="oneAtATime" class="information">                 
                <uib-accordion-group is-open="status.Firstopen" is-disabled="status.FirstDisabled">
                  <uib-accordion-heading>
                    Basic information <i class="pull-right fa" ng-class="{'fa-minus': status.Firstopen, 'fa-plus': !status.Firstopen}"></i>
                  </uib-accordion-heading>
                  <div class="row">
                    <div class="form-group col-sm-5"> Category<span class="text-warning">*</span></div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': form.category.$invalid && submitted}">
                      <select ng-disabled="relistingEnable" class="form-control" name="category"  ng-model="selectedCategory" ng-change="onCategoryChange(selectedCategory)" ng-options="category.name for category in allCategory track by category._id" required>
                            <option value="" disabled>Select Category</option>
                      </select>
                      <i class="caret"></i>
                    </div>
                    <div class="col-sm-3 form-group" ng-class="{'has-error': form.otherCategory.$invalid && submitted}">
                      <input type="text" class="form-control" name="otherCategory" ng-model="selectedCategory.otherName" ng-value="{{selectedCategory.otherName}}" ng-disabled ="selectedCategory.name != 'Other'" placeholder="Other" ng-required= "selectedCategory.name == 'Other'">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-5">Sub Category</div>
                    <div class="form-group col-sm-4">
                      <select class="form-control">
                            <option value="" disabled>Select Sub Category</option>
                      </select>
                      <i class="caret"></i>
                    </div>
                    <div class="col-sm-3 form-group" ng-class="{'has-error': form.otherCategory.$invalid && submitted}">
                      <input type="text" class="form-control" name="otherCategory" ng-model="selectedCategory.otherName" ng-value="{{selectedCategory.otherName}}" ng-disabled ="selectedCategory.name != 'Other'" placeholder="Other" ng-required= "selectedCategory.name == 'Other'">
                    </div>
                  </div>
                   <div class="row">
                    <div class="form-group col-sm-5">Product Brand<span class="text-warning">*</span></div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': form.brand.$invalid && submitted}">
                       <select ng-disabled="relistingEnable" class="form-control" name="brand" ng-model="selectedBrand" ng-change="onBrandChange(selectedBrand)" ng-options="brand.name for brand in brandList track by brand._id" required>
                            <option value="" disabled>Select Brand</option>
                      </select>
                      <i class="caret"></i>
                    </div>
                    <div class="col-sm-3 form-group" ng-class="{'has-error': form.otherBrand.$invalid && submitted}">
                      <input type="text" class="form-control" name="otherBrand" ng-model="selectedBrand.otherName" ng-value="{{selectedBrand.otherName}}" ng-disabled ="selectedBrand.name != 'Other'" placeholder="Other" ng-required= "selectedBrand.name == 'Other'">
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-5">Product Model<span class="text-warning">*</span></div>
                    <div class="form-group col-sm-4" ng-class="{'has-error': form.model.$invalid && submitted}">
                     <select ng-disabled="relistingEnable" class="form-control" name="model" ng-model="selectedModel" ng-options="model.name for model in modelList track by model._id" required  ng-change="onModelChange()">
                            <option value="" disabled>Select Model</option>
                      </select>
                      <i class="caret"></i>
                    </div>
                    <div class="col-sm-3 form-group" ng-class="{'has-error': form.otherModel.$invalid && submitted}">
                      <input type="text" class="form-control" name="otherModel" ng-model="selectedModel.otherName" ng-value="{{selectedMoodel.otherName}}" ng-disabled ="selectedModel.name != 'Other'" placeholder="Other" ng-required= "selectedModel.name == 'Other'">
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-5">Variant</div>
                    <div class="form-group col-sm-7">
                      <input type="text" placeholder="Variant" ng-value="product.variant" ng-model="product.variant" name="variant" class="form-control">
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-5">Product Group </div>
                    <div class="form-group col-sm-4">
                      <input type="text" placeholder="Group Name" ng-value="selectedGroup.name" ng-model="selectedGroup.name" name="group" class="form-control" ng-disabled="true">
                      <!-- <select class="form-control" name="group" ng-model="selectedGroup" ng-options="group.name for group in allGroup track by group.name" disabled>
                            <!-- <option value="" disabled>Select Group</option>
                      </select> -->
                    </div>
                    <!-- <div class="col-sm-7 form-group">
                      <input type="text" name="group" ng-model="selectedGroup" class="form-control" name="" placeholder="Product Group" disabled>
                    </div> -->
                    <!-- <div class="col-sm-3 form-group" ng-class="{'has-error': form.othergroup.$invalid && submitted}">
                      <input type="text" class="form-control" name="othergroup" ng-model="product.group.otherName" ng-value="{{product.group.otherName}}" ng-disabled ="selectedGroup.name != 'Other'" placeholder="Other">
                    </div> -->
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-5">Product Name</div>
                    <div class="form-group col-sm-7" ng-class="{'has-error': form.productName.$invalid && submitted}">
                      <input ng-disabled="true" type="text" placeholder="Product Name" ng-value="productName" ng-model="productName" name="productName" class="form-control" required>
                    </div>
                  </div>            

                  <div class="row">
                    <div class="form-group col-sm-5">Manufacturing Year<span class="text-warning">*</span></div>
                    <div class="form-group col-sm-6" ng-class="{'has-error': form.mfgyear.$invalid && submitted}">
                      <input type="text" name="mfgyear" ng-value="mfgYear" ng-model="mfgYear" class="form-control" placeholder="yyyy" uib-datepicker-popup="{{format}}" datepicker-options="{{datepickerOptions}}" is-open="opened" max-date="maxDate" min-date="minDate" date-disabled="disabled(date, mode)" close-text="Close" required disabled ngMinlength="4" ngMaxlength="4"/>
                    </div>
                    <div class="form-group col-sm-1 text-center padd-left">
                      <a href class="form-control" ng-click="open($event, 'mfgYear')">
                        <i class="fa fa-calendar-o fa-2x"></i>
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-5">Motor/Operating Hours</div>
                    <div class="form-group col-sm-7" ng-class="{'has-error': form.opHour.$invalid && submitted}">
                      <input type="text" name="opHour" placeholder="Motor/Operating Hours" ng-value="product.operatingHour" ng-model="product.operatingHour"  class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-5">Mileage(KMs)</div>
                    <div class="form-group col-sm-7" ng-class="{'has-error': form.mileage.$invalid && submitted}">
                      <input type="text" placeholder="Mileage" name="mileage" ng-value="product.mileage" ng-model="product.mileage"  class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-5">Machine Serial No.</div>
                    <div class="form-group col-sm-7" ng-class="{'has-error': form.srNumber.$invalid && submitted}">
                      <input type="text" name="srNumber" placeholder="Machine Serial No." ng-value="product.serialNo" ng-model="product.serialNo"  class="form-control">
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-5">Gross Price<span class="text-warning">*</span></div>
                    <div class="form-group col-sm-4">
                      <div class="input-group" ng-class="{'has-error': form.gPrice.$invalid && submitted}">
                        <span class="input-group-addon">
                          <select class="form-control" ng-disabled="product.priceOnRequest" name="currencyType" ng-model="product.currencyType">
                           <option value="">&#1583;.&#1573; AED</option>
                           <option value="EUR">&#8364; EURO</option>
                           <option value="GBP">&#163; GBP</option>
                           <option value="USD">&#36; USD</option>                       
                                                   
                          </select>   
                          <i class="fa fa-facebook"></i>
                        </span>
                          <input type="number" ng-disabled="product.priceOnRequest" placeholder="20,000" ng-disabled="priceOnRequest" name="gPrice" ng-value="product.grossPrice" class="form-control" ng-model="product.grossPrice" ng-required="!product.priceOnRequest">
                        </div>
                    </div>
                    <div class="form-group checkbox col-sm-3">
                      <input type="checkbox" name="" ng-value="true" ng-model="product.priceOnRequest">
                      Price on Request
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-5">Country<span class="text-warning">*</span></div>
                    <div class="form-group col-sm-7" ng-class="{'has-error': form.country.$invalid && submitted}">
                      <select class="form-control" name="country" ng-model="product.country" required>
                            <option value="" disabled>Select Country</option>
                            <option  ng-repeat="country in allCountries" value="{{country.name}}">{{country.name}}</option>
                      </select>
                      <i class="caret"></i>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-5">City<span class="text-warning">*</span></div>
                    <div class="form-group col-sm-7" ng-class="{'has-error': form.city.$invalid && submitted}">
                      <input type="text" placeholder="Enter City" name="city" ng-value="product.city" ng-model="product.city"  class="form-control" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-5">Location<span class="text-warning">*</span></div>
                    <div class="form-group col-sm-7" ng-class="{'has-error': form.location.$invalid && submitted}">
                      <input type="text" placeholder="Enter Location" name="location" ng-value="product.location" ng-model="product.location"  class="form-control" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-5">Trade Type<span class="text-warning">*</span></div>
                    <div class="form-group col-sm-7">
                      <select class="form-control">
                        <option>Select Trade Type</option>
                        <option>Rent</option>
                        <option>Sell</option>
                        <option>Both</option>
                      </select>
                      <i class="caret"></i>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-5">Product Condition</div>
                    <div class="form-group col-sm-7">                  
                        <div class="row">                      
                          <div class="col-sm-6">
                            <span class="condition"><input type="radio" checked="checked" placeholder=""  name="condition" ng-model="product.productCondition" value="used"> Used</span>
                          </div>
                          <div class="col-sm-6">
                            <span class="condition"><input type="radio" placeholder=""  name="condition" ng-model="product.productCondition" value="new"> New</span>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-5">Rate my Equipment</div>
                    <div class="form-group col-sm-7">                  
                        <select class="form-control">
                          <option>Select Rate my Equipment</option>
                          <option>Average</option>
                          <option>Good</option>
                          <option>Excellent</option>
                        </select>
                        <i class="caret"></i>
                    </div>
                  </div>
                  <div class="row upload-picHover form-group">
                    <div class="form-group col-sm-5 pic-popover">Upload Pictures</div>
                     <div class="col-sm-7 col-xs-12">
                     <div class="row pic-popover" popover-placement="left" uib-popover="To ensure picture quality we suggest minimum image resolutions as 450*300 pixels." popover-trigger="mouseenter">
                        <div class="col-sm-3 col-xs-6 primary-upload text-center" ng-repeat="img in images">
                          <div class="br5">
                            <span class="fileinput-button browse-icon" ng-show="!img.src">
                                <span><i class="fa fa-plus-circle"></i></span>
                                  <input type="file" name="files_{{$index}}"  data-index="{{$index}}" data-filetype="image" image-upload>
                             </span>

                              <span ng-show="img.src">
                                <div class="icn2">
                                  <a href="javascript:void(0);" ng-click="deleteImg($index)"><i class="fa fa-times" ng-if="!img.isPrimary"></i></a>
                               </div>
                               <div class="icn">
                                  <a href="javascript:void(0);" ng-click="rotate($index)" ng-if="!img.waterMarked"><i class="fa fa-repeat"></i></a>
                               </div>
                                <span class="fileinput-button"><a href="javascript:void(0);"  ng-click="openCropModal($index)" class="al2"> 
                                    <img ng-src="{{uploadImagePrefix}}{{assetDir}}/{{img.src}}?timestamp={{timestamp}}" class="img-responsive">
                                  </a>
                                </span>
                              </span>
                          </div>
                           <span ng-show="img.src"><input type="radio" name="prvRadio" value="{{$index}}" ng-click="makePrimary($index)" ng-checked="img.isPrimary"/>Primary</span>
                        </div>
                    </div>
                    </div>
                   
                  </div>
                  <div class="row form-group">
                    <div class="col-sm-5">Upload Video</div>
                    <div class="col-sm-3">
                      <span class="btn btn-warning fileinput-button">
                                  <span>Browse Video...</span>
                                  <input type="file" name="video"  data-filetype="video" file-upload>
                              </span>
                        <div>
                        <span ng-if="!isActive()">{{video.name}}</span>
                        <a ng-if="isActive()" href="/download/{{product.assetDir}}/{{video.name}}" class="text-muted" target="_blank" >{{video.name}}</a>
                        </div>
                    </div>
                  </div>
                </uib-accordion-group>

                <uib-accordion-group is-open="Techstatus.open">
                  <uib-accordion-heading>
                    Technical information  <i class="pull-right fa" ng-class="{'fa-minus': Techstatus.open, 'fa-plus': !Techstatus.open}"></i>
                  </uib-accordion-heading>
                  <div class="row">
                    <div class="col-sm-5"><h4></h4></div>
                    <div ng-if="!isActive()" class="col-sm-6 text-right">
                      {{doc.name}}
                    </div>
                    <div ng-if="isActive()" class="col-sm-6 text-right">
                      <a ng-if="isActive()" href="{{uploadImagePrefix}}{{product.assetDir}}/{{doc.name}}" class="text-muted" target="_blank" >{{doc.name}}</a> 
                    </div>
                    <div class="col-sm-1 text-right">                  
                      <span class="text-right text-danger fileinput-button">
                              <span><i class="fa fa-file-text fa-2x"></i></span>
                              <input type="file" name="doc"  data-filetype="doc" file-upload>
                      </span>
                    </div>
                  </div>
                  <legend></legend>
                  <div class="row">
                    <div class="col-sm-5 form-group">Gross Weight</div>
                    <div class="col-sm-7 form-group">
                      <input type="text" placeholder="Value" value="{{product.technicalInfo.grossWeight}}" ng-model="product.technicalInfo.grossWeight" class="form-control" name="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-5 form-group">Operating Weight</div>
                    <div class="col-sm-7 form-group">
                      <input type="text" placeholder="Value" value="{{product.technicalInfo.operatingWeight}}" ng-model="product.technicalInfo.operatingWeight"  class="form-control" name="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-5 form-group">Bucket Capacity</div>
                    <div class="col-sm-7 form-group">
                      <input type="text" placeholder="Value"  value="{{product.technicalInfo.bucketCapacity}}" ng-model="product.technicalInfo.bucketCapacity" class="form-control" name="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-5 form-group">Engine Power</div>
                    <div class="col-sm-7 form-group">
                      <input type="text" placeholder="Value" value="{{product.technicalInfo.enginePower}}" ng-model="product.technicalInfo.enginePower" class="form-control" name="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-5 form-group">Lifting Capacity</div>
                    <div class="col-sm-7 form-group">
                      <input type="text" placeholder="Value" value="{{product.technicalInfo.liftingCapacity}}" ng-model="product.technicalInfo.liftingCapacity"  class="form-control" name="">
                    </div>
                  </div>
                  <div class="form-group row" ng-repeat=" param in product.technicalInfo.params">
                    <div class="col-sm-4 col-md-5">
                      <input type="text" placeholder="Parameter" ng-value="param[$index].key" ng-model="product.technicalInfo.params[$index].key" class="form-control" name="">
                    </div>
                    <div class="col-sm-4 col-md-4"><input type="text" placeholder="Value" ng-value="param[$index].value" ng-model="product.technicalInfo.params[$index].value" class="form-control" name=""></div>
                    <div class="col-sm-4 col-md-3">
                      <button class="btn btn-block" ng-click="product.technicalInfo.params.push({})" ng-if="$last">Add More</button>
                      <button class="btn btn-block" ng-click="product.technicalInfo.params.splice($index,1)" ng-if="!$last">Delete</button>
                    </div>
                  </div> 
                </uib-accordion-group>
                <uib-accordion-group is-open="Infostatus.open">
                  <uib-accordion-heading>
                    Service information  <i class="pull-right fa" ng-class="{'fa-minus': Infostatus.open, 'fa-plus': !Infostatus.open}"></i>
                  </uib-accordion-heading>
                  <div class="form-group row" ng-repeat="serviceinfo in product.serviceInfo">
                    <div class="col-sm-3 col-md-3">
                      <input type="date" placeholder="Date" class="form-control" ng-model="product.serviceInfo[$index].servicedate" uib-datepicker-popup="{{formats1}}" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" ng-click="open1()">
                    </div>
                    <div class="col-sm-2 col-md-2"><input type="text" placeholder="Operating Hours" ng-value="serviceinfo[$index].operatingHour" class="form-control" ng-model="product.serviceInfo[$index].operatingHour"></div>
                    <div class="col-sm-2 col-md-2"><input type="text" placeholder="Service at(KMs)" ng-value="serviceinfo[$index].serviceat" class="form-control" ng-model="product.serviceInfo[$index].serviceAt"></div>
                    <div class="col-sm-2 col-md-3"><input type="text" placeholder="Authorized Station" ng-value="serviceinfo[$index].authServiceStation" class="form-control" ng-model="product.serviceInfo[$index].authServiceStation"></div>
                    <div class="col-sm-3 col-md-2">
                      <button class="btn btn-block" ng-click="product.serviceInfo.push({})" ng-if="$last">Add More</button>
                      <button class="btn btn-block" ng-click="product.serviceInfo.splice($index,1)" ng-if="!$last">Delete</button>
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-sm-3">Upload Terms &amp; Conditions</div>
                    <div class="col-sm-2">
                      <span class="btn btn-success fileinput-button">
                        <span>Browse File...</span>
                          <input type="file" name="t&c"  data-filetype="pdf" file-upload>
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <table>
                      <tbody>
                        <tr>
                          <td width="20%">Engine Repaired/Overhauling</td>
                          <td width="30%"><input type="radio" id="yesCheck" name="enginstatus" ng-model="product.isEngineRepaired" value="true"> Yes                                          
                          </td>
                          <td width="20%"><input type="radio" id="noCheck" name="enginstatus" ng-model="product.isEngineRepaired" value="false"> No</td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="form-group"></div>
                      <div class="row">
                          <div class="col-sm-12">                       
                            <textarea class="form-control" placeholder="Comments" ng-value="product.comment" ng-model="product.comment"></textarea>
                          </div>                      
                      </div>
                    </div>
                </uib-accordion-group>
                <uib-accordion-group is-open="Inforent.open">
                  <uib-accordion-heading>
                    Rental information  <i class="pull-right fa" ng-class="{'fa-minus': Inforent.open, 'fa-plus': !Inforent.open}"></i>
                  </uib-accordion-heading>
                  <div class="row form-group">
                    <div class="col-sm-4">
                      Availability of asset
                    </div>
                    <div class="col-sm-4">
                      <input type="date" placeholder="Date" class="form-control" ng-model="dt" uib-datepicker-popup="{{formats}}" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" ng-click="open2()">
                    </div>
                    <div class="col-sm-4">
                      <input type="date" placeholder="Date" class="form-control" ng-model="dt1" uib-datepicker-popup="{{formats}}" is-open="popup3.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" ng-click="open3()">
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-sm-4">
                      Check Rental Rate For
                    </div>
                    <div class="col-sm-2">
                      <input type="checkbox" name=""> Hours
                    </div>
                    <div class="col-sm-2">
                      <input type="checkbox" name=""> Days
                    </div>
                    <div class="col-sm-2">
                      <input type="checkbox" name=""> Month
                    </div>
                  </div>
                  <table class="table">
                    <thead>
                      <tr>   
                        <th></th>
                        <th>Min. Rental Period</th>                     
                        <th>MAx. Rental Period</th>
                        <th>Rent Amount</th>
                        <th>Security Deposit</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><b>Hours</b></td>
                        <td>
                            <input type="number" placeholder="Hours" class="form-control" />
                        </td>
                        <td>
                            <input type="number" placeholder="Hours" class="form-control" />
                        </td>
                        <td>
                            <input type="number" placeholder="Hours" class="form-control" />
                        </td>
                        <td>
                            <input type="number" placeholder="Hours" class="form-control" />
                        </td>
                        
                        
                      </tr>
                      <tr>
                        <td><b>Days</b></td>
                        <td>
                            <input type="number" placeholder="Days" class="form-control" />
                        </td>
                        <td>
                            <input type="number" placeholder="Days" class="form-control" />
                        </td>
                        <td>
                            <input type="number" placeholder="Days" class="form-control" />
                        </td>
                        <td>
                            <input type="number" placeholder="Days" class="form-control" />
                        </td>

                      </tr>
                      <tr>
                        <td><b>Months</b></td>                       
                        <td>
                            <input type="number" placeholder="Months" class="form-control" />
                        </td>
                        <td>
                            <input type="number" placeholder="Months" class="form-control" />
                        </td>
                        <td>
                            <input type="number" placeholder="Months" class="form-control" />
                        </td>
                        <td>
                            <input type="number" placeholder="Months" class="form-control" />
                        </td>

                      </tr>
                      
                    </tbody>
                  </table> 
                </uib-accordion-group>
              </uib-accordion>

                <div class="clearfix form-group"></div>  
                  <div class="row" ng-show="isActive()">
                      <div class="col-sm-6">
                        <div class="row">
                          <div class="col-sm-1">
                        <input type="checkbox" id="" name="featured" ng-model="product.featured" ng-value="product.featured"> 
                      </div>
                      <div class="col-sm-5">
                        Featured
                      </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="row">
                          <div class="col-sm-1">
                          <input type="checkbox" id="" name="status"  ng-model="product.status" ng-value="product.status"> 
                          </div>
                          <div class="col-sm-5">
                            Active
                          </div>
                        </div>
                      </div>
                    </div> 
                <div class="clearfix form-group"></div>                  
                 <div class="form-group btn-group pull-right">
                    <button class="btn" type="reset" ng-click="resetClick()" ng-show="!isEdit">Reset</button>
                    <button class="btn btn-primary" type="button" ng-click="previewProduct()">Preview</button>
                    <button ng-hide="enableButton" class="btn btn-danger" ng-click="addOrUpdateProduct(product)">Submit</button>
                    <button ng-show="enableButton" class="btn btn-danger" confirmed-click="addOrUpdateProduct(product)" ng-confirm-click="This operation will make product inactive and needs administrator approval for activation. Do you want to continue?">Submit</button>
                </div>            
            </form>
          </div>
        </div>
        </div>
      </div>
    </section>
  </div>
    <div class="form-group"></div>
<script type="text/ng-template" id="productPreview.html">
      <div>
       <div class="modal-header">
              <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Preview Product Upload</h4>
            </div>
            <div class="modal-body">              
              <div class="form-group">
              <ul class="img-magnifier text-center">
                  <li ng-repeat="img in images" ng-if="img.src">
                    <div class="removePrinary">
                      <input type="radio" name="prvRadio" value="{{$index}}" ng-checked="img.isPrimary" ng-click="makePrimary($index)" uib-tooltip="Make it Primary" tooltip-placement="top"tooltip-trigger="mouseenter">
                      <a href="javascript:void(0);" ng-click="deleteImg($index)" ng-if="!img.isPrimary" uib-tooltip="Remove" tooltip-placement="top" tooltip-trigger="mouseenter">
                        <i class="fa fa-close"></i>
                      </a>
                    </div>
                    <div>
                        <img width="80" height="80" ng-src="{{prefix}}{{assetDir}}/{{img.src}}" class="img-responsive">
                    </div>
                  </li>
                </ul>
              </div>
             <div class="form-group"></div>
             <h4 class="text-left">Basic Information</h4>
              <div class="table-responsive">                
                <table class="table table-bordered" align="left">
                  <tr>
                    <td>Product Group</td>
                    <td>Categories</td>
                    <td>Product Brand</td>
                    <td>Product Model</td>
                    <td>Product Name</td>
                    <td>Mfg. Year</td>                    
                    <td>Motor/Operating Hours</td>
                    <td>Mileage(KMs)</td>
                    <td>Machine Serial No.</td>
                    <td>Gross Price</td>
                    <td>Country</td>
                    <td>City</td>
                    <td>Product Condition</td>
                    <td>Video</td>
                  </tr>
                  <tr>
                    <td>{{product.group.name}}</td>
                    <td>{{product.category.name}}</td>
                    <td>{{product.brand.name}}</td>
                    <td>{{product.model.name}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.mfgYear | date:'yyyy'}}</td>
                    <td>{{product.operatingHour}}</td>
                    <td>{{product.mileage}}</td>
                    <td>{{product.serialNo}}</td>
                    <td>{{product.grossPrice}}</td>
                    <td>{{product.country}}</td>
                    <td>{{product.city}}</td>
                    <td>{{product.productCondition}}</td>                  
                    <td>{{product.videoName}}</td>
                  </tr>
              <!--<tr>
                    <td>Primary Image</td>
                    <td>
                    <table>
                      <tr>
                        <td>{{product.primaryImage}} </td>
                      </tr>
                      <tr>
                        <td><img widtd="50" height="50" ng-src="{{product.src}}" ng-if="!isEdit">
                        <img widtd="50" height="50" ng-src="{{prefix}}{{product.src}}" ng-if="isEdit"></td>
                      </tr>

                    </table>
                    </td>
                  </tr>
                 -->
                </table>
              </div>

               <h4 class="text-left">Technical Information</h4>
              <div class="table-responsive">               
                <table class="table table-bordered">
                  <tr>
                    <td>Document</td>
                    <td>Gross Weight</td>
                    <td>Operating Weight</td>
                    <td>Bucket Capacity</td>
                    <td>Engine Power</td>
                    <td>Lifting Capacity</td>
                    <td ng-repeat="techInfo in product.technicalInfo.params">{{techInfo.key}}</td>
                    

                  </tr>
                  <tr>
                    <td>{{product.documentName}}</td>
                    <td>{{product.technicalInfo.grossWeight}}</td>
                    <td>{{product.technicalInfo.operatingWeight}}</td>
                    <td>{{product.technicalInfo.bucketCapacity}}</td>
                    <td>{{product.technicalInfo.enginePower}}</td>
                    <td>{{product.technicalInfo.liftingCapacity}}</td>
                    <td ng-repeat="techInfo in product.technicalInfo.params">{{techInfo.value}}</td>
                  </tr>
                </table>
              </div>

              <h4 class="text-left">Service information</h4>
              <div class="table-responsive">                
                <table class="table table-bordered">
                  <tr>
                    <td>Date</td>
                    <td>Operating hrs</td>
                    <td>Service At</td>
                    <td>Autdorized Station</td>
                  </tr>
                  <tr ng-repeat="serviceinfo in product.serviceInfo">
                    <td>{{getDateFormat(serviceinfo.servicedate)}}</td>
                    <td>{{serviceinfo.operatingHour}}</td>
                    <td>{{serviceinfo.serviceAt}}</td>
                    <td>{{serviceinfo.authServiceStation}}</td>
                    
                  </tr>
                </table>
                <table class="table table-bordered">
                  <tr>
                    <td>Engine Repaired/Overhauling</td>
                    <td>Comments</td>
                    <td>Status</td>
                  </tr>
                  <tr>
                    <td>{{isEngineRepaired(product.isEngineRepaired)}}</td>
                    <td>{{product.comment}}</td>
                    <td ng-if="product.status">Approved</td>
                    <td ng-if="!product.status">Not approved</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="modal-footer">
            </div>
    </div>

</script>
<script type="text/ng-template" id="cropImage.html">
  <div>
    <div class="modal-header">
    <button type="button" class="close"  ng-click="dismissModal()" aria-hidden="true"><i class="fa fa-times"></i></button>
    </div>
    <div class="modal-body">
       <image-crop image-out="imageOut"  crop-options="options" ng-transclude crop-image-save="saveCrop">
         <edit-crop></edit-crop>
       </image-crop>
    </div>
     <div class="modal-footer">
            <button type="button" class="btn btn-success" ng-click="cropImage()">Crop <i class="fa fa-crop"></i></button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="saveImage()">Save</button>
      </div>
  </div>
</script>