    <div>
        <div class="modal-header">
          <button type="button" class="close" ng-click="dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="panel-titel">Products Information</h4>
        </div>
        <div class="modal-body">
          <table width="100%">
            <tbody>
              <tr>
                <td  colspan="5">
                  <table border="0" width="100%" height="15" >
                    <tbody>
                     
                      <tr>
                        <td width="10%" class="compares"><img src="assets/images/srei-logo-img.png" width="100"></td>
                        <!-- <td width="20%" class="compares" ng-repeat="prd in productList">
                          <img ng-src="{{uploadImagePrefix}}{{prd.assetDir}}/{{prd.primaryImg}}" class="compare-img">
                          <a href="" class="cancel-image"><i class="fa fa-close"></i></a>
                        </td> -->
                        <td width="20%" class="compares">
                          <img ng-src="{{uploadImagePrefix}}{{prd.assetDir}}/{{prd.primaryImg}}" class="compare-img">
                          <a href="" class="cancel-image"><i class="fa fa-close"></i></a>
                        </td>
                        <td width="20%" class="compares">
                          <img ng-src="{{uploadImagePrefix}}{{prd.assetDir}}/{{prd.primaryImg}}" class="compare-img">
                          <a href="" class="cancel-image"><i class="fa fa-close"></i></a>
                        </td>
                        <td width="20%" class="compares">
                          <h5 class="text-left">Add to compare :</h5>
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Category">
                            <span class="input-group-addon">
                              <a href="" class="btn">Search</a>
                            </span>
                          </div>
                        </td>
                        <td width="20%" class="compares">
                          <h5 class="text-left">Add to compare :</h5>
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Category">
                            <span class="input-group-addon">
                              <a href="" class="btn">Search</a>
                            </span>
                          </div>
                        </td>
                      </tr>
                     
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td colspan="5">
                  <table border="0" width="100%" height="15" >
                    <tbody>
                      <tr style="background:#EFEEEE;">
                        <td colspan="5" align="left" style="font-size:20px;padding:7px;"><font color="#000">Basic Information</font></td>
                      </tr>
                      
                      <tr>
                        <td  class="bordered1">Product Id</td>
                        <td class="bordered" width="20%">{{prd.productId}}</td>
                        <td class="bordered" width="20%">{{prd.productId}}</td>
                        <td class="bordered" width="20%">{{prd.productId}}</td>
                        <td class="bordered" width="20%">{{prd.productId}}</td>
                      </tr>
                      <tr>
                        <td class="bordered1" >Brand / Model</td>
                        <td class="bordered" width="20%"> {{prd.brand.name}} / {{prd.model.name}}</td>
                        <td class="bordered" width="20%"> {{prd.brand.name}} / {{prd.model.name}}</td>
                        <td class="bordered" width="20%"> {{prd.brand.name}} / {{prd.model.name}}</td>
                        <td class="bordered" width="20%"> {{prd.brand.name}} / {{prd.model.name}}</td>
                      </tr>
                      <tr>
                        <td class="bordered1">Category</td>
                        <td class="bordered" width="20%">{{prd.category.name}}</td>
                        <td class="bordered" width="20%">{{prd.category.name}}</td>
                        <td class="bordered" width="20%">{{prd.category.name}}</td>
                        <td class="bordered" width="20%">{{prd.category.name}}</td>
                      </tr>
                      <tr>
                        <td class="bordered1">Manufacturing Year</td>
                        <td  class="bordered" width="20%"> {{prd.mfgYear}}</td>
                        <td  class="bordered" width="20%"> {{prd.mfgYear}}</td>
                        <td  class="bordered" width="20%"> {{prd.mfgYear}}</td>
                        <td  class="bordered" width="20%"> {{prd.mfgYear}}</td>
                      </tr>
                      <tr>
                        <td class="bordered1">Operating Hours/HMR</td>
                        <td class="bordered" width="20%">{{prd.operatingHour}}</td>
                        <td class="bordered" width="20%">{{prd.operatingHour}}</td>
                        <td class="bordered" width="20%">{{prd.operatingHour}}</td>
                        <td class="bordered" width="20%">{{prd.operatingHour}}</td>
                      </tr>
                      <tr>
                        <td class="bordered1">Mileage/KMR</td>
                        <td class="bordered" width="20%">{{prd.mileage}}</td>
                        <td class="bordered" width="20%">{{prd.mileage}}</td>
                        <td class="bordered" width="20%">{{prd.mileage}}</td>
                        <td class="bordered" width="20%">{{prd.mileage}}</td>
                      </tr>
                      <tr>
                        <td class="bordered1">Machine Serial No.</td>
                        <td class="bordered" width="20%">{{prd.serialNo}}</td>
                        <td class="bordered" width="20%">{{prd.serialNo}}</td>
                        <td class="bordered" width="20%">{{prd.serialNo}}</td>
                        <td class="bordered" width="20%">{{prd.serialNo}}</td>
                      </tr>
                      <tr>
                        <td class="bordered1">Country</td>
                        <td class="bordered" width="20%">{{prd.country}}</td>
                        <td class="bordered" width="20%">{{prd.country}}</td>
                        <td class="bordered" width="20%">{{prd.country}}</td>
                        <td class="bordered" width="20%">{{prd.country}}</td>
                      </tr>
                      <tr>
                        <td class="bordered1">Location</td>
                        <td class="bordered" width="20%">{{prd.city}}</td>
                        <td class="bordered" width="20%">{{prd.city}}</td>
                        <td class="bordered" width="20%">{{prd.city}}</td>
                        <td class="bordered" width="20%">{{prd.city}}</td>
                      </tr>
                      <tr>
                        <td class="bordered1">Price (Excl. Tax).</td>
                        <td class="bordered" width="20%">
                          <span  ng-if="!prd.priceOnRequest">{{prd.grossPrice}}</span><span ng-if="prd.priceOnRequest">Price On Request</span>
                        </td>
                        <td class="bordered" width="20%">
                          <span  ng-if="!prd.priceOnRequest">{{prd.grossPrice}}</span><span ng-if="prd.priceOnRequest">Price On Request</span>
                        </td>
                        <td class="bordered" width="20%">
                          <span  ng-if="!prd.priceOnRequest">{{prd.grossPrice}}</span><span ng-if="prd.priceOnRequest">Price On Request</span>
                        </td>
                        <td class="bordered" width="20%">
                          <span  ng-if="!prd.priceOnRequest">{{prd.grossPrice}}</span><span ng-if="prd.priceOnRequest">Price On Request</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="bordered1">Product Condition</td>
                        <td class="bordered" width="20%">{{prd.productCondition | uppercase}}</td>
                        <td class="bordered" width="20%">{{prd.productCondition | uppercase}}</td>
                        <td class="bordered" width="20%">{{prd.productCondition | uppercase}}</td>
                        <td class="bordered" width="20%">{{prd.productCondition | uppercase}}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td colspan="5">
                  <table border="0" width="100%" height="15" >
                    <tbody>
                      <tr style="background:#EFEEEE;">
                        <td align="left" colspan="5" style="font-size:20px;padding:7px;"><font color="#000">Technical Information</font></td>
                      </tr>
                      <tr>
                        <td class="bordered1" width="20%">
                        Gross Weight</td>
                        <td class="bordered" width="20%">{{prd.technicalInfo.grossWeight}}</td>
                        <td class="bordered" width="20%">{{prd.technicalInfo.grossWeight}}</td>
                        <td class="bordered" width="20%">{{prd.technicalInfo.grossWeight}}</td>
                        <td class="bordered" width="20%">{{prd.technicalInfo.grossWeight}}</td>
                      </tr>
                      <tr>
                        <td class="bordered1" width="20%">
                        Operating Weight</td>
                       <td class="bordered" width="20%">{{prd.technicalInfo.operatingWeight}}</td>
                       <td class="bordered" width="20%">{{prd.technicalInfo.operatingWeight}}</td>
                       <td class="bordered" width="20%">{{prd.technicalInfo.operatingWeight}}</td>
                       <td class="bordered" width="20%">{{prd.technicalInfo.operatingWeight}}</td>
                      </tr>
                      <tr>
                        <td class="bordered1" width="20%" style="padding-bottom: 10px;font-  weight:bold;">Bucket Capacity
                        </td>
                       <td class="bordered" width="20%">{{prd.technicalInfo.bucketCapacity}}</td>
                       <td class="bordered" width="20%">{{prd.technicalInfo.bucketCapacity}}</td>
                       <td class="bordered" width="20%">{{prd.technicalInfo.bucketCapacity}}</td>
                       <td class="bordered" width="20%">{{prd.technicalInfo.bucketCapacity}}</td>
                      </tr>
                      <tr>
                        <td class="bordered1" width="20%" style="padding-bottom: 10px;font-weight:bold;">
                        Engine Power</td>
                        <td class="bordered" width="20%">{{prd.technicalInfo.enginePower}}</td>
                        <td class="bordered" width="20%">{{prd.technicalInfo.enginePower}}</td>
                        <td class="bordered" width="20%">{{prd.technicalInfo.enginePower}}</td>
                        <td class="bordered" width="20%">{{prd.technicalInfo.enginePower}}</td>
                      </tr>
                      <tr>
                        <td class="bordered1" width="20%" style="padding-bottom: 10px;font-weight:bold;">
                        Lifting Capacity</td>
                       <td class="bordered" width="20%">{{prd.technicalInfo.liftingCapacity}}</td>
                       <td class="bordered" width="20%">{{prd.technicalInfo.liftingCapacity}}</td>
                       <td class="bordered" width="20%">{{prd.technicalInfo.liftingCapacity}}</td>
                       <td class="bordered" width="20%">{{prd.technicalInfo.liftingCapacity}}</td>
                      </tr>
                      <tr>
                        <td class="bordered1" width="20%" style="padding-bottom: 10px;font-weight:bold;">
                        Specification Document</td>
                        <td class="bordered" width="20%">{{prd.documentName}}</td>
                        <td class="bordered" width="20%">{{prd.documentName}}</td>
                        <td class="bordered" width="20%">{{prd.documentName}}</td>
                        <td class="bordered" width="20%">{{prd.documentName}}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
       
</div>
        