<div id="wrapper">
  <section class="wrapper">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-sm-12">
          <div id="page-wrapper">
            <!-- Page Heading -->
            
                <div id="products">
                  <h3>
                  <div class="row">
                    <div class="col-sm-11">
                        
                            Product Information
                    </div>
                    <!-- <div class="col-sm-1">
                        <span class="btn btn-success fileinput-button pull-right" ng-if="isAdmin()">
                            <i class="fa fa-file-excel-o"></i><span> Import</span>
                            <input type="file" name="file" onchange="angular.element(this).scope().importProducts(this.files,this)">
                        </span>
                    </div> -->
                    <div class="col-sm-1">
                        <button class="btn btn-md btn-success pull-right" ng-click="exportExcel()"><i class="fa fa-file-excel-o"></i> Export</button>
                    </div>
                  </div>
                        </h3>
                        <hr>
                        <div class="clearfix"></div>
                    </div>
                  </div>
                  <div class="featured-pro">
                    <input type="checkbox" id="" name="featured" ng-model="featured" ng-value="featured" ng-click="featuredCommand(featured)"> Featured
                  </div>
                  <div class="table-responsive">
                    <table datatable="ng" id="product_listing_table" dt-options= "dtOptions" dt-instance="tableRef" class="table table-bordred table-striped">

                      <thead>
                        <tr>
                          <th width="8"></th>
                          <th width="65">Product ID</th>
                          <th>Categories</th>
                          <th>Brand</th>
                          <th>Model</th>                          
                          <!-- <th>Group</th> --> 
                          <th width="70">Price</th> 
                          <th>Image Count</th>
                          <th>Seller & Type</th>                         
                          <th width="70">Mfg. Year</th>
                          <th>Location</th>                          
                          <th>Age</th>
                          <th width="70">Expiry Date</th>
                          <th>Status</th>
                          <th width="12%">Actions</th>
                        </tr>                      
                      </thead>
                      <tbody>

                        <tr ng-repeat="product in globalProductList" ng-class="{'info':product.featured}">
                          <td ng-disabled="!product.expired">
                              <a ng-disabled="!product.expired" href="javascript:void(0);" ng-click="productRelistingHandler(product)" class="btn btn-primary btn-sm" uib-popover="Relisting" popover-trigger="mouseenter">
                                <i class="fa fa-retweet"></i>
                              </a>
                            
                          </td>
                          <td>{{product.productId}}</td>
                          <td>{{product.category.name}}</td>
                          <td>{{product.brand.name}}</td>
                          <td>{{product.model.name}}</td> 
                          <td ng-if="!product.priceOnRequest">
                          <b ng-if="product.currencyType == 'AED'" class="pull-left">&#1583;.&#1573; &nbsp;</b>
                          <i class="fa fa-eur" ng-if="product.currencyType == 'EUR'"></i>
                          <i class="fa fa-gbp" ng-if="product.currencyType == 'GBP'"></i>
                          <i class="fa fa-usd" ng-if="product.currencyType == 'USD'"></i>  
                          {{product.grossPrice}}</td>  
                          <td ng-if="product.priceOnRequest">Price On Request</td>                       
                          <!-- <td>{{product.group.name}}</td> -->
                          <td>{{product.images.length}}</td>
                          <td>
                              <a ng-if="product.seller.userType == 'individual'" href="javascript:void(0);" ng-click="previewSellerDetail(product)" uib-popover="Seller Information" popover-trigger="mouseenter">{{product.seller.fname}} (Individual)</a>

                              <a ng-if="product.seller.userType == 'private'" href="javascript:void(0);" ng-click="previewSellerDetail(product)" uib-popover="Seller Information" popover-trigger="mouseenter">{{product.seller.fname}} (Private Entrepreneur)</a>

                              <a  ng-if="product.seller.userType == 'legalentity'" href="javascript:void(0);" ng-click="previewSellerDetail(product)" uib-popover="Seller Information" popover-trigger="mouseenter">{{product.seller.fname}} (Legal Entity)</a>

                          </td>
                          
                          <td>{{product.mfgYear}}</td>
                          <td>{{product.country}}</td>
                          <!-- <td>{{product.productCondition}}</td> -->
                          <td>{{dayDiff(product.relistingDate)}}</td>
                          <td>{{getExpireDate(product.relistingDate)}}</td>
                          <td>{{getStatus(product.status, product.isSold)}}</td>
                          <td>
                          <a href="javascript:void(0);" ng-click="productHistoryHandler(product)" type="button" class="btn btn-success btn-sm" uib-popover="View Detail" popover-trigger="mouseenter">
                            <i class="fa fa-eye"></i>
                          </a>
                           <a href="javascript:void(0);" ng-disabled="product.isSold" ng-click="productEditHandler(product)" class="btn btn-primary btn-sm" uib-popover="Edit" popover-trigger="mouseenter">
                            <i class="fa fa-pencil"></i>
                          </a>
                            <button class="btn btn-danger btn-sm" ng-disabled="product.isSold" class="btn btn-primary btn-xs" uib-popover="Delete" popover-trigger="mouseenter"  confirmed-click="deleteProduct(product)" ng-confirm-click="Would you like to delete this record?"><i class="fa fa-trash"></i>
                                </span>
                              </button>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div> 
                </div>
                
                <!-- /#page-wrapper -->
          
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script>
  $(document).ready(function(){
    $('.dashboard-nav a').on('click', function(){
      $('.dashboard-nav a').removeClass('active')
      $(this).addClass('active')
    });
  });
</script>
<script type="text/ng-template" id="producthistory.html">
      <div>
        <div class="modal-header">
          <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Preview Product Upload</h4>
        </div>
        <div class="modal-body">
          <h4>Basic Information</h4>
          <table class="table table-bordered">
            <tr>
              <th>Product Group</th>
              <td>{{product.group.name}}</td>
            </tr>
            <tr>
              <th>Categories</th>
              <td>{{product.category.name}}</td>
            </tr>
            <tr>
              <th>Product Brand</th>
              <td>{{product.brand.name}}</td>
            </tr>
            <tr>
              <th>Product Model</th>
              <td>{{product.model.name}}</td>
            </tr>
            <tr>
              <th>Product Name</th>
              <td>{{product.name}}</td>
            </tr>
            <tr>
              <th>Manufacturing Year</th>
              <td>{{product.mfgYear}}</td>
            </tr>
            <tr>
              <th>Motor/Operating Hours</th>
              <td>{{product.operatingHour}}</td>
            </tr>
            <tr>
              <th>Mileage(KMs)</th>
              <td>{{product.mileage}}</td>
            </tr>
            <tr>
              <th>Machine Serial No.</th>
              <td>{{product.serialNo}}</td>
            </tr>
            <tr>
              <th>Gross Price</th>
              <td>{{product.grossPrice}}</td>
            </tr>
            <tr>
              <th>Country</th>
              <td>{{product.country}}</td>
            </tr>
            <tr>
              <th>City</th>
              <td>{{product.city}}</td>
            </tr>
            <tr>
              <th>Product Condition</th>
              <td>{{product.productCondition}}</td>
            </tr>
            <tr>
              <th>Primary Image</th>
              <td>{{product.primaryImage}}</td>
            </tr>
            <tr>
              <th>Video</th>
              <td>{{product.videoName}}</td>
            </tr>
          </table>
           <h4>Technical Information</h4>
          <table class="table table-bordered">
            <tr>
              <th>Gross Weight</th>
              <td>{{product.technicalInfo.grossWeight}}</td>
            </tr>
            <tr>
              <th>Operating Weight</th>
              <td>{{product.technicalInfo.operatingWeight}}</td>
            </tr>
            <tr>
              <th>Bucket Capacity</th>
              <td>{{product.technicalInfo.bucketCapacity}}</td>
            </tr>
            <tr>
              <th>Engine Power</th>
              <td>{{product.technicalInfo.enginePower}}</td>
            </tr>
            <tr>
              <th>Lifting Capacity</th>
              <td>{{product.technicalInfo.liftingCapacity}}</td>
            </tr>
            
          </table>

          <h4>Service information</h4>
          <table class="table table-bordered">
            <tr>
              <th>Date</th>
              <td>{{product.serviceInfo[0].servicedate}}</td>
            </tr>
            <tr>
              <th>Operating hrs</th>
              <td>{{product.serviceInfo[0].operatingHour}}</td>
            </tr>
            <tr>
              <th>Service At</th>
              <td>{{product.serviceInfo[0].serviceAt}}</td>
            </tr>
            <tr>
              <th>Authorized Station</th>
              <td>{{product.serviceInfo[0].authServiceStation}}</td>
            </tr>
            <tr>
              <th>Engine Repaired/Overhauling</th>
              <td></td>
            </tr>
            <tr>
              <th>Comment</th>
              <td>{{product.comment}}</td>
            </tr>
            <tr>
              <th>Status</th>
              <td ng-if="product.status">Approved</td>
              <td ng-if="!product.status">Not approved</td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-default" ng-click="close()">Ok</button>              
        </div>
      </div>

    </script>


<script type="text/ng-template" id="sellerDetail.html">
  <div>
       <div class="modal-header">
              <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Seller Detail</h4>
            </div>
            <div class="modal-body">
              <div class="row form-group">
                  <div class="col-xs-offset-1 col-xs-4 text-right">Seller Name :</div>
                  <div class="col-xs-6 text-left">{{product.fname}} {{product.lname}}</div>
                </div>
                <div class="row form-group">
                  <div class="col-xs-offset-1 col-xs-4 text-right">Email :</div>
                  <div class="col-xs-6 text-left">{{product.email}}</div>
                </div>
                <div class="row form-group">
                  <div class="col-xs-offset-1 col-xs-4 text-right">Phone No. :</div>
                  <div class="col-xs-6 text-left">{{product.phone}}</div>
                </div>
                <div class="row form-group">
                  <div class="col-xs-offset-1 col-xs-4 text-right">Mobile No. :</div>
                  <div class="col-xs-6 text-left">{{product.mobile}}</div>
                </div>
                <div class="row form-group">
                  <div class="col-xs-offset-1 col-xs-4 text-right">Uploaded By :</div>
                  <div class="col-xs-6 text-left" ng-if= "product.role != 'customer'">{{product.createdBy}}</div>
                  <div class="col-xs-6 text-left" ng-if= "product.role == 'customer'">Self</div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-lg btn-default" ng-click="close()">Ok</button>              
            </div>
  </div>
</script>