<div class="container-fluid">
  <ol class="breadcrumb">
    <li>
      <a href="/main"> Home </a>
    </li>
    <li><a href="/used"> Used Equipment </a></li>
    <li class="active"> {{displayText || equipmentSearchFilter.group || equipmentSearchFilter.category || equipmentSearchFilter.brand || equipmentSearchFilter.location || equipmentSearchFilter.assetId || "Used Products"}} </li>
  </ol>
</div>

<section class="category-block productlisting-background">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3" ng-class="{hidefilter: !filterbutton.value1}">
        <button class="btn btn-danger visible-xs filter-display" ng-click="filterbutton.value1 = !filterbutton.value1"><i class="fa fa-times"></i> Close</button>
        <h4 class="filter-heading">
          Filter By:
          <small><a href="javascript:void(0);" class="pull-right" ng-click="clearAll()">Clear All</a></small>
        </h4>
        <legend></legend>
        <uib-accordion close-others="oneAtATime" class="information">
          <uib-accordion-group is-open="status.group">
            <uib-accordion-heading>
              Industry<i class="pull-right fa" ng-class="{'fa-minus': status.group, 'fa-plus': !status.group}"></i>
            </uib-accordion-heading>
              <div class="radio" ng-repeat="group in allGroup | orderBy :'name'">
                <input type="radio" ng-model="equipmentSearchFilter.group" ng-change="viewproductVm.onGroupChange(equipmentSearchFilter.group)" name="group" value="{{group.name}}" id="gp_{{$index}}"> <label for="gp_{{$index}}">{{group.name}}</label>
              </div>
          </uib-accordion-group>

         <!--  <uib-accordion-group is-open="status.tradeType">
            <uib-accordion-heading>
              Available For (2)<i class="pull-right fa" ng-class="{'fa-minus': status.tradeType, 'fa-plus': !status.tradeType}"></i>
            </uib-accordion-heading>
              <div class="radio">
                <input type="radio" ng-model="equipmentSearchFilter.tradeType" name="tradetype" value="SELL" id="buying"> <label for="buying">Buying</label>
              </div>
              <div class="radio">
                <input type="radio" ng-model="equipmentSearchFilter.tradeType" name="tradetype" value="RENT" id="renting"> <label for="renting">Renting</label>
              </div>
          </uib-accordion-group> -->

          <uib-accordion-group is-open="status.category">
            <uib-accordion-heading>
              Category  <i class="pull-right fa" ng-class="{'fa-minus': status.category, 'fa-plus': !status.category}"></i>
            </uib-accordion-heading>
              <div>
                <div class="radio" ng-repeat="cat in categoryList | orderBy :'name'">
                  <input type="radio" ng-model="equipmentSearchFilter.category" ng-change="viewproductVm.onCategoryChange(equipmentSearchFilter.category)" name="category" value="{{cat.name}}" id="cat_{{$index}}"> <label for="cat_{{$index}}">{{cat.name}}</label>
                </div>
                
              </div>
          </uib-accordion-group>

          <uib-accordion-group is-open="status.brand">
            <uib-accordion-heading>
              Product Brand <i class="pull-right fa" ng-class="{'fa-minus': status.brand, 'fa-plus': !status.brand}"></i>
            </uib-accordion-heading>
              <div>
                <div class="radio" ng-repeat="br in brandList | unique: 'name' | orderBy :'name'">
                  <input type="radio" ng-model="equipmentSearchFilter.brand" name="brand" value="{{br.name}}" id="brand_{{$index}}" ng-change="viewproductVm.fireCommand()"> <label for="brand_{{$index}}">{{br.name}}</label>
                </div>
                
              </div>
          </uib-accordion-group>
           <uib-accordion-group is-open="status.location">
            <uib-accordion-heading>
              Location <i class="pull-right fa" ng-class="{'fa-minus': status.location, 'fa-plus': !status.location}"></i>
            </uib-accordion-heading>
            <input type="text" class="form-control form-group" ng-model="equipmentSearchFilter.location" placeholder="Enter Country/State/Location" uib-typeahead="address for address in getLocationHelp($viewValue)"  class="form-control" typeahead-focus-first = "false" typeahead-wait-ms="200" ng-change="viewproductVm.fireCommand()" typeahead-on-select="viewproductVm.fireCommand()"  ng-model-options="{debounce:500}" autocomplete="off"/>
          </uib-accordion-group>
          <uib-accordion-group is-open="Infostatus.open">
            <uib-accordion-heading>
              Asset Id  <i class="pull-right fa" ng-class="{'fa-minus': Infostatus.open, 'fa-plus': !Infostatus.open}"></i>
            </uib-accordion-heading>
            <input type="text" class="form-control form-group" placeholder="Asset Id"  ng-model="equipmentSearchFilter.assetId" ng-model-options="{debounce:500}" class="form-control" ng-change="viewproductVm.fireCommand()">
          </uib-accordion-group>
        </uib-accordion>
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Manufacturing Year</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <year-only-picker ng-model="mfgyr.min" year="equipmentSearchFilter.mfgYearMin" myid="min" placeholder="Min" on-change="viewproductVm.fireCommand()">
                  
                </year-only-picker>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                 <year-only-picker ng-model="mfgyr.max" year="equipmentSearchFilter.mfgYearMax" myid="max" placeholder="Max" on-change="viewproductVm.fireCommand()">
                  
                </year-only-picker>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-10 form-group">
            <h4 class="filter-heading text-ellips">{{ displayText || equipmentSearchFilter.group || equipmentSearchFilter.category || equipmentSearchFilter.brand || equipmentSearchFilter.tradeType || equipmentSearchFilter.location || equipmentSearchFilter.tradeType || equipmentSearchFilter.assetId ||"Used Products"}} <span>({{count || 0}} Results Found)</span></h4>
          </div>         
          <div class="col-xs-12 col-sm-2 form-group">
            <div class="btn-group filter-group">
              <select class="btn btn-default form-control" ng-change="viewproductVm.sortBy()" ng-model="viewproductVm.sortByFlag">
                <option value="">Sort By</option>
                <option value="lh">Price : Low to High</option>
                <option value="hl">Price : High to Low</option>
                <option value="por">Price on Request</option>
               <!--  <option value="exos">Exclude Out of Stock</option> -->
              </select>
              <button class="btn btn-default visible-xs" ng-click="filterbutton.value1 = !filterbutton.value1">
                Filter
            </button>
            </div>
          </div>
          <!-- <div class="col-xs-6 visible-xs">
            
          </div> -->
        </div>
        <div class="clearfix"></div>
        <div id="search-result_wrapper" ng-if="!searching && !noResult">
          <div class="row">
            <div class="col-sm-7 col-md-6 form-group padd-right">
              <!-- <div class="btn-group btn-equipment">
                <button type="button" class="btn btn-default active">Used Equipments(520)</button>
                <button type="button" class="btn btn-default">Auctioned Equipments(70)</button>
              </div> -->
            </div>
            <div class="col-sm-5 col-md-offset-3 col-md-3 form-group text-right">
              <uib-pagination total-items="viewproductVm.totalItems" ng-click="viewproductVm.onPageChange()" ng-model="viewproductVm.currentPage" items-per-page="viewproductVm.itemsPerPage" max-size="0" boundary-links="false" rotate="false" next-text="Next >>" previous-text="<< Previous"></uib-pagination>
            </div>
          </div>
          <div class="row">      
            <div class="col-sm-6 col-md-4 form-group" ng-repeat="product in productList | startFrom:(viewproductVm.currentPage -1 )*viewproductVm.itemsPerPage | limitTo:viewproductVm.itemsPerPage">
              <div class="media text-center form-group">
                <a ng-href="/used/{{product.category.name}}/{{product.brand.name}}/{{product.assetId}}">
                   <img ng-src="{{uploadImagePrefix}}{{product.assetDir}}/{{product.primaryImg}}" class="img-responsive">              
                </a>  
                <div class="stamp-image" ng-if="product.certificationName && product.certificationLogo">
                  <img ng-src="{{uploadImagePrefix}}{{categoryDir}}/{{product.certificationLogo}}" class="img-responsive">
                </div>        
                <div class="media-body text-left"> 
                  <div class="row">
                    <div class="col-xs-6 form-group padd-right">
                      <h4 class="text-ellips">{{product.brand.name}} {{product.category.name}}</h4>     
                      <h6 class="text-info">Model : {{product.model.name}}</h6>
                    </div>
                    <div class="col-xs-6 form-group text-right padd-left">
                      <h3 ng-if="!product.priceOnRequest"><i class="fa fa-inr"></i> {{product.grossPrice}}</h3>
                      <h4 ng-if="product.priceOnRequest">Price On Request</h4>
                    </div>
                  </div> 
                   <div class="row">
                    <div class="col-xs-6 form-group padd-right">
                      <i class="fa fa-check-circle-o"></i> <span ng-if="product.assetStatus === 'listed' && product.tradeType === 'SELL'">Available for Sale</span>
                      <span ng-if="product.tradeType === 'NOT_AVAILABLE' && (product.assetStatus === 'sold' || product.assetStatus === 'listed')">Not Available for Sale</span>
                      <span ng-if="product.assetStatus === 'sold' && product.tradeType === 'SELL'">Sold</span>

                    </div>
                    <!-- <div class="col-xs-6 form-group text-right padd-left">
                      <a href="javascript:void(0);" class="text-danger"> <img src="/assets/images/compare.png" width="16" height="18" alt=""> <span>Add to Compare</span></a>
                    </div> -->
                  </div>  
                </div> 
                 <div class="table-responsive">
                    <table class="table">                
                      <tbody>
                        <tr>
                          <td>
                            <small>Manufactured in</small>
                            <h3>{{product.mfgYear}}</h3>
                          </td>
                          <td>
                            <small>Runtime (Hours)</small>
                            <h3><span ng-if="product.operatingHour">{{product.operatingHour}} Hrs</span></h3>
                          </td>
                          <td>
                            <small>Current Location</small>
                            <h3>{{product.city}}</h3>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>  
                <a ng-href="/used/{{product.category.name}}/{{product.brand.name}}/{{product.assetId}}" class="btn btn-primary btn-block" >
                  View Details
                </a>     
              </div>
            </div>
            
          </div>

          <div class="text-center form-group">
            <uib-pagination total-items="viewproductVm.totalItems" ng-click="viewproductVm.onPageChange()" ng-model="viewproductVm.currentPage" items-per-page="viewproductVm.itemsPerPage" max-size="viewproductVm.maxSize" boundary-links="false" rotate="false" next-text=">" previous-text="<"></uib-pagination>
          </div>
        </div>

        <div class="no-result" ng-if="searching && !noResult">
          <img src="assets/images/assets-loading.gif" class="form-group">
          <p>Loading...</p>
        </div>
        <div class="no-result" ng-if="noResult && !searching">No results found</div>
      </div>
    </div>
  </div>
</section>