<div class="container-fluid">
  <ol class="breadcrumb">
    <li>
      <a href="/main"> Home </a>
    </li>
    <li><a href="/main"> Used Equipments </a></li>
    <li class="active"> Construction &amp; Mining </li>
  </ol>
</div>

<section class="category-block">
  <div class="container-fluid">
    <div class="col-sm-3">
      <h4>Filter By:</h4>
      <uib-accordion close-others="oneAtATime" class="information">
        <uib-accordion-group is-open="status.specialOffers">
          <uib-accordion-heading>
            Industry (1)<i class="pull-right fa" ng-class="{'fa-minus': status.specialOffers, 'fa-plus': !status.specialOffers}"></i>
          </uib-accordion-heading>
            <div class="checkbox">
              <input type="checkbox" name="" value="" id="mining"> <label for="mining">Construction &amp; Mining</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" name="" value="" id="commercial"> <label for="commercial">Commercial &amp; Transportation</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" name="" value="" id="concrete"> <label for="concrete">Asphalt &amp; Concrete</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" name="" value="" id="farmequipments"> <label for="farmequipments">Farm Equipments</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" name="" value="" id="industrial"> <label for="industrial">Industrial &amp; Infrastructure</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" name="" value="" id="materialhandling"> <label for="materialhandling">Material Handling &amp; Cranes</label>
            </div>
        </uib-accordion-group>

        <uib-accordion-group is-open="status.pricetrend">
          <uib-accordion-heading>
            Available For (2)<i class="pull-right fa" ng-class="{'fa-minus': status.pricetrend, 'fa-plus': !status.pricetrend}"></i>
          </uib-accordion-heading>
            <div class="checkbox">
              <input type="checkbox" name="" value="" id="buying"> <label for="buying">Buying</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" name="" value="" id="renting"> <label for="renting">Renting</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" name="" value="" id="inauction"> <label for="inauction">In Auction</label>
            </div>
        </uib-accordion-group>

        <uib-accordion-group is-open="rentstatus.open">
          <uib-accordion-heading>
            Category  <i class="pull-right fa" ng-class="{'fa-minus': rentstatus.open, 'fa-plus': !rentstatus.open}"></i>
          </uib-accordion-heading>
            <div ng-model="equipmentSearchFilter.category">
              <div class="checkbox" ng-repeat="cat in allCategory">
                <input type="checkbox" name="category" value="{{cat.name}}" id="{{cat.name}}"> <label for="{{cat.name}}">{{cat.name}}</label>
              </div>
              
            </div>
        </uib-accordion-group>

        <uib-accordion-group is-open="Techstatus.open">
          <uib-accordion-heading>
            Product Brand <i class="pull-right fa" ng-class="{'fa-minus': Techstatus.open, 'fa-plus': !Techstatus.open}"></i>
          </uib-accordion-heading>
            <div ng-model="equipmentSearchFilter.brand">
              <div class="checkbox" ng-repeat="br in brandList">
                <input type="checkbox" name="brand" value="{{br.name}}" id="{{br.name}}"> <label for="{{br.name}}">{{br.name}}</label>
              </div>
              
            </div>
        </uib-accordion-group>
         <uib-accordion-group is-open="status.basicInformation">
          <uib-accordion-heading>
            Location <i class="pull-right fa" ng-class="{'fa-minus': status.basicInformation, 'fa-plus': !status.basicInformation}"></i>
          </uib-accordion-heading>
          <input type="text" class="form-control form-group" ng-model="equipmentSearchFilter.locationName" placeholder="Enter Country/State/Location" uib-typeahead="address for address in getLocationHelp($viewValue)"  class="form-control" typeahead-focus-first = "false" typeahead-wait-ms="200" ng-change="viewproductVm.fireCommand()" typeahead-on-select="viewproductVm.fireCommand()"  ng-model-options="{debounce:1000}" autocomplete="off"/>
        </uib-accordion-group>
        <uib-accordion-group is-open="Infostatus.open">
          <uib-accordion-heading>
            Asset Id  <i class="pull-right fa" ng-class="{'fa-minus': Infostatus.open, 'fa-plus': !Infostatus.open}"></i>
          </uib-accordion-heading>
          <input type="text" class="form-control form-group" placeholder="Asset Id"  ng-model="equipmentSearchFilter.assetId" class="form-control" ng-change="viewproductVm.fireCommand()">
        </uib-accordion-group>
      </uib-accordion>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-10 form-group">
          <h4>CONSTRUCTION &amp; MINING EQUIPMENTS (765 Results Found)</h4>
        </div>
        <div class="col-sm-2 form-group">
          <select class="form-control" ng-change="viewproductVm.sortBy()" ng-model="viewproductVm.sortByFlag">
            <option value="">Sort By</option>
            <option value="lh">Price : Low to High</option>
            <option value="hl">Price : High to Low</option>
            <option value="por">Price on Request</option>
            <option value="exos">Exclude Out of Stock</option>
          </select>
        </div>
      </div>
      <div id="search-result_wrapper">
        <div class="row">
          <div class="col-sm-8 col-md-6 form-group padd-right">
            <div class="btn-group btn-equipment">
              <button type="button" class="btn btn-default active">Used Equipments(520)</button>
              <button type="button" class="btn btn-default">Auctioned Equipments(70)</button>
            </div>
          </div>
          <div class="col-sm-4 col-md-offset-3 col-md-3 form-group">
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default"><< Previous</button>
              <button type="button" class="btn btn-default">Next >></button>
            </div>
          </div>
        </div>
        <div class="row">      
          <div class="col-sm-6 col-md-4 form-group">
            <div class="media text-center form-group">
              <a href="javascript:void(0);">
                 <img src="/assets/images/certificationJCB.png" class="img-responsive">              
              </a>          
              <div class="media-body text-left"> 
                <div class="row">
                  <div class="col-xs-6 form-group">
                    <h4>Volvo Excavator</h4>     
                    <h5 class="text-info">Model : 240B Prime</h5>
                  </div>
                  <div class="col-xs-6 form-group text-right padd-left">
                    <h3><i class="fa fa-inr"></i> 2,114,50,000</h3>
                  </div>
                </div> 
                 <div class="row">
                  <div class="col-xs-6 form-group">
                    <i class="fa fa-check-circle-o"></i> Available for Sale
                  </div>
                  <div class="col-xs-6 form-group text-right">
                    <a href="javascript:void(0);" class="text-danger"><img src="/assets/images/" alt=""> Add to Compare</a>
                  </div>
                </div>                 
                                    
              </div> 
              <div class="table-responsive">
                <table class="table">                
                  <tbody>
                    <tr>
                      <td>
                        <small>Manufactured in</small>
                        <h4>2015</h4>
                      </td>
                      <td>
                        <small>Runtime (Hours)</small>
                        <h4>230 Hrs</h4>
                      </td>
                      <td>
                        <small>Current Location</small>
                        <h4>Hyderabad</h4>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <a ng-href="/productdetail/{{product._id}}" class="btn btn-primary btn-block" >
                View Details
              </a>     
            </div>
          </div>
          <div class="col-sm-6 col-md-4 form-group">
            <div class="media text-center form-group">
              <a href="javascript:void(0);">
                 <img src="/assets/images/certificationJCB.png" class="img-responsive">              
              </a>          
              <div class="media-body text-left"> 
                <div class="row">
                  <div class="col-xs-6 form-group">
                    <h4>Volvo Excavator</h4>     
                    <h5 class="text-info">Model : 240B Prime</h5>
                  </div>
                  <div class="col-xs-6 form-group text-right padd-left">
                    <h3><i class="fa fa-inr"></i> 2,114,50,000</h3>
                  </div>
                </div> 
                 <div class="row">
                  <div class="col-xs-6 form-group">
                    <i class="fa fa-check-circle-o"></i> Available for Sale
                  </div>
                  <div class="col-xs-6 form-group text-right">
                    <a href="javascript:void(0);" class="text-danger"><img src="/assets/images/" alt=""> Add to Compare</a>
                  </div>
                </div>                 
                                    
              </div> 
              <div class="table-responsive">
                <table class="table">                
                  <tbody>
                    <tr>
                      <td>
                        <small>Manufactured in</small>
                        <h4>2015</h4>
                      </td>
                      <td>
                        <small>Runtime (Hours)</small>
                        <h4>230 Hrs</h4>
                      </td>
                      <td>
                        <small>Current Location</small>
                        <h4>Hyderabad</h4>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div> 
              <a ng-href="/productdetail/{{product._id}}" class="btn btn-primary btn-block" >
                View Details
              </a>       
            </div>
          </div>
          <div class="col-sm-6 col-md-4 form-group">
            <div class="media text-center form-group">
              <a href="javascript:void(0);">
                 <img src="/assets/images/certificationJCB.png" class="img-responsive">              
              </a>          
              <div class="media-body text-left"> 
                <div class="row">
                  <div class="col-xs-6 form-group">
                    <h4>Volvo Excavator</h4>     
                    <h5 class="text-info">Model : 240B Prime</h5>
                  </div>
                  <div class="col-xs-6 form-group text-right padd-left">
                    <h3><i class="fa fa-inr"></i> 2,114,50,000</h3>
                  </div>
                </div> 
                 <div class="row">
                  <div class="col-xs-6 form-group">
                    <i class="fa fa-check-circle-o"></i> Available for Sale
                  </div>
                  <div class="col-xs-6 form-group text-right">
                    <a href="javascript:void(0);" class="text-danger"><img src="/assets/images/" alt=""> Add to Compare</a>
                  </div>
                </div>                 
                                    
              </div> 
              <div class="table-responsive">
                <table class="table">                
                  <tbody>
                    <tr>
                      <td>
                        <small>Manufactured in</small>
                        <h4>2015</h4>
                      </td>
                      <td>
                        <small>Runtime (Hours)</small>
                        <h4>230 Hrs</h4>
                      </td>
                      <td>
                        <small>Current Location</small>
                        <h4>Hyderabad</h4>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>  
              <a ng-href="/productdetail/{{product._id}}" class="btn btn-primary btn-block" >
                View Details
              </a>      
            </div>
          </div>
        </div>

        <uib-pagination total-items="viewproductVm.totalItems" ng-click="viewproductVm.onPageChange()" ng-model="viewproductVm.currentPage" items-per-page="viewproductVm.itemsPerPage" max-size="viewproductVm.maxSize" boundary-links="true" rotate="false"></uib-pagination>
      </div>
    </div>
  </div>
</section>