<div class="container-fluid">
  <ol class="breadcrumb">
    <li>
      <a href="/main"> Home </a>
    </li>
    <li><a href="/main"> Used Equipments </a></li>
    <li class="active"> {{displayText || equipmentSearchFilter.group || equipmentSearchFilter.category || equipmentSearchFilter.brand || equipmentSearchFilter.tradeType || equipmentSearchFilter.location || equipmentSearchFilter.tradeType || equipmentSearchFilter.assetId || "XXXXX"}} </li>
  </ol>
</div>

<section class="category-block">
  <div class="container-fluid">
    <div class="col-sm-3">
      <h4>Filter By:</h4>
      <uib-accordion close-others="oneAtATime" class="information">
        <uib-accordion-group is-open="status.group">
          <uib-accordion-heading>
            Industry ({{allGroup.length || 0}})<i class="pull-right fa" ng-class="{'fa-minus': status.group, 'fa-plus': !status.group}"></i>
          </uib-accordion-heading>
            <div class="radio" ng-repeat="group in allGroup">
              <input type="radio" ng-model="equipmentSearchFilter.group" ng-change="viewproductVm.onGroupChange(equipmentSearchFilter.group)" name="group" value="{{group.name}}" id="gp_{{$index}}"> <label for="gp_{{$index}}">{{group.name}}</label>
            </div>
        </uib-accordion-group>

        <uib-accordion-group is-open="status.tradeType">
          <uib-accordion-heading>
            Available For (2)<i class="pull-right fa" ng-class="{'fa-minus': status.tradeType, 'fa-plus': !status.tradeType}"></i>
          </uib-accordion-heading>
            <div class="radio">
              <input type="radio" ng-model="equipmentSearchFilter.tradeType" name="tradetype" value="SELL" id="buying"> <label for="buying">Buying</label>
            </div>
            <div class="radio">
              <input type="radio" ng-model="equipmentSearchFilter.tradeType" name="tradetype" value="RENT" id="renting"> <label for="renting">Renting</label>
            </div>
        </uib-accordion-group>

        <uib-accordion-group is-open="status.category">
          <uib-accordion-heading>
            Category  <i class="pull-right fa" ng-class="{'fa-minus': status.category, 'fa-plus': !status.category}"></i>
          </uib-accordion-heading>
            <div>
              <div class="radio" ng-repeat="cat in categoryList">
                <input type="radio" ng-model="equipmentSearchFilter.category" ng-change="viewproductVm.onCategoryChange(equipmentSearchFilter.category)" name="category" value="{{cat.name}}" id="cat_{{$index}}"> <label for="cat_{{$index}}">{{cat.name}}</label>
              </div>
              
            </div>
        </uib-accordion-group>

        <uib-accordion-group is-open="status.brand">
          <uib-accordion-heading>
            Product Brand <i class="pull-right fa" ng-class="{'fa-minus': status.brand, 'fa-plus': !status.brand}"></i>
          </uib-accordion-heading>
            <div>
              <div class="radio" ng-repeat="br in brandList">
                <input type="radio" ng-model="equipmentSearchFilter.brand" name="brand" value="{{br.name}}" id="brand_{{$index}}"> <label for="brand_{{$index}}">{{br.name}}</label>
              </div>
              
            </div>
        </uib-accordion-group>
         <uib-accordion-group is-open="status.location">
          <uib-accordion-heading>
            Location <i class="pull-right fa" ng-class="{'fa-minus': status.location, 'fa-plus': !status.location}"></i>
          </uib-accordion-heading>
          <input type="text" class="form-control form-group" ng-model="equipmentSearchFilter.location" placeholder="Enter Country/State/Location" uib-typeahead="address for address in getLocationHelp($viewValue)"  class="form-control" typeahead-focus-first = "false" typeahead-wait-ms="200" ng-change="viewproductVm.fireCommand()" typeahead-on-select="viewproductVm.fireCommand()"  ng-model-options="{debounce:1000}" autocomplete="off"/>
        </uib-accordion-group>
        <uib-accordion-group is-open="Infostatus.open">
          <uib-accordion-heading>
            Asset Id  <i class="pull-right fa" ng-class="{'fa-minus': Infostatus.open, 'fa-plus': !Infostatus.open}"></i>
          </uib-accordion-heading>
          <input type="text" class="form-control form-group" placeholder="Asset Id"  ng-model="equipmentSearchFilter.assetId" class="form-control" ng-change="viewproductVm.fireCommand()">
        </uib-accordion-group>
      </uib-accordion>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-10 form-group">
          <h4>{{ displayText || equipmentSearchFilter.group || equipmentSearchFilter.category || equipmentSearchFilter.brand || equipmentSearchFilter.tradeType || equipmentSearchFilter.location || equipmentSearchFilter.tradeType || equipmentSearchFilter.assetId ||"XXXXX"}} (765 Results Found)</h4>
        </div>
        <div class="col-sm-2 form-group">
          <select class="form-control" ng-change="viewproductVm.sortBy()" ng-model="viewproductVm.sortByFlag">
            <option value="">Sort By</option>
            <option value="lh">Price : Low to High</option>
            <option value="hl">Price : High to Low</option>
            <option value="por">Price on Request</option>
            <option value="exos">Exclude Out of Stock</option>
          </select>
        </div>
      </div>
      <div id="search-result_wrapper" ng-if="!searching && !noResult">
        <div class="row">
          <div class="col-sm-8 col-md-6 form-group padd-right">
            <!-- <div class="btn-group btn-equipment">
              <button type="button" class="btn btn-default active">Used Equipments(520)</button>
              <button type="button" class="btn btn-default">Auctioned Equipments(70)</button>
            </div> -->
          </div>
          <div class="col-sm-4 col-md-offset-3 col-md-3 form-group text-right">
            <uib-pagination total-items="viewproductVm.totalItems" ng-click="viewproductVm.onPageChange()" ng-model="viewproductVm.currentPage" items-per-page="viewproductVm.itemsPerPage" max-size="0" boundary-links="false" rotate="false" next-text="Next >>" previous-text="<< Previous"></uib-pagination>
          </div>
        </div>
        <div class="row">      
          <div class="col-sm-6 col-md-4 form-group" ng-repeat="product in productList | startFrom:(viewproductVm.currentPage -1 )*viewproductVm.itemsPerPage | limitTo:viewproductVm.itemsPerPage">
            <div class="media text-center form-group">
              <a ng-href="/used/{{product.category.name}}/{{product.brand.name}}/{{product.assetId}}">
                 <img ng-src="{{uploadImagePrefix}}{{product.assetDir}}/{{product.primaryImg}}" class="img-responsive">              
              </a>          
              <div class="media-body text-left"> 
                <div class="row">
                  <div class="col-xs-6 form-group">
                    <h4>{{product.category.name}}</h4>     
                    <h5 class="text-info text-ellips">Model : {{product.model.name}}</h5>
                  </div>
                  <div class="col-xs-6 form-group text-right padd-left">
                    <h3><i class="fa fa-inr"></i> {{product.grossPrice}}</h3>
                  </div>
                </div> 
                 <div class="row">
                  <div class="col-xs-6 form-group">
                    <i class="fa fa-check-circle-o"></i> Available for {{product.tradeType === 'RENT'?'Rent' : 'Sale'}}
                  </div>
                  <div class="col-xs-6 form-group">
                    <a href="javascript:void(0);" class="text-danger"> <img src="/assets/images/compare.png" width="16" height="20" alt=""> Add to Compare</a>
                  </div>
                </div>                 
                                    
              </div> 
              <div class="table-responsive">
                <table class="table">                
                  <tbody>
                    <tr>
                      <td>
                        <small>Manufactured in</small>
                        <h4>{{product.mfgYear}}</h4>
                      </td>
                      <td>
                        <small>Runtime (Hours)</small>
                        <h4><span ng-if="product.operatingHour">{{product.operatingHour}} Hrs</span></h4>
                      </td>
                      <td>
                        <small>Current Location</small>
                        <h4>{{product.city}}</h4>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <a ng-href="/used/{{product.category.name}}/{{product.brand.name}}/{{product.assetId}}" class="btn btn-primary btn-block" >
                View Details
              </a>     
            </div>
          </div>
          
        </div>

        <div class="text-center form-group">
          <uib-pagination total-items="viewproductVm.totalItems" ng-click="viewproductVm.onPageChange()" ng-model="viewproductVm.currentPage" items-per-page="viewproductVm.itemsPerPage" max-size="viewproductVm.maxSize" boundary-links="false" rotate="false" next-text=">" previous-text="<"></uib-pagination>
        </div>
      </div>

      <div class="no-result" ng-if="searching && !noResult">
        <img src="assets/images/assets-loading.gif" class="form-group">
        <p>Loading...</p>
      </div>
      <div class="no-result" ng-if="noResult && !searching">No results found</div>
    </div>
  </div>
</section>