<form name="createnewloan" method="post" action=" http://52.66.142.153/customer-portal-iquippo/newloanapplication">
  <input type="hidden" name="sourcing_user_name" id="sourcing_user_name"></input> 
  <input type="hidden" name="location" id="location"></input> 
  <input type="hidden" name="sourcing_user_mobile" id="sourcing_user_mobile"></input> 
  <input type="hidden" name="dealership_name" id="dealership_name"></input>
  <input type="hidden" name="sourcing_user_type" id="sourcing_user_type"></input>
  <input type="hidden" name="access_token" id="access_token"></input>
</form> 