<div>
       <div class="modal-header">
          <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
          <h4 class="modal-title" ng-if="params.bid == 'placebid'">Submit Bid</h4>
          <h4 class="modal-title" ng-if="params.bid == 'buynow'">Buy Now</h4>
        </div>
        <div class="modal-body asset-sale">
        <form novalidate class="bidPopup" name="bidPopup">
            <div class="row">
              <div class="col-sm-offset-2 col-sm-3">
                <h5>Base plus GST <small>(as applicable)</small></h5>
              </div>
              <div class="col-sm-5" ng-class="{'has-error': bidPopup.bidAmount.$invalid && submitted}">
                <!-- <input  type="text" ng-disabled="params.bid == 'buynow'" class="form-control" name="bidAmount" ng-model="assetBidPopUpVm.bidAmount" ng-value="" ng-change="assetBidPopUpVm.calculateBid(assetBidPopUpVm.bidAmount)" placeholder="Enter Bid Amount" required> -->
                <input type="number" ng-disabled="params.bid == 'buynow'" class="form-control" min="0" name="bidAmount" ng-model="assetBidPopUpVm.bidAmount" ng-value="" ng-keyup="assetBidPopUpVm.calculateBid(assetBidPopUpVm.bidAmount)" typeahead-focus-first = "false" typeahead-wait-ms="200"  autocomplete="off" placeholder="Enter Bid Amount" required>
              </div>
            </div>
            <div class="asset-taxes">
              <!-- <div class="row">
                <div class="col-sm-offset-2 col-sm-4">GST</div>
                <div class="col-sm-3 col-sm-offset-1"><i class="fa fa-inr"></i> {{result.taxRate | number:0}}</div>
              </div> -->
              <div class="row">
                <div class="col-sm-offset-2 col-sm-4">TCS</div>
                <div class="col-sm-3 col-sm-offset-1"><i class="fa fa-inr"></i> {{result.tcs | number:0}}</div>
              </div>
              <div class="row">
                <div class="col-sm-offset-2 col-sm-4">Parking <small ng-if="params.product.parkingPaymentTo == 'Yard'">(* Pay to yard)</small></div>
                <div class="col-sm-3 col-sm-offset-1"><i class="fa fa-inr"></i> {{result.parkingCharges | number:0}}</div>
              </div>
            </div>
            <div class="asset-total form-group">
              <div class="row">
                <div class="col-sm-offset-2 col-sm-4">Total : </div>
                <div class="col-sm-offset-1 col-sm-3"><i class="fa fa-inr"></i> {{result.total | number:0}} </div>
              </div>
            </div>
            <div class="asset-action text-right">
              <div>
                <button type="button" class="btn btn-primary" ng-click="close()">Cancel</button>
                <button type="button" ng-if="params.bid == 'placebid'" class="btn btn-danger" ng-click="assetBidPopUpVm.submitBid(bidPopup)">Submit Bid</button>
                <button type="button" ng-if="params.bid == 'buynow'" class="btn btn-danger" ng-click="assetBidPopUpVm.submitBid(bidPopup)">Buy Now</button>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-offset-2 col-sm-1 padd-right">
                <small>
                  <em><strong>Note:</strong></em>
                </small>
              </div>
              <div class="col-sm-7">
                <small>
                  <em>This Base Price is inclusive of GST  " Bifurcation will be mentioned in the Invoice ".</em>
                </small>
              </div>
            </div>
        </div>  
    </div>