<div>
       <div class="modal-header">
          <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
          <h4 class="modal-title" ng-if="params.bid == 'placebid'">Submit Bid</h4>
          <h4 class="modal-title" ng-if="params.bid == 'buynow'">Buy Now</h4>
        </div>
        <div class="modal-body">
        <form novalidate class="bidPopup" name="bidPopup">
            <div class="row form-group">
              <div class="col-xs-6 form-group text-left" ng-class="{'has-error': bidPopup.bidAmount.$invalid && submitted}">
                <label>Base plus GST <small>(as applicable)</small></label>
                <div class="floating-label-wrapper">                      
                  <input  type="text" ng-disabled="params.bid == 'buynow'" class="form-control" name="bidAmount" ng-model="assetBidPopUpVm.bidAmount" ng-value="" ng-keyup="assetBidPopUpVm.calculateBid(assetBidPopUpVm.bidAmount)" ng-model-options="{debounce:20}"  autocomplete="off" placeholder="Enter Bid Amount" required>
                </div>
                
              </div>
            </div>
           <div class="table-responsive">
              <table class="table" align="center">
                <tr>
                  <td>
                    <div class="col-sm-12 text-center">
                      <strong>TCS</strong>
                    </div>
                  </td>
                  <td>
                    <div class="col-sm-offset-3 col-sm-4">
                      <i class="fa fa-inr"></i> {{result.tcs | number:0}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="col-sm-12 text-center">
                      <strong>Parking <small ng-if="params.product.parkingPaymentTo == 'Yard'">(* Pay to yard)</small></strong>
                    </div>
                  </td>
                  <td>
                    <div class="col-sm-offset-3 col-sm-4">
                      <i class="fa fa-inr"></i> {{result.parkingCharges | number:0}}
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="col-sm-12 text-center">
                      <strong>
                        Total
                      </strong>
                    </div>
                  </td>
                  <td>
                    <div class="col-sm-offset-3 col-sm-4">
                      <i class="fa fa-inr"></i> {{result.total | number:0}}
                    </div>
                  </td>
                </tr>
              </table>
           </div>
            <div class="asset-sale text-right">
              <div class="row form-group">
                <div class="col-xs-offset-1 col-xs-5">
                  <button type="button" class="btn btn-danger btn-block" ng-click="close()">Cancel</button>                
                </div>
                <div class="col-xs-5">
                  <button type="button" ng-if="params.bid == 'placebid'" class="btn btn-primary btn-block" ng-click="assetBidPopUpVm.submitBid(bidPopup)">Submit Bid</button>
                  <button type="button" ng-if="params.bid == 'buynow'" class="btn btn-primary btn-block" ng-click="assetBidPopUpVm.submitBid(bidPopup)">Buy Now</button>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-sm-1 padd-right">
                <small>
                  <em><strong>Note:</strong></em>
                </small>
              </div>
              <div class="col-sm-10 text-left">
                <small>
                  <em>This Base Price is inclusive of GST  " Bifurcation will be mentioned in the Invoice ".</em>
                </small>
              </div>
            </div>
        </div>  
    </div>