<div>  
  <div class="row">
  	<div class="col-sm-6 col-sm-offset-6 text-right">
  		<h4>
  			<button class="btn btn-success" ng-click=""><i class="fa fa-file-excel-o"></i> Export Excel</button>
  		</h4>
  	</div>
  </div>
  <legend></legend>
  <div class="btn-group enterprise-value form-group">
    <button type="button" class="btn active" ng-class="{'btn-primary': bidproductVm.activeBid == 'auctionable'}" ng-click="onTabChange('auctionable')">Auctionable Bid</button>
    <button type="button" class="btn active" ng-class="{'btn-primary': bidproductVm.activeBid == 'closed'}" ng-click="onTabChange('closed')">Closed Bid</button>
   </div>

   	<!-- Auctionable Auction -->
	<div ng-if="bidproductVm.activeBid == 'auctionable'">
		<div class="row form-group">
		   	<div class="col-sm-9">
		   		Showing : {{bidproductVm.productListing.length}}
		   	</div>
		   	<div class="col-sm-3 tablesearch text-right">
		        Search: <input type="text" placeholder="Search..." ng-model="bidproductVm.searchStr" ng-change="bidproductVm.fireCommand(true)" ng-model-options="{debounce:500}">
		      </div>
		   </div>
		   <div class="table-responsive">
		   	<table class="table table-bordered">
		   		<thead>
		   			<tr>			   			
			   			<th>Asset Id</th>
			   			<th>Category</th>
			   			<th>Brand</th>
			   			<!-- <th>Modal</th> -->
			   			<!-- <th>Manufacturing Year</th> -->
			   			<!-- <th>Asset Country</th> -->
			   			<!-- <th>Asset State</th> -->
			   			<th>Asset Location</th>
			   			<!-- <th>Asset Description</th> -->
			   			<th ng-if="isFAgencyPartner() || isAdmin()">Buyer Name</th>
			   			<!-- <th>Buyer Country</th> -->
			   			<!-- <th>Buyer State</th> -->
			   			<th ng-if="isFAgencyPartner() || isAdmin()">Buyer Location</th>
			   			<th ng-if="isFAgencyPartner() || isAdmin()">Buyer Mobile No.</th>
			   			<th ng-if="isFAgencyPartner() || isAdmin()">Buyer Email Id</th>	
			   			<th ng-if="!isFAgencyPartner()">Ageing of Asset</th>
			   			<th ng-if="!isFAgencyPartner()">Reserve Price</th>
			   			<th ng-if="!isFAgencyPartner()">Parking Charges</th>
			   			<th ng-if="!isFAgencyPartner()">Buy Now Price</th>	
			   			<th ng-if="isAdmin()">Asset Status</th>	
			   			<th ng-if="isFAgencyPartner()">Action</th>		   			
			   			<th ng-if="!isFAgencyPartner() && !isAdmin()">Action</th>		   			
			   			<th ng-if="isAdmin()">Action</th>		   			
			   		</tr>
		   		</thead>
		   		<tbody>
		   			<tr ng-repeat="product in bidproductVm.productListing">			   			
			   			<td>{{product.assetId}}</td>
			   			<td>{{product.category.name}}</td>
			   			<td>{{product.brand.name}}</td>
			   			<!-- <td>{{product.model.name}}</td> -->
			   			<!-- <td>{{product.mfgYear}}</td> -->
			   			<!-- <td>{{product.country}}</td> -->
			   			<!-- <td>{{product.state}}</td> -->
			   			<td>{{product.city}}</td>
			   			<!-- <td>{{}}</td> -->
			   			<td ng-if="isFAgencyPartner() || isAdmin()">{{}}</td>
			   			<!-- <td>{{}}</td> -->
			   			<!-- <td>{{}}</td> -->
			   			<td ng-if="isFAgencyPartner() || isAdmin()">{{}}</td>
			   			<td ng-if="isFAgencyPartner() || isAdmin()">{{}}</td>
			   			<td ng-if="isFAgencyPartner() || isAdmin()">{{}}</td>
			   			<td ng-if="!isFAgencyPartner()">{{}}</td>
			   			<td ng-if="!isFAgencyPartner()">{{product.reservePrice}}</td>
			   			<td ng-if="!isFAgencyPartner()">{{}}</td>
			   			<td ng-if="!isFAgencyPartner()">{{product.grossPrice}}</td>
			   			<td ng-if="isAdmin()">{{product.assetStatus}}</td>	
			   			<td ng-if="isFAgencyPartner()">
			   				<!-- fa action -->
			   				<a href="/assetsale/faproductbidrequest?productId={{product._id}}&assetId={{product.assetId}}" class="btn btn-sm btn-primary" uib-popover="View Bids" popover-trigger="mouseenter"><i class="fa fa-eye"></i></a>
							<button type="button" class="btn btn-sm btn-info" uib-popover="More Information" popover-trigger="mouseenter" ng-click="bidproductVm.openDialog(product,'bidProductDetailPopup','product-preview','auctionable')"><i class="fa fa-info"></i></button>
			   			</td>
			   			<td ng-if="!isFAgencyPartner() && !isAdmin()">
			   				<!-- seller action -->
			   				<a href="/assetsale/sellerproductbidrequest?productId={{product._id}}&assetId={{product.assetId}}" class="btn btn-sm btn-primary" uib-popover="View Bids" popover-trigger="mouseenter"><i class="fa fa-eye"></i></a>
							<button type="button" class="btn btn-sm btn-info" uib-popover="More Information" popover-trigger="mouseenter" ng-click="bidproductVm.openDialog(product,'bidProductDetailPopup','product-preview','auctionable')"><i class="fa fa-info"></i></button>			   				
			   			</td>
			   			<td ng-if="isAdmin()">
			   				<!-- admin action -->
			   				<a href="/assetsale/adminproductbidrequest?productId={{product._id}}&assetId={{product.assetId}}" class="btn btn-sm btn-primary" uib-popover="View Bids" popover-trigger="mouseenter"><i class="fa fa-eye"></i></a>
							<button type="button" class="btn btn-sm btn-info" uib-popover="More Information" popover-trigger="mouseenter" ng-click="bidproductVm.openDialog(product,'bidProductDetailPopup', 'product-preview', 'auctionable')"><i class="fa fa-info"></i></button>
			   			</td>			   			
			   		</tr>
		   		</tbody>
		   	</table>
		   </div>	
        <uib-pagination total-items="pager.totalItems" ng-model="pager.currentPage" items-per-page="pager.itemsPerPage" max-size="6" ng-change="bidproductVm.fireCommand()" class="pagination-sm" rotate="false">
	  </uib-pagination>
	
	</div>
   <!-- Closed Bid -->
	<div ng-if="bidproductVm.activeBid == 'closed'">
		<div class="row form-group">
		   	<div class="col-sm-9">
		   		Showing : {{bidproductVm.productListing.length}}
		   	</div>
		   	<div class="col-sm-3 tablesearch text-right">
		        Search: <input type="text" placeholder="Search..." ng-model="bidproductVm.searchStr" ng-change="bidproductVm.fireCommand(true)" ng-model-options="{debounce:500}">
		      </div>
		   </div>
		   <div class="table-responsive">
		   	<table class="table table-bordered">
		   		<thead>
		   			<tr>
		   				<th>Ticket Id</th>
			   			<th>Asset Id</th>
			   			<th>Category</th>
			   			<th>Brand</th>
			   			<!-- <th>Modal</th> -->
			   			<!-- <th>Manufacturing Year</th> -->
			   			<!-- <th>Asset Country</th> -->
			   			<!-- <th>Asset State</th> -->
			   			<th>Asset Location</th>
			   			<th ng-if="!isFAgencyPartner() && !isAdmin()">Ageing of Asset</th>
			   			<!-- <th>Asset Description</th> -->
			   			<th ng-if="isFAgencyPartner() || isAdmin()">Buyer Name</th>
			   			<!-- <th>Buyer Country</th> -->
			   			<!-- <th>Buyer State</th> -->
			   			<th ng-if="isFAgencyPartner() || isAdmin()">Buyer Location</th>
			   			<th ng-if="isFAgencyPartner() || isAdmin()">Buyer Mobile No.</th>
			   			<th ng-if="isFAgencyPartner() || isAdmin()">Buyer Email Id</th>	
			   			<th ng-if="!isFAgencyPartner()">Buy Now Price</th>	
			   			<th ng-if="!isFAgencyPartner()">Reserve Price</th>	
			   			 <!-- <th>Offer Type</th> -->
			   			 <th ng-if="!isFAgencyPartner()">Offer Price</th>
			   			 <th ng-if="!isFAgencyPartner()">Offer Status</th>
			   			<!-- <th>Seller Name</th>-->
			   			<!-- <th>Seller Contact No.</th>-->
			   			<th ng-if="!isFAgencyPartner()">Bid Status</th>
			   			<!-- <th>EMD Amount</th> -->
			   			<!-- <th>EMD Details</th> -->
			   			<!-- <th>Full Payment Amount</th> -->
			   			<!-- <th>Full Payment Details</th> -->
			   			<!-- <th>Invoicing Details</th> -->
			   			<!-- <th>KYC Document</th> -->
			   			<!-- <th>Delivery Order</th> -->
			   			<!-- <th>Date of Delivery</th> -->
			   			<th>Deal Status</th>
			   			<th ng-if="isAdmin()">Asset Status</th>
			   			<th>Action</th>
			   		</tr>
		   		</thead>
		   		<tbody>
		   			<tr ng-repeat="product in bidproductVm.closedBids">		
		   				<td>{{product.ticketId}}</td>	   			
			   			<td>{{product.product.proData.assetId}}</td>
			   			<td>{{product.product.proData.category.name}}</td>
			   			<td>{{product.product.proData.brand.name}}</td>
			   			<!-- <td>{{product.model.name}}</td> -->
			   			<!-- <td>{{product.mfgYear}}</td> -->
			   			<!-- <td>{{product.country}}</td> -->
			   			<!-- <td>{{product.state}}</td> -->
			   			<td>{{product.product.proData.city}}</td>			   			
			   			<td ng-if="!isFAgencyPartner() && !isAdmin()">{{product.ageingOfAsset}}</td>			   			
			   			<!-- <td>{{}}</td> -->
			   			<td ng-if="isFAgencyPartner() || isAdmin()">{{product.user.fname}} {{product.user.lname}}</td>
			   			<!-- <td>{{}}</td> -->
			   			<!-- <td>{{}}</td> -->
			   			<td ng-if="isFAgencyPartner() || isAdmin()">{{product.user.city}}</td>
			   			<td ng-if="isFAgencyPartner() || isAdmin()">{{product.user.mobile}}</td>			   			
			   			<td ng-if="isFAgencyPartner() || isAdmin()">{{product.user.email}}</td>			   			
			   			<td ng-if="!isFAgencyPartner()">{{product.product.proData.grossPrice || 0}}</td>			   			
			   			<td ng-if="!isFAgencyPartner()">{{product.product.proData.reservePrice || 0}}</td>			   			
			   			<!-- <td>{{}}</td> -->
			   			<td ng-if="!isFAgencyPartner()">{{product.bidAmount || 0}}</td>
			   			<td ng-if="!isFAgencyPartner()">{{product.offerStatus}}</td>
			   			<!-- <td>{{}}</td> -->
			   			<!-- <td>{{}}</td> -->
			   			<td ng-if="!isFAgencyPartner()">{{product.bidStatus}}</td>
			   			<!-- <td>{{}}</td> -->
			   			<!-- <td>{{}}</td> -->
			   			<!-- <td>{{}}</td> -->
			   			<!-- <td>{{}}</td> -->
			   			<!-- <td>{{}}</td> -->
			   			<!-- <td>{{}}</td> -->
			   			<!-- <td>{{}}</td> -->
			   			<td>{{product.dealStatus}}</td>
			   			<td ng-if="isAdmin()">{{product.product.proData.assetStatus}}</td>
			   			<td>
							<button type="button" class="btn btn-sm btn-info" uib-popover="More Information" popover-trigger="mouseenter" ng-click="bidproductVm.openDialog(product,'bidProductDetailPopup','product-preview', 'closed')"><i class="fa fa-info"></i></button>	
			   			</td>
			   		</tr>
		   		</tbody>
		   	</table>
		   </div>	
		<uib-pagination total-items="pager.totalItems" ng-model="pager.currentPage" items-per-page="pager.itemsPerPage" max-size="6" ng-change="bidproductVm.fireCommand()" class="pagination-sm" rotate="false">  </uib-pagination>
	</div>  
</div>