<div>
  <div class="modal-header">
      <button type="button" class="close" ng-click="buyerReqDetailVm.closeDialog()" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Details</h4>
    </div>
    <div class="modal-body">
      
      <table class="table table-bordred">               
        <tr>
          <td class="col-sm-3"><b>Ticket Id:</b></td>
          <td class="col-sm-3">{{bidData.ticketId}}</td>
          <td class="col-sm-3"><b>Asset Id:</b></td>
          <td class="col-sm-3">{{bidData.product.assetId}}</td>                  
        </tr>
        <tr>
          <td><b>Category:</b></td>
          <td>{{bidData.product.category}}</td>
          <td><b>Brand:</b></td>
          <td>{{bidData.product.brand}}</td>                  
        </tr>
        <tr>
          <td><b>Model:</b></td>
          <td>{{bidData.product.model}}</td>
          <td><b>Manufacturing Year:</b></td>
          <td>{{bidData.product.category}}</td>
        </tr>                 
        <tr>
          <td><b>Asset Country:</b></td>
          <td>{{bidData.product.country}}</td>
          <td><b>Asset State:</b></td>
          <td>{{bidData.product.state}}</td>
        </tr>

         <tr>
          <td><b>Asset Location:</b></td>
          <td>{{bidData.product.city}}</td>
          <td><b>Asset Description:</b></td>
          <td>{{}}</td>
        </tr>

        <tr>
          <td><b>Offer Type:</b></td>
          <td>{{bidData.model}}</td>
          <td><b>Offer Price:</b></td>
          <td>{{bidData.bidAmount}}</td>
        </tr>

        <tr>
          <td><b>Offer Status:</b></td>
          <td>{{bidData.offerStatus}}</td>
          <td><b>Deal Status:</b></td>
          <td>{{bidData.dealStatus}}</td>                  
        </tr>

        <tr>
          <td><b>Invoice Details:</b></td>
          <td colspan="3">
          	<table class="table">
          		<tr>
          			<th>Name</th>
          			<th>Country</th>
          			<th>State</th>
          			<th>Location</th>
          			<th>Address</th>
          			<th>Email</th>
          			<th>Mobile No.</th>
          		</tr>
          		<tr>
          			<td>{{bidData.invoiceDetail.fname}} {{bidData.invoiceDetail.lname}}</td>
          			<td>{{bidData.invoiceDetail.country}}</td>
          			<td>{{bidData.invoiceDetail.state}}</td>
          			<td>{{bidData.invoiceDetail.city}}</td>
          			<td>{{bidData.invoiceDetail.address}}</td>
          			<td>{{bidData.invoiceDetail.email}}</td>
          			<td>+{{bidData.invoiceDetail.countryCode}} {{bidData.invoiceDetail.mobile}}</td>
          		</tr>
          	</table>
          </td>                         
        </tr>
        <tr>
        	<td><b>KYC Documents:</b></td>
          	<td colspan="3">
          		<table class="table">
          			<tr>
          				<th>Kyc Type</th>
          				<th>Name</th>
          			</tr>
          			<tr ng-repeat="kyc in bidData.kyc">
          				<td>{{kyc.type}}</td>
          				<td>{{kyc.name}}</td>
          			</tr>
          		</table>
          	</td>
        </tr>
        <tr>
          <td><b>Delivery Order:</b></td>
          <td>{{}}</td>
          <td><b>Date of Delivery:</b></td>
          <td>{{}}</td>                    
        </tr>
        <tr>
          <td><b>Asset Delivery Confirmation:</b></td>
          <td>{{}}</td>
          <td><b>Rating:</b></td>
          <td>{{}}</td>                  
        </tr>
        <tr>
          <td><b>Feedback:</b></td>
          <td colspan="3">{{}}</td>
        </tr>
      </table>
    </div>
            
</div>
