<div> 
      <div class="modal-header">
          <button type="button" class="close" ng-click="emdAmount.closeDialog()">&times;</button>
          <h4 class="modal-title">EMD Amount (if not online)</h4>
        </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <input type="text" class="form-control" name="" value="" placeholder="Bank Name">
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="" value="" placeholder="Mode of Payment">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <input type="text" class="form-control" name="" value="" placeholder="Instrument No">
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" name="" value="" placeholder="Amount">
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Bank Name</th>
                <th>Mode of Payment</th>
                <th>Instrument No</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> 
        <div class="modal-footer asset-sale">
          <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-click="emdAmount.closeDialog()">Cancel</button>
            <button type="button" class="btn btn-danger">Sabmit</button>                
          </div>
        </div>
</div>