<div> 
    <div class="modal-header">
      <button type="button" class="close" ng-click="emdFullPaymentVm.closeDialog()">&times;</button>
      <h4 class="modal-title">{{formType}} Amount (If not online)</h4>
    </div>
    <div class="modal-body">
    <table class="table">
      <tr>
        <td>{{formType}} :</td>
        <td ng-if="formType == 'EMD'">{{bidData.emdAmount || 0}}</td>
        <td ng-if="formType != 'EMD'">{{(bidData.bidAmount - bidData.emdAmount) || 0}}</td>
      </tr>
      <!-- <tr>
        <td>Remaining Payment :</td>
        <td ng-if="formType == 'EMD'">{{bidData.emdPayment.remainingPayment || 0}}</td>
        <td ng-if="formType != 'EMD'">{{bidData.fullPayment.remainingPayment || 0}}</td>
      </tr> -->
    </table>  
      <form novalidate class="text-left" name="paymentDetailForm">
        <div class="row">
          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="emdFullPaymentVm.emdFullPaymentInfo.bankName" name="bankName" placeholder="Bank Name">
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="emdFullPaymentVm.emdFullPaymentInfo.paymentMode" name="paymentMode" placeholder="Mode of Payment">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="emdFullPaymentVm.emdFullPaymentInfo.instrumentNo" name="instrumentNo" placeholder="Instrument No">
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="emdFullPaymentVm.emdFullPaymentInfo.amount" name="amount" placeholder="Amount">
          </div>
        </div>

        <div class="modal-footer asset-sale">
          <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-click="emdFullPaymentVm.closeDialog()">Cancel</button>
            <button type="button" class="btn btn-danger" ng-click="emdFullPaymentVm.submit(paymentDetailForm)">Sabmit</button>                
          </div>
        </div>
    </form>
    <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Bank Name</th>
                <th>Mode of Payment</th>
                <th>Instrument No</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="payment in emdFullPaymentVm.paymentList">
                 <td>{{payment.bankName}}</td>
                 <td>{{payment.paymentMode}}</td>
                 <td>{{payment.instrumentNo}}</td>
                 <td>{{payment.amount}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
  </div>    
</div>