<div>
	<div class="row">
	  	<div class="col-sm-6">
	  		<h4>
	  		<a href="/assetsale/fulfilmentagency" class="btn btn-default active"><i class="fa fa-chevron-left"></i> Back</a>
	  		</h4>
	  	</div>
	  	<div class="col-sm-6 text-right">
	  		<h4>	  			
	  			<button class="btn btn-success" ng-click=""><i class="fa fa-file-excel-o"></i> Export Excel</button>
	  			
	  		</h4>
	  	</div>
	</div>
	<legend></legend>
	
	<!-- Auctionable Bid -->
	<div >
		<p><strong>Asset Id:</strong> {{assetId}}</p>
		<div class="row form-group">
		   	<div class="col-sm-9">
		   		Showing : {{productBidRequestVm.bidListing.length}}
		   	</div>
		   	<div class="col-sm-3 tablesearch text-right">
		        Search: <input type="text" placeholder="Search..." ng-model="productBidRequestVm.searchStr" ng-change="productBidRequestVm.fireCommand(true)" ng-model-options="{debounce:500}">
		      </div>
		   </div>
		   <div class="table-responsive">
		   	<table class="table table-bordered">
		   		<thead>
		   			<tr>		   				
			   			<th>Ticket Id</th>
			   			<th>Offer Type</th>
			   			<th>Offer Price</th>
			   			<th>Offer Status</th>
			   			<th>Seller Name</th>
			   			<th>Seller Contact No.</th>
			   			<th>Bid Status</th>
			   			<th>EMD Amount</th>
			   			<th>EMD Details</th>
			   			<th>Full Payment Amount</th>
			   			<th>Full Payment Details</th>
			   			<th>Invoicing Details</th>
			   			<th>KYC Documents</th>
			   			<th>Delivery Order</th>
			   			<th>Date of Delivery</th>
			   			<th>Deal Status</th>
			   			<th>Action</th>			   			
			   		</tr>
		   		</thead>
		   		<tbody>
		   			<tr ng-repeat="bid in productBidRequestVm.bidListing">
			   			<td>{{bid.ticketId}}</td>
			   			<td>{{bid.offerType}}</td>
			   			<td>{{bid.bidAmount}}</td>
			   			<td>{{bid.offerStatus}}</td>
			   			<td>{{bid.product.proData.seller.fname}} {{bid.product.proData.seller.lname}}</td>
			   			<td>{{bid.product.proData.seller.mobile}}</td>
			   			<td>{{bid.bidStatus}}</td>
			   			<td>{{}}</td>
			   			<td>
			   				<a href="javascript:void(0);" class="btn btn-danger btn-xs" ng-click="productBidRequestVm.emdAmount(bid)">Update Details</a>
			   			</td>
			   			<td>{{}}</td>
			   			<td>
			   				<a href="javascript:void(0);" class="btn btn-danger btn-xs" ng-click="productBidRequestVm.emdAmount(bid)">Update Details</a>
			   			</td>
			   			<td>
			   				<button type="button" class="btn btn-danger btn-xs" ng-click="productBidRequestVm.invoicedetails(bid)">Update</button>
			   			</td>
			   			<td>
			   				<button type="button" class="btn btn-primary btn-xs" ng-click="productBidRequestVm.kycDocument(bid)">
			   					<span ng-if="true">Upload</span>
			   					<span ng-if="false">Update</span>
			   				</button>
			   			</td>
			   			<td>{{}}</td>
			   			<td>{{}}</td>
			   			<td>{{bid.dealStatus}}</td>
			   			<td>
			   				<button class="btn btn-sm btn-success"><i class="fa fa-check"></i></button>
			   			</td>
			   		</tr>
		   		</tbody>
		   	</table>
		   </div>	
		<uib-pagination total-items="pager.totalItems" ng-model="pager.currentPage" items-per-page="pager.itemsPerPage" max-size="6" ng-change="productBidRequestVm.fireCommand()" class="pagination-sm" rotate="false">  </uib-pagination>
	</div>
</div>