<div> 
      <div class="modal-header">
          <button type="button" class="close" ng-click="close()">&times;</button>
          <h4 class="modal-title">Select Payment Type</h4>
        </div>
      <div class="modal-body">
        <form novalidate class="" name="">
              <div class="row">
                <div class="col-sm-6">
                  <div class="radio radio-info">
                      <input type="radio" id="inlineRadio1" name="type" value="emd">
                      <label for="inlineRadio1"> EMD </label>
                  </div>  
                </div>
                <div class="col-sm-6">
                  <div class="radio radio-info">
                      <input type="radio" id="inlineRadio2" name="type" value="fullpayment">
                      <label for="inlineRadio2"> Full Payment </label>
                  </div>  
                </div>
              </div>
              <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                  <input type="text" class="form-control" name="" value="" placeholder="Amount" disabled>
                </div>
              </div>
        </div>  
        <div class="modal-footer asset-sale">
          <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-click="close()">Cancel</button>
            <button type="button" class="btn btn-danger">Proceed</button>                
          </div>
        </div>
    </div>