  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-4">
        <h3>Contact Us</h3>
        <form class="form" name="form" novalidate>
                <div class="form-group fill-info">
                  <div class="row">
                    <div class="col-md-12 form-group" ng-class="{'has-error': form.name.$invalid && form.submitted }">
                      <input type="text" name="name" ng-model="contact.name" value="" class="form-control" placeholder="First Name" required>
                    </div>
                    <div class="col-md-12 form-group" ng-class="{'has-error': form.email.$invalid && form.submitted }">
                      <input type="email" name="email" ng-model="contact.email" value="" class="form-control" placeholder="Email Address" required>
                      <p class="help-block" ng-show="form.email.$error.email && form.submitted">
                      Doesn't look like a valid email.
                      </p>
                      <p class="help-block" ng-show="form.email.$error.required && form.submitted">
                      What's your email address?
                      </p>
                      <p class="help-block" ng-show="form.email.$error.mongoose">
                        {{ errors.email }}
                      </p>
                    </div>
                    <div class="col-md-12 " ng-class="{'has-error': form.mobile.$invalid && form.submitted }">
                      
                      <input type="text" name="mobile" ng-model="contact.mobile" value="" class="form-control" placeholder="Mobile No." uib-tooltip="+91-98-XXXX-XXXX" tooltip-trigger="focus" tooltip-placement="top" required>
                      
                      <!-- <p class="help-block"
                       ng-show="(form.mobile.$error.maxlength || form.mobile.$error.required) && 
                       form.submitted">
                      Mobile should not blank and 10 digit.
                      </p> -->
                    </div>
                  </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.message.$invalid && form.submitted }">
                  <textarea class="form-control" name="message" ng-model="contact.message"  placeholder="Comments" required></textarea>
                </div>
                <div class="form-group text-right">
                  <input type="button" name="" ng-click="sendContact(contact)" class="btn btn-warning" value="Send">
                </div>
              </form>
              <address>
                <h4>Contact iQuippo:</h4>
                <!-- <p>You can contact us in number of ways:</p> -->
                <p><strong><i class="fa fa-phone"></i> Telephone:</strong> 040 6610 1777/1888, 6673 5444/6888</p>
                <p><strong><i class="fa fa-fax"></i> Fax:</strong> 040 23354574</p>
                <p><strong><i class="fa fa-envelope"></i> Email:</strong> enquiry@infrabazaar.com</p>
              </address>
      </div>
      <div class="col-sm-6">
        <div class="form-group"></div>
        <!-- <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="500" height="400" src="https://maps.google.com/maps?hl=en&q=Auro International FZCO, Dubai&ie=UTF8&t=m&z=16&iwloc=B&output=embed"><div><small><a href="http://embedgooglemaps.com">
                  embed google map
              </a></small></div><div><small><a href="http://googlemapsgenerator.com">googlemapsgenerator.com</a></small></div></iframe> -->
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3505.503456873507!2d77.20442631460162!3d28.52458339571025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce1f0adb989f9%3A0x4dd8b6ce76e0728e!2sD2%2C+Southern+Park+Saket!5e0!3m2!1sen!2sin!4v1460531623139" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

      </div>
    </div>   
  </div>