<div>
	<uib-tabset justified="true">
	<uib-tab heading="Type Name">
	<form name="assetForm" novalidate class="assetForm">
		<div class="row">
			<div class="col-sm-6">
				<h4>Add New Type</h4>
			</div>
			<div class="col-sm-6 text-right">
				<h4>
				<button class="btn btn-success"> <i class="fa fa-file-excel-o"></i> Export</button>
				</h4>
			</div>
		</div>
		<legend></legend>
		<div class="row">
			<div class="form-group col-sm-4" ng-class="{'has-error': stateForm.stateName.$invalid && submitted}">
				<input id="stateName" name="stateName" ng-model="gsettingVm.state.name" type="text" class="form-control" placeholder="Enter Type Name" required>
			</div>
			<div class="form-group col-xs-4 col-sm-2 pull-right">
				<button type="button" class="btn btn-primary btn-md btn-block" ng-click="gsettingVm.saveState(stateForm)" ng-if="!gsettingVm.stateEdit">Save</button>
				<button type="button" class="btn btn-primary btn-md btn-block" ng-click="gsettingVm.updateState(stateForm)" ng-if="gsettingVm.stateEdit">Update</button>
			</div>
			
		</div>
	</form>
	<div class="row">
		<div class="col-sm-3 pull-right">
			<div class="tablesearch text-right form-group">
				Search: <input type="text" placeholder="Search..." ng-model="gsettingVm.searchStr" ng-change="gsettingVm.fireCommand(true,null,'auctionrequest')" ng-model-options="{debounce:500}">
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-bordred table-striped">
			<thead>
				<tr>
					<th>Asset Type</th>
					<th>Action</th>
				</tr>
				
			</thead>
			<tbody>
				<tr>
					<td>{{state.name}}</td>
					<td>
						<a class="btn btn-primary btn-md" href="javascript:void(0);" ng-click="gsettingVm.stateEditClick($index)" ><i class="fa fa-pencil"></i> </a>
						<a class="btn btn-danger btn-md" href="javascript:void(0);" ng-click="gsettingVm.deleteState($index)"><i class="fa fa-trash"></i> </a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<uib-pagination total-items="gsettingVm.totalItems" ng-model="gsettingVm.currentPage" items-per-page="gsettingVm.itemsPerPage" max-size="gsettingVm.maxSize" ng-change="gsettingVm.fireCommand(false,null,'auctionrequest')" class="pagination-sm" rotate="false">  </uib-pagination>
	</uib-tab>
	<uib-tab heading="Asset Type">
	<form name="assetForm" novalidate class="assetForm">
		<div class="row">
			<div class="col-sm-6">
				<h4>Add New Asset</h4>
			</div>
			<div class="col-sm-6 text-right">
				<h4>
				<button class="btn btn-success" ng-click="gsettingVm.exportProductState('location')"> <i class="fa fa-file-excel-o"></i> Export</button>
				</h4>
			</div>
		</div>
		<legend></legend>
		<div class="row">
			<div class="form-group col-sm-3" ng-class="{'has-error': locationForm.state.$invalid && submitted}">
				<select class="form-control" name="state">
					<option value="">Select Asset Type</option>
				</select>
				<i class="caret"></i>
			</div>
			<div class="col-sm-3 form-group" ng-class="{'has-error' : assetAuctionForm.category.$invalid && submitted}">
				<select class="form-control" name="category" ng-model="gsettingVm.auctionProduct.product.category" ng-change="gsettingVm.onCategoryChange(gsettingVm.auctionProduct.product.category,true)" required>
					<option value=""> Select Category*</option>
					<option ng-repeat="cat in gsettingVm.allCategory" value="{{cat.name}}" ng-if="cat.name != 'Other'">{{cat.name}}</option>
				</select>
				<i class="caret"></i>
			</div>
			<div class="col-sm-3 form-group" ng-class="{'has-error' : assetAuctionForm.brand.$invalid && submitted}">
				<select class="form-control" name="brand" ng-model="gsettingVm.auctionProduct.product.brand" ng-change="gsettingVm.onBrandChange(gsettingVm.auctionProduct.product.brand,true)" required>
					<option value=""> Select Brand*</option>
					<option ng-repeat="br in gsettingVm.brandList" value="{{br.name}}" ng-if="br.name != 'Other'">{{br.name}}</option>
				</select>
				<i class="caret"></i>
			</div>
			<div class="col-sm-3 form-group" ng-class="{'has-error' : assetAuctionForm.model.$invalid && submitted}">
				<select class="form-control" name="model" ng-model="gsettingVm.auctionProduct.product.model" required>
					<option value=""> Select Model*</option>
					<option ng-repeat="md in gsettingVm.modelList" value="{{md.name}}" ng-if="md.name != 'Other'">{{md.name}}</option>
				</select>
				<i class="caret"></i>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-2 pull-right">
				<button type="button" class="btn btn-primary btn-md btn-block" ng-click="gsettingVm.saveLocation(locationForm)" ng-if="!gsettingVm.locationEdit">Save</button>
				<button type="button" class="btn btn-primary btn-md btn-block" ng-click="gsettingVm.updateLocation(locationForm)" ng-if="gsettingVm.locationEdit">Update</button>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="col-sm-3 pull-right">
			<div class="tablesearch text-right form-group">
				Search: <input type="text" placeholder="Search..." ng-model="gsettingVm.searchStr" ng-change="gsettingVm.fireCommand(true,null,'auctionrequest')" ng-model-options="{debounce:500}">
			</div>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-bordred table-striped">
			<thead>
				<tr>
					<th>Asset Type</th>
					<th>Category</th>
					<th>Brand</th>
					<th>Modal</th>
					<th>Action</th>
				</tr>
				
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>
						<a class="btn btn-primary btn-md" href="javascript:void(0);" ng-click="gsettingVm.locationEditClick($index)" ><i class="fa fa-pencil"></i> </a>
						<a class="btn btn-danger btn-md" href="javascript:void(0);" ng-click="gsettingVm.deleteLocation($index)"><i class="fa fa-trash"></i> </a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<uib-pagination total-items="gsettingVm.totalItems" ng-model="gsettingVm.currentPage" items-per-page="gsettingVm.itemsPerPage" max-size="gsettingVm.maxSize" ng-change="gsettingVm.fireCommand(false,null,'auctionrequest')" class="pagination-sm" rotate="false">  </uib-pagination>
	</uib-tab>
	</uib-tabset>
</div>