<div class="container-fluid">
  <ol class="breadcrumb">
    <li>
      <a href="/main"> Home </a>
    </li>
    <li><a href="/main"> Auctions </a></li>
    <li class="active"> {{displayText || equipmentSearchFilter.group || equipmentSearchFilter.category || equipmentSearchFilter.brand || equipmentSearchFilter.location || equipmentSearchFilter.assetId || "XXXXX"}} </li>
  </ol>
</div>

<section class="category-block">
  <div class="container-fluid">
    <div class="col-sm-3">
      <h4>Filter By:</h4>
      <uib-accordion close-others="oneAtATime" class="information">
        <uib-accordion-group is-open="status.group">
          <uib-accordion-heading>
            Industry ({{allGroup.length || 0}})<i class="pull-right fa" ng-class="{'fa-minus': status.group, 'fa-plus': !status.group}"></i>
          </uib-accordion-heading>
            <div class="radio" ng-repeat="group in allGroup">
              <input type="radio" ng-model="equipmentSearchFilter.group" ng-change="viewproductVm.onGroupChange(equipmentSearchFilter.group)" name="group" value="{{group.name}}" id="gp_{{$index}}"> <label for="gp_{{$index}}">{{group.name}}</label>
            </div>
        </uib-accordion-group>

       <!--  <uib-accordion-group is-open="status.tradeType">
          <uib-accordion-heading>
            Available For (2)<i class="pull-right fa" ng-class="{'fa-minus': status.tradeType, 'fa-plus': !status.tradeType}"></i>
          </uib-accordion-heading>
            <div class="radio">
              <input type="radio" ng-model="equipmentSearchFilter.tradeType" name="tradetype" value="SELL" id="buying"> <label for="buying">Buying</label>
            </div>
            <div class="radio">
              <input type="radio" ng-model="equipmentSearchFilter.tradeType" name="tradetype" value="RENT" id="renting"> <label for="renting">Renting</label>
            </div>
        </uib-accordion-group> -->

        <uib-accordion-group is-open="status.category">
          <uib-accordion-heading>
            Category  <i class="pull-right fa" ng-class="{'fa-minus': status.category, 'fa-plus': !status.category}"></i>
          </uib-accordion-heading>
            <div>
              <div class="radio" ng-repeat="cat in categoryList">
                <input type="radio" ng-model="equipmentSearchFilter.category" ng-change="viewproductVm.onCategoryChange(equipmentSearchFilter.category)" name="category" value="{{cat.name}}" id="cat_{{$index}}"> <label for="cat_{{$index}}">{{cat.name}}</label>
              </div>
              
            </div>
        </uib-accordion-group>

        <uib-accordion-group is-open="status.brand">
          <uib-accordion-heading>
            Product Brand <i class="pull-right fa" ng-class="{'fa-minus': status.brand, 'fa-plus': !status.brand}"></i>
          </uib-accordion-heading>
            <div>
              <div class="radio" ng-repeat="br in brandList">
                <input type="radio" ng-model="equipmentSearchFilter.brand" name="brand" value="{{br.name}}" id="brand_{{$index}}"> <label for="brand_{{$index}}">{{br.name}}</label>
              </div>
              
            </div>
        </uib-accordion-group>
         <uib-accordion-group is-open="status.location">
          <uib-accordion-heading>
            Location <i class="pull-right fa" ng-class="{'fa-minus': status.location, 'fa-plus': !status.location}"></i>
          </uib-accordion-heading>
          <input type="text" class="form-control form-group" ng-model="equipmentSearchFilter.location" placeholder="Enter Country/State/Location" uib-typeahead="address for address in getLocationHelp($viewValue)"  class="form-control" typeahead-focus-first = "false" typeahead-wait-ms="200" ng-change="viewproductVm.fireCommand()" typeahead-on-select="viewproductVm.fireCommand()"  ng-model-options="{debounce:1000}" autocomplete="off"/>
        </uib-accordion-group>
        <uib-accordion-group is-open="Infostatus.open">
          <uib-accordion-heading>
            Asset Id  <i class="pull-right fa" ng-class="{'fa-minus': Infostatus.open, 'fa-plus': !Infostatus.open}"></i>
          </uib-accordion-heading>
          <input type="text" class="form-control form-group" placeholder="Asset Id"  ng-model="equipmentSearchFilter.assetId" class="form-control" ng-change="viewproductVm.fireCommand()">
        </uib-accordion-group>
        <uib-accordion-group is-open="mfy.open">
          <uib-accordion-heading>
            Manufacturing Year <i class="pull-right fa" ng-class="{'fa-minus': mfy.open, 'fa-plus': !mfy.open}"></i>
          </uib-accordion-heading>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="input-group">
                <input type="text" class="form-control" ng-value="mfgyr.min" ng-model="mfgyr.min" uib-datepicker-popup="{{format}}" datepicker-options="{{datepickerOptions}}" is-open="datepickers.min" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="Min" ng-keypress="$event.preventDefault()" disabled ng-change="auctionDetailsVm.productSearchOnMfg()"/>
            <a href class="input-group-addon" ng-click="open($event,'min')">
              <i class="fa fa-calendar-o"></i>
            </a>
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="input-group">
                <input type="text" class="form-control" ng-value="mfgyr.max" ng-model="mfgyr.max" uib-datepicker-popup="{{format}}" datepicker-options="{{datepickerOptions}}" is-open="datepickers.max" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="Max" ng-keypress="$event.preventDefault()" disabled  ng-change="auctionDetailsVm.productSearchOnMfg()"/>
                <a href class="input-group-addon" ng-click="open($event,'max')">
                  <i class="fa fa-calendar-o"></i>
                </a>
              </div>
            </div>
          </div>
        </uib-accordion-group>
      </uib-accordion>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-10 form-group">
          <h4>SALE OF USED JCB EXCAVATORS
            <small class="text-success">( <i class="fa fa-circle"></i> Ongoing)</small>
          </h4>
        </div>
        <div class="col-sm-2 form-group asset-sale">
          <button type="button" class="btn btn-primary btn-block">Register</button>
        </div>
      </div>
      <div id="search-result_wrapper">
        <div class="row">
          <div class="col-sm-6 col-md-6 form-group padd-right">
            <h4 class="text-danger"><i class="fa fa-phone"></i> Saharsh Baid(9876543210)</h4>
          </div>
          <div class="col-sm-3 col-md-3 form-group text-right">
            <a href="javascript:void(0);" class="text-info">
              <img src="/assets/images/icon-proxy.png" alt="" height="20"> Proxy Bid Form
            </a>
          </div>
          <div class="col-sm-3 col-md-3 form-group">
            <a href="javascript:void(0);" class="text-info">
              <img src="/assets/images/icon-catalog.png" alt="" height="20"> Download Catalogue
            </a>
          </div>
        </div>
        <div class="row">      
          <div class="col-sm-6 col-md-4 form-group">
            <div class="media text-center form-group">
              <a href="javascript:void(0);">
                 <img src="http://placehold.it/300x200" class="img-responsive">              
              </a>          
              <div class="media-body text-left"> 
                <div class="row">
                  <div class="col-xs-6 form-group padd-right">
                    <h4 class="text-ellips">JCB Excavator</h4>     
                    <h6 class="text-info">Asset Id : IQ_SB_BC_001</h6>
                  </div>
                  <div class="col-xs-6 form-group text-right padd-left">
                    <h4 class="text-success">Ongoing</h4>
                  </div>
                </div> 
                <p><i class="fa fa-clock-o"></i> <strong class="text-success">2 days, 5 hours, 19 minutes, 57 seconds</strong></p>
                 <p><i class="fa fa-check-circle-o"></i> Available for {{product.tradeType === 'RENT'?'Rent' : 'Sale'}}</p>
              </div> 
               <div class="table-responsive">
                  <table class="table">                
                    <tbody>
                      <tr>
                        <td>
                          <small>Manufactured in</small>
                          <h3>2010</h3>
                        </td>
                        <td>
                          <small>Runtime (Hours)</small>
                          <h3>230 Hrs</h3>
                        </td>
                        <td>
                          <small>Current Location</small>
                          <h3>New Delhi</h3>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>  
              <a ng-href="/used/{{product.category.name}}/{{product.brand.name}}/{{product.assetId}}" class="btn btn-primary btn-block" >
                View Details
              </a>     
            </div>
          </div>
          <div class="col-sm-6 col-md-4 form-group">
            <div class="media text-center form-group">
              <a href="javascript:void(0);">
                 <img src="http://placehold.it/300x200" class="img-responsive">              
              </a>          
              <div class="media-body text-left"> 
                <div class="row">
                  <div class="col-xs-6 form-group padd-right">
                    <h4 class="text-ellips">JCB Excavator</h4>     
                    <h6 class="text-info">Asset Id : IQ_SB_BC_001</h6>
                  </div>
                  <div class="col-xs-6 form-group text-right padd-left">
                    <h4 class="text-success">Ongoing</h4>
                  </div>
                </div> 
                <p><i class="fa fa-clock-o"></i> <strong class="text-success">2 days, 5 hours, 19 minutes, 57 seconds</strong></p>
                 <p><i class="fa fa-check-circle-o"></i> Available for {{product.tradeType === 'RENT'?'Rent' : 'Sale'}}</p>
              </div> 
               <div class="table-responsive">
                  <table class="table">                
                    <tbody>
                      <tr>
                        <td>
                          <small>Manufactured in</small>
                          <h3>2010</h3>
                        </td>
                        <td>
                          <small>Runtime (Hours)</small>
                          <h3>230 Hrs</h3>
                        </td>
                        <td>
                          <small>Current Location</small>
                          <h3>New Delhi</h3>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>  
              <a ng-href="/used/{{product.category.name}}/{{product.brand.name}}/{{product.assetId}}" class="btn btn-primary btn-block" >
                View Details
              </a>     
            </div>
          </div>
          <div class="col-sm-6 col-md-4 form-group">
            <div class="media text-center form-group">
              <a href="javascript:void(0);">
                 <img src="http://placehold.it/300x200" class="img-responsive">              
              </a>          
              <div class="media-body text-left"> 
                <div class="row">
                  <div class="col-xs-6 form-group padd-right">
                    <h4 class="text-ellips">JCB Excavator</h4>     
                    <h6 class="text-info">Asset Id : IQ_SB_BC_001</h6>
                  </div>
                  <div class="col-xs-6 form-group text-right padd-left">
                    <h4 class="text-success">Ongoing</h4>
                  </div>
                </div> 
                <p><i class="fa fa-clock-o"></i> <strong class="text-success">2 days, 5 hours, 19 minutes, 57 seconds</strong></p>
                 <p><i class="fa fa-check-circle-o"></i> Available for {{product.tradeType === 'RENT'?'Rent' : 'Sale'}}</p>
              </div> 
               <div class="table-responsive">
                  <table class="table">                
                    <tbody>
                      <tr>
                        <td>
                          <small>Manufactured in</small>
                          <h3>2010</h3>
                        </td>
                        <td>
                          <small>Runtime (Hours)</small>
                          <h3>230 Hrs</h3>
                        </td>
                        <td>
                          <small>Current Location</small>
                          <h3>New Delhi</h3>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>  
              <a ng-href="/used/{{product.category.name}}/{{product.brand.name}}/{{product.assetId}}" class="btn btn-primary btn-block" >
                View Details
              </a>     
            </div>
          </div>
          
        </div>

        <div class="text-center form-group">
          <uib-pagination total-items="viewproductVm.totalItems" ng-click="viewproductVm.onPageChange()" ng-model="viewproductVm.currentPage" items-per-page="viewproductVm.itemsPerPage" max-size="viewproductVm.maxSize" boundary-links="false" rotate="false" next-text=">" previous-text="<"></uib-pagination>
        </div>
      </div>

      <div class="no-result" ng-if="searching && !noResult">
        <img src="assets/images/assets-loading.gif" class="form-group">
        <p>Loading...</p>
      </div>
      <div class="no-result" ng-if="noResult && !searching">No results found</div>
    </div>
  </div>
</section>