  <div class="container" ng-if="!auctionOnMap">
		<div class="row form-group">
      <div class="col-xs-5 col-sm-8"><h3>Auctions</h3></div>
      <div class="col-xs-7 col-sm-4 Asset-filter text-right">
          Filter : 
          <select>
            <option>Live</option>
            <option>Online</option>
            <option>Asset Category</option>
            <option>Location</option>
          </select>
      </div>      
    </div>
		<legend></legend>

	  <div class="auction-tab">
      <button type="button" class="btn btn-default" ng-class="{'active': auctionType == 'upcoming'}" ng-click="auctionDateVm.fireCommandType('upcoming')">Upcoming Auctions</button>
      <!-- <button type="button" class="btn btn-default" ng-class="{'active': auctionType == 'ongoing'}" ng-click="auctionDateVm.fireCommandType('ongoing')">Ongoing Auctions</button>  -->
      <button type="button" class="btn btn-default " ng-class="{'active': auctionType == 'closed'}" ng-click="auctionDateVm.fireCommandType('closed')">Closed Auctions</button>
    </div>          

     <!-- <div class="table-responsive auctions-table">
          <table class="table table-bordered table-striped">
            <thead>
              <tr class="info-back">
                <th>View Details</th>
                <th>Auction Id</th>
                <th>Type of Auction</th>
                <th>Auction Name</th>
                <th>Auction Conducted by</th>
                <th>Auction Start Date &amp; Time</th>
                <th>Auction End Date &amp; Time</th>
                <th>Inspection Start Date &amp; Time</th>
                <th>Inspection End Date &amp; Time</th>
                <th>EMD Amount</th>
                <th>Registration End Date</th>
                <th>Location</th>
                <th>Address</th>
                <th>Google map of Location</th>
                <th>Terms &amp; Condition</th>
                <th>Proxy Form</th>
                <th>No. of Assets in Auction</th>
                <th ng-if="auctionType == 'closed'">No. of Assets in Sold</th>
                <th ng-if="auctionType == 'closed'">Total Sale Value</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="product in auctionDateVm.auctionListing | orderBy:'-endDate'">
                <td>
                  <a href="/assetinauction?auctionId={{product.auctionId}}" class="btn btn-primary btn-sm" >
                    <i class="fa fa-eye"></i>
                  </a>
                </td> 
                <td>{{product.auctionId}}</td>
                <td>{{product.auctionType | titleCase}}</td>
                <td>{{product.name}}</td>
                <td>{{product.auctionOwner}}</td>
                <td>{{product.startDate | date:'dd-MMM-yyyy hh:mm a'}}</td>
                <td>{{product.endDate | date:'dd-MMM-yyyy hh:mm a'}}</td>
                <td>{{product.insStartDate | date:'dd-MMM-yyyy hh:mm a'}}</td>
                <td>{{product.insEndDate | date:'dd-MMM-yyyy hh:mm a'}}</td>
                <td>{{product.emdAmount}}</td>
                <td>{{product.regEndDate | date:'dd-MMM-yyyy hh:mm a'}}</td>
                <td>{{product.city}}</td>
                <td>{{product.auctionAddr}}</td>
                <td><a href="javascript:void(0);" ng-click="auctionDateVm.showAddress(product.auctionAddr,product.city,product.state)" ng-if="product.auctionAddr">{{product.auctionAddr}}</a></td>
                <td><a href="{{uploadImagePrefix}}{{auctionDir}}/{{product.docName}}" ng-if="product.docType == 'tc'" target="_blank"><i class="fa fa-file-text-o"></i></a></td>
                <td><a href="{{uploadImagePrefix}}{{auctionDir}}/{{product.docName}}" ng-if="product.docType == 'bidProxy'" target="_blank"><i class="fa fa-file-text-o"></i></a></td>
                <td>{{auctionDateVm.getProductData(product._id, "total_products")}}</td>
                <td ng-if="auctionType == 'closed'">{{auctionDateVm.getProductData(product._id, "total_sold")}}</td>
                <td ng-if="auctionType == 'closed'">{{auctionDateVm.getProductData(product._id, "total_amount")}}</td>
              </tr>
              
            </tbody>
            
          </table>
        </div>
        <uib-pagination total-items="auctionDateVm.totalItems" ng-model="auctionDateVm.currentPage" items-per-page="auctionDateVm.itemsPerPage" max-size="auctionDateVm.maxSize" ng-change="auctionDateVm.fireCommand()" class="pagination-sm" rotate="false">  </uib-pagination> -->
    		<div class="auction-list form-group" ng-repeat="product in auctionDateVm.auctionListing">  
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" ng-if="product.primaryImg" src="{{uploadImagePrefix}}{{auctionmasterDir}}/{{product.primaryImg}}" alt="Image">
              <img class="media-object" ng-if="!product.primaryImg && product.auctionValue =='closedAuctions'" src="{{uploadImagePrefix}}{{auctionmasterDir}}/closed.jpg" alt="Image">
              <img class="media-object" ng-if="!product.primaryImg && product.auctionValue =='upcomingAuctions'" src="{{uploadImagePrefix}}{{auctionmasterDir}}/upcoming.jpg" alt="Image">
              <img class="media-object" ng-if="!product.primaryImg && product.auctionValue =='ongoingAuctions'" src="{{uploadImagePrefix}}{{auctionmasterDir}}/ongoing.jpg" alt="Image">
            </a>
            <div class="media-body">
              <h4 class="media-heading text-primary">{{product.auctionType | titleCase}} {{product.name}} - {{product.city}}</h4>
              <div class="row">
                <div class="col-sm-7">
                  <p ng-if="product.auctionValue =='upcomingAuctions'"><strong>Auction Date : </strong> {{product.startDate | date:'dd-MMM-yyyy hh:mm a'}} - {{product.endDate | date:'dd-MMM-yyyy hh:mm a'}}</p>
                  <p ng-if="product.auctionValue =='ongoingAuctions'" class="text-success"><strong>Ongoing Auction Time : <timer end-time="product.endTimer">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer></strong></p>
                  <p ng-if="product.auctionValue =='closedAuctions'"><strong>Auction Closed</strong></p>
                </div>
                <div class="col-sm-5">
                  <p><strong ng-if="product.contactNumber"><i class="fa fa-phone"></i></strong>  {{product.contactName}} <span ng-if="product.contactNumber">({{product.contactNumber}})</span></p>
                </div>
              </div>
              <p><strong>Inspection Date : </strong> {{product.startDate | date:'dd-MMM-yyyy hh:mm a'}} - {{product.endDate | date:'dd-MMM-yyyy hh:mm a'}} </p>
              
              <div class="row">
                <div class="col-sm-7">
                  <p><strong><i class="fa fa-map-marker"></i> </strong> <a href="javascript:void(0);" ng-click="auctionDateVm.showAddress(product.auctionAddr,product.city,product.state)" ng-if="product.auctionAddr">{{product.auctionAddr}}</a> </p>
                </div>
                <div class="col-sm-5">
                  <a href="{{uploadImagePrefix}}{{auctionDir}}/{{product.docName}}" class="btn btn-sm btn-primary" ng-if="product.docType == 'bidProxy'" target="_blank"><i class="fa fa-file-text-o"></i> Proxy Form</a>
                  <a href="{{uploadImagePrefix}}{{auctionDir}}/{{product.docName}}" class="btn btn-sm btn-default" ng-if="product.docType == 'tc'" target="_blank"><i class="fa fa-file-pdf-o"></i> Auction Catalogue</a>
                  <a href="/assetinauction?auctionId={{product.auctionId}}&auctionType={{product.auctionValue}}" class="btn btn-sm btn-danger">View Assets</a>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
<div class="container" ng-if="auctionOnMap">
  <div class="row">
    <div class="col-sm-12" id="map_canvas">
       <ui-gmap-google-map center='map.center' zoom='map.zoom' control = "map.control">
           <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
          </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <a href="javascript:void(0);" class="btn btn-danger btn-md map-close" ng-click="auctionDateVm.closeMap()">Back</a>
    </div>
  </div>
</div>

