  <div class="container">
    <div class="col-sm-12 text-justify">
		<h3>Auctions</h3>
		<legend></legend>

		<div class="btn-group form-group">
      <button type="button" class="btn btn-default active" ng-click="auctionDateVm.fireCommand('closedAuctions')">Closed Auctions</button>
      <button type="button" class="btn btn-default" ng-click="auctionDateVm.fireCommand('openAuctions')">Upcoming Auctions</button>
      <button type="button" class="btn btn-default" ng-click="auctionDateVm.fireCommand('ongoingAuctions')">Ongoing Auctions</button>          
    </div>

		<div class="row">
			<div class="col-sm-12 form-group">                
        <div class="table-responsive auctions-table">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Auction Id</th>
                <th>Type of Auction</th>
                <th>Auction Name</th>
                <th>Auction Conducted by</th>
                <th>Auction Start Date &amp; Time</th>
                <th>Auction End Date &amp; Time</th>
                <th>Inspection Start Date &amp; Time</th>
                <th>Inspection End Date &amp; Time</th>
                <th>Registration Charges</th>
                <th>Registration End Date</th>
                <th>Location</th>
                <th>Address</th>
                <th>Google map of Location</th>
                <th>Terms &amp; Condition</th>
                <th>Proxy Form</th>
                <th>No. of Assets in Auction</th>
                <th>No. of Assets in Sold</th>
                <th>Total Sale Value</th>
                <th>View Details</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="product in auctionDateVm.auctionListing">
                <td>{{product.auctionId}}</td>
                <td>{{product.auctionType}}</td>
                <td>{{product.name}}</td>
                <td>{{product.auctionOwner}}</td>
                <td>{{product.startDate | date:'MM/dd/yyyy hh:mm a'}}</td>
                <td>{{product.endDate | date:'MM/dd/yyyy hh:mm a'}}</td>
                <td>{{product.insStartDate | date:'MM/dd/yyyy hh:mm a'}}</td>
                <td>{{product.insEndDate | date:'MM/dd/yyyy hh:mm a'}}</td>
                <td>{{product.regCharges}}</td>
                <td>{{product.regEndDate | date:'MM/dd/yyyy hh:mm a'}}</td>
                <!-- <td>
                    <a href="javascript:void(0);" uib-popover="Seller Information" popover-trigger="mouseenter"></a>
                </td> -->

                <td>{{product.state}}</td>
                <td>{{product.auctionAddr}}</td>
                <td ng-click="auctionDateVm.openMap(product.auctionAddr,product.state)"><a href="javascript:void(0);">{{product.auctionAddr}}</a></td>
                <td><a href="javascript:void(0);"><i class="fa fa-file-text-o"></i></a></td>
                <td><a href="javascript:void(0);"><i class="fa fa-file-text-o"></i></a></td>
                <td>{{product.itemCount}}</td>
                <td>{{product.totalItemsSold}}</td>
                <td>{{product.inSaleValue}}</td>
               	<td>
                  <a href="/auctiondetail?auctionId={{product.auctionId}}" class="btn btn-primary btn-sm" >
               	    <i class="fa fa-eye"></i>
                  </a>
               	</td> 
            
              </tr>
              
            </tbody>
            
          </table>
        </div>
       <!--  <uib-pagination total-items="auctionDateVm.totalItems" ng-model="auctionDateVm.currentPage" items-per-page="auctionDateVm.itemsPerPage" max-size="auctionDateVm.maxSize" ng-change="auctionDateVm.fireCommand()" class="pagination-sm" rotate="false">  </uib-pagination> -->        
      </div>
		</div>
		
	</div>
  </div>

<!-- Onclick google map location popup -->
<script type="text/ng-template" id="">
  <div>
    <div class="modal-header">
      <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
       <h4 class="modal-title">Google Map Location</h4>
    </div>
    <div class="modal-body">
      
     
    </div>
  </div>
</script>