  <div class="container">        

  <div class="form-group"></div>
  <div class="row">
    <div class="col-sm-3" ng-class="{hidefilter: !filterbutton.value1}">
      <button class="btn btn-danger visible-xs filter-display" ng-click="filterbutton.value1 = !filterbutton.value1">Close</button>
      <div class="well">
        <form role="form"> 
          <label for="" class="text-muted">Asset Id</label>
          <input type="text" class="form-control form-group" name="" value="" placeholder="Asset Id" ng-model="equipmentSearchFilter.assetId
          " ng-change="auctionDetailsVm.fireCommand()"> 

          <label for="" class="text-muted">Asset Category</label>
          <select class="form-control form-group" name="category" ng-model="equipmentSearchFilter.category" ng-change="auctionDetailsVm.onCategoryChange(equipmentSearchFilter.category)">
            <option value="">Select Category</option>
            <option value="{{cat.name}}" ng-repeat="cat in allCategory">{{cat.name}}</option>
          </select>

          <label for="" class="text-muted">Brand</label>
          <select class="form-control form-group" name="brand" ng-model="equipmentSearchFilter.brand" ng-change="auctionDetailsVm.onBrandChange(equipmentSearchFilter.brand)">
            <option value="" >Select Brand</option>
            <option value="{{br.name}}" ng-repeat="br in brandList">{{br.name}}</option>
          </select>

          <label for="" class="text-muted">Model</label>
          <select class="form-control form-group" name="model" ng-model="equipmentSearchFilter.model" ng-change="auctionDetailsVm.fireCommand()">
            <option value="" >Select Model</option>
            <option value="{{md.name}}" ng-repeat="md in modelList">{{md.name}}</option>
          </select>

          <label for="" class="text-muted">Location</label>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="equipmentSearchFilter.locationName" placeholder="Enter Location" uib-typeahead="address for address in getLocationHelp($viewValue)"  class="form-control" typeahead-focus-first = "false" typeahead-wait-ms="200"
                   ng-change="auctionDetailsVm.fireCommand()" typeahead-on-select="auctionDetailsVm.fireCommand()" ng-model-options="{debounce:1000}"/>
                </div>

          <div class="form-group">
                  <label for="" class="text-muted">Manufacturing Year</label>
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="input-group">
                        <input type="text" class="form-control" ng-value="mfgyr.min" ng-model="mfgyr.min" uib-datepicker-popup="{{format}}" datepicker-options="{{datepickerOptions}}" is-open="datepickers.min" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="Min" ng-keypress="$event.preventDefault()" disabled ng-change="auctionDetailsVm.productSearchOnMfg()"/>
                    <a href class="input-group-addon" ng-click="open($event,'min')">
                      <i class="fa fa-calendar-o"></i>
                    </a>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="input-group">
                        <input type="text" class="form-control" ng-value="mfgyr.max" ng-model="mfgyr.max" uib-datepicker-popup="{{format}}" datepicker-options="{{datepickerOptions}}" is-open="datepickers.max" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="Max" ng-keypress="$event.preventDefault()" disabled  ng-change="auctionDetailsVm.productSearchOnMfg()"/>
                        <a href class="input-group-addon" ng-click="open($event,'max')">
                          <i class="fa fa-calendar-o"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
        </form>
      </div>
    </div> 
    <div class="col-sm-9">
      <div class="row callLocation">
        <div class="col-sm-6">
        <h4>{{auctionTypeValue | titleCase}} {{auctionName}} - {{auctionCity}}</h4>
        </div>
        <div class="col-xs-3 visible-xs filter-btn form-group">        
          <button class="btn btn-block btn-danger btn-sm" ng-click="filterbutton.value1 = !filterbutton.value1">
            <i class="fa fa-filter"></i> Filter
          </button>
        </div>         
        <div class="col-xs-12 col-sm-6 text-right padd-left">
          <a href="javascript:void(0);" ng-if="auctionType !='closedAuctions'" ng-click="auctionDetailsVm.openBidModal(product)" class="btn btn-default btn-sm active">Register Now</a>
          <a href="{{uploadImagePrefix}}{{auctionDir}}/{{docName}}" class="btn btn-sm btn-default active" ng-if="docType == 'bidProxy'" target="_blank"><i class="fa fa-file-text-o"></i> Proxy Form</a>
          <a href="{{uploadImagePrefix}}{{auctionDir}}/{{docName}}" class="btn btn-sm btn-default active" ng-if="docType == 'tc'" target="_blank"><i class="fa fa-file-pdf-o"></i> <span class="hidden-xs">Auction Catalogue</span></a>
          <a href="{{uploadImagePrefix}}{{auctionDir}}/{{docNameProxy}}" class="btn btn-sm btn-primary" ng-if="!docType &&  docNameProxy" target="_blank"><i class="fa fa-file-text-o"></i> Proxy Form</a>
          <a href="{{uploadImagePrefix}}{{auctionDir}}/{{docName}}" class="btn btn-sm active btn-default" ng-if="!docType && docName" target="_blank"><i class="fa fa-file-pdf-o"></i> Auction Catalogue</a>
          <a href="javascript:void(0);" ng-click="auctionDetailsVm.backButton()" class="btn btn-default btn-sm active"> <i class="fa fa-chevron-left"></i> <span class="hidden-xs">Back</span></a>

        </div>         
      </div>
      <div class="auctionText" ng-if="termAuction || contactName || contactNumber">
        <div class="row">
          <div class="col-sm-6">
            {{termAuction}}
          </div>
          <div class="col-sm-6 text-right">
            <a ng-if="contactNumber" href="tel:{{contactNumber}}">
              <i class="fa fa-phone"></i>
              <span ng-if="contactName">{{contactName}}</span> 
              <span ng-if="contactNumber">({{contactNumber}})</span>
            </a>
            <a ng-if="!contactNumber" >
              <span ng-if="contactName">{{contactName}}</span> 
              <span ng-if="contactNumber">({{contactNumber}})</span>
            </a>
          </div>
        </div>
      </div>
      <legend></legend>

        <!--  <div class="row">
        <div class="col-sm-12 form-group">
                  
                  <div class="table-responsive table-striped">
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>Lot No.</th>
                          <th>Asset Image 1</th>
                          <th>Asset Image 2</th>
                          <th>Asset No.</th>
                          <th>Asset Category</th>
                          <th>Brand</th>
                          <th>Model</th>
                          <th>Asset Desc</th>
                          <th>Invoice Date</th>
                          <th>Asset Registration No.</th>
                          <th>Engine No.</th>
                          <th>Asset Location</th>
                          <th>Original Invoice</th>
                          <th>VAT%</th>
                          <th>Contact Person</th>
                          <th>Contact No.</th>
                         
                        </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="auctionProduct in auctionDetailsVm.auctionDetailListing">
                      <td>{{auctionProduct.lotNo}}</td>
                      
                      <td ng-if="auctionProduct.product._id"><a href ng-click="openUrl(auctionProduct.product._id)"><img width="50" height="50" src="{{uploadImagePrefix}}{{auctionProduct.product.assetDir}}/{{auctionProduct.product.primaryImg}}"></a></td>
                      
                      <td ng-if="!auctionProduct.product._id"><img width="50" height="50" src="{{uploadImagePrefix}}{{auctionProduct.product.assetDir}}/{{auctionProduct.product.primaryImg}}"></td>
                      
                      <td ng-if="auctionProduct.product._id"><a href ng-click="openUrl(auctionProduct.product._id)"><img width="50" height="50" src="{{uploadImagePrefix}}{{auctionProduct.product.assetDir}}/{{auctionProduct.product.otherImages[0]}}"></a></td>

                      <td ng-if="!auctionProduct.product._id"><img width="50" height="50" src="{{uploadImagePrefix}}{{auctionProduct.product.assetDir}}/{{auctionProduct.product.otherImages[0]}}"></td>
                      
                      <td ng-if="auctionProduct.product._id"><a href ng-click="openUrl(auctionProduct.product._id)">{{auctionProduct.product.assetId}}</a></td>
                      
                      <td ng-if="!auctionProduct.product._id">{{auctionProduct.product.assetId}}</td>
                      <td>{{auctionProduct.product.category}}</td>
                      <td>{{auctionProduct.product.brand}}</td>
                      <td>{{auctionProduct.product.model}}</td>
                      <td>{{auctionProduct.product.description}}</td>
                      <td>{{auctionProduct.product.invoiceDate}}</td>
                      <td>{{auctionProduct.product.registrationNo}}</td>
                      <td>{{auctionProduct.product.engineNo}}</td>
                      <td>{{auctionProduct.product.city}}</td>
                      <td>{{auctionProduct.product.originalInvoice}}</td>
                      <td>{{auctionProduct.product.vatPercentage}}</td>
                      <td>{{auctionProduct.product.contactName}}</td>
                      <td>{{auctionProduct.product.contactNumber}}</td>
                    </tr>
                        
                      </tbody>
                      
                    </table>
                    
                  </div>
                  
                </div>
      </div> -->
      <div class="no-result" ng-if="!auctionDetailsVm.show" ng>No records found</div>

    <div ng-repeat="lot in auctionDetailsVm.lotListing">
           <strong>Lot Number - {{lot.lotNumber}}</strong>

      <div class="widgit">
          <div class="container-fluid mjuszb4">
          <input type="hidden" id="auction_user_id" value="194">

          <div id="classifiedAuctionBid" data-classifiedAuctionid="45152458" data-classifiedLotid="11" classifiedAssetid="asset11"></div>
          <div id="bidHistoryDialogForAuction" style="display:none"></div>
          <div id="messageDialogForAuction"></div>
          </div>
      </div>
       

      <div class= "row" ng-if="auctionDetailsVm.show">
        <div class="col-sm-6">
          <div ng-repeat="auctionProduct in auctionDetailsVm.auctionDetailListing">
            <div class="auction-list auction-details">
              <div class="media">
            <a  ng-if="auctionDateVm.getProductData(product._id, 'total_products') != 0" class="pull-left" href="/assetinauction?auctionType={{product.auctionValue}}&auctionId={{product.auctionId}}&id={{product._id}}">
              <img class="media-object" ng-if="product.primaryImg" src="{{uploadImagePrefix}}{{auctionmasterDir}}/{{product.primaryImg}}" alt="Image">
              <img class="media-object" ng-if="!product.primaryImg && product.auctionValue =='closedAuctions'" src="assets/images/closed.jpg" alt="Image">
              <img class="media-object" ng-if="!product.primaryImg && product.auctionValue =='upcomingAuctions'" src="assets/images/upcoming.jpg" alt="Image">
              <img class="media-object" ng-if="!product.primaryImg && product.auctionValue =='ongoingAuctions'" src="assets/images/ongoing.jpg" alt="Image">
            </a>
            <a  ng-if="auctionDateVm.getProductData(product._id, 'total_products') == 0" class="pull-left" >
              <img class="media-object" ng-if="product.primaryImg" src="{{uploadImagePrefix}}{{auctionmasterDir}}/{{product.primaryImg}}" alt="Image">
              <img class="media-object" ng-if="!product.primaryImg && product.auctionValue =='closedAuctions'" src="assets/images/closed.jpg" alt="Image">
              <img class="media-object" ng-if="!product.primaryImg && product.auctionValue =='upcomingAuctions'" src="assets/images/upcoming.jpg" alt="Image">
              <img class="media-object" ng-if="!product.primaryImg && product.auctionValue =='ongoingAuctions'" src="assets/images/ongoing.jpg" alt="Image">
            </a>
            <div class="media-body">
              <h4 class="media-heading text-primary">
                <a ng-if="auctionDateVm.getProductData(product._id, 'total_products') == 0">
                  {{product.auctionType | titleCase}} {{product.name}} - {{product.city}}
                </a>
                <a ng-if="auctionDateVm.getProductData(product._id, 'total_products') != 0" href="/assetinauction?auctionType={{product.auctionValue}}&auctionId={{product.auctionId}}&id={{product._id}}">
                  {{product.auctionType | titleCase}} {{product.name}} - {{product.city}}
                </a>
                
              </h4>
             
              <p ng-if="product.auctionValue =='upcomingAuctions'"><strong>Auction Date : </strong> {{product.startDate | date:'dd-MMM-yyyy hh:mm a'}} - {{product.endDate | date:'dd-MMM-yyyy hh:mm a'}}</p>
              <p ng-if="product.auctionValue =='ongoingAuctions'" class="text-success"><strong>Ongoing Auction Time : <timer end-time="product.endTimer">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer></strong></p>
              <p ng-if="product.auctionValue =='closedAuctions'"><strong>Auction Closed</strong></p>
              <p ng-if="product.insStartDate && product.insEndDate"><strong>Inspection Date : </strong> {{product.insStartDate | date:'dd-MMM-yyyy hh:mm a'}} - {{product.insEndDate | date:'dd-MMM-yyyy hh:mm a'}} </p>
              <p ng-if="product.emdAmount"><strong>Earnest Money Deposit : </strong> <i class="fa fa-inr"></i> {{product.emdAmount}}</p>
              <!--remove -->
              <!-- <p ng-if="product.startDate && product.endDate"><strong>start Date : </strong> {{product.startDate | date:'dd-MMM-yyyy hh:mm a'}} - {{product.endDate | date:'dd-MMM-yyyy hh:mm a'}} </p> -->
              <p>
                <strong>Assets Listed in Auction :</strong> {{auctionDateVm.getProductData(product._id, 'total_products')}}
              </p>
              <p ng-if="product.contactNumber" class="calltoContact">
                <a href="tel:{{product.contactNumber}}">
                  <strong ng-if="product.contactNumber"><i class="fa fa-phone"></i></strong>  {{product.contactName}} <span ng-if="product.contactNumber">({{product.contactNumber}})</span>
                </a>
              </p>
              <p ng-if="!product.contactNumber" class="calltoContact">
                <a>
                  <strong ng-if="product.contactNumber"><i class="fa fa-phone"></i></strong>  {{product.contactName}} <span ng-if="product.contactNumber">({{product.contactNumber}})</span>
                </a>
              </p>
              
              <div class="row callLocation">
                <div class="col-sm-6">
                  <p ng-if="product.auctionAddr"><strong><i class="fa fa-map-marker"></i> </strong> <a href="javascript:void(0);" ng-click="auctionDateVm.showAddress(product.auctionAddr,product.city,product.state)">{{product.auctionAddr}}</a> </p>
                </div>               
                <div class="col-xs-12 col-sm-6 text-right">
                  <button ng-if="auctionType != 'closed'" type="button" class="btn btn-default btn-sm active" ng-click="auctionDateVm.openAuctionLot(product)">Register Now</button>
                  <!--<a href="{{uploadImagePrefix}}{{auctionDir}}/{{product.docName}}" class="btn btn-sm btn-primary" ng-if="product.docType == 'bidProxy'" target="_blank"><i class="fa fa-file-text-o"></i> Proxy Form</a>
                  <a href="{{uploadImagePrefix}}{{auctionDir}}/{{product.docName}}" class="btn btn-sm active btn-default" ng-if="product.docType == 'tc'" target="_blank"><i class="fa fa-file-pdf-o"></i> Auction Catalogue</a>
                  -->
                  <a href="{{uploadImagePrefix}}{{auctionDir}}/{{product.docName}}" class="btn btn-sm btn-primary" ng-if="product.docType == 'bidProxy'" target="_blank"><i class="fa fa-file-text-o"></i> Proxy Form</a>
                  <a href="{{uploadImagePrefix}}{{auctionDir}}/{{product.docName}}" class="btn btn-sm active btn-default" ng-if="product.docType == 'tc'" target="_blank"><i class="fa fa-file-pdf-o"></i> Auction Catalogue</a>
                  <a href="{{uploadImagePrefix}}{{auctionDir}}/{{product.docNameProxy}}" class="btn btn-sm btn-primary" ng-if="!product.docType &&  product.docNameProxy" target="_blank"><i class="fa fa-file-text-o"></i> Proxy Form </a>
                  <a href="{{uploadImagePrefix}}{{auctionDir}}/{{product.docName}}" class="btn btn-sm active btn-default" ng-if="!product.docType && product.docName" target="_blank"><i class="fa fa-file-pdf-o"></i> Auction Catalogue</a>
                  <!--<a href="/assetinauction?auctionId={{product.auctionId}}&auctionType={{product.auctionValue}}&auctionName={{product.name}}&docName={{product.docName}}&docType={{product.docType}}&id={{product._id}}" class="btn btn-sm btn-danger">View Assets</a>-->
                  <a ng-disabled="auctionDateVm.getProductData(product._id, 'total_products') == 0" href="/assetinauction?auctionType={{product.auctionValue}}&auctionId={{product.auctionId}}&id={{product._id}}"  class="btn btn-sm btn-danger">View Lot</a>
                </div>
              </div>
            </div>
          </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="widgit">
            <div class="container-fluid mjuszb4">
            <input type="hidden" id="auction_user_id" value="1949999">

            <div id="classifiedAuctionBid" data-classifiedAuctionid="45152458" data-classifiedLotid="11" classifiedAssetid="asset11"></div>
            <div id="bidHistoryDialogForAuction" style="display:none"></div>
            <div id="messageDialogForAuction"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    </div>
  </div>	
</div>

<!-- Onclick google map location popup -->
<script type="text/ng-template" id="">
  <div>
    <div class="modal-header">
      <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
       <h4 class="modal-title">Google Map Location</h4>
    </div>
    <div class="modal-body">
      
     
    </div>
  </div>
</script>