<div class="container-fluid">
  <ol class="breadcrumb">
    <li>
      <a href="/main"> Home </a>
    </li>
    <li><a href="/viewauctions?type={{equipmentSearchFilter.type}}"> Auctions </a></li>
    <li class="active"> {{displayText || equipmentSearchFilter.group || equipmentSearchFilter.category || equipmentSearchFilter.brand || equipmentSearchFilter.location || equipmentSearchFilter.assetId || "Auctions"}} </li>
  </ol>
</div>

<section class="category-block">
  <div class="container-fluid">
    <div class="col-sm-3" ng-class="{hidefilter: !filterbutton.value1}">
      <button class="btn btn-danger visible-xs filter-display" ng-click="filterbutton.value1 = !filterbutton.value1"><i class="fa fa-times"></i> Close</button>
      <h4 class="filter-heading">
        Filter By:
        <small><a href="javascript:void(0);" class="pull-right" ng-click="clearAll()">Clear All</a></small>
      </h4>
      <uib-accordion close-others="oneAtATime" class="information">
        <!-- <uib-accordion-group is-open="status.group">
          <uib-accordion-heading>
            Industry ({{allGroup.length || 0}})<i class="pull-right fa" ng-class="{'fa-minus': status.group, 'fa-plus': !status.group}"></i>
          </uib-accordion-heading>
            <div class="radio" ng-repeat="group in allGroup">
              <input type="radio" ng-model="equipmentSearchFilter.group" ng-change="auctionDetailsVm.onGroupChange(equipmentSearchFilter.group)" name="group" value="{{group.name}}" id="gp_{{$index}}"> <label for="gp_{{$index}}">{{group.name}}</label>
            </div>
        </uib-accordion-group> -->

        <uib-accordion-group is-open="status.category">
          <uib-accordion-heading>
            Category  <i class="pull-right fa" ng-class="{'fa-minus': status.category, 'fa-plus': !status.category}"></i>
          </uib-accordion-heading>
            <div>
              <div class="radio" ng-repeat="cat in categoryList">
                <input type="radio" ng-model="equipmentSearchFilter.category" ng-change="auctionDetailsVm.onCategoryChange(equipmentSearchFilter.category)" name="category" value="{{cat.name}}" id="cat_{{$index}}"> <label for="cat_{{$index}}">{{cat.name}}</label>
              </div>
              
            </div>
        </uib-accordion-group>

        <uib-accordion-group is-open="status.brand">
          <uib-accordion-heading>
            Product Brand <i class="pull-right fa" ng-class="{'fa-minus': status.brand, 'fa-plus': !status.brand}"></i>
          </uib-accordion-heading>
            <div>
              <div class="radio" ng-repeat="br in brandList">
                <input type="radio" ng-model="equipmentSearchFilter.brand" ng-change="auctionDetailsVm.fireCommand()" name="brand" value="{{br.name}}"  id="brand_{{$index}}"> <label for="brand_{{$index}}">{{br.name}}</label>
              </div>
              
            </div>
        </uib-accordion-group>
         <uib-accordion-group is-open="status.location">
          <uib-accordion-heading>
            Location <i class="pull-right fa" ng-class="{'fa-minus': status.location, 'fa-plus': !status.location}"></i>
          </uib-accordion-heading>
          <input type="text" class="form-control form-group" ng-model="equipmentSearchFilter.location" placeholder="Enter Country/State/Location" uib-typeahead="address for address in getLocationHelp($viewValue)"  class="form-control" typeahead-focus-first = "false" typeahead-wait-ms="200" ng-change="auctionDetailsVm.fireCommand()" typeahead-on-select="auctionDetailsVm.fireCommand()"  ng-model-options="{debounce:1000}" autocomplete="off"/>
        </uib-accordion-group>
        <uib-accordion-group is-open="Infostatus.open">
          <uib-accordion-heading>
            Asset Id  <i class="pull-right fa" ng-class="{'fa-minus': Infostatus.open, 'fa-plus': !Infostatus.open}"></i>
          </uib-accordion-heading>
          <input type="text" class="form-control form-group" placeholder="Asset Id"  ng-model="equipmentSearchFilter.assetId" class="form-control" ng-change="auctionDetailsVm.fireCommand()">
        </uib-accordion-group>        
      </uib-accordion>
      <div class="panel" class="information">
          <div class="panel-heading">
            <h4 class="panel-title">Manufacturing Year</h4>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <year-only-picker ng-model="mfgyr.min" year="equipmentSearchFilter.mfgYearMin" myid="min" placeholder="Min" on-change="auctionDetailsVm.fireCommand()">
                  
                </year-only-picker>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                 <year-only-picker ng-model="mfgyr.max" year="equipmentSearchFilter.mfgYearMax" myid="max" placeholder="Min" on-change="auctionDetailsVm.fireCommand()">
                  
                </year-only-picker>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-10 form-group">
          <h4 class="filter-heading">{{auctionData.auctionTypeValue | titleCase}} {{auctionData.name}} - {{auctionData.city}}
            <small class="text-success" ng-if="auctionData.auctionValue =='ongoingAuctions'">( <i class="fa fa-circle"></i> Ongoing)</small>
            <small class="text-success" ng-if="auctionData.auctionValue =='upcomingAuctions'">( <i class="fa fa-circle"></i> Upcoming)</small>
            <small class="text-success" ng-if="auctionData.auctionValue =='closedAuctions'">( <i class="fa fa-circle"></i> Closed)</small>
          </h4>
        </div>
        <div class="col-xs-6 visible-xs">
          <button class="btn btn-danger visible-xs" ng-click="filterbutton.value1 = !filterbutton.value1">
            <i class="fa fa-filter"></i> Filter
          </button>
        </div>
        <div class="col-xs-6 col-sm-2 form-group asset-sale">
          <button type="button" class="btn btn-primary btn-block" ng-if="auctionData.auctionValue !='closedAuctions'" ng-click="auctionDetailsVm.openBidModal()" class="btn btn-default btn-sm active">Register</button>
        </div>
      </div>
      <div id="search-result_wrapper" ng-if="!searching && !noResult">
        <div class="row">
          <div class="col-sm-6 col-md-6 form-group padd-right" ng-if="auctionData.contactName || auctionData.contactNumber">
            <h4 class="text-danger"><i class="fa fa-phone"></i> {{auctionData.contactName}}({{auctionData.contactNumber}})</h4>
          </div>
          <div class="col-sm-3 col-md-3 form-group text-right">
            <a href="{{uploadImagePrefix}}{{auctionDir}}/{{auctionData.docName}}" class="text-info" ng-if="auctionData.docType == 'bidProxy'" target="_blank" ng-disabled="!auctionData.docName">
              <img src="/assets/images/icon-proxy.png" alt="" height="20"> Proxy Bid Form
            </a>
            <a href="{{uploadImagePrefix}}{{auctionDir}}/{{auctionData.docNameProxy}}" class="text-info" ng-if="!auctionData.docType && auctionData.docNameProxy" target="_blank" ng-disabled="!auctionData.docNameProxy">
              <img src="/assets/images/icon-proxy.png" alt="" height="20"> Proxy Bid Form
            </a>
          </div>
          <div class="col-sm-3 col-md-3 form-group">
            <a href="{{uploadImagePrefix}}{{auctionDir}}/{{auctionData.docName}}" class="text-info" ng-if="auctionData.docType == 'tc'" target="_blank">
              <img src="/assets/images/icon-catalog.png" alt="" height="20"> Auction Catalogue
            </a>
             <a href="{{uploadImagePrefix}}{{auctionDir}}/{{auctionData.docName}}" class="text-info" ng-if="!auctionData.docType&&auctionData.docName" target="_blank">
              <img src="/assets/images/icon-catalog.png" alt="" height="20"> Auction Catalogue
            </a>
          </div>
        </div>
        <div class="row">      
          <div class="col-sm-6 col-md-4 form-group" ng-repeat="auctionProduct in auctionDetailsVm.auctionDetailListing | startFrom:(pager.currentPage -1 )*pager.itemsPerPage | limitTo:pager.itemsPerPage">
            <div class="media text-center form-group">
              <a href="/used/{{auctionProduct.product.category}}/{{auctionProduct.product.brand}}/{{auctionProduct.product.assetId}}" ng-if="auctionProduct.product._id">
                 <img src="http://placehold.it/300x200" class="img-responsive" ng-if="!auctionProduct.product.primaryImg">              
                 <img src="{{uploadImagePrefix}}{{auctionProduct.product.assetDir}}/{{auctionProduct.product.primaryImg}}" class="img-responsive" ng-if="auctionProduct.product.primaryImg">              
              </a> 
               <a href="javascript:void(0)" ng-if="!auctionProduct.product._id">
                 <img src="http://placehold.it/300x200" class="img-responsive" ng-if="!auctionProduct.product.primaryImg">              
                 <img src="{{uploadImagePrefix}}{{auctionProduct.product.assetDir}}/{{auctionProduct.product.primaryImg}}" class="img-responsive" ng-if="auctionProduct.product.primaryImg">              
              </a>          
              <div class="media-body text-left"> 
                <div class="row">
                  <div class="col-xs-6 form-group padd-right">
                    <h4 class="text-ellips">  {{auctionProduct.product.category}} {{auctionProduct.product.brand}} {{auctionProduct.product.model}}</h4>     
                    <h6 class="text-info">Asset Id : {{auctionProduct.product.assetId}}</h6>
                  </div>
                  <div class="col-xs-6 form-group text-right padd-left">
                    <h4 class="text-success">Ongoing</h4>
                  </div>
                </div> 
                <!-- <p><i class="fa fa-clock-o"></i> <strong class="text-success">2 days, 5 hours, 19 minutes, 57 seconds</strong></p> -->
                 <p><i class="fa fa-check-circle-o"></i> Available for Sale</p>
              </div> 
               <div class="table-responsive">
                  <table class="table">                
                    <tbody>
                      <tr>
                        <td>
                          <small>Manufactured in</small>
                          <h3>{{auctionProduct.product.mfgYear}}</h3>
                        </td>
                        <td>
                          <small>Runtime (Hours)</small>
                          <h3></h3>
                        </td>
                        <td>
                          <small>Current Location</small>
                          <h3>{{auctionProduct.product.city}}</h3>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>  
              <a href="/used/{{auctionProduct.product.category}}/{{auctionProduct.product.brand}}/{{auctionProduct.product.assetId}}" class="btn btn-primary btn-block" ng-disabled="!auctionProduct.product._id">
                View Details
              </a>     
            </div>
          </div>

          
        </div>

        <div class="text-center form-group">
          <uib-pagination ng-change="auctionDetailsVm.onPageChange()" total-items="pager.totalItems" ng-model="pager.currentPage" items-per-page="pager.itemsPerPage" max-size="6" boundary-links="false" rotate="false" next-text=">" previous-text="<"></uib-pagination>
        </div>
      </div>

      <div class="no-result" ng-if="searching && !noResult">
        <img src="assets/images/assets-loading.gif" class="form-group">
        <p>Loading...</p>
      </div>
      <div class="no-result" ng-if="noResult && !searching">No results found</div>
    </div>
  </div>
</section>