<div id="wrapper">
  	<div id="page-wrapper">	    
		<div class="col-sm-12">
			<div class="credit-head">
             	<div class="col-md-2">Credit Available</div>
	         	<div class="col-md-2 credit-head2 width-cre">10,00,000</div>
				<span class="icon-cre pull-right"><i class="fa fa-envelope" aria-hidden="true"></i><a class="white-text" href="message.html"> Message</a></span>
	        </div>
			<div class="row">
		      <div class="col-xs-4 col-sm-9"><h4>Auctions</h4></div>
		      <div class="col-xs-8 col-sm-3 text-right padd-left">
		        <strong>Filter : </strong>         
		        <select class="auction-filter" ng-model="auctionDateVm.statusType" ng-change="auctionDateVm.fireCommand()">
		          <option value="">Select Auction Type</option>
		          <option value="active">Active</option>
		          <option value="win">Bid Wins</option>
		          <option value="lost">Bid Lost</option>
		        </select>
		      </div>
		    </div>

			<legend></legend>

			<div class="auction-tab">
		      <button type="button" class="btn btn-default" ng-class="{'active': auctionType == 'active'}" ng-click="auctionDateVm.fireCommandType('active')">Active</button>
		      <button type="button" class="btn btn-default " ng-class="{'active': auctionType == 'bidswon'}" ng-click="auctionDateVm.fireCommandType('bidswon')">Bids Won</button>
		      <button type="button" class="btn btn-default " ng-class="{'active': auctionType == 'bidslost'}" ng-click="auctionDateVm.fireCommandType('bidslost')">Bids Lost</button>
		    </div>          
			<div class="no-result" ng-if="auctionDateVm.show">No records found</div>
			<div class="auction-list form-group">
				<div class="media ">
					<a class="pull-left ">
					<img class="media-object ng-scope" src="http://auctionsoftwaremarketplace.com:3007/new-html/front/images/item.png" alt="Image"></a>
					<div class="media-body">
						<h4 class="media-heading text-primary">
							<a href="javascript:void(0);">Online Negotiated </a>
						</h4>
						<p class="text-success ng-scope">
							<strong>Ongoing Auction Time :<timer end-time="product.endTimer" class="ng-binding ng-isolate-scope">
							<span class="ng-binding ng-scope">2 days, 3 hours, 37 minutes, 9 seconds.</span>
							</timer></strong>
						</p>
						<p class="ng-binding ng-scope">
						<strong>Inspection Date :</strong> 02-Jun-2017 10:00 AM - 09-Jun-2017 05:00 PM</p>
						<p>
							<a href="tel:9830921360" class="ng-binding">
								<strong class="ng-scope">
								<i class="fa fa-phone"></i></strong> Debarshi Sarkar<span class="ng-binding ng-scope">(9830921360)</span>
							</a>
						</p>
					</div>
					<div class="col-md-6 calltoContact text-right">
						<a href="" data-toggle="modal" data-target="#id01" class="btn btn-primary">View Bid History</a>
					</div>
				</div>
			</div>
		        
		 		<uib-pagination total-items="pager.totalItems" ng-model="pager.currentPage" items-per-page="pager.itemsPerPage" max-size="6" ng-change="auctionDateVm.fireCommand()" class="pagination-sm" rotate="false"></uib-pagination> 
		</div>
	</div>
</div>