<div>
  <div class="modal-header">
    <button type="button" class="close" ng-click="auctionRegVm.closeDialog()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Register for Auction</h4>
  </div>
  <div class="modal-body">
    <div ng-if="true">
      <p>Are you rigistered user on iQuippo?</p>
      <div class="row">
        <div class="col-xs-6">
          <div class="radio radio-info">
            <input type="radio" id="register" name="register" ng-model="option.select" value="yes">
            <label for="register"> Yes </label>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="radio radio-info">
            <input type="radio"  placeholder="" id="notregister" name="register" ng-model="option.select" value="no">
            <label for="notregister"> No </label>
          </div>
        </div>
      </div>
      
      <div ng-if="option.select == 'yes'">
        <form class="aucform" name="aucform" novalidate>
          <div class="row">
            <div class="col-sm-offset-2 col-sm-8 form-group" ng-class="{'has-error': aucform.userId.$invalid && form.submitted }">
              <input type="text" class="form-control form-group" name="userId" placeholder="Enter Mobile/Email Id" ng-model="auctionRegVm.userId" required>
              <input class="form-control form-group" placeholder="Password" type="password" name="passwordlogin" ng-model="auctionRegVm.passwordlogin" required>
              <select class="form-control form-group" name="selectedLots" id="selectedLots" style="height: 80px;" ng-options="lots.lotNumber as lots.lotNumber for lots in auctionRegVm.lotList" ng-model="auctionRegVm.selectedLots.lotNumber" multiple>
              </select> 
              
              <div class="text-right">
                <button type="button" class="btn btn-danger" ng-click="auctionRegVm.submit(form)">Submit</button>
              </div>

              
            </div>
          </div>
        </form>
      </div>
      <div ng-if="option.select == 'no'">
      <form class="reqForm" name="reqForm" novalidate>
        <div class="row">
          <div class="col-sm-4 form-group" ng-class="{'has-error': reqForm.fname.$invalid && reqForm.submitted }">
            <input type="text" class="form-control" name="fname" ng-model="auctionRegVm.user.fname" placeholder="*First Name" required>
          </div>
          <div class="col-sm-4 form-group" ng-class="{'has-error': reqForm.mname.$invalid && reqForm.submitted }">
            <input type="text" class="form-control" name="mname" placeholder="Middle Name" required>
          </div>
          <div class="col-sm-4 form-group" ng-class="{'has-error': reqForm.lname.$invalid && reqForm.submitted }">
            <input type="text" class="form-control" name="lname" ng-model="auctionRegVm.user.lname" placeholder="*Last Name" required>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-group" ng-class="{'has-error': reqForm.email.$invalid && reqForm.submitted }">
            <input type="email" class="form-control" name="email" ng-model="auctionRegVm.user.email" placeholder="Email">
            <p class="help-block" ng-show="(reqForm.email.$error.email || reqForm.email.$error.pattern) && reqForm.submitted">
            Please enter a valid email.
            </p>
          </div>
          <div class="col-sm-2 padd-right search-field" ng-class="{'has-error': reqForm.mobile.$invalid && reqForm.submitted }">
            <select class="form-control" ng-model="auctionRegVm.user.countryCode" ng-change="auctionRegVm.onCodeChange(auctionRegVm.user.countryCode)" required>
              <option value="" disabled>*Code</option>
              <option  ng-repeat ="country in allCountries | orderBy:'name'" value="{{country.countryCode}}">+{{country.countryCode}}</option>
            </select>
          </div> 
          <div class="col-sm-4 form-group padd-left" ng-class="{'has-error': reqForm.mobile.$invalid && reqForm.submitted }">
            <input type="text" class="form-control" name="mobile" ng-model="auctionRegVm.user.mobile" placeholder="*Mobile No." uib-tooltip="98-XXXX-XXXX" tooltip-trigger="focus" tooltip-placement="top" required>
          </div>
        </div>
          <div class="row">
                    <div class="form-group col-sm-4" ng-class="{'has-error': form.country.$invalid && submitted }">
                    <select class="form-control" name="country" ng-model="auctionRegVm.user.country" ng-change="getCountryWiseState(auctionRegVm.user.country)" required>
                    <option value="" disabled>*Select Country</option>
                    <option  ng-repeat ="country in allCountries | orderBy:'name'" value="{{country.name}}">{{country.name}}</option>
                    <option value="Other">Other</option>
                    </select>
                    <i class="caret"></i>
                    </div>                   
                    <div class="form-group col-sm-4" ng-class="{'has-error': form.state.$invalid && submitted }">
                    <select class="form-control" name="state" ng-model="auctionRegVm.user.state" ng-change="getStateWiseLocation(auctionRegVm.user.state)" required>
                    <option value="" disabled="">*Select State</option>
                    <option ng-repeat="state in stateList| orderBy:'name'" value="{{state.name}}">{{state.name}}</option>
                    <option value="Other">Other</option> 
                    </select>
                    <i class="caret"></i>
                    </div> 
                    <div class="form-group col-sm-4" ng-class="{'has-error': form.location.$invalid && submitted }">
                    <select class="form-control" name="location" ng-model="auctionRegVm.user.city" required>
                    <option value="" disabled>*Select Location</option>
                    <option ng-repeat="location in locationList| orderBy:'name'" value="{{location.name}}">{{location.name}}</option>
                    <option value="Other">Other</option>
                    </select>
                    <i class="caret"></i>
                    </div>                 
                    </div>
                    <div class="row" ng-if="auctionRegVm.user.country=='Other' ||auctionRegVm.user.state=='Other'|| auctionRegVm.user.city=='Other' ">
                    <div class="form-group col-sm-4"  ng-class="{'has-error': form.otherCountry.$invalid && submitted}">
                    <input class="form-control" ng-show="auctionRegVm.user.country=='Other'" type="text" name="otherCountry" ng-model="auctionRegVm.user.otherCountry" placeholder="*Other Country" ng-required= "auctionRegVm.user.country == 'Other'" ng-disabled="auctionRegVm.user.country != 'Other'">
                    </div>
                    <div class="form-group col-sm-4"  ng-class="{'has-error': form.otherState.$invalid && submitted}">
                    <input class="form-control" ng-show="auctionRegVm.user.country =='Other' || auctionRegVm.user.state =='Other'" type="text" name="otherState" ng-model="auctionRegVm.user.otherState" placeholder="*Other State" ng-required= "auctionRegVm.user.state == 'Other'" ng-disabled="auctionRegVm.user.state != 'Other'">
                    </div>
                    <div class="form-group col-sm-4"  ng-class="{'has-error': form.otherLocation.$invalid && submitted}">
                    <input class="form-control" ng-show="auctionRegVm.user.city=='Other'|| auctionRegVm.user.country =='Other' || auctionRegVm.user.state =='Other'" type="text" name="otherLocation" ng-model="auctionRegVm.user.otherCity" placeholder="*Other Location" ng-required= "auctionRegVm.user.city == 'Other'" ng-disabled="auctionRegVm.user.city != 'Other'">
                    </div>                
                </div> 
        <div class="row">
         <!-- <div class="col-sm-6 form-group">
            <input type="text" class="form-control" name="" value="" placeholder="Location">
          </div>-->
          <div class="col-sm-6 form-group">
           <input type="text" class="form-control" name="panNumber"  placeholder="PAN Number" ng-model="auctionRegVm.user.panNumber" uib-tooltip="XXXXX9999X" tooltip-trigger="focus" pattern="^[A-Z]{5}[0-9]{4}[A-Z]{1}$" tooltip-placement="top">
          </div>
           
          <div class="col-sm-6 form-group"> <!-- ng-if="emdTax == 'lotWise'" -->>
            
            <select class="form-control" 
            name="selectedLots" id="selectedLots" 
            style="height: 80px;"
             ng-options="lots.lotNumber as lots.lotNumber for lots in auctionRegVm.lotList" ng-model="auctionRegVm.selectedLots.lotNumber" multiple>
              </select> 
          </div>
        </div>
         
        <div class="text-right">
          <button type="button" class="btn btn-danger" ng-click="auctionRegVm.submit(reqForm)">Submit</button>
        </div>
      </form>
    </div>
    </div>    
  </div>  
</div>