<div class="container-fluid">
  <ol class="breadcrumb">
    <li>
      <a href="/main"> Home </a>
    </li>
    <li>
      <a href="/viewauctions?type={{equipmentSearchFilter.type}}"> Auctions </a>
    </li>
    <li class="active"> {{auctionData.name}} </li>
  </ol>
</div>

<section class="category-block productlisting-background">
  <div class="container-fluid">
    <div class="col-sm-3" ng-class="{hidefilter: !filterbutton.value1}">
      <button class="btn btn-danger visible-xs filter-display" ng-click="filterbutton.value1 = !filterbutton.value1">
        <i class="fa fa-times"></i> Close</button>
      <h4 class="filter-heading">
        Filter By:
        <small>
          <a href="javascript:void(0);" class="pull-right" ng-click="clearAll()">Clear All</a>
        </small>
      </h4>
      <uib-accordion close-others="oneAtATime" class="information">
        <!-- <uib-accordion-group is-open="status.group">
          <uib-accordion-heading>
            Industry ({{allGroup.length || 0}})<i class="pull-right fa" ng-class="{'fa-minus': status.group, 'fa-plus': !status.group}"></i>
          </uib-accordion-heading>
            <div class="radio" ng-repeat="group in allGroup">
              <input type="radio" ng-model="equipmentSearchFilter.group" ng-change="viewLotVm.onGroupChange(equipmentSearchFilter.group)" name="group" value="{{group.name}}" id="gp_{{$index}}"> <label for="gp_{{$index}}">{{group.name}}</label>
            </div>
        </uib-accordion-group> -->

        <uib-accordion-group is-open="status.category">
          <uib-accordion-heading>
            Category
            <i class="pull-right fa" ng-class="{'fa-minus': status.category, 'fa-plus': !status.category}"></i>
          </uib-accordion-heading>
          <div>
            <div class="radio" ng-repeat="cat in categoryList">
              <input type="radio" ng-model="equipmentSearchFilter.category" ng-change="viewLotVm.onCategoryChange(equipmentSearchFilter.category)"
                name="category" value="{{cat.name}}" id="cat_{{$index}}">
              <label for="cat_{{$index}}">{{cat.name}}</label>
            </div>

          </div>
        </uib-accordion-group>

        <uib-accordion-group is-open="status.brand">
          <uib-accordion-heading>
            Product Brand
            <i class="pull-right fa" ng-class="{'fa-minus': status.brand, 'fa-plus': !status.brand}"></i>
          </uib-accordion-heading>
          <div>
            <div class="radio" ng-repeat="br in brandList | unique: 'name' | orderBy :'name'">
              <input type="radio" ng-model="equipmentSearchFilter.brand" ng-change="viewLotVm.fireCommand()" name="brand" value="{{br.name}}"
                id="brand_{{$index}}">
              <label for="brand_{{$index}}">{{br.name}}</label>
            </div>

          </div>
        </uib-accordion-group>
        <uib-accordion-group is-open="status.location">
          <uib-accordion-heading>
            Location
            <i class="pull-right fa" ng-class="{'fa-minus': status.location, 'fa-plus': !status.location}"></i>
          </uib-accordion-heading>
          <input type="text" class="form-control form-group" ng-model="equipmentSearchFilter.location" placeholder="Enter Country/State/Location"
            uib-typeahead="address for address in getLocationHelp($viewValue)" class="form-control" typeahead-focus-first="false"
            typeahead-wait-ms="200" ng-change="viewLotVm.fireCommand()" typeahead-on-select="viewLotVm.fireCommand()" ng-model-options="{debounce:1000}"
            autocomplete="off" />
        </uib-accordion-group>
        <uib-accordion-group is-open="Infostatus.open">
          <uib-accordion-heading>
            Asset Id
            <i class="pull-right fa" ng-class="{'fa-minus': Infostatus.open, 'fa-plus': !Infostatus.open}"></i>
          </uib-accordion-heading>
          <input type="text" class="form-control form-group" placeholder="Asset Id" ng-model="equipmentSearchFilter.assetId" class="form-control"
            ng-change="viewLotVm.fireCommand()">
        </uib-accordion-group>
      </uib-accordion>
      <div class="panel" class="information">
        <div class="panel-heading">
          <h4 class="panel-title">Manufacturing Year</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <year-only-picker ng-model="mfgyr.min" year="equipmentSearchFilter.mfgYearMin" myid="min" placeholder="Min" on-change="viewLotVm.fireCommand()">

              </year-only-picker>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <year-only-picker ng-model="mfgyr.max" year="equipmentSearchFilter.mfgYearMax" myid="max" placeholder="Max" on-change="viewLotVm.fireCommand()">

              </year-only-picker>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-8 form-group">
          <h3 class="auctionName">{{auctionData.auctionTypeValue | titleCase}} {{auctionData.name}} - {{auctionData.city}}
            <small class="text-success" ng-if="auctionData.auctionValue =='ongoingAuctions'">(
              <i class="fa fa-circle"></i> Ongoing)</small>
            <small class="text-success" ng-if="auctionData.auctionValue =='upcomingAuctions'">(
              <i class="fa fa-circle"></i> Upcoming)</small>
            <small class="text-success" ng-if="auctionData.auctionValue =='closedAuctions'">(
              <i class="fa fa-circle"></i> Closed)</small>
          </h3>
          <h4 class="filter-heading">Auction Id : {{auctionData.auctionId}} </h4>
        </div>
        <div class="visible-xs btn-group filter-group form-group">
          <button class="btn btn-default visible-xs" ng-click="filterbutton.value1 = !filterbutton.value1">
            Filter
          </button>
        </div>
        <div class="col-xs-6 col-sm-2 padd-left form-group asset-sale">
          <button type="button" class="btn btn-primary btn-block" ng-if="!redirectToLiveAuction && auctionData.auctionType === 'L'"
            ng-disabled="auctionData.auctionValue === 'upcomingAuctions'" ng-click="viewLotVm.openLiveAuctionURL(true)">View Live Auction</button>

          <a ng-href="{{liveAuctionURLSCE}}" target="_blank" class="btn btn-primary btn-block" ng-if="redirectToLiveAuction && auctionData.auctionType === 'L'"
            ng-disabled="auctionData.auctionValue === 'upcomingAuctions'">View Live Auction</a>
        </div>
        <div class="col-xs-6 col-sm-2 padd-left form-group asset-sale pull-right">
          <button type="button" class="btn btn-primary btn-block" ng-if="auctionData.auctionValue !='closedAuctions'" ng-click="viewLotVm.openRegisterNow()"
            class="btn btn-default btn-sm active" ng-disabled="viewLotVm.lotListing.length === 0">Register</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-offset-6 col-sm-3 col-md-3 form-group text-right">
          <a href="{{uploadImagePrefix}}{{auctionDir}}/{{auctionData.docName}}" class="text-info" ng-if="auctionData.docType == 'bidProxy'"
            target="_blank" ng-disabled="!auctionData.docName">
            <img src="/assets/images/icon-proxy.png" alt="" height="20"> Proxy Bid Form
          </a>
          <a href="{{uploadImagePrefix}}{{auctionDir}}/{{auctionData.docNameProxy}}" class="text-info" ng-if="!auctionData.docType && auctionData.docNameProxy"
            target="_blank" ng-disabled="!auctionData.docNameProxy">
            <img src="/assets/images/icon-proxy.png" alt="" height="20"> Proxy Bid Form
          </a>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-3 form-group text-right pull-right">
          <a href="{{uploadImagePrefix}}{{auctionDir}}/{{auctionData.docName}}" class="text-info" ng-if="auctionData.docType == 'tc'"
            target="_blank">
            <img src="/assets/images/icon-catalog.png" alt="" height="20"> Auction Catalogue
          </a>
          <a href="{{uploadImagePrefix}}{{auctionDir}}/{{auctionData.docName}}" class="text-info" ng-if="!auctionData.docType&&auctionData.docName"
            target="_blank">
            <img src="/assets/images/icon-catalog.png" alt="" height="20"> Auction Catalogue
          </a>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-sm-7" ng-if="auctionData.onBehalfOfClient">
            <h5>
              <strong>On behalf of our client:</strong>
            </h5>
            {{auctionData.onBehalfOfClient}}
          </div>
          <div class="col-xs-6 col-sm-3" ng-if="auctionData.assetCategory">
            <h5>
              <strong>Asset Category:</strong>
            </h5>
            <p>{{auctionData.assetCategory}}</p>
          </div>
          <div class="col-xs-6 col-sm-2 pull-right" ng-if="auctionData.city">
            <h5>
              <strong>Location:</strong>
            </h5>
            <p>{{auctionData.city}}</p>
          </div>
        </div>
        <uib-accordion close-others="oneAtATime" class="view-offer auction-offer">
          <uib-accordion-group is-open="status.buyer" ng-if="auctionData.buyersPremium || auctionData.buyersTax 
          || auctionData.buyersPaymentDate || auctionData.buyersAssetRemovelDate || auctionData.buyersEmd 
          || auctionData.buyersAdditionalInfo">
            <uib-accordion-heading>
              Important Points for Buyers
              <i class="pull-right fa" ng-class="{'fa-angle-up': status.buyer, 'fa-angle-down': !status.buyer}"></i>
            </uib-accordion-heading>
            <p ng-if="auctionData.buyersPremium">
              <strong>Buyers Premium:</strong>{{auctionData.buyersPremium}}</p>
            <p ng-if="auctionData.buyersTax">
              <strong>TAX:</strong> {{auctionData.buyersTax}}</p>
            <p ng-if="auctionData.buyersPaymentDate">
              <strong>Payment date:</strong> {{auctionData.buyersPaymentDate}}</p>
            <p ng-if="auctionData.buyersAssetRemovelDate">
              <strong>Asset Removal Date:</strong> {{auctionData.buyersAssetRemovelDate}}</p>
            <p ng-if="auctionData.buyersEmd">
              <strong>EMD:</strong> {{auctionData.buyersEmd}}</p>
            <p ng-if="auctionData.buyersAdditionalInfo">
              <strong>Additional Information:</strong> {{auctionData.buyersAdditionalInfo}}</p>
          </uib-accordion-group>
          <uib-accordion-group is-open="status.details" ng-if="contactDetailsVisible">
            <uib-accordion-heading>
              Contact Details
              <i class="pull-right fa" ng-class="{'fa-angle-up': status.details, 'fa-angle-down': !status.details}"></i>
            </uib-accordion-heading>
            <div class="row">
              <div class="col-sm-3 form-group" ng-repeat="contact in auctionData.contactDetails">
                <p ng-if="contact.personName || contact.personNumber">
                  <i class="fa fa-phone"></i> {{contact.personName}} ({{contact.personNumber}})</p>
                <p ng-if="contact.personLocation">
                  <i class="fa fa-map-marker"></i> {{contact.personLocation}}</p>
                <p ng-if="contact.personEmail">
                  <i class="fa fa-envelope"></i> {{contact.personEmail}}</p>
              </div>
            </div>
          </uib-accordion-group>
          <div class="panel panel-default" ng-if="auctionData.termDesclaimer">
            <div class="panel-heading">
              <h4 class="panel-title">Terms/Disclaimer</h4>
            </div>
            <div class="panel-body">
              {{auctionData.termDesclaimer}}
            </div>
        </div>
        <div class="row">
          <div class="col-sm-7" ng-if="auctionData.onBehalfOfClient">
            <h5><strong>On behalf of our client:</strong></h5>
              {{auctionData.onBehalfOfClient}}
          </div>
        </uib-accordion>

        <div id="search-result_wrapper">
          <!-- <div class="row">
          <div class="col-sm-6 col-md-6 form-group padd-right">
            <div ng-if="auctionData.contactName || auctionData.contactNumber">
              <h4 class="text-danger"><i class="fa fa-phone"></i> {{auctionData.contactName}}({{auctionData.contactNumber}})</h4>
            </div>
          </div>
          
          <div class="col-sm-3 col-md-3 form-group">
            <a href="{{uploadImagePrefix}}{{auctionDir}}/{{auctionData.docName}}" class="text-info" ng-if="auctionData.docType == 'tc'" target="_blank">
              <img src="/assets/images/icon-catalog.png" alt="" height="20"> Auction Catalogue
            </a>
             <a href="{{uploadImagePrefix}}{{auctionDir}}/{{auctionData.docName}}" class="text-info" ng-if="!auctionData.docType&&auctionData.docName" target="_blank">
              <img src="/assets/images/icon-catalog.png" alt="" height="20"> Auction Catalogue
            </a>
          </div>
        </div> -->

          <div ng-if="!searching && !noResult">
            <div class="row" ng-if="isLoggedIn() && redirectToLiveAuction && auctionData.auctionType !== 'L'">
              <div class="col-sm-12 col-md-12 form-group" ng-repeat="lot in viewLotVm.lotListing | orderBy: 'lotNumber' | startFrom:(pager.currentPage -1 )*pager.itemsPerPage | limitTo:pager.itemsPerPage">
                <div class="media text-center form-group">
                  <div class="row">
                    <div class="col-sm-7 padd-right">
                      <a href="javascript:void(0)" class="pull-left lot-image">
                        <img src="http://placehold.it/300x200" class="img-responsive" ng-if="!lot.primaryImg">
                        <img ng-if="lot.primaryImg" ng-src="{{lot.primaryImg}}" class="img-responsive">
                      </a>
                      <div class="media-body lot-body text-left">
                        <div class="row">
                          <div class="col-xs-8 form-group padd-right">
                            <h4 class="text-ellips">Lot Number - {{lot.lotNumber}}</h4>
                            <h6 class="text-info">Asset Description :
                              <span ng-if="lot.assets.length == 1">{{lot.assets[0].product.category}} {{lot.assets[0].product.brand}} {{lot.assets[0].product.model}}</span>
                              <span ng-repeat="asset in lot.assets track by $index" ng-if="lot.assets.length > 1">
                                <a href="javascript:void(0)" ng-click="fetchAsset(asset.product.assetId,lot.lotNumber,false)"> {{asset.product.assetId}} </a>
                                <span ng-if="!$last">, </span>
                              </span>
                            </h6>
                          </div>
                        </div>
                        <p class="text-ellips">
                          <i class="fa fa-clock-o"></i>
                          <strong class="text-success">
                            <timer end-time="lot.endDate">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
                          </strong>
                        </p>
                        <p>
                          <i class="fa fa-check-circle-o"></i> Available for Sale</p>

                        <a href="/used-equipment/{{lot.assets[0].product.category}}/{{lot.assets[0].product.brand}}/{{lot.assets[0].product.assetId}}?lot={{lot._id}}"
                          class="btn btn-primary btn-block" ng-if="lot.assets.length === 1 && lot.assets[0].product && lot.assets[0].product._id">
                          View Details
                        </a>
                        <a href="javascript:void(0)" class="btn btn-primary btn-block" ng-if="lot.assets.length === 1 && lot.assets[0].product && !lot.assets[0].product._id"
                          disabled>
                          View Details
                        </a>
                        <a href="javascript:void(0)" class="btn btn-primary btn-block" ng-if="lot.assets.length > 1" ng-click="viewLotVm.viewLotDetail(lot)">
                          View Details
                        </a>
                      </div>

                    </div>
                    <div class="col-sm-5 padd-left" ng-if="regLotForUser.indexOf(lot.lotNumber) !== -1">
                      <iframe ng-src="{{lot.url}}" name="frame_{{$index}}" id="{{lot._id}}" style="border:0; width: 100%; height: 200px;"></iframe>
                    </div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row" ng-if="!isLoggedIn() || (isLoggedIn() && auctionData.auctionType === 'L') || (isLoggedIn() && !redirectToLiveAuction && auctionData.auctionType !== 'L')">
              <div class="col-sm-6 col-md-4 form-group" ng-repeat="lot in viewLotVm.lotListing | orderBy: 'lotNumber' | startFrom:(viewLotVm.currentPage -1 )*viewLotVm.itemsPerPage | limitTo:viewLotVm.itemsPerPage">
                <div class="media text-center form-group">
                  <!-- <a href="/used/{{auctionProduct.product.category}}/{{auctionProduct.product.brand}}/{{auctionProduct.product.assetId}}" ng-if="auctionProduct.product._id">
                   <img src="http://placehold.it/300x200" class="img-responsive" ng-if="!auctionProduct.product.primaryImg">              
                   <img src="{{uploadImagePrefix}}{{auctionProduct.product.assetDir}}/{{auctionProduct.product.primaryImg}}" class="img-responsive" ng-if="auctionProduct.product.primaryImg">              
                </a>  -->
                  <a href="javascript:void(0)">
                    <img src="http://placehold.it/300x200" class="img-responsive" ng-if="!lot.primaryImg">
                    <img ng-if="lot.primaryImg" ng-src="{{lot.primaryImg}}" class="img-responsive">
                  </a>
                  <div class="media-body text-left">
                    <div class="row">
                      <div class="col-xs-8 form-group padd-right">
                        <h4 class="text-ellips">Lot Number - {{lot.lotNumber}}</h4>
                        <h6 class="text-info">Asset Description :
                          <span ng-if="lot.assets.length == 1">{{lot.assets[0].product.category}} {{lot.assets[0].product.brand}} {{lot.assets[0].product.model}}</span>
                          <span ng-repeat="asset in lot.assets track by $index" ng-if="lot.assets.length > 1">
                            <a href="javascript:void(0)" ng-click="fetchAsset(asset.product.assetId,lot.lotNumber,false)"> {{asset.product.assetId}} </a>
                            <span ng-if="!$last">, </span>
                          </span>
                        </h6>
                      </div>
                      <!--  <div class="col-xs-4 form-group text-right padd-left">
                      <h4 class="text-success">Ongoing</h4>
                    </div> -->
                    </div>
                    <p>
                      <i class="fa fa-clock-o"></i>
                      <strong class="text-success">
                        <timer end-time="lot.endDate">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
                      </strong>
                    </p>
                    <p>
                      <i class="fa fa-check-circle-o"></i> Available for Sale</p>
                  </div>
                  <!-- <div class="table-responsive">
                    <table class="table">                
                      <tbody>
                        <tr>
                          <td>
                            <small>Manufactured in</small>
                            <h3>{{auctionProduct.product.mfgYear}}</h3>
                          </td>
                          <td>
                            <small>Runtime (Hours)</small>
                            <h3></h3>
                          </td>
                          <td>
                            <small>Current Location</small>
                            <h3>{{auctionProduct.product.city}}</h3>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>  -->
                  <!-- {{lot.isVisible}} -->
                  <!-- {{lot.url}} -->
                  <a href="/used-equipment/{{lot.assets[0].product.category}}/{{lot.assets[0].product.brand}}/{{lot.assets[0].product.assetId}}" class="btn btn-primary btn-block"
                    ng-if="lot.assets.length === 1 && lot.assets[0].product && lot.assets[0].product._id">
                    View Details
                  </a>
                  <a href="javascript:void(0)" class="btn btn-primary btn-block" ng-if="lot.assets.length === 1 && lot.assets[0].product && !lot.assets[0].product._id"
                    disabled>
                    View Details
                  </a>
                  <a href="javascript:void(0)" class="btn btn-primary btn-block" ng-if="lot.assets.length > 1" ng-click="viewLotVm.viewLotDetail(lot)">
                    View Details
                  </a>
                </div>
              </div>


            </div>

            <div class="text-center form-group">
              <uib-pagination ng-change="viewLotVm.onPageChange()" total-items="viewLotVm.totalItems" ng-model="viewLotVm.currentPage"
                items-per-page="viewLotVm.itemsPerPage" max-size="6" boundary-links="false" rotate="false" next-text=">" previous-text="<"></uib-pagination>
            </div>
          </div>
        </div>

        <div class="no-result" ng-if="searching && !noResult">
          <img src="assets/images/assets-loading.gif" class="form-group">
          <p>Loading...</p>
        </div>
        <div class="no-result" ng-if="noResult && !searching">No results found</div>
      </div>
    </div>
</section>

<script type="text/ng-template" id="multipleasset.html">
  <div>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
      <h4 class="modal-title">Modal title</h4>
    </div>
    <div class="modal-body">
      <div class="row" ng-repeat="auReq in lot.assets">      
        <div class="col-sm-12 col-md-12 form-group">
          <div class="media text-center form-group">                
            <a href="javascript:void(0)" class="pull-left lot-image">
                 <img src="http://placehold.it/300x200" class="img-responsive" ng-if="!auReq.product.primaryImg">              
                 <img ng-if="auReq.product.primaryImg" ng-src="{{uploadImagePrefix}}{{auReq.product.assetDir}}/{{auReq.product.primaryImg}}" class="img-responsive" width="300" height="200">              
                </a>          
                <div class="media-body lot-body text-left"> 
                  <div class="row">
                    <div class="col-xs-8 form-group padd-right">
                      <h4 class="text-ellips">Lot Number - {{lot.lotNumber}}</h4>     
                      <h6 class="text-info">Asset Description : <span>{{auReq.product.category}} {{auReq.product.brand}} {{auReq.product.model}}</span>
                          <!-- <span ng-repeat="asset in lot.assets track by $index" ng-if="lot.assets.length > 1">
                            <a href="javascript:void(0)" ng-click="fetchAsset(asset.product.assetId,lot.lotNumber,false)"> {{asset.product.assetId}} </a> <span ng-if="!$last">, </span>
                          </span> -->
                      </h6>
                    </div>                  
                  </div> 
                  <p><i class="fa fa-clock-o"></i> <strong class="text-success"><timer end-time="lot.endDate">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer></strong></p>
                   <p><i class="fa fa-check-circle-o"></i> Available for Sale</p>

                   <a href="javascript:void(0)" class="btn btn-primary btn-block" ng-if="auReq.product && auReq.product._id" ng-click="goToProductDetail(auReq.product)">
                      View Details
                    </a>
                     <a href="javascript:void(0)" class="btn btn-primary btn-block" ng-if="auReq.product && !auReq.product._id" disabled>
                      View Details
                    </a>
                     <!-- <a href="javascript:void(0)" class="btn btn-primary btn-block">
                      View Details
                    </a>  -->
                </div>      
          </div>
        </div>           
      </div>
    </div>        
  </div>
</script>