<div id="adduser-modal">
        <div class="modal-header">
            <button type="button" class="close" ng-click="closeDialog()" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add User</h4>
        </div>
          <div class="modal-body">            
            <form name="form" novalidate>
              <div class="">
                <div class="row">
                  <div class="form-group col-sm-12" ng-class="{'has-error': form.role.$invalid && submitted }">
                    <select class="form-control" name="role" ng-model="newUser.role" required>
                      <option value="" disabled>*Role</option>
                      <option value="customer">Customer</option>
                      <option value="channelpartner" ng-if="!isChannelPartner()">Channel Partner</option>
                    </select>
                    <i class="caret"></i>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.fname.$invalid && submitted }">
                    <input type="text" class="form-control" name="fname" ng-model="newUser.fname" value="" placeholder="*First Name" required/>
                  </div>
                  <div class="form-group col-sm-4">
                    <input type="text" class="form-control" name="mname" ng-model="newUser.mname" value="" placeholder="Middle Name"/>
                  </div>
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.lname.$invalid && submitted }">
                    <input type="text" class="form-control" name="lname" ng-model="newUser.lname" value="" placeholder="*Last Name" required/>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.userType.$invalid && submitted }">
                    <select class="form-control" name="userType" ng-model="newUser.userType" required>
                      <option value="" disabled>*Type</option>
                      <option value="individual">Individual</option>
                      <option value="private">Private Entrepreneur</option>
                      <option value="legalentity">Legal Entity</option>
                    </select>
                    <i class="caret"></i>
                  </div>
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.company.$invalid && submitted }">
                    <input type="text" class="form-control" name="company" ng-model="newUser.company" placeholder="*Legal Entity Name" ng-required= "newUser.userType == 'legalentity'" ng-disabled="newUser.userType != 'legalentity'">
                  </div>
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.email.$invalid && submitted }">
                  <input type="email" class="form-control" name="email" ng-model="newUser.email" value="" placeholder="Email Address" mongoose-error/>
                  <p class="help-block" ng-show="form.email.$error.email&& submitted">
                  Doesn't look like a valid email.
                  </p>
                  <p class="help-block" ng-show="form.email.$error.required && submitted">
                  What's your email address?
                  </p>
                  <p class="help-block" ng-show="form.email.$error.mongoose">
                    {{ errors.email }}
                  </p>
                  </div>
                </div>

                <div class="row">                  
                  <div class="form-group col-sm-6" ng-class="{'has-error': form.password.$invalid && submitted }">
                  <input type="password" name="password" class="form-control" ng-model="newUser.password"
                  placeholder="*Password" 
                     ng-minlength="4"
                     required
                     mongoose-error/>
                    <p class="help-block"
                       ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                      Password must be at least 4 characters.
                    </p>
                    <p class="help-block" ng-show="form.password.$error.mongoose">
                      {{ errors.password }}
                    </p>
                  </div>
                  <div class="form-group col-sm-6" ng-class="{'has-error': form.passwordCompare.$invalid && submitted }">
                  <input type="password" name="passwordCompare" class="form-control" ng-model="newUser.passwordConfirm" valid-password-c="newUser.password"
                  placeholder="*Confirm Password" 
                     ng-minlength="4"
                     required
                     mongoose-error/>
                    <p class="help-block" ng-show="form.passwordCompare.$error.noMatch && submitted">
                      Passwords do not match.
                    </p>
                  </div>
                </div>
                
                <div class="row">
                  <div class="form-group col-sm-12" ng-class="{'has-error': form.address.$invalid && submitted }">
                    <input type="text" class="form-control" name="address" value="" placeholder="Address" ng-model="newUser.address" ng-maxlength="150" >
                    <p class="help-block"
                       ng-show="form.address.$error.ng-maxlength1th && submitted">
                      Address must not exceed 150 characters.
                    </p>
                  </div>                  
                </div> 
                <div class="row">
                  <!-- <div class="form-group col-sm-6" ng-class="{'has-error': form.mobile.$invalid && submitted }">
                    <div class="input-group">
                    <input type="text" class="form-control" name="mobile" ng-model="newUser.alternateMobile" value="" placeholder="* Alternate Mobile No." uib-tooltip="98-XXXX-XXXX" tooltip-trigger="focus" pattern="^[7-9][0-9]{9}$" tooltip-placement="top" required>
                    </div>
                  </div> -->
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.country.$invalid && submitted }">
                    <select class="form-control" name="country" ng-model="newUser.country" ng-change="getCountryWiseState(newUser.country)" required>
                      <option value="" disabled>*Select Country</option>
                      <option  ng-repeat ="country in allCountries| orderBy:'name'" value="{{country.name}}">{{country.name}}</option>
                      <option value="Other">Other</option>
                    </select>
                    <i class="caret"></i>
                  </div>
                  
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.state.$invalid && submitted }">
                    <select class="form-control" name="state" ng-model="newUser.state" ng-change="getStateWiseLocation(newUser
                    .state)" required>
                      <option value="" disabled>*Select State</option>
                      <option ng-repeat="state in stateList| orderBy:'name'" value="{{state.name}}">{{state.name}}</option>
                      <option value="Other">Other</option>
                    </select>
                    <i class="caret"></i>
                  </div> 
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.location.$invalid && submitted }">
                    <select class="form-control" name="location" ng-model="newUser.city" required>
                      <option value="" disabled>*Select Location</option>
                        <option ng-repeat="location in locationList| orderBy:'name'" value="{{location.name}}">{{location.name}}</option>
                    <option value="Other">Other</option>
                    </select>
                    <i class="caret"></i>
                  </div>
                  
                 
                </div>
                 <div class="row" ng-if="newUser.country=='Other' ||newUser.state=='Other'|| newUser.city=='Other' ">
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.otherCountry.$invalid && submitted}">
                    <input class="form-control" ng-show="newUser.country =='Other'" type="text" name="otherCountry" ng-model="newUser.otherCountry" placeholder="*Other Country" ng-required= "newUser.country == 'Other'" ng-disabled="newUser.country != 'Other'">
                  </div>
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.otherState.$invalid && submitted}">
                    <input class="form-control" ng-show="newUser.country =='Other' || newUser.state =='Other'" type="text" name="otherState" ng-model="newUser.otherState" placeholder="*Other State" ng-required= "newUser.state == 'Other'" ng-disabled="newUser.state != 'Other'">
                  </div>
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.otherCity.$invalid && submitted}">
                    <input class="form-control" ng-show="newUser.city=='Other'|| newUser.country =='Other' || newUser.state =='Other'" type="text" name="otherCity" ng-model="newUser.otherCity" placeholder="*Other Location" ng-required= "newUser.city == 'Other'" ng-disabled="newUser.city != 'Other'">
                  </div> 
                </div>
                <div class="row">
                  <div class="form-group col-sm-6">
                    <input type="text" class="form-control" name="phone" ng-model="newUser.phone" value="" placeholder="Phone No.">
                  </div>

                   <div class="form-group col-sm-6" ng-class="{'has-error': form.mobile.$invalid && submitted }">
                    <div class="input-group">
                      <span class="input-group-addon">{{code}}</span>
                      <input type="text" class="form-control" name="mobile" ng-model="newUser.mobile" value="" placeholder="* Mobile No." uib-tooltip="{{code}}-XXXX-XXXX" tooltip-trigger="focus" pattern="^[7-9][0-9]{9}$" tooltip-placement="top" required>
                    </div>
                  </div>
              </div>
                <div class="row">
                  <div class="form-group col-sm-6" ng-class="{'has-error':form.panNumber.$invalid && submitted}">
                    <input type="text" class="form-control" name="panNumber"  placeholder="PAN Number" uib-tooltip="XXXXX9999X" tooltip-trigger="focus" pattern="^[A-Z]{5}[0-9]{4}[A-Z]{1}$" tooltip-placement="top" ng-model="newUser.panNumber">
                  </div>   
                  <div class="form-group col-sm-6" ng-class="{'has-error':form.aadhaarNumber.$invalid && submitted}">
                    <input type="text" class="form-control" name="aadhaarNumber"  placeholder="AADHAAR Number" uib-tooltip="9999 9999 9999" tooltip-trigger="focus" pattern="^\d{4}\s\d{4}\s\d{4}$" tooltip-placement="top" ng-model="newUser.aadhaarNumber">
                  </div>                  
                </div>   
                <!-- <div class="row">
                  <div class="col-sm-6 form-group">
                    <span class="btn btn-warning fileinput-button">
                      <span>Browse Partner Logo...</span>
                      <input type="file" image-upload="" data-filetype="image" data-index="0" name="files_0" class="ng-scope">
                    </span>
                    <div class="col-sm-2">
                          {{newUser.imgsrc}}
                    </div>
                  </div>
                 </div>  -->
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-3 text-left" >
                      <input type="checkbox" name="agree" ng-model="newUser.agree" value=""> I Agree
                    </div>
                    <div class="col-sm-9 text-left">
                      <small>By clicking submit, you agree to the Terms &amp; Conditions.</small>
                    </div>
                  </div>
                </div>

                <div class="form-group text-center">
                      <button type="button" class="btn btn-lg btn-warning" ng-click="register($event)">Submit</button>
                </div>
              </div>
              <!-- </div> -->

              <!-- <div class="" ng-show="!isRegister">
                <div class="form-group text-center">
                  <label>Verification Code</label>
                  <input type="text" class="form-control" name="otp" ng-model="user.otp">
                </div>
                <div class="form-group text-right">
                  <button type="button" class="btn btn-primary" ng-click="sendOTP(user)">Resend Code</button>
                  <input type="submit" class="btn btn-primary" name="" value="Verify">
                </div>
                <div class="form-group text-center">
                    If you are a member ?
                    <a href="javascript:;" ng-click="openLogin()">Login</a>
                </div>
              </div> -->
            </form>
          </div>
      </div>