<div id="wrapper">
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">          
          <!-- User Management
          <button class="btn btn-success btn-md pull-right" ng-click="exportExcel()"><i class="fa fa-file-excel-o"></i> Export</button> -->
          <div class="row">
            <div class="col-sm-8"> 
              <h3>User Management</h3>
            </div>
            <div class="col-xs-6 col-sm-offset-2 col-sm-2">
              <h3><button class="btn btn-success btn-md btn-block" ng-click="userManagementVm.openAddUserDialog()"><i class="fa fa-plus"></i> Add User</button></h3>
            </div>
            <!-- <div class="col-xs-6 col-sm-2">
              <h3><button class="btn btn-success btn-md btn-block" ng-click="userManagementVm.exportExcel()"><i class="fa fa-file-excel-o"></i> Export</button></h3>               
            </div> -->
          </div>
            <div class="form-group" ng-if="isAdmin()" >
              <ul class="list-instrct">
                <li>Download the <a href="{{templateDir}}/{{bulkUserUpload.template}}" target="_blank">template</a> for creating customers/channel partners using bulk upload and fill all fields. (*) mark fields are mandatory.</li>
               <li>System will accept only 100 records in a single file.</li>  
              </ul>
              <div class="row">
                <div class="col-sm-3">
                  <span class="btn btn-warning fileinput-button bulk-browse">
                    <span>Upload Excel</span>
                    <input type="file" name="doc" data-filetype="doc" file-upload="" class="ng-scope">
                  </span>
                </div>
                <div class="col-sm-offset-1 col-sm-3">
                  <custom-datepicker placeholder="*Effective From Date" name="effectiveFromDate" ng-model="dateFilter.fromDate" myid="fromdate" required></custom-datepicker>
                </div>
                <div class="col-sm-3">
                  <custom-datepicker placeholder="*Effective To Date" name="effectiveToDate" ng-model="dateFilter.toDate" myid="todate" required></custom-datepicker>
                </div>
                <div class="col-sm-2">
                 <!--  <a class="btn btn-success btn-md btn-block" ng-if="isAdmin()" target="_blank">Export</a> -->
                  <button class="btn btn-success btn-md btn-block" ng-click="userManagementVm.exportExcel()"><i class="fa fa-file-excel-o"></i> Export</button>
                  <export-form name="userexport"></export-form>
                </div>
              </div>
            </div>

          <legend></legend>
          {{successMessage}}
          <p class="text-right">Showing : {{userManagementVm.totalItems}} Records</p>
          <div class="row">
            <div class="col-sm-9 form-group">
              <div ng-if="isAdmin()" class="">            
                <label>Channel Partners:</label>
                <select ng-model="selectedUser" ng-change="userManagementVm.onUserChange(selectedUser)" ng-options="user as (user.fname+ ' '+ user.lname +' ('+user.mobile+')') for user in userManagementVm.getUsersOnRole track by user._id" >
                  <option value="">Select User</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="tablesearch form-group pull-right">
                 Search: <input type="text" placeholder="Search..." ng-model="userManagementVm.userSearchFilter.searchStr" ng-change="userManagementVm.fireCommand(true)" ng-model-options="{debounce:500}">
              </div>
            </div>
          </div>          
          
          <div class="table-responsive">
            <table class="table table-bordred table-striped">
              <thead>
                <tr>
                   <th>Customer Id</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>PAN Number</th>
                  <th>AADHAAR Number</th>
                  <th>Enterprise unique id</th>
                  <th>Role</th>
                  <th>User Type</th>
                  <th>Company Name</th>
                  <th>Mobile No.</th>
                  <th>Location</th>
                  <th>Registered By</th>
                  <th>Product Uploaded</th>
                  <th>Count</th>
                  <th width="6%">Status</th>
                  <th width="15%" ng-show="getCurrentUser().role == 'admin'">Action</th>
                </tr>
                
              </thead>
              <tbody>
                <tr ng-repeat="user in userManagementVm.userList">
                  <td>{{user.customerId}}</td>
                  <td>{{user.fname}} {{user.mname}} {{user.lname}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.panNumber}}</td>
                  <td>{{user.aadhaarNumber}}</td>
                  <td>{{user.enterpriseId}}</td>
                  <td>
                    <span ng-if="user.role == 'customer'">Customer</span>
                    <!-- <span ng-if="user.role == 'admin'">Admin</span> -->
                    <span ng-if="user.role == 'channelpartner'">Channel Partner</span>
                     <span ng-if="user.role == 'enterprise'">Enterprise</span>
                  </td>
                  <td>
                    <span ng-if="user.userType == 'individual'">Individual</span>
                    <span ng-if="user.userType == 'private'">Private Entrepreneur</span>
                    <span ng-if="user.userType == 'legalentity'">Legal Entity</span>
                  </td>
                  <td>{{user.company}}</td>
                  <td>{{user.mobile}}</td>
                  <td>{{user.city}}</td>
                  <td>{{userManagementVm.getRegisteredBy(user)}}</td>
                  <td>{{userManagementVm.getProductData(user._id, "have_products")}}</td>
                  <td>{{userManagementVm.getProductData(user._id, "total_products")}}</td>
                  <td>
                    <span ng-if="user.status">Active</span>
                    <span ng-if="!user.status">Inactive</span>
                  </td>
                  <td ng-show="getCurrentUser().role == 'admin'">
                    <label  class="btn btn-warning active-btn" ng-model="user.status" uib-btn-checkbox ng-click="userManagementVm.updateUser(user)"><span ng-if="!user.status">Activate</span> <span ng-if="user.status">Deactivate</span></label>
                  <button class="btn btn-sm btn-danger" ng-click="userManagementVm.deleteUser(user)"><i class="fa fa-trash"></i></button>
                  <a class="btn btn-primary btn-sm" href="javascript:void(0);" ng-click="userManagementVm.editUserClick(user)" ><i class="fa fa-pencil"></i> </a></td>                
                </tr>
              </tbody>
            </table>            
          </div>
          <uib-pagination total-items="userManagementVm.totalItems" ng-model="userManagementVm.currentPage" items-per-page="userManagementVm.itemsPerPage" max-size="userManagementVm.maxSize" ng-change="userManagementVm.fireCommand()" class="pagination-sm" rotate="false">  </uib-pagination>
        </div>
      </div>
    </div>
  </div>
</div>