<div id="wrapper">
	<div id="page-wrapper">
		<div class="container-fluid">
			<!-- Page Heading -->
			<div class="row">
				<div class="col-lg-12">
					<h3>
					Master Data
						<div class="btn btn-success pull-right">
					      <span class="fileinput-button">
		                         <span><i class="fa fa-file-excel-o"></i> Import</span>
		                         <input type="file" name="importfile" onchange="angular.element(this).scope().importMasterData(this.files,this)">
		                     </span>
					     </div>
					</h3>
					<hr>
				</div>
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-md-12">
				<uib-tabset justified="true">
				    <uib-tab heading="Product Group" select="masterDataVm.reset()">
				    	<form name="groupForm" novalidate class="form">
				    		<h4>Add New Group</h4>
				    		<legend></legend>
                          <div class="row">
                         	 <div class="form-group col-sm-4" ng-class="{'has-error': form.errorGroup && submitted}">
                                <input id="groupName" name="groupName" ng-model="g.name" type="text" class="form-control" placeholder="Enter Group Name" required>
                            </div>                           	
                           	<div class="form-group col-sm-2 pull-right">
                           		<button type="button" class="btn btn-primary btn-md btn-block" ng-click="masterDataVm.Save('Group')" ng-if="!groupEdit">Save</button>
                           		<button type="button" class="btn btn-primary btn-md btn-block" ng-click="masterDataVm.update('Group')" ng-if="groupEdit">Update</button>
                           	</div>
                           	
                          </div>
                     	</form>	
                     	<div ng-if="refresh">
                     		<div class="row">					           
					            <div class="col-sm-3 pull-right">
					              <div class="tablesearch text-right form-group">
					                 Search: <input type="text" placeholder="Search..." ng-model="masterDataVm.gSearch" ng-change="masterDataVm.searchFn('group')" ng-model-options="{debounce:500}">
					              </div>
					            </div>
					         </div>   
                     		<div class=" table-responsive">		    		
								<table class="table table-bordred table-striped" >
									<thead>
										<th>Product Group</th>
										<th>Actions</th>
									</thead>
									<tbody>												
										<tr ng-repeat="group in filteredGroup |startFrom:(masterDataVm.gCurrentPage -1 )*masterDataVm.itemsPerPage | limitTo:masterDataVm.itemsPerPage">
											<td>{{group.name}}</td>
											<td>
											    <a class="btn btn-primary btn-sm" href="javascript:void(0);" ng-click="masterDataVm.editClick('Group',group)" ><i class="fa fa-pencil"></i> </a>
		  										<a class="btn btn-danger btn-sm" href="javascript:void(0);" ng-click="masterDataVm.deleteClick('Group',group)"><i class="fa fa-trash"></i> </a>
		  									</td>
										</tr>
									</tbody>
								</table>
								<uib-pagination total-items="masterDataVm.gTotalItems" ng-model="masterDataVm.gCurrentPage" items-per-page="masterDataVm.itemsPerPage" max-size="masterDataVm.maxSize" class="pagination-sm" rotate="false">  </uib-pagination>
							</div>					
						</div>
				    </uib-tab>

				    <uib-tab heading="Product Category" select="masterDataVm.reset()">
				    	<form name="categoryForm" role="form" novalidate class="form">
				    		<h4>Add New Category
				    			<div class="btn btn-success pull-right" ng-click="masterDataVm.exportMasterData('category')">
							      <span class="fileinput-button">
				                         <span><i class="fa fa-file-excel-o"></i> Export</span>
				                     </span>
							     </div>
				    		</h4>
				    		<legend></legend>
                          <div class="row">
                         	<div class="form-group col-sm-3" ng-class="{'has-error': form.errorGroup && submitted}">
                                 <select class="form-control" ng-model="c.group" name="groupList" ng-options="group.name for group in allGroup track by group._id" required >
	                                <option value="" disabled>Select Group</option>
					                <!-- <option ng-repeat="group in allGroup" ng-selected="c.group._id == group._id" value="{{group._id}}">{{group.name}}</option> -->
					             </select> 
                            </div> 
                            <div class="form-group col-sm-3" ng-class="{'has-error': form.errorCategory && submitted}">
                                <input id="categoryName" ng-model="c.name" type="text"  name ="categoryName" class="form-control" placeholder="Enter Category Name" required>
                            </div> 
                            <div class="form-group col-sm-2">
                            	<span class="btn btn-warning fileinput-button">
	                                <span>Browse image...</span>
	                                <input type="file" name="files_{{$index}}"  data-index="{{$index}}" data-filetype="image" image-upload>
			                    </span>
                            </div>
                            <div class="col-sm-2">
		                      {{c.imgSrc}}
		                    </div>                           	
                           	<div class="form-group col-sm-2">
                           		<button type="button" class="btn btn-primary btn-md btn-block" ng-click="masterDataVm.Save('Category')" ng-if="!categoryEdit">Save</button>
                           		<button type="button" class="btn btn-primary btn-md btn-block" ng-click="masterDataVm.update('Category')" ng-if="categoryEdit">Update</button>
                           	</div>
                           	
                          </div>
                     	</form>	

                     	<div class="row">					           
				            <div class="col-sm-3 pull-right">
				              <div class="tablesearch text-right form-group">
				                 Search: <input type="text" placeholder="Search..." ng-model="masterDataVm.cSearch" ng-change="masterDataVm.searchFn('category')" ng-model-options="{debounce:500}">
				              </div>
				            </div>
				         </div>				     	
						<table class="table table-bordred table-striped">
							
							<thead>	
								<tr>
									<th>Image</th>
									<th>Product Category</th>
									<th>Product Group</th>
									<th>Status</th>
									<th width="300">Actions</th>
								</tr>							
							</thead>
							<tbody>							
								<tr ng-repeat="category in filteredCategory |startFrom:(masterDataVm.cCurrentPage -1 )*masterDataVm.itemsPerPage | limitTo:masterDataVm.itemsPerPage">
									<td>
										<span class="master-browse" tooltip-trigger="mouseenter" tooltip-placement="top" uib-tooltip="Change Image">
											<img class="sheduleImg img-circle" ng-src="{{uploadImagePrefix}}{{categoryDir}}/{{category.imgSrc}}" alt="Image">
										<input type="file" data-index="{{$index}}" onchange="angular.element(this).scope().updateCategoryImg(this.files,this)">
										</span>
									</td>
									<td>{{category.name}}</td>
									<td>{{category.group.name}}</td>
									<td>{{getStatus(category.status)}}</td>
									<td>
									<a class="btn btn-primary btn-md" href="javascript:void(0);" ng-click="masterDataVm.editClick('Category',category)" ><i class="fa fa-pencil"></i> </a>
										<a class="btn btn-danger btn-md" href="javascript:void(0);" ng-click="masterDataVm.deleteClick('Category',category)"><i class="fa fa-trash"></i> </a>
									<label class="btn btn-warning" ng-model="category.status" uib-btn-checkbox ng-click="masterDataVm.updateCategoryStatus(category)"><span ng-if="!category.status">Activate</span> <span ng-if="category.status">Deactivate</span></label>
									</td>
								</tr>
								</tbody>						
							</table>
							<uib-pagination total-items="masterDataVm.cTotalItems" ng-model="masterDataVm.cCurrentPage" items-per-page="masterDataVm.itemsPerPage" max-size="masterDataVm.maxSize" class="pagination-sm" rotate="false">  </uib-pagination>
					    </uib-tab>
					    <uib-tab heading="Brand" select="masterDataVm.reset()">	
					    	<form  name="brandForm" novalidate class="form">
					    		<h4>Add New Brand</h4>
					    		<legend></legend>
	                          <div class="row">
	                         	<div class="form-group col-sm-3" ng-class="{'has-error': form.errorGroup && submitted}">
	                                <select class="form-control" ng-model="b.group" ng-change="masterDataVm.onGroupChange(b.group)" ng-options="group.name for group in allGroup track by group._id" name="groupList" required>
		                            <option value="" disabled>Select Group</option>
					                <!-- <option ng-repeat="group in allGroup" ng-selected="b.group._id == group._id" value="{{group._id}}">{{group.name}}</option> -->
					                </select> 
	                            </div> 
	                            <div class="form-group col-sm-3" ng-class="{'has-error': form.errorCategory && submitted}">
	                                <select class="form-control" ng-model="b.category" name="categoryList" ng-options="category.name for category in categoryList track by category._id" required>
		                            <option value="" disabled>Select Category</option>
					                <!-- <option ng-repeat="category in categoryList" ng-selected="b.category._id == category._id" value="{{category._id}}">{{category.name}}</option> -->
					                </select> 
	                            </div> 
	                            <div class="form-group col-sm-3" ng-class="{'has-error': form.errorBrand && submitted}">
	                                <input id="brandName" name="brandName" ng-model="b.name" type="text"  class="form-control" placeholder="Enter Brand Name" required>
	                            </div>                           	
	                           	<div class="form-group col-sm-2 pull-right">
	                           		<button type="button" class="btn btn-primary btn-md btn-block" ng-click="masterDataVm.Save('Brand')" ng-if="!brandEdit">Save</button>
	                           		<button type="button" class="btn btn-primary btn-md btn-block" ng-click="masterDataVm.update('Brand')" ng-if="brandEdit">Update</button>
	                           	</div>
	                           	
	                          </div>
	                     	</form>					      
					    	
					    	<div class="row">					           
					            <div class="col-sm-3 pull-right">
					              <div class="tablesearch text-right form-group">
					                 Search: <input type="text" placeholder="Search..." ng-model="masterDataVm.bSearch" ng-change="masterDataVm.searchFn('brand')" ng-model-options="{debounce:500}">
					              </div>
					            </div>
					        </div>
			               	<table class="table table-bordred table-striped">				
	                            <thead>
                                    <tr>
                                    	<th>Brand</th>
	                                    <th>Product Category</th>
	                                    <th>Product Group</th>                                    
	                                    <th>Actions</th>
                                    </tr>		
                                </thead>
                         		<tbody>
                         		  <tr ng-repeat="brand in filteredBrand| startFrom:(masterDataVm.bCurrentPage -1 )*masterDataVm.itemsPerPage|limitTo:masterDataVm.itemsPerPage">
									<td>{{brand.name}}</td>
									<td>{{brand.category.name}}</td>
									<td>{{brand.group.name}}</td>
									 <td>
									 	<a class="btn btn-primary btn-sm" href="javascript:void(0);" ng-click="masterDataVm.editClick('Brand',brand)" ><i class="fa fa-pencil"></i> </a>
										<a class="btn btn-danger btn-sm" href="javascript:void(0);" ng-click="masterDataVm.deleteClick('Brand',brand)"><i class="fa fa-trash"></i> </a>
									</td> 
								  </tr>
                                </tbody>
                            </table>
                			<uib-pagination total-items="masterDataVm.bTotalItems" ng-model="masterDataVm.bCurrentPage" items-per-page="masterDataVm.itemsPerPage" max-size="masterDataVm.maxSize" class="pagination-sm" rotate="false">  </uib-pagination>
					    </uib-tab>
					    <uib-tab heading="Model" select="masterDataVm.reset()">
					    	<form role="form" name="modelForm" novalidate class="form">
					    		<h4>Add New Model
					    			<div class="btn btn-success pull-right" ng-click="masterDataVm.exportMasterData('model')">
								      <span class="fileinput-button">
					                         <span><i class="fa fa-file-excel-o"></i> Export</span>
					                     </span>
								     </div>
					    		</h4>
					    		<legend></legend>
                              <div class="row">
                              	<div class="form-group col-sm-3" ng-class="{'has-error': form.errorGroup && submitted}">
	                                <select class="form-control" ng-model="m.group" ng-change="masterDataVm.onGroupChange(m.group)" name="groupList" ng-options="group.name for group in allGroup track by group._id" required>
		                            	<option value="" disabled>Select Group</option>
					                	<!-- <option ng-repeat="group in allGroup" ng-selected="m.group._id == group._id" value="{{group._id}}">{{group.name}}</option> -->
					                </select> 
	                            </div>
                              	<div class="form-group col-sm-3" ng-class="{'has-error': form.errorCategory && submitted}">
	                                <select class="form-control" ng-model="m.category" ng-change="masterDataVm.onCategoryChange(m.category)" name="categoryList" ng-options="category.name for category in categoryList track by category._id" required>
		                                <option value="" disabled>Select Category</option>
					                	<!-- <option ng-repeat="category in categoryList" ng-selected="m.category._id == category._id" value="{{category._id}}">{{category.name}}</option> -->
					                </select>
	                            </div>
                             	 <div class="form-group col-sm-2" ng-class="{'has-error': form.errorBrand && submitted}">
                                    <select class="form-control" ng-model="m.brand" name="brandList" ng-options="brand.name for brand in brandList track by brand._id" required>
                                        <option value= "" disabled>Select Brand</option>
                                        <!-- <option ng-repeat="brand in brandList"  ng-selected="m.brand._id == brand._id"value="{{brand._id}}">{{brand.name}}</option> -->           
                                    </select>
                                </div>
                               	<div class="form-group col-sm-2" ng-class="{'has-error': form.errorModel && submitted}">
                                   <input id="modelName" ng-model="m.name" name="modelName" type="text" class="form-control" placeholder="Enter Model Name" required>
                               	</div>
                               	<div class="form-group col-sm-2">
                               		<button type="button" class="btn btn-primary btn-md btn-block" ng-click="masterDataVm.Save('Model')" ng-if="!modelEdit">Save</button>
                               		<button type="button" class="btn btn-primary btn-md btn-block" ng-click="masterDataVm.update('Model')" ng-if="modelEdit">Update</button>
                               	</div>
                               	
                              </div>
                         	</form>

                         	<div class="row">					           
					            <div class="col-sm-3 pull-right">
					              <div class="tablesearch text-right form-group">
					                 Search: <input type="text" placeholder="Search..." ng-model="masterDataVm.mSearch" ng-change="masterDataVm.searchFn('model')" ng-model-options="{debounce:500}">
					              </div>
					            </div>
					        </div>
                            <table class="table table-bordred table-striped">
                                <thead>
                                	<tr>
                                		<th>Model</th>
	                                    <th>Brand</th>
	                                    <th>Product Category</th>
	                                    <th>Product Group</th>
	                                    <th>Actions</th>
                                	</tr>
                                </thead>
                         		<tbody>
                                  <tr ng-repeat="model in filteredModel|startFrom:(masterDataVm.mCurrentPage -1 )*masterDataVm.itemsPerPage|limitTo:masterDataVm.itemsPerPage">
                                  	<td>{{model.name}}</td>
									<td>{{model.brand.name}}</td>
									<td>{{model.category.name}}</td>
									<td>{{model.group.name}}</td>
									<td>
										 <a class="btn btn-primary btn-sm" href="javascript:void(0);" ng-click="masterDataVm.editClick('Model',model)" ><i class="fa fa-pencil"></i> </a>
										<a class="btn btn-danger btn-sm" href="javascript:void(0);" ng-click="masterDataVm.deleteClick('Model',model)"><i class="fa fa-trash"></i> </a>
									</td> 
								  </tr>
                                </tbody>
                            </table>
        					<uib-pagination total-items="masterDataVm.mTotalItems" ng-model="masterDataVm.mCurrentPage" items-per-page="masterDataVm.itemsPerPage" max-size="masterDataVm.maxSize" class="pagination-sm" rotate="false">  </uib-pagination>
				</uib-tabset>

            </div>
			</div>			
			
        </div>
    </div>
</div>
    
