<div id="wrapper">
	<div id="page-wrapper">
		<div class="container-fluid">
			<!-- Page Heading -->
			<div class="row">
				<div class="col-lg-12">
					<h3>
					Master Data
						<div class="btn btn-success pull-right">
					      <span class="fileinput-button">
		                         <span><i class="fa fa-file-text"></i> Import</span>
		                         <input type="file" name="importfile" onchange="angular.element(this).scope().importMasterData(this.files,this)">
		                     </span>
					     </div>
					</h3>
					<hr>
				</div>
			</div>
			<!-- /.row -->
			<div class="row">
				<div class="col-md-12">
				<uib-tabset justified="true">
				    <uib-tab heading="Product Group" select="masterDataVm.reset()">
				    	<form name="groupForm" novalidate class="form">
				    		<h4>Add New Group</h4>
				    		<legend></legend>
                          <div class="row">
                         	 <div class="form-group col-sm-3" ng-class="{'has-error': form.errorGroup && submitted}">
                         	 	<label>Group Name</label>
                                <input id="groupName" name="groupName" ng-model="g.name" type="text" class="form-control" placeholder="Enter Group Name" required>
                            </div>
                            <div class="form-group col-sm-3">
                            	<label>Group Description</label>
                                <input id="groupDesc" name="groupDesc" ng-model="g.description" type="text" class="form-control" placeholder="Enter Group Description">
                            </div>
                             <div class="col-sm-2 form-group text-center">
                             	<label>Equipment Type</label>
				    	  		<div class="checkbox"><input type="checkbox" name="equipment"  id="usedequip" placeholder="" ng-model="g.isForUsed"> <label for="usedequip"> Used Equipment </label>
				    	  		</div>
				    	  		
				    	  	</div>
				    	  	<div class="col-sm-2 form-group text-center">
				    	  		<label class="invisible">Equipment Type</label>
				    	  		<div class="checkbox"><input type="checkbox" name="equipment"  id="newequip" placeholder="" ng-model="g.isForNew"> <label for="newequip"> New Equipment </label>
				    	  		</div>
				    	  	</div>
                            <div class="form-group col-sm-2">
                            	<label>Upload Image</label>
                            	<span class="btn btn-warning fileinput-button">
	                                <span>Browse image...</span>
	                                <input type="file" accept="image/*" ng-model ="files" ng-change="uploadImage(files,g,'Group',0)" file>
			                    </span>
			                     <span>{{g.imgSrc}}</span>		                    
                            </div>  
                          </div>
                          <div class="row">
                          	<div class="col-sm-3 form-group">
                          		<label>Priority for Used</label>
                          		<input type="number" class="form-control"  placeholder="Priority for Used" ng-model="g.priorityForUsed">
                          	</div>
                          	<div class="col-sm-3 form-group">
                          		<label>Priority for New</label>
                          		<input type="number" class="form-control" placeholder="Priority for New" ng-model="g.priorityForNew">
                          	</div>
                          	<div class="form-group col-sm-2 pull-right">
                          		<label class="invisible">Action</label>
                           		<button type="button" class="btn btn-primary btn-md btn-block" ng-click="masterDataVm.Save('Group')" ng-if="!groupEdit">Save</button>
                           		<button type="button" class="btn btn-primary btn-md btn-block" ng-click="masterDataVm.update('Group')" ng-if="groupEdit">Update</button>
                           	</div>
                          </div>
                     	</form>	
					    <legend></legend>

                     	<div ng-if="refresh">
                     		<div class="row">
                     			<div class="col-sm-3">
					              <div class="checkbox"><input type="checkbox"  id="newequips" placeholder="" ng-model="masterDataVm.isForNew" ng-change="masterDataVm.searchFn('group')"> <label for="newequips"> New Equipment </label>
				    	  		</div>
					            </div>	
					            <div class="col-sm-3">
					              <div class="checkbox"><input type="checkbox" id="usedequips" placeholder="" ng-model="masterDataVm.isForUsed" ng-change="masterDataVm.searchFn('group')"> <label for="usedequips">Used Equipment </label>
				    	  		</div>
					            </div>					           
					            <div class="col-sm-3 pull-right">
					              <div class="tablesearch text-right form-group">
					                 Search: <input type="text" placeholder="Search..." ng-model="masterDataVm.gSearch" ng-change="masterDataVm.searchFn('group')" ng-model-options="{debounce:500}">
					              </div>
					            </div>
					         </div>   
                     		<div class=" table-responsive">		    		
								<table class="table table-bordred table-striped" >
									<thead>
										<th>Images</th>
										<th>Product Group</th>
										<th>Description</th>
										<th>Actions</th>
									</thead>
									<tbody>												
										<tr ng-repeat="group in filteredGroup |startFrom:(masterDataVm.gCurrentPage -1 )*masterDataVm.itemsPerPage | limitTo:masterDataVm.itemsPerPage">
											<td>
												<span class="master-browse" tooltip-trigger="mouseenter" tooltip-placement="top" uib-tooltip="Change Image">
													<img class="sheduleImg img-circle" ng-src="{{uploadImagePrefix}}{{categoryDir}}/{{group.imgSrc}}" alt="Image">
												<input type="file" ng-model ="files" ng-change="uploadImage(files,group,'Group',1)" file>
												</span>
											</td>
											<td>{{group.name}}</td>
											<td>{{group.description}}</td>
											<td>
											    <a class="btn btn-primary btn-sm" href="javascript:void(0);" ng-click="masterDataVm.editClick('Group',group)" ><i class="fa fa-pencil"></i> </a>
		  										<a class="btn btn-danger btn-sm" href="javascript:void(0);" ng-click="masterDataVm.deleteClick('Group',group)"><i class="fa fa-trash"></i> </a>
		  										<button class="btn btn-success" ng-model="group.visibleOnUsed" uib-btn-checkbox ng-click="masterDataVm.makeVisibleHome(group,'Group',false)">
		  										<span ng-if="!group.visibleOnUsed" uib-popover="Activate for Used" popover-trigger="mouseenter">
												<i class="fa fa-toggle-off"></i>								
												</span> <span ng-if="group.visibleOnUsed" uib-popover="Deactivate for Used" popover-trigger="mouseenter">
												<i class="fa fa-toggle-on"></i>							
												</span></button>
												<button class="btn btn-success" ng-model="group.visibleOnNew" uib-btn-checkbox ng-click="masterDataVm.makeVisibleHome(group,'Group',true)">
		  										<span ng-if="!group.visibleOnNew" uib-popover="Activate for New" popover-trigger="mouseenter">
												<i class="fa fa-toggle-off"></i>								
												</span> <span ng-if="group.visibleOnNew" uib-popover="Deactivate for New" popover-trigger="mouseenter">
												<i class="fa fa-toggle-on"></i>							
												</span></button>
		  									</td>
										</tr>
									</tbody>
								</table>								
							</div>
							<uib-pagination total-items="masterDataVm.gTotalItems" ng-model="masterDataVm.gCurrentPage" items-per-page="masterDataVm.itemsPerPage" max-size="masterDataVm.maxSize" class="pagination-sm" rotate="false">  </uib-pagination>					
						</div>
				    </uib-tab>

				    <uib-tab heading="Product Category" select="masterDataVm.reset()">
				    	<form name="categoryForm" role="form" novalidate class="form">
				    		
			    		<div class="row">
			    			<div class="col-sm-6">
			    				<h4>Add New Category</h4>
			    			</div>
			    			<div class="col-sm-6">
			    				<button class="btn btn-success pull-right" ng-click="masterDataVm.exportMasterData('category')">
							      <span class="fileinput-button">
				                         <span><i class="fa fa-file-text"></i> Export</span>
				                     </span>
							     </button>
			    			</div>
			    		</div>
			    		<legend></legend>

				    	  <div class="row">
				    	  	<div class="form-group col-sm-3" ng-class="{'has-error': form.errorGroup && submitted}">
				    	  		<label>Select Group</label>
                                 <select class="form-control" ng-model="c.group" name="groupList" ng-options="group.name for group in allGroup track by group._id" required>
	                                <option value="" disabled>Select Group</option>
					             </select> 
                            </div>
				    	  				    	  	 
                            <div class="form-group col-sm-3" ng-class="{'has-error': form.errorCategory && submitted}">
                            	<label>Category Name</label>
                                <input id="categoryName" ng-model="c.name" type="text"  name ="categoryName" class="form-control" placeholder="Enter Category Name" required>
                            </div> 
                            <div class="col-sm-2 form-group text-center">
                            	<label>Equipment Type</label>
				    	  		<div class="checkbox"><input type="checkbox" name="equipment" value="" id="categoryusedequip" placeholder="" ng-model="c.isForUsed"> <label for="categoryusedequip"> Used Equipment </label>
				    	  		</div>
				    	  		
				    	  	</div>
				    	  	<div class="col-sm-2 form-group text-center">
				    	  		<label class="invisible">Equipment Type</label>
				    	  		<div class="checkbox"><input type="checkbox" name="equipment" value="" id="categorynewequip" placeholder="" ng-model="c.isForNew"> <label for="categorynewequip"> New Equipment </label>
				    	  		</div>
				    	  	</div>	
                            <div class="form-group col-sm-2">
                            	<label>Upload Image</label>
                            	<span class="btn btn-warning fileinput-button">
	                                <span>Browse image...</span>
	                                <input type="file"   accept="image/*" ng-model ="files" ng-change="uploadImage(files,c,'Category',0)" file>
			                    </span>
			                    <span>{{c.imgSrc}}</span>
                            </div>                            
				    	  </div>
                          <div class="row">                    	                          	
                           	<div class="form-group col-sm-2 pull-right">
                           		<button type="button" class="btn btn-primary btn-md btn-block" ng-click="masterDataVm.Save('Category')" ng-if="!categoryEdit">Save</button>
                           		<button type="button" class="btn btn-primary btn-md btn-block" ng-click="masterDataVm.update('Category')" ng-if="categoryEdit">Update</button>
                           	</div>
                           	
                          </div>
                     	</form>	
					    <legend></legend>

                     	<div class="row">
                     		<div class="col-sm-3">
					              <div class="checkbox"><input type="checkbox"  id="newequipsc" placeholder="" ng-model="masterDataVm.isForNew" ng-change="masterDataVm.searchFn('category')"> <label for="newequipsc"> New Equipment </label>
				    	  		</div>
					            </div>	
					            <div class="col-sm-3">
					              <div class="checkbox"><input type="checkbox" id="usedequipsc" placeholder="" ng-model="masterDataVm.isForUsed" ng-change="masterDataVm.searchFn('category')"> <label for="usedequipsc">Used Equipment </label>
				    	  		</div>
					            </div>					           
				            <div class="col-sm-3 pull-right">
				              <div class="tablesearch text-right form-group">
				                 Search: <input type="text" placeholder="Search..." ng-model="masterDataVm.cSearch" ng-change="masterDataVm.searchFn('category')" ng-model-options="{debounce:500}">
				              </div>
				            </div>
				         </div>				     	
						<div class="table-responsive">
							<table class="table table-bordred table-striped">
							<thead>	
								<tr>
									<th>Image</th>									
									<th>Product Category</th>
									<th>Equipment Type</th>
									<th>Product Group</th>
									<th>Status</th>
									<th>Actions</th>
								</tr>							
							</thead>
							<tbody>							
								<tr ng-repeat="category in filteredCategory |startFrom:(masterDataVm.cCurrentPage -1 )*masterDataVm.itemsPerPage | limitTo:masterDataVm.itemsPerPage">
									<td>
										<span class="master-browse" tooltip-trigger="mouseenter" tooltip-placement="top" uib-tooltip="Change Image">
											<img class="sheduleImg img-circle" ng-src="{{uploadImagePrefix}}{{categoryDir}}/{{category.imgSrc}}" alt="Image">
										<input type="file" accept="image/*" ng-model ="files" ng-change="uploadImage(files,category,'Category',1)" file>
										</span>
									</td>									
									<td>{{category.name}}</td>
									<td>
										<span ng-if="category.isForUsed">For Used</span>
										<span ng-if="category.isForNew && category.isForUsed">&amp;</span>
										<span ng-if="category.isForNew">For New</span>
									</td>
									<td>{{category.group.name}}</td>
									<td>{{getStatus(category.visibleOnUsed)}}</td>
									<td>
										<a class="btn btn-primary btn-md" href="javascript:void(0);" ng-click="masterDataVm.editClick('Category',category)" ><i class="fa fa-pencil"></i> </a>
											<a class="btn btn-danger btn-md" href="javascript:void(0);" ng-click="masterDataVm.deleteClick('Category',category)"><i class="fa fa-trash"></i> </a>
										<button class="btn btn-success" ng-model="category.visibleOnUsed" uib-btn-checkbox ng-click="masterDataVm.makeVisibleHome(category,'Category',false)"><span ng-if="!category.visibleOnUsed" uib-popover="Activate for Used" popover-trigger="mouseenter">
										<i class="fa fa-toggle-off"></i>							
										</span> <span ng-if="category.visibleOnUsed" uib-popover="Deactivate for Used" popover-trigger="mouseenter">
										<i class="fa fa-toggle-on"></i>							
										</span></button>
										<button class="btn btn-success" ng-model="category.visibleOnNew" uib-btn-checkbox ng-click="masterDataVm.makeVisibleHome(category,'Category',true)"><span ng-if="!category.visibleOnNew" uib-popover="Activate for New" popover-trigger="mouseenter">
										<i class="fa fa-toggle-off"></i>							
										</span> <span ng-if="category.visibleOnNew" uib-popover="Deactivate for New" popover-trigger="mouseenter">
										<i class="fa fa-toggle-on"></i>							
										</span></button>
									</td>
								</tr>
								</tbody>						
							</table>
						</div>
							<uib-pagination total-items="masterDataVm.cTotalItems" ng-model="masterDataVm.cCurrentPage" items-per-page="masterDataVm.itemsPerPage" max-size="masterDataVm.maxSize" class="pagination-sm" rotate="false">  </uib-pagination>
					    </uib-tab>
					    <uib-tab heading="Brand" select="masterDataVm.reset()">	
                                <form  name="brandForm" novalidate class="form">
                                    <h4>Add New Brand</h4>
                                    <legend></legend>
	                          <div class="row">
	                         	<div class="form-group col-sm-3" ng-class="{'has-error': form.errorGroup && submitted}">
	                         		<label>Select Group</label>
	                                <select class="form-control" ng-model="b.group" ng-change="masterDataVm.onGroupChange(b.group)" ng-options="group.name for group in allGroup track by group._id" name="groupList" required>
		                            <option value="" disabled>Select Group</option>
					                </select> 
	                            </div> 
	                            <div class="form-group col-sm-3" ng-class="{'has-error': form.errorCategory && submitted}">
	                            	<label>Select Category</label>
	                                <select class="form-control" ng-model="b.category" name="categoryList" ng-options="category.name for category in categoryList track by category._id" required>
                                            <option value="" disabled>Select Category</option>
                                            <option ng-repeat="category in categoryList" ng-selected="b.category._id == category._id" value="{{category._id}}">{{category.name}}</option>
                                        </select> 
	                            </div>	                            
	                            <div class="col-sm-2 form-group text-center">
	                            	<label>Equipment Type</label>
                                    <div class="checkbox"><input type="checkbox" name="brandEquipment" value="" id="Brandusedequip" ng-model="b.isForUsed"> <label for="Brandusedequip"> Used Equipment </label>
                                    </div>

                                </div>
                                <div class="col-sm-2 form-group text-center">
                                	<label class="invisible">Equipment Type</label>
                                    <div class="checkbox"><input type="checkbox" name="brandEquipment" value="" id="Brandnewequip" ng-model="b.isForNew" ng-false-value="false"> <label for="Brandnewequip"> New Equipment </label>
                                    </div>
                                </div>
                                <div class="col-sm-2 form-group text-center" ng-if="b.isForNew">
                                	<label>Brand Promotion Banner</label>
                                    <div class="checkbox"><input type="checkbox" name="brandEquipment" ng-model="b.enableHomeBanner" id="Brandbanner" ng-false-value="false"> <label for="Brandbanner"> Brand Promotion Banner </label>
                                    </div>
                                </div>
                                <div class="form-group col-sm-3" ng-class="{'has-error': form.errorBrand && submitted}">
                                	<label>Brand Name</label>
                                	<input id="brandName" name="brandName" ng-model="b.name" type="text"  class="form-control" placeholder="Enter Brand Name" required>
	                            </div> 
	                            <div class="col-sm-3 form-group">
	                            	<label>Priority for Used</label>
	                          		<input type="number" class="form-control" placeholder="Priority for Used" ng-model="b.priorityForUsed">
	                          	</div>
	                          	<div class="col-sm-3 form-group" ng-if="b.isForNew">
	                          		<label>About Brand</label>
			    	  	        	<input type="text" class="form-control" name="" ng-model="b.brandDesc" value="" placeholder="About Brand">
			    	  	        </div> 
			    	  	        <div class="col-sm-3 form-group" ng-if="b.isForNew">
			    	  	        	<label>Dealership Network</label>
			    	  	        	<input type="text" class="form-control" name="" ng-model="b.dealershipNetworkDesc" value="" placeholder="Dealership Network">
			    	  	        </div>
	                          	<div class="col-sm-3 form-group">
	                          		<label>Priority for New</label>
	                          		<input type="number" class="form-control" placeholder="Priority for New" ng-model="b.priorityForNew">
	                          	</div>
	                            <div class="form-group col-sm-3">
	                            	<label>Upload Brand Logo</label>
	                            	<span class="btn btn-warning fileinput-button">
		                                <span>Browse Brand Logo</span>
		                                <input type="file"   accept="image/*" ng-model ="files" ng-change="uploadImage(files,b,'Brand',0)" file>
				                    </span>
				                    <span>{{b.imgSrc}} <span class="invisible">image name</span></span>
				                    
	                            </div>
                                    
                                   <!--  <div class="form-group col-sm-3">
                                        <select class="form-control" ng-model="b.position" name="bannerPosition">
>                                            <option value="" disabled>Select Placing</option>
                                            <option value="noPosition">None</option>
                                            <option value="left">Left</option>
                                            <option value="topRight">Top Right</option>
                                            <option value="bottomRight">Bottom Right</option>
                                        </select>
                                    </div> -->
                                    <div class="form-group col-sm-3">
                                    	<label>Upload Image</label>
		                            	<span class="btn btn-warning fileinput-button">
			                                <span>Browse image...</span>
			                                <input type="file"   accept="image/*" ng-model ="files" ng-change="uploadImage(files,b,'Brand',0,'imgNewEquipmentSrc')" file>
					                    </span>					                    
					                    <span>{{b.imgNewEquipmentSrc}} <span class="invisible">image name</span></span>
		                            </div>

		                            <div class="col-sm-3 form-group" ng-if="b.enableHomeBanner && b.isForNew">
		                            	<label>Upload Top banner</label>
		                          		<span class="btn btn-warning fileinput-button">
			                                <span>Top banner image</span>
			                                <input type="file" accept="image/*" ng-model ="files" ng-change="uploadImage(files,b,'Brand',0,'homeBannerTop')" file>
					                    </span>
					                    <span>{{b.homeBannerTop}} <span class="invisible">image name</span></span>
					                    
		                          	</div>
		                          	<div class="col-sm-3 form-group" ng-if="b.enableHomeBanner && b.isForNew">
		                          		<label>Upload Left banner</label>
		                          		<span class="btn btn-warning fileinput-button">
			                                <span>Left banner image</span>
			                                <input type="file" accept="image/*" ng-model ="files" ng-change="uploadImage(files,b,'Brand',0,'homeBannerLeft')" file>
					                    </span>
					                    <span>{{b.homeBannerLeft}} <span class="invisible">image name</span></span>
					                    
		                          	</div>				    	  	              	
                                    <div class="form-group col-sm-2 pull-right">
                                    	<label class="invisible">Button</label>
                                        <button type="button" class="btn btn-primary btn-md btn-block" ng-click="masterDataVm.Save('Brand')" ng-if="!brandEdit">Save</button>
                                        <button type="button" class="btn btn-primary btn-md btn-block" ng-click="masterDataVm.update('Brand')" ng-if="brandEdit">Update</button>
                                    </div>
	                           	
	                          </div>
	                     	</form>					      
					    	<legend></legend>
					    	<div class="row">
					    		<div class="col-sm-3">
					              <div class="checkbox"><input type="checkbox"  id="newequipsb" placeholder="" ng-model="masterDataVm.isForNew" ng-change="masterDataVm.searchFn('brand')"> <label for="newequipsb"> New Equipment </label>
				    	  		</div>
					            </div>	
					            <div class="col-sm-3">
					              <div class="checkbox"><input type="checkbox" id="usedequipsb" placeholder="" ng-model="masterDataVm.isForUsed" ng-change="masterDataVm.searchFn('group')"> <label for="usedequipsb">Used Equipment </label>
				    	  		</div>
					            </div>					           
					            <div class="col-sm-3 pull-right">
					              <div class="tablesearch text-right form-group">
					                 Search: <input type="text" placeholder="Search..." ng-model="masterDataVm.bSearch" ng-change="masterDataVm.searchFn('brand')" ng-model-options="{debounce:500}">
					              </div>
					            </div>
					        </div>
			               	<div class="table-responsive">
			               		<table class="table table-bordred table-striped">				
		                            <thead>
	                                    <tr>
	                                    	<th>Image</th>                                    	
	                                    	<th>Brand</th>
		                                    <th>Product Category</th>
		                                    <th>Equipment Type</th>
		                                    <th>Product Group</th>                                    
		                                    <th>Top Banner Uploaded</th>    
		                                    <th>Left Banner Uploaded</th>     
		                                    <th>Status</th>                                    
		                                    <th>Actions</th>
	                                    </tr>		
	                                </thead>
	                         		<tbody>
	                         		  <tr ng-repeat="brand in filteredBrand| startFrom:(masterDataVm.bCurrentPage -1 )*masterDataVm.itemsPerPage|limitTo:masterDataVm.itemsPerPage">
	                         		  	<td>
	                         		  		<span class="master-browse" tooltip-trigger="mouseenter" tooltip-placement="top" uib-tooltip="Change Image">
												<img class="sheduleImg img-circle" ng-src="{{uploadImagePrefix}}{{categoryDir}}/{{brand.imgSrc}}" alt="Image">
											<input type="file" accept="image/*" ng-model ="files" ng-change="uploadImage(files,brand,'Brand',1)" file>
											</span>
	                         		  	</td>                         		  	
										<td>{{brand.name}}</td>
										<td>{{brand.category.name}}</td>
										<td>
										<span ng-if="brand.isForUsed">For Used</span>
											<span ng-if="brand.isForNew && brand.isForUsed">&amp;</span>
											<span ng-if="brand.isForNew">For New</span></td>
										<td>{{brand.group.name}}</td>
										<td><span ng-if="brand.isForNew && brand.enableHomeBanner && brand.homeBannerTop">Yes</span></td>
										<td><span ng-if="brand.isForNew && brand.enableHomeBanner && brand.homeBannerLeft">Yes</span></td>
										<td>{{getStatus(brand.visibleOnUsed)}}</td>
										 <td>
										 	<a class="btn btn-primary btn-sm" href="javascript:void(0);" ng-click="masterDataVm.editClick('Brand',brand)" ><i class="fa fa-pencil"></i> </a>
											<a class="btn btn-danger btn-sm" href="javascript:void(0);" ng-click="masterDataVm.deleteClick('Brand',brand)"><i class="fa fa-trash"></i> </a>
											<button class="btn btn-success" ng-model="brand.visibleOnUsed" uib-btn-checkbox ng-click="masterDataVm.makeVisibleHome(brand,'Brand',false)"><span ng-if="!brand.visibleOnUsed" uib-popover="Activate for Used" popover-trigger="mouseenter">
												<i class="fa fa-toggle-off"></i>								
												</span> <span ng-if="brand.visibleOnUsed" uib-popover="Deactivate for Used" popover-trigger="mouseenter">
												<i class="fa fa-toggle-on"></i>							
												</span>
											</button>
											<button class="btn btn-success" ng-model="brand.visibleOnNew" uib-btn-checkbox ng-click="masterDataVm.makeVisibleHome(brand,'Brand',true)"><span ng-if="!brand.visibleOnNew" uib-popover="Activate for New" popover-trigger="mouseenter">
												<i class="fa fa-toggle-off"></i>								
												</span> <span ng-if="brand.visibleOnNew" uib-popover="Deactivate for New" popover-trigger="mouseenter">
												<i class="fa fa-toggle-on"></i>							
												</span>
											</button>
										</td> 
									  </tr>
	                                </tbody>
	                            </table>
			               	</div>
                			<uib-pagination total-items="masterDataVm.bTotalItems" ng-model="masterDataVm.bCurrentPage" items-per-page="masterDataVm.itemsPerPage" max-size="masterDataVm.maxSize" class="pagination-sm" rotate="false">  </uib-pagination>
					    </uib-tab>
					    <uib-tab heading="Model" select="masterDataVm.reset()">
					    	<form role="form" name="modelForm" novalidate class="form">
					    		
					    		<div class="row">
					    			<div class="col-sm-6">
					    				<h4>Add New Model</h4>
					    			</div>
					    			<div class="col-sm-6">
					    				<button class="btn btn-success pull-right" ng-click="masterDataVm.exportMasterData('model')">
									      <span class="fileinput-button">
						                         <span><i class="fa fa-file-text"></i> Export</span>
						                     </span>
									     </button>
					    			</div>
					    		</div>
					    		<legend></legend>
                              <div class="row">
                              	<div class="form-group col-sm-3" ng-class="{'has-error': form.errorGroup && submitted}">
                              		<label>Select Group</label>
	                                <select class="form-control" ng-model="m.group" ng-change="masterDataVm.onGroupChange(m.group)" name="groupList" ng-options="group.name for group in allGroup track by group._id" required>
		                            	<option value="" disabled>Select Group</option>
					                </select> 
	                            </div>
                              	<div class="form-group col-sm-3" ng-class="{'has-error': form.errorCategory && submitted}">
                              		<label>Select Category</label>
	                                <select class="form-control" ng-model="m.category" ng-change="masterDataVm.onCategoryChange(m.category)" name="categoryList" ng-options="category.name for category in categoryList track by category._id" required>
		                                <option value="" disabled>Select Category</option>
					                </select>
	                            </div>                             	
                                <div class="col-sm-3 form-group text-center">
                                	<label>Equipment Type</label>
					    	  		<div class="checkbox"><input type="checkbox" name="brandEquipment" value="" id="modelusedequip" ng-model="m.isForUsed"> <label for="modelusedequip"> Used Equipment </label>
					    	  		</div>
					    	  		
					    	  	</div>
					    	  	<div class="col-sm-3 form-group text-center">
					    	  		<label class="invisible">Equipment Type</label>
					    	  		<div class="checkbox"><input type="checkbox" name="brandEquipment" value="" id="modelnewequip" ng-model="m.isForNew" ng-false-value="false"> <label for="modelnewequip"> New Equipment </label>
					    	  		</div>
					    	  	</div>
					    	  	<div class="form-group col-sm-3" ng-class="{'has-error': form.errorBrand && submitted}">
					    	  		<label>Select Brand</label>
                                    <select class="form-control" ng-model="m.brand" name="brandList" ng-options="brand.name for brand in brandList track by brand._id" required>
                                        <option value= "" disabled>Select Brand</option>           
                                    </select>
                                </div>
                               	<div class="form-group col-sm-3" ng-class="{'has-error': form.errorModel && submitted}">
                               		<label>Model Name</label>
                                   <input id="modelName" ng-model="m.name" name="modelName" type="text" class="form-control" placeholder="Enter Model Name" required>
                               	</div>
                               	<div class="form-group col-sm-3" ng-if="m.isForNew">
                               		<label>About Model</label>
                                   <input type="text" class="form-control" placeholder="About Model" ng-model="m.modelDesc">
                               	</div>
                               	<div class="form-group col-sm-2 pull-right">
                               		<label class="invisible">Button</label>
                               		<button type="button" class="btn btn-primary btn-md btn-block" ng-click="masterDataVm.Save('Model')" ng-if="!modelEdit">Save</button>
                               		<button type="button" class="btn btn-primary btn-md btn-block" ng-click="masterDataVm.update('Model')" ng-if="modelEdit">Update</button>
                               	</div>
                               	
                              </div>
                         	</form>
					    	<legend></legend>

                         	<div class="row">
                         		<div class="col-sm-3">
					              <div class="checkbox"><input type="checkbox"  id="newequipsm" placeholder="" ng-model="masterDataVm.isForNew" ng-change="masterDataVm.searchFn('model')"> <label for="newequipsm"> New Equipment </label>
				    	  		</div>
					            </div>	
					            <div class="col-sm-3">
					              <div class="checkbox"><input type="checkbox" id="usedequipsm" placeholder="" ng-model="masterDataVm.isForUsed" ng-change="masterDataVm.searchFn('model')"> <label for="usedequipsm">Used Equipment </label>
				    	  		</div>
					            </div>					           
					            <div class="col-sm-3 pull-right">
					              <div class="tablesearch text-right form-group">
					                 Search: <input type="text" placeholder="Search..." ng-model="masterDataVm.mSearch" ng-change="masterDataVm.searchFn('model')" ng-model-options="{debounce:500}">
					              </div>
					            </div>
					        </div>
                            <div class="table-responsive">
                            	<table class="table table-bordred table-striped">
	                                <thead>
	                                	<tr>
	                                		<th>Model</th>
		                                    <th>Brand</th>
		                                    <th>Product Category</th>
		                                    <th>Equipment Type</th>
		                                    <th>Product Group</th>
		                                    <th>Actions</th>
	                                	</tr>
	                                </thead>
	                         		<tbody>
	                                  <tr ng-repeat="model in filteredModel|startFrom:(masterDataVm.mCurrentPage -1 )*masterDataVm.itemsPerPage|limitTo:masterDataVm.itemsPerPage">
	                                  	<td>{{model.name}}</td>
										<td>{{model.brand.name}}</td>
										<td>{{model.category.name}}</td>
										<td>
											<span ng-if="model.isForUsed">For Used</span>
											<span ng-if="model.isForNew && model.isForUsed">&</span>
											<span ng-if="model.isForNew">For New</span></td>
										</td>
										<td>{{model.group.name}}</td>
										<td>
											 <a class="btn btn-primary btn-sm" href="javascript:void(0);" ng-click="masterDataVm.editClick('Model',model)" ><i class="fa fa-pencil"></i> </a>
											<a class="btn btn-danger btn-sm" href="javascript:void(0);" ng-click="masterDataVm.deleteClick('Model',model)"><i class="fa fa-trash"></i> </a>
										</td> 
									  </tr>
	                                </tbody>
	                            </table>
                            </div>
        					<uib-pagination total-items="masterDataVm.mTotalItems" ng-model="masterDataVm.mCurrentPage" items-per-page="masterDataVm.itemsPerPage" max-size="masterDataVm.maxSize" class="pagination-sm" rotate="false">  </uib-pagination>
				</uib-tabset>

            </div>
			</div>			
			
        </div>
    </div>
</div>
    
