<div id="signup-modal">
        <div class="modal-header">
            <button type="button" class="close" ng-click="signupVm.closeDialog()" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Register</h4>
        </div>
          <div class="modal-body">            
            <form name="form" ng-submit="signupVm.verify(form)" novalidate>
              <div class="" ng-show="isRegister">
                <div class="row">
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.fname.$invalid && submitted }">
                    <input type="text" class="form-control" name="fname" ng-model="signupVm.user.fname" value="" placeholder="*First Name" required/>
                  </div>
                  <div class="form-group col-sm-4">
                    <input type="text" class="form-control" name="mname" ng-model="signupVm.user.mname" value="" placeholder="Middle Name"/>
                  </div>
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.lname.$invalid && submitted }">
                    <input type="text" class="form-control" name="lname" ng-model="signupVm.user.lname" value="" placeholder="*Last Name" required/>
                  </div>
                </div>

                <div class="row">
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.userType.$invalid && submitted }">
                    <select class="form-control" name="userType" ng-model="signupVm.user.userType" required>
                      <option value="" disabled>*Customer Type</option>
                      <option value="individual">Individual</option>
                      <option value="private">Private Entrepreneur</option>
                      <option value="legalentity">Legal Entity</option>
                    </select>
                    <i class="caret"></i>
                  </div>
                  <div  class="form-group col-sm-4" ng-class="{'has-error': form.company.$invalid && submitted }">
                    <input type="text" class="form-control" name="company" ng-model="signupVm.user.company" placeholder="*Legal Entity Name" ng-required= "signupVm.user.userType == 'legalentity'" ng-disabled="signupVm.user.userType != 'legalentity'">
                  </div>
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.email.$invalid && submitted }">
                    <input type="email" class="form-control" name="email" ng-model="signupVm.user.email" value="" placeholder="Email Address" ng-required="isDisabled == true" mongoose-error/>
                    <p class="help-block" ng-show="form.email.$error.email&& submitted">
                    Doesn't look like a valid email.
                    </p>
                    <p class="help-block" ng-show="form.email.$error.required && submitted">
                    What's your email address?
                    </p>
                    <p class="help-block" ng-show="form.email.$error.mongoose">
                      {{ errors.email }}
                    </p>
                  </div>
                </div>

                <div class="row">                  
                  <div class="form-group col-sm-6" ng-class="{'has-error': form.password.$invalid && submitted }">
                  <input type="password" name="password" class="form-control" ng-model="signupVm.user.password"
                  placeholder="*Password" 
                     ng-minlength="4"
                     required
                     mongoose-error/>
                    <p class="help-block"
                       ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                      Password must be at least 4 characters.
                    </p>
                    <p class="help-block" ng-show=" form.password.$error.mongoose">
                      {{ errors.password }}
                    </p>
                  </div>
                  <div class="form-group col-sm-6" ng-class="{'has-error': form.passwordCompare.$invalid && submitted }">
                  <input type="password" name="passwordCompare" class="form-control" ng-model="signupVm.user.passwordConfirm" valid-password-c="signupVm.user.password"
                  placeholder="*Confirm Password" 
                     ng-minlength="4"
                     required
                     mongoose-error/>
                    <p class="help-block" ng-show="form.passwordCompare.$error.noMatch && submitted">
                      Passwords Do not match
                    </p>
                  </div>
                </div>
                
                <div class="row">
                  <div class="form-group col-sm-12" ng-class="{'has-error': form.address.$invalid && submitted }">
                    <input type="text" class="form-control" name="address" value="" placeholder="Address" ng-model="signupVm.user.address" ng-maxlength="150" >
                    <p class="help-block"
                       ng-show="form.address.$error.maxlength && submitted">
                      Address must not exceed 150 characters.
                    </p>
                  </div>                  
                </div>

                <div class="row">
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.country.$invalid && submitted }">
                    <select class="form-control" name="country" ng-model="signupVm.user.country" ng-change="getCountryWiseState(signupVm.user.country)" required>
                      <option value="" disabled>*Select Country</option>
                      <option  ng-repeat ="country in allCountries | orderBy:'name'" value="{{country.name}}">{{country.name}}</option>
                      <option value="Other">Other</option>
                    </select>
                    <i class="caret"></i>
                  </div>                   
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.state.$invalid && submitted }">
                    <select class="form-control" name="state" ng-model="signupVm.user.state" ng-change="getStateWiseLocation(signupVm.user.state)" required>
                      <option value="" disabled="">*Select State</option>
                      <option ng-repeat="state in stateList| orderBy:'name'" value="{{state.name}}">{{state.name}}</option>
                      <option value="Other">Other</option> 
                    </select>
                    <i class="caret"></i>
                  </div> 
                  <div class="form-group col-sm-4" ng-class="{'has-error': form.location.$invalid && submitted }">
                    <select class="form-control" name="location" ng-model="signupVm.user.city" required>
                      <option value="" disabled>*Select Location</option>
                        <option ng-repeat="location in locationList| orderBy:'name'" value="{{location.name}}">{{location.name}}</option>
                    <option value="Other">Other</option>
                    </select>
                    <i class="caret"></i>
                  </div>                 
                </div>
                <div class="row" ng-if="signupVm.user.country=='Other' ||signupVm.user.state=='Other'|| signupVm.user.city=='Other' ">
                  <div class="form-group col-sm-4"  ng-class="{'has-error': form.otherCountry.$invalid && submitted}">
                    <input class="form-control" ng-show="signupVm.user.country=='Other'" type="text" name="otherCountry" ng-model="signupVm.user.otherCountry" placeholder="*Other Country" ng-required= "signupVm.user.country == 'Other'" ng-disabled="signupVm.user.country != 'Other'">
                  </div>
                  <div class="form-group col-sm-4"  ng-class="{'has-error': form.otherState.$invalid && submitted}">
                    <input class="form-control" ng-show="signupVm.user.country =='Other' || signupVm.user.state =='Other'" type="text" name="otherState" ng-model="signupVm.user.otherState" placeholder="*Other State" ng-required= "signupVm.user.state == 'Other'" ng-disabled="signupVm.user.state != 'Other'">
                  </div>
                  <div class="form-group col-sm-4"  ng-class="{'has-error': form.otherLocation.$invalid && submitted}">
                    <input class="form-control" ng-show="signupVm.user.city=='Other'|| signupVm.user.country =='Other' || signupVm.user.state =='Other'" type="text" name="otherLocation" ng-model="signupVm.user.otherCity" placeholder="*Other Location" ng-required= "signupVm.user.city == 'Other'" ng-disabled="signupVm.user.city != 'Other'">
                  </div>                
                </div> 
                <div class="row">
                  <div class="form-group col-sm-6">
                    <input type="text" class="form-control" name="phone" ng-model="signupVm.user.phone" value="" placeholder="Phone No.">
                  </div>
                  <div class="form-group col-sm-6" ng-class="{'has-error': form.mobile.$invalid && submitted }">                   
                    <div class="input-group">
                      <span class="input-group-addon"  ng-show="signupVm.user.country !='Other'">+{{code}}</span>
                      <input type="text" class="form-control" name="mobile" ng-model="signupVm.user.mobile" placeholder="* Mobile No." uib-tooltip="{{code}}-XXXX-XXXX" tooltip-trigger="focus" tooltip-placement="top" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-6" ng-class="{'has-error':form.panNumber.$invalid && submitted}">
                    <input type="text" class="form-control" name="panNumber"  placeholder="PAN Number" ng-model="signupVm.user.panNumber" uib-tooltip="XXXXX9999X" tooltip-trigger="focus" pattern="^[A-Z]{5}[0-9]{4}[A-Z]{1}$" tooltip-placement="top">
                  </div>   
                  <div class="form-group col-sm-6" ng-class="{'has-error':form.aadhaarNumber.$invalid && submitted}">
                    <input type="text" class="form-control" name="aadhaarNumber"  placeholder="AADHAAR Number" ng-model="signupVm.user.aadhaarNumber" uib-tooltip="9999 9999 9999" tooltip-trigger="focus" pattern="^\d{4}\s\d{4}\s\d{4}$"
                    tooltip-placement="top">
                  </div>                  
                </div> 

                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-12 text-left">
                      <div class="checkbox checkbox-info checkbox-circle">
                        <input id="checkbox3" type="checkbox" name="agree" ng-model="signupVm.user.agree" value="">
                        <label for="checkbox3">
                            I Agree
                            <span>By clicking submit, you agree to the <a href="/privacy" target="_blank" aria-hidden="true">Terms &amp; Conditions</a>.</span>
                        </label>
                      </div>
                    </div>                    
                  </div>
                </div>
                  
                <div class="form-group">
                  <div class="row">
                   <div class="col-sm-6 text-left">
                    <div class="radio radio-info">
                        <input type="radio" id="inlineRadio1" name="activationOTP" ng-model="signupVm.user.activationOTP" value="mobile" ng-disabled="isDisabled">
                        <label for="inlineRadio1"> Verification OTP on SMS </label>
                    </div>
                      <!-- <input type="radio" name="activationOTP" ng-model="signupVm.user.activationOTP" value="mobile"> <small>Verification OTP on SMS</small> -->
                    </div>
                    <div class="col-sm-6 text-left">
                      <div class="radio radio-info">
                        <input type="radio" id="inlineRadio2" name="activationOTP" ng-model="signupVm.user.activationOTP" value="email" ng-disabled="isDisabled">
                        <label for="inlineRadio2"> Verification OTP on Email </label>
                      </div>
                      <!-- <input type="radio" name="activationOTP" ng-model="signupVm.user.activationOTP"  value="email"> <small>Verification OTP on Email</small> -->
                    </div>
                  </div>
                </div>

                <div class="form-group text-center">
                      <button type="button" class="btn btn-lg btn-warning" ng-click="signupVm.register()">Submit</button>
                </div>
                 <div class="form-group text-center">
                    If you are a member ?
                    <a href="javascript:;" ng-click="signupVm.openLogin()">Login</a>
                </div>
              </div>
              <!-- </div> -->

              <div class="" ng-show="!isRegister">
                <div class="form-group text-center">
                  <label>Verification Code</label>
                  <input type="text" class="form-control" name="otp" ng-model="signupVm.user.otp">
                </div>
                <div class="form-group text-right">
                  <button type="button" class="btn btn-primary" ng-click="signupVm.sendOTP(user)">Resend Code</button>
                  <input type="submit" class="btn btn-primary" name="" value="Verify">
                </div>
              </div>
            </form>
          </div>
      </div>