<div id="wrapper">
  <div id="page-wrapper">
    <div class="container-fluid">
      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h3>
          {{type | titleCase}} Bulk Upload
            <!-- <div class="btn btn-success pull-right" ng-if="isAdmin()">
                <span class="fileinput-button" >
                   <i class="fa fa-file-excel-o"></i> Update Template
                   <input type="file" name="template_update" onchange="angular.element(this).scope().updateTemplate(this.files,this)">
                   </span>
               </div> -->
          </h3>
          <hr>
        </div>
      </div>
      <!-- /.row -->
<!-- /.first block row -->
  <div class="row">
      
    <div class="col-md-12">
      
                <div class="row">
                       <div class="form-group col-sm-offset-1 col-sm-10" >
                          <ul class="list-instrct">
                            <li>Download the <a href="/download/templates/{{BulkUploadCtrl.uploadTemplate}}" target="_blank">template</a> and fill all fields. (*) mark fields are mandatory.</li>
                            <li>System will accept only 100 records in a single file.</li>
                          </ul>
                          
                            <div class="input-group col-md-12">
                                <input type="text" class="form-control input-md" disabled placeholder="Upload Excel">
                              <div class="input-group-addon">
                                <span class="btn btn-warning fileinput-button bulk-browse">
                                  <span>Browse</span>
                                  <input type="file" name="doc" data-filetype="doc" file-upload="" class="ng-scope">
                              </span>
                              </div>
                            </div> 

                            </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-sm-offset-1 col-sm-10">
                        <hr>
                        <h3 class="text-right">
                          <div class="btn btn-success" ng-if="BulkUploadCtrl.products.length > 0">
                              <span class="fileinput-button" >
                                 <i class="fa fa-file-excel-o"></i> Upload Zip file
                                 <input type="file" name="template_update" onchange="angular.element(this).scope().uploadZip(this.files,this)">
                                 </span>
                             </div>
                        </h3>                        
                      </div>
                    </div>
                  <div class="row">
                       <div class="form-group col-sm-offset-1 col-sm-10" >
                          <div class="row animate-show" ng-show="isSuccess" >
                            <div class="col-sm-12">                
                              <div class="alert alert-success alert-dismissible fade in" role="alert">
                                <button type="button" class="close" ng-click="closeMeassage()" aria-label="Close"><span aria-hidden="true">×</span></button>
                                 {{successMessage}}
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
                          
                  <div class="form-group"></div>
                  <div class="row">
                      <div class=" col-md-10 col-md-offset-1">
                        <table class="table table-bordered">
                          <thead>
                            <tr class="success">
                              <th>Auction ID</th>
                              <th>Asset ID</th>
                              <th width="30%">city</th>
                              <th>Category</th>
                              <th>Brand</th>
                              <th>Model</th>
                              <th width="10%">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="prd in BulkUploadCtrl.products">
                              <td>{{prd.auction.auctionId}}</td>
                              <td>{{prd.product.assetId}}</td>
                              <td>{{prd.product.city}}</td>
                              <td>{{prd.product.category}}</td>
                              <td>{{prd.product.brand}}</td>
                              <td>{{prd.product.model}}</td>
                              <td> <!-- <a href="javascript:void(0);"  ng-click="bulkProduct.goToImageUpload(prd._id)" class="btn btn-primary btn-xs" uib-popover="Add images" popover-trigger="mouseenter">
                                  </i>Add Images
                                </a> -->
                                  <a href="javascript:void(0);"  ng-click="BulkUploadCtrl.deleteProduct(prd._id)" class="btn btn-warning btn-xs">
                                  </i>Delete
                                </a> 
                                </td>
                            </tr>
                          </tbody>
                      </table>  
                  </div>      
                </div>
        </div>
       
        </div>
         <!-- /.closed first -->     
        </div>
    </div>
</div>
<script type="text/ng-template" id="prvImg.html">
<div>
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true"><i class="fa fa-times"></i></button>
  </div>
  <div class="modal-body">
    <img ng-src="{{src}}" class="img-responsive center-block" alt="">
  </div>
</div>
</script>
