<div class="container">
    <div class="col-sm-6 text-justify">
      <h3>Financing Made Easy</h3>
      <legend></legend>

        <p>
          iQuippo, through its financing partners, helps you meet all your equipment financing needs.
        </p>
        <p>
          With partners present throughout India, iQuippo helps you get the best offers for both new and used equipment.
        </p>   
        <p>
          Having served a wide spectrum of clients – from first time buyers to fleet owners and corporates – we understand the needs for each buyer and help tailor solutions best suited for your varied needs.
        </p>
      

      <!-- <div class="serve text-center">
          <a class="btn btn-block btn-md btn-warning quote-btn" ng-click="openDialog('Financingquote')">Request a Quote</a>
      </div> -->
    </div>
    <div class="col-sm-6">
      <div class="form-group"></div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Financing Quote</h3>
        </div>
        <div class="panel-body">
          
      <form class="form" ng-submit="addShippingQuote($event)" novalidate name="form">
        <div class="form-group">                    
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group" ng-class="{'has-error': form.fname.$invalid && form.submitted }">                          
                <input type="text" name="fname" class="form-control" placeholder="* First Name" ng-model="shippingQuote.fname" required>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">                                      
                <input type="text" name="mname" class="form-control" placeholder="Middle Name" ng-model="shippingQuote.mname">
              </div>
            </div>
          </div>  
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group" ng-class="{'has-error': form.lname.$invalid && form.submitted }">                          
                <input type="text" name="lname" class="form-control" placeholder="* Last Name" ng-model="shippingQuote.lname" required>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group" ng-class="{'has-error': form.country.$invalid && form.submitted }"> 
                <select class="form-control" ng-model="shippingQuote.country" name="country" required>
                  <option value="">*Select Country</option>
                  <option ng-repeat="country in allCountries" value="{{country.name}}">{{country.name}}</option>
                </select>
              </div>
            </div>
          </div>  

          <div class="row">
            <div class="col-xs-6">
                    <select class="form-control" name="location" ng-model="shippingQuote.city">
                      <option value="">Select Location</option>
                        <option ng-repeat="location in locationList" value="{{location.name}}">{{location.name}}</option>
                    </select>
                    <i class="caret"></i>
            </div>
            <div class="col-xs-6">
              <div class="form-group">                          
                <input type="text" name="" class="form-control" placeholder="Company Name" ng-model="shippingQuote.companyname">
              </div>
            </div>
            
          </div>  

          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">                          
                <input type="text" name="" class="form-control" placeholder="Designation" ng-model="shippingQuote.designation">
              </div>
            </div>

            <div class="col-xs-6">
              <div class="form-group">                          
                <input type="text" name="" class="form-control" placeholder="Phone No." ng-model="shippingQuote.phone">
              </div>
            </div>
            
          </div>
          
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group" ng-class="{'has-error': form.mobile.$invalid && form.submitted }"> 
               <input type="text" name="mobile" class="form-control" placeholder="* Mobile No." ng-model="shippingQuote.mobile" uib-tooltip="98-XXXX-XXXX" pattern="^[7-9][0-9]{9}$" tooltip-trigger="focus" pattern="^[7-9][0-9]{9}$" tooltip-placement="top" required>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group" ng-class="{'has-error': form.email.$invalid && form.submitted }">                              
              <input type="email" name="email" class="form-control" placeholder="Email Address" ng-model="shippingQuote.email">
              <p class="help-block" ng-show="(form.email.$error.email || form.email.$error.pattern) && form.submitted">
              Please enter a valid email.
              </p>
              </div>
            </div>
          </div>  

          <div class="row form-group">
            <div class="col-xs-6">
              <select class="form-control" name="location" ng-model="shippingQuote.city">
                <option value="">Select Category </option>
                  <option ng-repeat="location in locationList" value="{{location.name}}">{{location.name}}</option>
              </select>
              <i class="caret"></i>
            </div>
            <div class="col-xs-6">
              <select class="form-control" name="location" ng-model="shippingQuote.city">
                <option value="">Select Brand </option>
                  <option ng-repeat="location in locationList" value="{{location.name}}">{{location.name}}</option>
              </select>
              <i class="caret"></i>
            </div>            
          </div>  
          <div class="row">
            <div class="col-xs-6">
              <select class="form-control" name="location" ng-model="shippingQuote.city">
                <option value="">Select Model </option>
                  <option ng-repeat="location in locationList" value="{{location.name}}">{{location.name}}</option>
              </select>
              <i class="caret"></i>
            </div>
            <div class="col-xs-6">
              <div class="form-group">                          
                <input type="text" name="" class="form-control" placeholder="Asset Description " ng-model="shippingQuote.companyname">
              </div>
            </div>            
          </div>  
          <div class="row form-group">
            <div class="col-xs-6">
              <select class="form-control" name="location" ng-model="shippingQuote.city">
                <option value="">Select Asset Location </option>
                  <option ng-repeat="location in locationList" value="{{location.name}}">{{location.name}}</option>
              </select>
              <i class="caret"></i>
            </div>
            <div class="col-xs-6">
              <div class="">                          
                <input type="number" name="" class="form-control" placeholder="Manufacturing Year" ng-model="shippingQuote.companyname">
              </div>
            </div>            
          </div>  

          <span>Method of contact </span>
            <div class="row">
              <div class="col-xs-6">
                <div class="radio radio-info">
                    <input type="radio" id="inlineRadio1" name="contact" ng-model="buycontact.contact" value="email" checked="">
                    <label for="inlineRadio1"> E-mail </label>
                </div>               
              </div>
              <div class="col-xs-6">
               <div class="radio radio-info">
                    <input type="radio" id="inlineRadio2" name="contact" ng-model="buycontact.contact" value="mobile">
                    <label for="inlineRadio2"> Phone </label>
                </div>               
              </div>
            </div>
            
           <div class="form-group">                      
            <textarea class="form-control" placeholder="Comments if any" ng-model="shippingQuote.comment"></textarea>
          </div> 
        </div>

        <div class="modal-footer">
          <button type="reset" ng-click="resetClick()" class="btn btn-default">Reset</button>
          <button type="submit" class="btn btn-warning">Submit</button>
        </div>
      </form>
        </div>
      </div>
    </div>
</div>