<div class="container">
    <div class="col-sm-6 text-justify">
      <h3>Insurance</h3>
      <legend></legend>

        <p>
         The infrastructure sector is synonymous with harsh and extreme working conditions. To make sure that these working conditions don’t take a toll on your assets, iQuippo has tied up with insurance providers and brokers and helps you get the best deal to secure your assets.
        </p>
        <p>
         Fill in your asset details and get customized quotes from our team of experts.
        </p>   
       

      <div class="text-center">
          <img src="assets/images/insurance.jpg" class="shipps">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group"></div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Insurance Quote</h3>
        </div>
        <div class="panel-body">
          
      <form class="form" ng-submit="addInsuranceQuote($event)" novalidate name="form">
        <div class="form-group">                    
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group" ng-class="{'has-error': form.fname.$invalid && form.submitted }">                          
                <input type="text" name="fname" class="form-control" placeholder="* First Name" ng-model="insuranceQuote.fname" required>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">                                      
                <input type="text" name="mname" class="form-control" placeholder="Middle Name" ng-model="insuranceQuote.mname">
              </div>
            </div>
          </div>  
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group" ng-class="{'has-error': form.lname.$invalid && form.submitted }">                          
                <input type="text" name="lname" class="form-control" placeholder="* Last Name" ng-model="insuranceQuote.lname" required>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group" ng-class="{'has-error': form.country.$invalid && form.submitted }"> 
                <select class="form-control" ng-model="insuranceQuote.country" name="country" required>
                  <option value="">*Select Country</option>
                  <option ng-repeat="country in allCountries" value="{{country.name}}">{{country.name}}</option>
                </select>
              </div>
            </div>
          </div>  

          <div class="row">
            <div class="col-xs-6">
                    <select class="form-control" name="location" ng-model="insuranceQuote.city">
                      <option value="">Select Location</option>
                        <option ng-repeat="location in locationList" value="{{location.name}}">{{location.name}}</option>
                    </select>
                    <i class="caret"></i>
            </div>
            <div class="col-xs-6">
              <div class="form-group">                          
                <input type="text" name="" class="form-control" placeholder="Company Name" ng-model="insuranceQuote.companyname">
              </div>
            </div>
            
          </div>  

          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">                          
                <input type="text" name="" class="form-control" placeholder="Designation" ng-model="insuranceQuote.designation">
              </div>
            </div>

            <div class="col-xs-6">
              <div class="form-group">                          
                <input type="text" name="" class="form-control" placeholder="Phone No." ng-model="insuranceQuote.phone">
              </div>
            </div>
            
          </div>
          
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group" ng-class="{'has-error': form.mobile.$invalid && form.submitted }"> 
               <input type="text" name="mobile" class="form-control" placeholder="* Mobile No." ng-model="insuranceQuote.mobile" uib-tooltip="98-XXXX-XXXX" pattern="^[7-9][0-9]{9}$" tooltip-trigger="focus" pattern="^[7-9][0-9]{9}$" tooltip-placement="top" required>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group" ng-class="{'has-error': form.email.$invalid && form.submitted }">                              
              <input type="email" name="email" class="form-control" placeholder="Email Address" ng-model="insuranceQuote.email">
              <p class="help-block" ng-show="(form.email.$error.email || form.email.$error.pattern) && form.submitted">
              Please enter a valid email.
              </p>
              </div>
            </div>
          </div>    

          <hr>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label>Product Detail:</label>
              </div>
            </div>
            
          </div>
          <div class="row form-group">
            <div class="col-xs-6">
              <select class="form-control" name="category" ng-model="insuranceQuote.product.category" ng-change="onCategoryChange(insuranceQuote.product.category)">
                <option value="">Select Category </option>
                  <option ng-repeat="ct in allCategory" value="{{ct.name}}">{{ct.name}}</option>
              </select>
              <i class="caret"></i>
            </div>
            <div class="col-xs-6">
              <select class="form-control" name="brand" ng-model="insuranceQuote.product.brand" ng-change="onBrandChange(insuranceQuote.product.brand)">
                <option value="">Select Brand </option>
                  <option ng-repeat="br in brandList" value="{{br.name}}">{{br.name}}</option>
              </select>
              <i class="caret"></i>
            </div>            
          </div>  
          <div class="row">
            <div class="col-xs-6">
              <select class="form-control" name="model" ng-model="insuranceQuote.product.model">
                <option value="">Select Model </option>
                  <option ng-repeat="md in modelList" value="{{md.name}}">{{md.name}}</option>
              </select>
              <i class="caret"></i>
            </div>
            <div class="col-xs-6">
              <div class="form-group" ng-class="{'has-error': form.prdDesc.$invalid && form.submitted }">                          
                <input type="text" name="prdDesc" class="form-control" placeholder="* Asset Description " ng-model="insuranceQuote.product.description" required>
              </div>
            </div>            
          </div>  
          <div class="row form-group">
            <div class="col-xs-6" ng-class="{'has-error': form.prdlocation.$invalid && form.submitted }">
              <select class="form-control" name="prdlocation" ng-model="insuranceQuote.product.city" required>
                <option value="">* Select Asset Location </option>
                  <option ng-repeat="location in locationList" value="{{location.name}}">{{location.name}}</option>
              </select>
              <i class="caret"></i>
            </div>
            <div class="col-xs-6">
              <div class="" ng-class="{'has-error': form.prdMfgYear.$invalid && form.submitted }">                          
                <input type="number" name="prdMfgYear" class="form-control" placeholder="Manufacturing Year" ng-model="insuranceQuote.product.mfgYear" ng-minlength="4" ng-maxlength="4" min="1900" ng-max="currentYear" required>
              </div>
            </div>            
          </div>  
          <div class="row form-group">            
            <div class="col-xs-6">
              <div class="" ng-class="{'has-error': form.invoiceVal.$invalid && form.submitted }"> 
               <input type="number" name="invoiceVal" class="form-control" placeholder="* Invoice Value" ng-model="insuranceQuote.invoiceVal" required>
              </div>
            </div>            
          </div>  

          <span>Method of contact </span>
            <div class="row">
              <div class="col-xs-6">
                <div class="radio radio-info">
                    <input type="radio" id="inlineRadio1" name="contact" ng-model="insuranceQuote.contactMethod" value="email">
                    <label for="inlineRadio1"> E-mail </label>
                </div>               
              </div>
              <div class="col-xs-6">
               <div class="radio radio-info">
                    <input type="radio" id="inlineRadio2" name="contact" ng-model="insuranceQuote.contactMethod" value="mobile">
                    <label for="inlineRadio2"> Phone </label>
                </div>               
              </div>
            </div>
           <div class="form-group">                      
            <textarea class="form-control" placeholder="Comments if any" ng-model="insuranceQuote.comment"></textarea>
          </div> 
        </div>

        <div class="modal-footer">
          <button type="button" ng-click="resetClick()" class="btn btn-default">Reset</button>
          <button type="submit" class="btn btn-warning">Submit</button>
        </div>
      </form>
        </div>
      </div>
    </div>
</div>