<div class="container">
    <div class="col-sm-6 text-justify">
      <h3>Manpower</h3>
      <legend></legend>

      <h5>Trusted Services, One Portal</h5>

      <ul>
        <li>
          Operators are essential to run equipment both effectively and efficiently. This portal would help you find the best and trained operators for your assets. 
        </li>  
        <li>
          Furthermore, the portal offers this as a service in and with its Wet Lease products. This section of the websites - provides the following services:
        </li> 
      </ul>

      <p>
        <strong>Operators</strong>: Enroll themselves -> Get listed -> Viewed 
        Serves as a specialised job portal

      </p>
      <p>
        <strong>Operator Training Institutes and Manufacturers</strong>: Collaboration with us on iQuippo.
      </p>

      <p>
        This hand-on-service from getting operators to get the machines running to search a job and also to get trained in it is unique to the iQuippo platform.
      </p>

      <!-- <div class="serve text-center">
          <a class="btn btn-block btn-md btn-warning quote-btn" ng-click="openDialog('shippingquote')">Request a Quote</a>
      </div> -->
    </div>
    <div class="col-sm-6">
      <div class="form-group"></div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Man Power Quote</h3>
        </div>
        <div class="panel-body">
     
      <form class="form" ng-submit="addManpowerQuote($event)" novalidate name="form">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group" ng-class="{'has-error': form.fname.$invalid && form.submitted }">                          
                <input type="text" name="fname" class="form-control" placeholder="* First Name" ng-model="manpowerQuote.fname" required>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">                                      
                <input type="text" name="mname" class="form-control" placeholder="Middle Name" ng-model="manpowerQuote.mname">
              </div>
            </div>
          </div>  
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group" ng-class="{'has-error': form.lname.$invalid && form.submitted }">                          
                <input type="text" name="lname" class="form-control" placeholder="* Last Name" ng-model="manpowerQuote.lname" required>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group" ng-class="{'has-error': form.country.$invalid && form.submitted }"> 
                <select class="form-control" ng-model="manpowerQuote.country" name="country" required>
                  <option value="">*Select Country</option>
                  <option ng-repeat="country in allCountries" value="{{country.name}}">{{country.name}}</option>
                </select>
                <i class="caret"></i>
              </div>
            </div>
          </div>  
          <div class="row">
            <div class="col-xs-6">
                    <select class="form-control" name="location" ng-model="manpowerQuote.city">
                      <option value="" disabled>Select Location</option>
                        <option ng-repeat="location in locationList" value="{{location.name}}">{{location.name}}</option>
                    </select>
                    <i class="caret"></i>
            </div>
            <div class="col-xs-6">
              <div class="form-group">                          
                <input type="text" name="" class="form-control" placeholder="Company Name" ng-model="manpowerQuote.companyname">
              </div>
            </div>
            
          </div>  

          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">                          
                <input type="text" name="" class="form-control" placeholder="Designation" ng-model="manpowerQuote.designation">
              </div>
            </div>

            <div class="col-xs-6">
              <div class="form-group">                          
                <input type="text" name="" class="form-control" placeholder="Phone No." ng-model="manpowerQuote.phone">
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group" ng-class="{'has-error': form.mobile.$invalid && form.submitted }"> 
               <input type="text" name="mobile" class="form-control" placeholder="* Mobile No." ng-model="manpowerQuote.mobile" uib-tooltip="+91-98-XXXX-XXXX" tooltip-trigger="focus" tooltip-placement="top" required>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group" ng-class="{'has-error': form.email.$invalid && form.submitted }">                              
              <input type="email" name="email" class="form-control" placeholder="* Email Address" ng-model="manpowerQuote.email" required>
              <p class="help-block" ng-show="(form.email.$error.email || form.email.$error.pattern) && form.submitted">
              Please enter a valid email.
              </p>
              </div>
            </div>
          </div>                     
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">                          
                <select class="form-control" name="usedBy" ng-model="manpowerQuote.usedBy">
                  <option value="Operators">Operators</option>
                  <option value="MaintenanceStaff">Maintenance Staff</option>
                  <option value="Other">Other</option>
                </select>
                <i class="caret"></i>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group" ng-class="{'has-error': form.usedByOther.$invalid && form.submitted }">                                      
                <input type="text" name="usedByOther" ng-model="manpowerQuote.usedByOther" class="form-control" placeholder="Others" ng-required= "manpowerQuote.usedBy == 'Other'" ng-disabled="manpowerQuote.usedBy != 'Other'">
              </div>
            </div>
          </div>  
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group" ng-class="{'has-error': form.equipments.$invalid && form.submitted }">                          
                <input type="text" name="equipments" ng-model="manpowerQuote.equipments" class="form-control" placeholder="*Equipments" required>
              </div>
            </div>
           
          </div>  
         
          <div class="row text-left">
                <div class="col-xs-12 col-sm-6 form-group">Schedule a Call :</div>
                <div class="col-xs-6 col-sm-3 form-group">
                  <input type="radio" checked="checked" name="schedule" ng-model="manpowerQuote.schedule" value="yes"> Yes                  
                </div>
                <div class="col-xs-6 col-sm-3 form-group">
                  <input type="radio" name="schedule" ng-model="manpowerQuote.schedule" value="no"> No
                </div>
          </div>
          
           <div class="form-group">                      
            <textarea class="form-control" placeholder="Comments if any" name="comment" ng-model="manpowerQuote.comment"></textarea>
          </div> 
        </div>

        <div class="modal-footer">
          <button type="reset" ng-click="resetClick()" class="btn btn-default">Reset</button>
          <button type="submit" class="btn btn-warning">Submit</button>
        </div>
      </form>
</div>
      </div>
    </div>
</div>