<div class="container">
		<div class="col-sm-12 text-justify">
			<h3>Manpower</h3>
			<legend></legend>

			<p>
				Operators are essential to run equipment both effectively and efficiently. This portal would help you find the best and trained operators for your assets. Furthermore, the portal offers this as a service in and with its Wet Lease products. 
			</p>

      <p>
        This section of the websites - provides the following services:
      </p>

      <ul>
        <li>Let the Operators enrol themselves, get listed and viewed, serving as a specialized job portal.</li>

        <li>We collaborate with Operator Training Institutes and manufacturers to get them work with us on iQuippo.</li>
      </ul>

      <p>
        This hand-on-service from getting operators to get the machines running to search a job and also to get trained in it is unique to the iQuippo platform.
      </p>

			<!-- <div class="serve text-center">
					<a class="btn btn-block btn-md btn-warning quote-btn" ng-click="openDialog('shippingquote')">Request a Quote</a>
			</div> -->
		</div>
		<!-- <div class="col-sm-6">
			<h3>Man Power Quote</h3>
      		<legend></legend>
     
			<form class="form" ng-submit="addShippingQuote($event)" novalidate name="form">
        <div class="form-group">                    
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group" ng-class="{'has-error': form.fname.$invalid && form.submitted }">                          
                <select class="form-control">
                  <option value="">Operators</option>
                  <option value="">Maintenance Staff</option>
                  <option value="">Others</option>
                </select>
                <i class="caret"></i>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">                                      
                <input type="text" name="mname" class="form-control" placeholder="Others" disabled="">
              </div>
            </div>
          </div>  
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group" ng-class="{'has-error': form.lname.$invalid && form.submitted }">                          
                <input type="text" name="lname" class="form-control" placeholder="*Equipments" required>
              </div>
            </div>
           
          </div>  
         
          <div class="row text-left">
                <div class="col-xs-12 col-sm-6 form-group">Schedule a Call :</div>
                <div class="col-xs-6 col-sm-3 form-group">
                  <input type="radio" checked="checked" name="allowed" ng-model="shippingQuote.allowed" value="yes"> Yes                  
                </div>
                <div class="col-xs-6 col-sm-3 form-group">
                  <input type="radio" name="allowed" ng-model="shippingQuote.allowed" value="no"> No
                </div>
          </div>
          
           <div class="form-group">                      
            <textarea class="form-control" placeholder="Comments if any" ng-model="shippingQuote.comment"></textarea>
          </div> 
        </div>

        <div class="modal-footer">
          <button type="reset" ng-click="resetClick()" class="btn btn-default">Reset</button>
          <button type="submit" class="btn btn-warning">Submit</button>
        </div>
      </form>
</div> -->