<section class="banner">
	<img src="/assets/images/valuation-header.jpg" class="img-responsive" alt="">
</section>
<section class="category-block">
	<div class="container">
		<div class="heading-titles text-center">
	      <h4>[  EQUIPMENT VALUATION MADE EASY  ]</h4>
	      <p ng-if="!isEnterpriseUser() &&!isEnterprise()">
	      	In today’s competitive and unpredictable business world, it is essential for companies to have accurate, timely and cost-effective valuations of their machinery and equipment. At iQuippo, our experienced team of equipment valuation experts is dedicated to providing our clients with an objective &amp; supportable valuation conclusions, which are provided in timely, well-organized appraisal reports.
	      </p>
	    </div>
	    <div class="row form-group valuation-process" ng-if="!isEnterpriseUser() &&!isEnterprise()">
	    	<div class="col-sm-3 form-group">
	    		<div class="process-icons">
	    			<img src="/assets/images/icon-form.png" alt="">
	    		</div>
	    		<h5><strong>FILL FORM</strong></h5>
	    		<p>Fill in the form and select the asset details, location and your concerns.</p>
	    	</div>
	    	<div class="col-sm-3 form-group">
	    		<div class="process-icons">
	    			<img src="/assets/images/icon-make-payment.png" alt="">
	    		</div>
	    		<h5><strong>MAKE PAYMENT</strong></h5>
	    		<p>Confirm your payment after filling the form.</p>
	    	</div>
	    	<div class="col-sm-3 form-group">
	    		<div class="process-icons">
	    			<img src="/assets/images/icon-inspect.png" alt="">
	    		</div>
	    		<h5><strong>WE INSPECT</strong></h5>
	    		<p>Once we recieve the payment our team member goes and inspects the product.</p>
	    	</div>
	    	<div class="col-sm-3 form-group">
	    		<div class="process-icons">
	    			<img src="/assets/images/icon-live-stream.png" alt="">
	    		</div>
	    		<h5><strong>LIVE STREAM</strong></h5>
	    		<p>Watch our team member do the inspection of the asset by streaming it live.</p>
	    	</div>
	    </div>

	    <div class="panel panel-primary information-tabs" ng-if="!isEnterpriseUser() &&!isEnterprise()" ng-controller="ValuationCtrl">
				<div class="panel-heading">
					<h3 class="panel-title">Valuation / Asset Inspection</h3>
				</div>
				<form class="" name="form" novalidate>
					<div class="panel-body">
						<div class="">						
							<div class="row form-group">
								<div class="col-sm-6">
									<div class="floating-label-wrapper">
										<label>Request Type:</label>
									</div>
									<div class="row">
										<div class="col-xs-6 col-sm-6">
							              	<div class="radio radio-info">
					                            <input type="radio" id="requestValuation" ng-model="valuationQuote.requestType" name="requestType" value="Valuation" ng-change="getVendors('Valuation')">
					                            <label for="requestValuation"> Valuation </label>
					                        </div>		               
							            </div>
							            <div class="col-xs-6 col-sm-6">
							              	<div class="radio radio-info">
					                            <input type="radio" id="requestInspection" ng-model="valuationQuote.requestType" name="requestType" value="Inspection" ng-click="getVendors('Inspection')">
					                            <label for="requestInspection"> Inspection </label>
					                        </div>
					                    </div>
									</div>
								</div>								
							</div>						
							<div class="row">
								<div class="col-xs-12 col-sm-3">
									<div class="floating-label-wrapper form-group">
										<label>Category</label>
										<select class="form-control" ng-model="valuationQuote.product.category" ng-change="onCategoryChange(valuationQuote.product.category)">
											<option value="">Select Category</option>
											<option value="{{cat.name}}" ng-repeat="cat in allCategory | orderBy:'name'">{{cat.name}}</option>
										</select>
										
									</div>
								</div>
								<div class="col-xs-12 col-sm-3">
									<div class="form-group floating-label-wrapper">
											<label>Brand</label>
										<select class="form-control" ng-model="valuationQuote.product.brand" ng-change="onBrandChange(valuationQuote.product.brand)">
											<option value="">Select Brand</option>
											<option value="{{br.name}}" ng-repeat="br in brandList | orderBy:'name'">{{br.name}}</option>
										</select>
										
									</div>
								</div>
								<div class="col-xs-12 col-sm-3">
									<div class="form-group floating-label-wrapper">
											<label>Model</label>
										<select class="form-control" ng-model="valuationQuote.product.model">
											<option value="">Select Model</option>
											<option value="{{md.name}}" ng-repeat="md in modelList | orderBy:'name'">{{md.name}}</option>
										</select>
										
									</div>
								</div>
								<div class="col-xs-12 col-sm-3">
									<div class="form-group floating-label-wrapper" ng-class="{'has-error': form.mfgYear.$invalid && submitted}">
										<label>Manufacturing Year</label>
										<input type="number" name="prdMfg" class="form-control" placeholder="Enter Manufacturing Year" ng-model="valuationQuote.product.mfgYear" ng-minlength="4" ng-maxlength="4" min="1900" max="currentYear" string-to-number>
									</div>
								</div>
								<div class="col-xs-12 col-sm-3">
									<div class="form-group floating-label-wrapper">
										<label>Asset Description</label>
										<input type="text" name="prddescription" class="form-control" placeholder="Enter Asset Description" ng-model="valuationQuote.product.description">
									</div>
								</div>																
								<div class="col-xs-12 col-sm-3">
									<div class="form-group floating-label-wrapper" ng-class="{'has-error': form.prdCountry.$invalid && submitted }">
										<label>Country*</label>
										<select class="form-control" ng-model="valuationQuote.product.country" name="prdCountry" ng-change="onPrdCountryChange(valuationQuote.product.country)" required>
											<option value="">Select Country</option>
											<option ng-repeat="country in allCountries | orderBy:'name'" value="{{country.name}}">{{country.name}}</option>
										</select>
										
									</div>
								</div>
								<div class="col-xs-12 col-sm-3" ng-class="{'has-error': form.prdState.$invalid && submitted }">
									<div class="floating-label-wrapper form-group">
										<label>State*</label>
					                    <select class="form-control" name="prdState" ng-model="valuationQuote.product.state" ng-change="onPrdStateChange(valuationQuote.product.state)" required>
					                      <option value="">Select State</option>
					                        <option ng-repeat="state in prdStateList | orderBy:'name'" value="{{state.name}}">{{state.name}}</option>
					                    </select>
					                </div>
				                    
				            	</div>
								<div class="col-xs-12 col-sm-3">
									<div class="form-group floating-label-wrapper" ng-class="{'has-error': form.prdLocation.$invalid && submitted }">
										<label>Location*</label>
										<select class="form-control" name="prdLocation"  ng-model="valuationQuote.product.city" required>
											<option value="">Select Location</option>
											<option ng-repeat="location in prdLocationList | orderBy:'name'" value="{{location.name}}">{{location.name}}</option>
										</select>
									</div>
								</div>

								<div class="col-xs-12 col-sm-3">
									<div class="form-group floating-label-wrapper" ng-class="{'has-error': form.contactPerson.$invalid && submitted }">
										<label>Contact Person*</label>
										<input type="text" name="contactPerson" class="form-control" placeholder="Contact Person"  ng-model="valuationQuote.product.contactPerson" ng-required="!valuationQuote.product.contactPersonAsAbove">
									</div>							
								</div>
								<!-- <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3">
									<div class="checkbox checkbox-info floating-label-wrapper">
				                        <input id="checkbox1" type="checkbox" ng-model="valuationQuote.product.contactPersonAsAbove" name="" ng-change="onChange('contactPerson')">
				                        <label for="checkbox1">
				                            same as above
				                        </label>
				                    </div>							
								</div> -->
								<div class="col-xs-12 col-sm-3">
									<div class="form-group floating-label-wrapper" ng-class="{'has-error': form.contactNumber.$invalid && submitted }">
										<label>Contact Number*</label>
										<input type="text" name="contactNumber" class="form-control" ng-model="valuationQuote.product.contactNumber" placeholder="Contact Number" ng-required="!valuationQuote.product.contactNumberAsAbove">
									</div>							
								</div>
								<!-- <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-3">
									<div class="checkbox checkbox-info floating-label-wrapper">
				                        <input id="checkbox2" type="checkbox"  ng-model="valuationQuote.product.contactNumberAsAbove" name="" ng-change="onChange('contactNumber')">
				                        <label for="checkbox2">
				                            same as above
				                        </label>
				                    </div>							
								</div> -->						
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-3">
									<div class="form-group floating-label-wrapper">
										<label>Partner</label>
										<select class="form-control" ng-model="valuationQuote.partnerId">
						                    <option value="">Select Partner</option>
						                    <option ng-repeat="vendor in vendorList" value="{{vendor._id}}">{{vendor.name}}</option>
					                    </select>
									</div>
								</div>
								<div class="col-xs-6 col-sm-3" ng-class="{'has-error': form.valuation.$invalid && submitted }">
									<div class="floating-label-wrapper form-group">
										<label>Purpose of valuation</label>
										<select class="form-control" ng-model="valuationQuote.valuation" name="valuation" required>
					                      <option value="Financing">Financing</option>
					                      <option ng-repeat="valuation in valuationList | orderBy:'name'" value="{{valuation.name}}">{{valuation.name}}</option>
					                    </select>
					                  </div>
								</div>
								
								
								<div class="col-xs-6 col-sm-3" ng-class="{'has-error': form.otherName.$invalid && submitted }">
									<div class="floating-label-wrapper form-group">
										<label>Other*</label>
										<input class="form-control" type="text" name="otherName" ng-model="valuationQuote.otherName" ng-disabled ="valuationQuote.valuation != 'Other'" placeholder="Other" ng-required= "valuationQuote.valuation == 'Other'">
									</div>
								</div>
							</div>
							<div class="row">
				              <div class="col-xs-12 col-sm-3">
				              	<div class="floating-label-wrapper">
				              		<label>Schedule a call</label>
				              	</div>
				              	<div class="col-xs-6 col-sm-6 form-group">
					              	<div class="radio radio-info">
			                            <input type="radio" id="inlineRadio1" name="schedule" ng-model="valuationQuote.schedule" value="yes">
			                            <label for="inlineRadio1"> Yes </label>
			                        </div>		               
					              </div>
					              <div class="col-xs-6 col-sm-6 form-group">
					              	<div class="radio radio-info">
			                            <input type="radio" id="inlineRadio2" name="schedule" ng-model="valuationQuote.schedule" value="no">
			                            <label for="inlineRadio2"> No </label>
			                        </div>     
					              </div>
				              </div>                                  
				              <div class="col-xs-6 col-sm-3 form-group" ng-if="valuationQuote.schedule == 'yes'" >
				              	
				                <div class="input-group floating-label-wrapper" ng-class="{'has-error': form.scheduleDate.$invalid && submitted }">
				                	<label>Pick Date</label>
				                  <input type="text" class="form-control" ng-model="valuationQuote.scheduleDate" uib-datepicker-popup="{{format}}" name="scheduleDate" ng-value="" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="datepickerOptions" date-disabled="disabled(date, mode)" ng-required="valuationQuote.schedule == 'yes'" close-text="Close" alt-input-formats="altInputFormats" placeholder="dd/mm/yyyy" />
				                  <span class="input-group-addon">
				                    <a href ng-click="open1()"><i class="fa fa-calendar-o fa-2x"></i></a>
				                  </span>
				                </div>                                       
				              </div>
				              
				              <div class="col-xs-6 col-sm-3 form-group " ng-if="valuationQuote.schedule == 'yes'">
				              	
				              	<div class="input-group floating-label-wrapper">
				              		<label>Set Time</label>
				              		<input type="text" class="form-control" name="otherName" placeholder="HH:MM" ng-model="valuationQuote.scheduledTime" is-open=""  ng-value="{{valuationQuote.scheduledTime | date:'shortTime' }}" timepicker-options="timepickerOptions">
				              		<span class="input-group-addon">
				              			<a href ng-click="toggleMode()"><i class="fa fa-clock-o fa-2x"></i></a>
				              		</span>
				              	</div>
				              	<uib-timepicker ng-if="isShow" ng-model="mytime" ng-change="changed(mytime)" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
				              </div>
				            </div>
							<div class="form-group floating-label-wrapper">
								<label>Comment</label>
								<input type="text" class="form-control" name="comment" ng-model="valuationQuote.comment" placeholder="Write Comments (if any)">
							</div>
						</div>

						<div class="text-right">
							<button type="button" ng-click="resetClick()" class="btn btn-default">Reset</button>
							<button type="button" class="btn btn-primary" ng-click="addValuationQuote(form)" >Submit</button>
						</div>												
					</div>
					
				</form>
			</div>
	</div>
</section>
<!-- 
<section class="category-block how-works vluation-details" ng-if="!isEnterpriseUser() &&!isEnterprise()">
 	<div class="container">
 		<div class="row">
 			<div class="col-sm-6">
 				<p>Our team of experts have developed a comprehensive checklist of all major and minor components and conduct a detailed check-up of each of these, including:</p>

 				<ul>
 					<li>Cabin : Dashboard, Meters &amp; Gauges, Steering Wheel, Cabin Canopy, etc.</li>
 					<li>Engine : Main Engine, Fuel Pump, Alternator, Radiator, Battery, Self-Starter, etc.</li>
 					<li>Undercarriage : Track Motors, Track Pads, Track Rollers, Sprocket, etc.</li>
 					<li>Bucket : Basic Bucket, Bucket Teeth, Grease Points, Pins &amp; Bushes.</li>
 					<li>Hydraulic System : Oil Tank, Hydraulic Pump, Control Valve, Boom Cylinder, Pipe Lines, etc.</li>
 					<li>Trolley : Trolley Walls, Axles, Floors, Tires.</li>
 					<li>Chassis : Chassis Frame, Leaf Springs, Shock Absorbers, etc.</li>
 				</ul>
 			</div>
 			<div class="col-sm-offset-1 col-sm-5">
 				<div class="text-right">
			      <h4>LEAVE YOUR WORRY TO US! </h4> 
			      <small>Now  watch live stream of the  inspection.</small>    
			    </div>
			    <div class="framwork-background">
				    <img src="http://placehold.it/450x390" class="img-responsive" alt="" >
				</div>
 			</div>
 		</div>

   </div>
</section> -->

<section class="category-block">
	<div class="container">
		<!-- new form -->
		<div class="panel panel-primary information-tabs" ng-if="isEnterprise() || isEnterpriseUser()" ng-controller="AddTransactionCtrl as addTransactionVm">
			<div class="panel-heading">
				<h3 class="panel-title">Valuation / Asset Inspection</h3>
			</div>
			<div class="panel-body">
			<form name="form">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div class="floating-label-wrapper">
							<label>Request Type</label>
						</div>
						<div class="row form-group">
							<div class="col-xs-6 col-sm-4" ng-if="isServiceAvailed('Valuation')">
				              	<div class="radio radio-info">
			                        <input type="radio" name="requestType" id="requestValuationEnterprise" value="Valuation" ng-model="addTransactionVm.enterpriseValuation.requestType" ng-click="addTransactionVm.getPartners('Valuation')" >
			                        <label for="requestValuationEnterprise"> Valuation </label>
			                    </div>		               
				            </div>
				            <div class="col-xs-6 col-sm-4" ng-if="isServiceAvailed('Inspection')">
				              	<div class="radio radio-info">
			                        <input type="radio" id="requestInspectionEnterprise" name="requestType" value="Inspection" ng-click="addTransactionVm.getPartners('Inspection')" ng-model="addTransactionVm.enterpriseValuation.requestType">
			                        <label for="requestInspectionEnterprise"> Inspection </label>
			                    </div>
			                </div>
						</div>
					</div>								
				</div>
				
				<div class="row">
					<div class="col-sm-3 form-group">
						<div class="floating-label-wrapper">
							<label>Select Purpose</label>
							<select class="form-control">
								  <option value="Financing">Financing</option>
								  <option ng-repeat="valuation in valuationList" value="{{valuation.name}}">{{valuation.name}}</option>
							</select>
						</div>
					</div>
					<div class="col-sm-3 form-group">
						<div class="floating-label-wrapper">
							<label>Name of Original Owner</label>
							<input type="text" name="originalOwner" class="form-control" ng-model="addTransactionVm.enterpriseValuation.originalOwner" placeholder="Name of Original Owner" ng-disabled="!editEnterpriseField('originalOwner')">
						</div>
					</div>
					<div class="col-sm-3 form-group">
						<div class="floating-label-wrapper">
							<label>Name of Customer seeking Finance</label>
							<input type="text" class="form-control" ng-model="addTransactionVm.enterpriseValuation.nameOfCustomerSeeking" placeholder="Name of Customer seeking Finance">
						</div>
					</div>
					<div class="col-sm-3 form-group">
						<div class="floating-label-wrapper">
							<label>Reference / FI Number</label>
							<input type="text" class="form-control" name="" value="" min="0" placeholder="Reference / FI Number" ng-model="addTransactionVm.enterpriseValuation.customerTransactionId">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 form-group">
						<div class="floating-label-wrapper">
							<label>Asset No.</label>
							<input type="text" class="form-control" name="" value="" placeholder="Asset No." ng-model="addTransactionVm.enterpriseValuation.assetId">
						</div>
					</div>
					<div class="col-sm-3 form-group">						
						<div class="input-group floating-label-wrapper">
							<label>Repo Date</label>
							<input class="form-control" name="requestDate" id="requestDate" ng-model="addTransactionVm.enterpriseValuation.repoDate" datetime-picker readonly date-format="MM/dd/yyyy" date-only placeholder="Repo Date"/>
		             		 <label for="requestDate" class="input-group-addon"><i class="fa fa-calendar-o fa-2x"></i></label>
						</div>
					</div>
					<div class="col-sm-3 form-group" ng-class="{'has-error': form.customerInvoiceDate.$invalid && form.submitted}">						
						<div class="input-group floating-label-wrapper">
							<label>Invoice Date</label>
							<input  class="form-control" id="customerInvoiceDate" name="customerInvoiceDate" ng-model="addTransactionVm.enterpriseValuation.customerInvoiceDate" placeholder="Invoice Date" datetime-picker readonly date-format="MM/dd/yyyy" date-only>
							<label for="customerInvoiceDate" class="input-group-addon"><i class="fa fa-calendar-o fa-2x"></i></label>
						</div>
					</div>
					<div class="col-sm-3 form-group" ng-class="{'has-error': form.customerInvoiceValue.$invalid && form.submitted}">
						<div class="floating-label-wrapper">
							<label>Invoice Value</label>
							<input type="number" class="form-control" name="customerInvoiceValue" min="0" ng-model="addTransactionVm.enterpriseValuation.customerInvoiceValue" placeholder="Invoice Value">
						</div>
					</div>								
				</div>
				<div class="row">
					<div class="col-sm-3 form-group" ng-class="{'has-error': form.assetCategory.$invalid && form.submitted}">
						<div class="floating-label-wrapper">
							<label>Select Category</label>
							<select class="form-control" name="assetCategory" ng-model="addTransactionVm.enterpriseValuation.assetCategory" ng-disabled="(!addTransactionVm.enterpriseValuation.enterprise.enterpriseId || !addTransactionVm.enterpriseValuation.agency.partnerId)" required>
				              <option value="">*Select Category</option>
				              <option value="{{ast.assetCategory}}" ng-repeat="ast in addTransactionVm.assetCategoryList">{{ast.assetCategory}}</option>
				            </select>
				        </div>
					</div>
					<div class="col-sm-3" ng-class="{'has-error': (form.brand.$invalid || form.otherBrand.$invalid) && form.submitted}">
						<div class="floating-label-wrapper">
							<label>Select Brand</label>
							<select class="form-control form-group" name="brand" ng-model="addTransactionVm.enterpriseValuation.brand" ng-change="addTransactionVm.onBrandChange(addTransactionVm.enterpriseValuation.brand)">
								<option value="">Select Brand</option>
		              			<option ng-repeat="br in addTransactionVm.brandList" value="{{br.name}}">{{br.name}}</option>
							</select>

							<input type="text" ng-if="addTransactionVm.enterpriseValuation.brand == 'Other'" ng-model="addTransactionVm.enterpriseValuation.otherBrand" class="form-control form-group" name="otherBrand" placeholder="*Other Brand Name" ng-required = "addTransactionVm.enterpriseValuation.brand == 'Other'">
						</div>
					</div>
					<div class="col-sm-3" ng-class="{'has-error': (form.model.$invalid || form.otherModel.$invalid) && form.submitted}">
						<div class="floating-label-wrapper">
							<label>Select Model</label>
							<select class="form-control form-group" ng-model="addTransactionVm.enterpriseValuation.model">
								 <option value="">Select Model</option>
		              			 <option ng-repeat="md in addTransactionVm.modelList" value="{{md.name}}">{{md.name}}</option>
							</select>
							  <input type="text" ng-if="addTransactionVm.enterpriseValuation.model == 'Other'" ng-model="addTransactionVm.enterpriseValuation.otherModel" class="form-control form-group" name="otherModel" placeholder="*Other Model Name" ng-required = "addTransactionVm.enterpriseValuation.model == 'Other'">
						</div>
					</div>
					<div class="col-sm-3 form-group" ng-class="{'has-error': form.assetDescription.$invalid && form.submitted}">
						<div class="floating-label-wrapper">
							<label>Asset Name</label>
							<input type="text" name="assetDescription" ng-model="addTransactionVm.enterpriseValuation.assetDescription" ng-disabled="!editEnterpriseField()" placeholder="*Asset Name" class="form-control" required/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 form-group">
						<div class="floating-label-wrapper">
							<label>Engine No.</label>
							<input type="text" class="form-control" name="enginNo" placeholder="Engine No." ng-model="addTransactionVm.enterpriseValuation.engineNo">
						</div>
					</div>
					<div class="col-sm-3 form-group" ng-class="{'has-error': (form.chassisNo.$invalid || form.registrationNo.$invalid) && form.submitted}">
						<div class="floating-label-wrapper">
							<label>Chassis No.</label>
							<input type="text" class="form-control" name="chassisNo" ng-required="!( addTransactionVm.enterpriseValuation.chassisNo || addTransactionVm.enterpriseValuation.registrationNo)" placeholder="Chassis No." ng-model="addTransactionVm.enterpriseValuation.chassisNo">
						</div>
					</div>
					<div class="col-sm-3 form-group" ng-class="{'has-error': (form.chassisNo.$invalid || form.registrationNo.$invalid) && form.submitted}">
						<div class="floating-label-wrapper">
							<label>Registration No.</label>
							<input type="text" class="form-control" name="registrationNo" ng-required="!(addTransactionVm.enterpriseValuation.chassisNo || addTransactionVm.enterpriseValuation.registrationNo)" placeholder="Registration No." ng-model="addTransactionVm.enterpriseValuation.registrationNo">
						</div>
					</div>
					<div class="col-sm-3 form-group">
						<div class="floating-label-wrapper">
							<label>Serial No.</label>
							<input type="text" class="form-control" name="serialNo" ng-model="addTransactionVm.enterpriseValuation.serialNo" placeholder="Serial No.">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 form-group"  ng-class="{'has-error': form.yearOfManufacturing.$invalid && form.submitted}">
						<div class="floating-label-wrapper">
							<label>Year of Manufacture</label>
							<input type="number" class="form-control" name="yearOfManufacturing" ng-model="addTransactionVm.enterpriseValuation.yearOfManufacturing" placeholder="Year of Manufacture" ng-maxlength="4" ng-minlength="4" max="currentYear" min="1900" string-to-number/>
						</div>
					</div>
					<div class="col-sm-3 form-group" ng-class="{'has-error': form.yardParked.$invalid && form.submitted}">
						<div class="floating-label-wrapper">
							<label>Yard Information/Asset Address</label>
							<input type="text" class="form-control" name="yardParked"  placeholder="*Yard Information/Asset Address" ng-model="addTransactionVm.enterpriseValuation.yardParked" required>
						</div>
					</div>
					<div class="col-sm-3 form-group" ng-class="{'has-error': form.country.$invalid && form.submitted}">
						<div class="floating-label-wrapper">
							<label>Country*</label>
				            <select class="form-control" ng-model="addTransactionVm.enterpriseValuation.country" name="country"  ng-change="addTransactionVm.onCountryChange(addTransactionVm.enterpriseValuation.country)" required>
				              <option value="">Select Country</option>
				              <option ng-repeat="country in allCountries | orderBy:'name'" value="{{country.name}}">{{country.name}}</option>
				            </select>
				        </div>
			          </div>
			          <div class="col-sm-3 form-group" ng-class="{'has-error': form.state.$invalid && form.submitted}">
			          	<div class="floating-label-wrapper">
				          	<label>State*</label>
				            <select class="form-control" name="state" ng-model="addTransactionVm.enterpriseValuation.state" ng-disabled="!editEnterpriseField()" ng-change="addTransactionVm.onStateChange(addTransactionVm.enterpriseValuation.state)" required>
				              <option value="">Select State</option>
				                <option ng-repeat="state in stateList | orderBy:'name'" value="{{state.name}}">{{state.name}}</option>
				            </select>
				        </div>
			          </div> 				
					</div>
					<div class="row">		
						<div class="col-sm-3" ng-class="{'has-error': form.location.$invalid && form.submitted}">
							<div class="floating-label-wrapper">
					          	<label>Location*</label>
					            <select class="form-control" name="location" ng-model="addTransactionVm.enterpriseValuation.city" required>
					              <option value="">Select Location</option>
					                <option ng-repeat="location in locationList | orderBy:'name'" value="{{location.name}}">{{location.name}}</option>
					            </select>
					        </div>
				         </div>		
				         <div class="col-sm-3 form-group" ng-class="{'has-error': form.contactPerson.$invalid && form.submitted}">
				         	<div class="floating-label-wrapper">
								<label>Contact Person*</label>
								<input type="text" class="form-control" name="contactPerson"  placeholder="Contact Person" ng-model="addTransactionVm.enterpriseValuation.contactPerson" required>
							</div>
						</div>
						<div class="col-sm-3 form-group" ng-class="{'has-error': form.contactNumber.$invalid && form.submitted}">
							<div class="floating-label-wrapper">
								<label>Contact Person Tel No*.</label>
								<input type="text" class="form-control" name="contactNumber" placeholder="Contact Person Tel No." ng-model="addTransactionVm.enterpriseValuation.contactPersonTelNo" required>
							</div>
						</div>
						<div class="col-sm-3 form-group">
							<div class="floating-label-wrapper">
								<label>Distance to be Travelled(Kms)</label>
								<input type="text" class="form-control" name="disFromCustomerOffice" placeholder="Distance to be Travelled" ng-model="addTransactionVm.enterpriseValuation.disFromCustomerOffice">
							</div>
						</div>
						
					</div>
					<div class="row">
						<div class="col-sm-3">
							<div class="floating-label-wrapper">
								<label>Invoice Upload</label>
					            <span class="btn btn-default fileinput-button">
					             <input type="file" id="upload" name="upload" onchange="angular.element(this).scope().upload(this.files,'invoiceDoc')" >
					              <span><i class="fa fa-upload"></i> Invoice Upload</span>
					            </span>
					            <span>{{addTransactionVm.enterpriseValuation.invoiceDoc.filename}}</span> 
				            </div> 
			          	</div>
						<div class="col-sm-3">
							<div class="floating-label-wrapper">
								<label>RC Upload</label>
								<span class="btn btn-default fileinput-button">
								 <input type="file" id="upload" name="upload" data-filetype="doc" onchange="angular.element(this).scope().upload(this.files,'rcDoc')">
								  <span><i class="fa fa-upload"></i> RC Upload</span>
								</span>
								<span>{{addTransactionVm.enterpriseValuation.rcDoc.filename}}</span>
							</div>
						</div>
			          
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-12 text-right">
							<button type="button" class="btn btn-default" ng-click="addTransactionVm.reset()">Reset</button>
							<button type="button" class="btn btn-primary" ng-click="addTransactionVm.addOrUpdateRequest(form,'enterpriseform')">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>