<div class="container">
	<div class="row">
		<div class="col-sm-6 text-justify">
			<h3>Valuation</h3>
			<legend></legend>

			<ul>
				<li>
					In today’s competitive and unpredictable business world, it is essential for companies to have accurate, timely and cost-effective valuations of their machinery and equipment.
				</li>
				<li>
					At iQuippo, our experienced team of equipment valuation experts is dedicated to providing our clients with an objective &amp; supportable valuation conclusions, which are provided in timely, well-organized appraisal reports.
				</li>
				<li>
					There are a wide variety of reasons in which an organization may require equipment valuation services, including the desire or need to sell, wanting to purchase additional equipment etc. 
					This service can be availed from both Buyer’s and Seller’s side.

				</li>		
			</ul>

			<p>
				Our team of experts have developed a comprehensive checklist of all major and minor components and conduct a detailed check-up of each of these, including:
			</p>
			<ul>
				<li>
					<strong>Cabin</strong> : Dashboard, Meters &amp; Gauges, Steering Wheel, Cabin Canopy, etc.
				</li>
				<li>
					<strong>Engine</strong> : Main Engine, Fuel Pump, Alternator, Radiator, Battery, Self-Starter, etc.
				</li>
				<li>
					<strong>Undercarriage</strong> : Track Motors, Track Pads, Track Rollers, Sprocket, etc.
				</li>
				<li>
					<strong>Bucket</strong> : Basic Bucket, Bucket Teeth, Grease Points, Pins &amp; Bushes.
				</li>
				<li>
					<strong>Hydraulic System</strong> : Oil Tank, Hydraulic Pump, Control Valve, Boom Cylinder, Pipe Lines, etc.
				</li>
				<li>
					<strong>Trolley</strong> : Trolley Walls, Axles, Floors, Tires.
				</li>
				<li>
					<strong>Chassis</strong> : Chassis Frame, Leaf Springs, Shock Absorbers, etc.
				</li>
			</ul>
			<p>Depending on the nature of machinery, a host of other components are also checked and evaluated.</p>
			<div class="form-group"></div>
			<div class="row">
				<div class="col-sm-6">
					<a href="/download/report/Valuation_Report_Sample.pdf" target="_blank"><img src="assets/images/valuation.jpg" class="img-responsive"></a>
				</div>
				<div class="col-sm-6 padd-left">
					<table class="table table-bordered table-stable table-hover">
				        <thead>
				            <tr class="active">
				                <th>Transaction</th>
				                <th>Charges</th>
				            </tr>
				        </thead>
				        <tbody>            
				            <tr>
				                <td>Machinery Valuation</td>
				                <td>5000 INR</td>
				            </tr>           
				            <tr>
				                <td>Asset Inspection</td>
				                <td>3000 INR</td>
				            </tr>            
				        </tbody>
				    </table>
				</div>
			</div>
			
		<div class="form-group clearfix form-group"></div>
		<!-- <input ng-model="date4" datetime-picker hour="23" minute='59' > -->
		<!-- <div class="serve text-center">
			<a class="btn btn-block btn-md btn-warning quote-btn" ng-click="openDialog('valuationquote')">Request a Quote</a>
		</div> -->
		</div>
			<div class="col-sm-6">
		      <div class="form-group"></div>
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Valuation / Asset Inspection</h3>
					</div>
					<div class="panel-body">
						     
					<form class="" name="form" novalidate>
						<div class="form-group">
							<div class="row">
								<div class="col-xs-4">
									<div class="form-group" ng-class="{'has-error': form.fname.$invalid && form.submitted }">
										<input type="text" name="fname" class="form-control" placeholder="* First Name" ng-model="valuationQuote.fname" required>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="form-group">
										<input type="text" name="mname" class="form-control" placeholder="Middle Name" ng-model="valuationQuote.mname">
									</div>
								</div>
								<div class="col-xs-4">
									<div class="form-group" ng-class="{'has-error': form.lname.$invalid && form.submitted }">
										<input type="text" name="lname" class="form-control" placeholder="* Last Name" ng-model="valuationQuote.lname" required>
									</div>
								</div>
							</div>
							<div class="row">								
								<div class="col-xs-4">
									<div class="form-group" ng-class="{'has-error': form.country.$invalid && form.submitted }">
										<select class="form-control" ng-model="valuationQuote.country" name="country" ng-change="onCountryChange(valuationQuote.country)" required>
											<option value="">*Select Country</option>
											<option ng-repeat="country in allCountries | orderBy:'name'" value="{{country.name}}">{{country.name}}</option>
										</select>
										<i class="caret"></i>
									</div>
								</div>
								<div class="col-xs-4" ng-class="{'has-error': form.state.$invalid && form.submitted }">
				                    <select class="form-control" name="state" ng-model="valuationQuote.state" ng-change="onStateChange(valuationQuote.state)" required>
				                      <option value="">*Select State</option>
				                        <option ng-repeat="state in stateList | orderBy:'name'" value="{{state.name}}">{{state.name}}</option>
				                    </select>
				                    <i class="caret"></i>
				            	</div>
								<div class="col-xs-4" ng-class="{'has-error': form.location.$invalid && form.submitted }">
				                    <select class="form-control" name="location" ng-model="valuationQuote.city" required>
				                      <option value="">*Select Location</option>
				                        <option ng-repeat="location in locationList | orderBy:'name'" value="{{location.name}}">{{location.name}}</option>
				                    </select>
				                    <i class="caret"></i>
				            	</div>
							</div>
							<div class="row">								
								<div class="col-xs-6">
									<div class="form-group">
										<input type="text" name="" class="form-control" placeholder="Company Name" ng-model="valuationQuote.companyname">
									</div>
								</div>								
							
								<div class="col-xs-6">
									<div class="form-group">
										<input type="text" name="" class="form-control" placeholder="Designation" ng-model="valuationQuote.designation">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-6">
									<div class="form-group">
										<input type="text" name="" class="form-control" placeholder="Phone No." ng-model="valuationQuote.phone">
									</div>
								</div>								
							
								<div class="col-xs-6">
									<div class="form-group" ng-class="{'has-error': form.mobile.$invalid && form.submitted }">
										<input type="text" name="mobile" class="form-control" placeholder="* Mobile No." ng-model="valuationQuote.mobile" uib-tooltip="98-XXXX-XXXX" tooltip-trigger="focus" tooltip-placement="top" required>
									</div>
								</div>
							</div>							
							<div class="row">
								<div class="col-xs-6">
									<div class="form-group" ng-class="{'has-error': form.email.$invalid && form.submitted }">
										<input type="email" name="email" class="form-control" placeholder="Email Address" ng-model="valuationQuote.email">
										<p class="help-block" ng-show="(form.email.$error.email || form.email.$error.pattern) && form.submitted">
											Please enter a valid email.
										</p>
									</div>
								</div>
							</div>
							
							<div class="row" ng-if="isEnterprise">
								<div class="col-xs-12">
									<label>Request Type:</label>
								</div>								
							</div>
							<div class="row">
								<div class="col-xs-6 col-sm-6">
					              	<div class="radio radio-info">
			                            <input type="radio" id="requestValuation" ng-model="enterpriseValuation.requestType" name="requestType" value="Valuation" ng-click="getAgent('Valuation')" ng-disabled="!isServiceAvailed('Valuation')">
			                            <label for="requestValuation"> Valuation </label>
			                        </div>		               
					            </div>
					            <div class="col-xs-6 col-sm-6">
					              	<div class="radio radio-info">
			                            <input type="radio" id="requestInspection" ng-model="enterpriseValuation.requestType" name="requestType" value="Inspection" ng-click="getAgent('Inspection')" ng-disabled="!isServiceAvailed('Inspection')">
			                            <label for="requestInspection"> Inspection </label>
			                        </div>
			                    </div>
							</div>
							<hr>
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<label>Product Detail:</label>
									</div>
								</div>
								
							</div>
							<div class="row" ng-if="isEnterprise">
								<div class="col-xs-4">
									<div class="form-group" ng-class="{'has-error': form.assetCategory.$invalid && form.submitted }">
										<input type="text" autocomplete="off" class="form-control" name="assetCategory" ng-model="enterpriseValuation.assetCategory" placeholder="*Asset Category" uib-typeahead="astGroup for astGroup in getAssetGroup($viewValue)"  class="form-control" typeahead-focus-first = "false" typeahead-wait-ms="200" required>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="form-group">
										<select class="form-control" ng-model="enterpriseValuation.brand" ng-change="onBrandChange(enterpriseValuation.brand)">
											<option value="">Select Brand</option>
											<option value="{{br.name}}" ng-repeat="br in allBrandList | orderBy:'name'">{{br.name}}</option>
										</select>
										<i class="caret"></i>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="form-group">
										<select class="form-control" ng-model="enterpriseValuation.model">
											<option value="">Select Model</option>
											<option value="{{md.name}}" ng-repeat="md in modelList | orderBy:'name'">{{md.name}}</option>
										</select>
										<i class="caret"></i>
									</div>
								</div>
								
							</div>
							<div class="row" ng-if="!isEnterprise">
								<div class="col-xs-4">
									<div class="form-group">
										<select class="form-control" ng-model="valuationQuote.product.category" ng-change="onCategoryChange(valuationQuote.product.category)">
											<option value="">Select Category</option>
											<option value="{{cat.name}}" ng-repeat="cat in allCategory | orderBy:'name'">{{cat.name}}</option>
										</select>
										<i class="caret"></i>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="form-group">
										<select class="form-control" ng-model="valuationQuote.product.brand" ng-change="onBrandChange(valuationQuote.product.brand)">
											<option value="">Select Brand</option>
											<option value="{{br.name}}" ng-repeat="br in brandList | orderBy:'name'">{{br.name}}</option>
										</select>
										<i class="caret"></i>
									</div>
								</div>
								<div class="col-xs-4">
									<div class="form-group">
										<select class="form-control" ng-model="valuationQuote.product.model">
											<option value="">Select Model</option>
											<option value="{{md.name}}" ng-repeat="md in modelList | orderBy:'name'">{{md.name}}</option>
										</select>
										<i class="caret"></i>
									</div>
								</div>
								
							</div>
							<div class="row" ng-if="isEnterprise">
								<div class="col-sm-6 form-group">
									<input type="text" class="form-control" name="engineNo" ng-model="enterpriseValuation.engineNo" placeholder="Engine Number">
								</div>
								<div class="col-sm-6 form-group">
									<input type="text" class="form-control" name="chassisNo" ng-model="enterpriseValuation.chassisNo" placeholder="Chassis Number">
								</div>
							</div>
							<div class="row" ng-if="isEnterprise">
								<div class="col-sm-6 form-group">
									<input type="text" class="form-control" name="registrationNo" ng-model="enterpriseValuation.registrationNo" placeholder="Registration Number">
								</div>
								<div class="col-sm-6 form-group">
									<input type="text" class="form-control" name="serialNo" ng-model="enterpriseValuation.serialNo" placeholder="Serial Number">
								</div>
							</div>							
							<div class="row">
								<div class="col-xs-6">
									<div class="form-group" ng-class="{'has-error': form.mfgYear.$invalid && form.submitted}">
										<input type="number" name="prdMfg" class="form-control" placeholder="Manufacturing Year" ng-model="valuationQuote.product.mfgYear" ng-minlength="4" ng-maxlength="4" min="1900" ng-max="currentYear" ng-max="currentYear" string-to-number>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="form-group">
										<input type="text" name="prddescription" class="form-control" placeholder="Asset Description" ng-model="valuationQuote.product.description">
									</div>
								</div>								
							</div>
							<div class="row" ng-if="isEnterprise">
								<div class="col-sm-6 form-group">
									<input type="text" class="form-control" name="customerTransactionId" ng-model="enterpriseValuation.customerTransactionId" placeholder="*Reference / FI Number">
								</div>
							</div>
							<div class="row" ng-if="isEnterprise">
								<div class="col-sm-12">
									<label>Location of Asset:</label>
								</div>
							</div>
							<div class="row form-group" ng-if="isEnterprise">
								<div class="col-sm-12">
									<div class="form-group" ng-class="{'has-error': form.yardParked.$invalid && form.submitted }">
										<input type="text" class="form-control" name="yardParked" ng-model="enterpriseValuation.yardParked" placeholder="*Yard Information / Asset Adrress" required> 
									</div>
								</div>
							</div>
							<div class="row">								
								<div class="col-xs-4">
									<div class="form-group" ng-class="{'has-error': form.prdCountry.$invalid && form.submitted }">
										<select class="form-control" ng-model="valuationQuote.product.country" name="prdCountry" ng-change="onPrdCountryChange(valuationQuote.product.country)" required>
											<option value="">*Select Country</option>
											<option ng-repeat="country in allCountries | orderBy:'name'" value="{{country.name}}">{{country.name}}</option>
										</select>
										<i class="caret"></i>
									</div>
								</div>
								<div class="col-xs-4" ng-class="{'has-error': form.prdState.$invalid && form.submitted }">
				                    <select class="form-control" name="prdState" ng-model="valuationQuote.product.state" ng-change="onPrdStateChange(valuationQuote.product.state)" required>
				                      <option value="">*Select State</option>
				                        <option ng-repeat="state in prdStateList | orderBy:'name'" value="{{state.name}}">{{state.name}}</option>
				                    </select>
				                    <i class="caret"></i>
				            	</div>
								<div class="col-xs-4">
									<div class="form-group" ng-class="{'has-error': form.prdLocation.$invalid && form.submitted }">
										<select class="form-control" name="prdLocation"  ng-model="valuationQuote.product.city" required>
											<option value="">*Select Location</option>
											<option ng-repeat="location in prdLocationList | orderBy:'name'" value="{{location.name}}">{{location.name}}</option>
										</select>
										<i class="caret"></i>
									</div>
								</div>
								
							</div>

							<div class="row">
								<div class="col-xs-6">
									<div class="form-group" ng-class="{'has-error': form.contactPerson.$invalid && form.submitted }">
										<input type="text" name="contactPerson" class="form-control" placeholder="*Contact Person"  ng-model="valuationQuote.product.contactPerson"ng-required="!valuationQuote.product.contactPersonAsAbove">
									</div>							
								</div>
								<div class="col-xs-6">
									<div class="checkbox checkbox-info checkbox-circle">
				                        <input id="checkbox1" type="checkbox" ng-model="valuationQuote.product.contactPersonAsAbove" name="" ng-change="onChange('contactPerson')">
				                        <label for="checkbox1">
				                            same as above
				                        </label>
				                    </div>							
								</div>						
							</div>
							<div class="row">
								<div class="col-xs-6">
									<div class="form-group" ng-class="{'has-error': form.contactNumber.$invalid && form.submitted }">
										<input type="text" name="contactNumber" class="form-control" ng-model="valuationQuote.product.contactNumber" placeholder="*Contact Number" ng-required="!valuationQuote.product.contactNumberAsAbove">
									</div>							
								</div>
								<div class="col-xs-6">
									<div class="checkbox checkbox-info checkbox-circle">
				                        <input id="checkbox2" type="checkbox"  ng-model="valuationQuote.product.contactNumberAsAbove" name="" ng-change="onChange('contactNumber')">
				                        <label for="checkbox2">
				                            same as above
				                        </label>
				                    </div>							
								</div>						
							</div>
							<hr>
							<div class="row text-left">
							<div class="col-xs-12 col-sm-4 form-group">
							<select class="form-control" ng-model="valuationQuote.partnerId">
                            <option value="">Select Partner</option>
                            <option ng-repeat="vendor in vendorList" value="{{vendor._id}}">{{vendor.name}}</option>
                            </select>
							</div>
								<div class="col-xs-12 col-sm-4 form-group" ng-if="isEnterprise">Purpose of valuation</div>
								<div class="col-xs-6 col-sm-4 form-group" ng-class="{'has-error': form.valuation.$invalid && form.submitted }">
									<select class="form-control" ng-model="valuationQuote.valuation" name="valuation" required>
				                      <option value="Financing">Financing</option>
				                      <option ng-repeat="valuation in valuationList | orderBy:'name'" value="{{valuation.name}}">{{valuation.name}}</option>
				                    </select>
								</div>
								
								<!-- <div class="col-xs-6 col-sm-4 form-group" ng-class="{'has-error': form.valuation.$invalid && form.submitted }">
									<select class="form-control" ng-model="valuationQuote.valuation" name="valuation" required>
				                      <option value="">Select purpose</option>
				                      <option ng-repeat="valuation in valuationList | orderBy:'name'" value="{{valuation.name}}">{{valuation.name}}</option>
				                    </select>
								</div> -->
								
								<div class="col-xs-6 col-sm-4 form-group" ng-if="!isEnterprise" ng-class="{'has-error': form.otherName.$invalid && form.submitted }">
									<input class="form-control" type="text" name="otherName" ng-model="valuationQuote.otherName" ng-disabled ="valuationQuote.valuation != 'Other'" placeholder="*Other" ng-required= "valuationQuote.valuation == 'Other'">
								</div>
								<div class="col-sm-offset-4 col-sm-8 form-group" ng-if="isEnterprise">
									<input type="text" class="form-control" name="nameOfCustomerSeeking" ng-model="enterpriseValuation.nameOfCustomerSeeking" placeholder="Name of Customer seeking Finance">
								</div>
							</div>
							<div class="row text-left" ng-if="!isEnterprise">
				              <div class="col-xs-12 col-sm-4 form-group">Schedule a call</div>
				              <div class="col-xs-6 col-sm-4 form-group">
				              	<div class="radio radio-info">
		                            <input type="radio" id="inlineRadio1" name="schedule" ng-model="valuationQuote.schedule" value="yes">
		                            <label for="inlineRadio1"> Yes </label>
		                        </div>		               
				              </div>
				              <div class="col-xs-6 col-sm-4 form-group">
				              	<div class="radio radio-info">
		                            <input type="radio" id="inlineRadio2" name="schedule" ng-model="valuationQuote.schedule" value="no">
		                            <label for="inlineRadio2"> No </label>
		                        </div>     
				              </div>
				              
				              <div class="clerafix"></div>                                   
				              <div class="col-xs-6 col-sm-offset-4 col-sm-4 form-group" ng-if="valuationQuote.schedule == 'yes'" >
				              	<small>Pick Date</small>
				                <div class="input-group" ng-class="{'has-error': form.scheduleDate.$invalid && form.submitted }">
				                  <input type="text" class="form-control" ng-model="valuationQuote.scheduleDate" uib-datepicker-popup="{{format}}" name="scheduleDate" ng-value="" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="datepickerOptions" date-disabled="disabled(date, mode)" ng-required="valuationQuote.schedule == 'yes'" close-text="Close" alt-input-formats="altInputFormats" placeholder="dd/mm/yyyy" />
				                  <span class="input-group-addon">
				                    <a href class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar-o fa-1x"></i></a>
				                  </span>
				                </div>                                       
				              </div>
				              
				              <div class="col-xs-6 col-sm-4 form-group " ng-if="valuationQuote.schedule == 'yes'">
				              	<small>Set Time</small>
				              	<div class="input-group">
				              		<input type="text" class="form-control" name="otherName" placeholder="HH:MM" ng-model="valuationQuote.scheduledTime" is-open=""  ng-value="{{valuationQuote.scheduledTime | date:'shortTime' }}" timepicker-options="timepickerOptions">
				              		<span class="input-group-addon">
				              			<button class="btn btn-default" ng-click="toggleMode()"><i class="fa fa-clock-o fa-1x"></i></button>
				              		</span>
				              	</div>
				              	<uib-timepicker ng-if="isShow" ng-model="mytime" ng-change="changed(mytime)" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
								<!-- <pre class="alert alert-info">Time is: {{mytime | date:'shortTime' }}</pre> -->
								</div>
				            </div>
							<div class="form-group" ng-if="!isEnterprise">
								<textarea class="form-control" name="comment" ng-model="valuationQuote.comment" placeholder="Comments if any"></textarea>
							</div>
							
							<div class="modal-footer">
								<button type="reset" ng-click="resetClick()" class="btn btn-default">Reset</button>
								<button type="button" class="btn btn-warning" ng-click="addValuationQuote($event)" >Submit</button>
							</div>
						</div>
						
					</div>
				</div>
			</div>
	</div>
</div>