<div id="wrapper">
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h3>
            Bid Values
            
          </h3>
          <hr>
        </div>
        <div class="col-sm-12">
        
              <div class="row">
                <div class="form-group col-sm-3">
                  <input id="" name="promocode" type="text" class="form-control" placeholder="Enter Promo Code" required>
                </div>
                
                  <div class="form-group col-sm-3">
                  <input id="" name="" type="text" class="form-control" placeholder="User Name" required>
                </div>
                 <div class="form-group col-sm-3" ng-class="{'has-error': form.mobile.$invalid && submitted }">
                      <input class="form-control" name="mobile" placeholder="* Mobile No." type="text" value="" pattern="^[7-9][0-9]{9}$" required>
                  </div>
                  <div class="form-group col-sm-3">
                  <input class="form-control" name="email" placeholder="User Email ID" type="email" value="" >
                </div>
              </div>
              <div class="row">
                  
                <div class="form-group col-sm-3">
                <input type="number"  name=""  min="0" class="form-control" placeholder=" Per Unit Bid Value" >
              </div>
                  <div class="form-group col-sm-3" ng-class="{'has-error': form.mobile.$invalid && submitted }">
                      <input id="" name="" type="text" class="form-control" placeholder="Quantity" required>
                  </div>
                   <div class="form-group col-sm-3">
                   
                    <input id="" name="" type="text" class="form-control" placeholder="Bank Name" required>
                 
                </div>
                 <div class="form-group col-sm-3">
                  
                  <input id="" name="" type="text" class="form-control" placeholder="Cheque No" required>
                  
                </div>
                 
              </div>
             
             
              <div class="row">
                <div class="form-group  col-sm-3">                    
                  <input type="number"  name=""  min="0" class="form-control" placeholder="Payment Amount">
                </div>
                <div class="col-sm-9">
                Payment
                  <div class="row">
                    <div class="col-sm-2">
                      <input type="radio" placeholder=""  name="payment" value="OnlinePayment" ng-model="payment" > Online
                    </div>
                    <div class="col-sm-2">
                      <input type="radio" placeholder=""  name="payment" value="OfflinePayment" ng-model="payment" > Offline
                    </div>
                    <div class="form-group col-sm-4">
                      <div ng-if="payment == 'OnlinePayment'">
                      <input type="number"  name=""  min="0" class="form-control" placeholder="Payment Amount">
                      </div>
                    </div>
                    <div class="form-group col-sm-4">
                    <div ng-if="payment == 'OnlinePayment'">
                      <input type="number"  name=""  min="0" class="form-control" placeholder=" Transaction ID">
                      </div>
                    </div>
                  </div>    
                </div>      
              </div>
                  
                  <div class="row">
                     <div class="col-sm-3" ng-class="{'has-error': invMasterForm.sDate.$invalid && submitted }">
                   Date of Bid
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="gsettingVm.invSetting.sDate" uib-datepicker-popup="{{format}}" name="sDate" ng-value="" is-open="popup1.opened" min-date="minDate" datepicker-options="datepickerOptions" date-disabled="disabled(date, mode)" close-text="Close" alt-input-formats="altInputFormats" placeholder="dd/mm/yyyy" required />
                      <span class="input-group-addon">
                        <a href class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar-o fa-1x"></i></a>
                      </span>
                    </div>
                  </div>
                   <div class="col-sm-offset-10 col-sm-2 form-group">
                      <button type="button" class="btn btn-primary btn-md btn-block">Save</button>
                    </div>
             
                  </div> 

              </div>
             
          

          <div class="table-responsive">
            <table datatable="ng" dt-options="dtOptions" class="table table-bordred table-striped">

              <thead>
                <th>Promo Code</th>
                <th>User Name</th>
                <th>User Mobile No</th>
                <th>User Email ID</th>
                <th>Date of Bid</th>
                <th>Quantity</th>
                <th>Online Payment </th>              
                <th>Offline Payment </th>              
                <th>Action</th>
               
              </thead>
              <tbody>
              <tr ng-repeat="vendor in vendorList">
                <td>23253</td>
                <td>xyz</td>
                <td>9762211445</td>
                <td>{{partnerVM.getServiceString(vendor.services.join())}}</td>
                <td>{{vendor.user.email}}</td>
                <td>{{vendor.user.mobile}}</td>
                <td> 
                  <span ng-if="vendor.status">Active</span><span ng-if="!vendor.status">Inactive</span>
                </td>
                <td>
                <label ng-show="getCurrentUser().role == 'admin'" class="btn btn-warning active-btn" ng-model="vendor.status" uib-btn-checkbox ng-click="partnerVM.updateVendorUser(vendor)"><span ng-if="!vendor.status">Activate</span> <span ng-if="vendor.status">Deactivate</span></label>
                <a class="btn btn-primary btn-sm" href="javascript:void(0);" ng-click="partnerVM.editVendorClick(vendor)" ><i class="fa fa-pencil"></i> </a>
                <!-- <button class="btn btn-sm btn-danger" ng-click="partnerVM.deleteVendor(vendor)"><i class="fa fa-trash"></i></button> --></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>   
    </div>
  </div>
