<div id="wrapper">
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h3>
            Promo Transaction Summary
          </h3>
          <hr>
        </div>
        <div class="col-sm-12">
          <div class="table-responsive">
            <table datatable="ng" dt-options="dtOptions" id="bid_listing_table" dt-instance="tableRef" class="table table-bordred table-striped">

              <thead>
                <th>Promo Code</th>
                <th>Promo Name</th>
                <th>User Name</th>
                <th>User Mobile No</th>
                <th>User Email ID</th>
                <th>Date of Bid</th>
                <th>Quantity</th>
                <th>Value per Unit</th>
                <th>Bank Name</th>
                <th>Cheque No.</th>
                <th>Payment Amount </th>   
                <th>Status</th>         
                <th ng-if="isAdmin()">Action</th>
               
              </thead>
              <tbody>
              <tr ng-repeat="bid in bidListingVm.bidListing">
                <td>{{bid.bannerInfo.code}}</td>
                <td>{{bid.bannerInfo.name}}</td>
                <td>{{bid.user.fname}} {{bid.user.lname}}</td>
                <td>{{bid.user.mobile}}</td>
                <td>{{bid.user.email}}</td>
                <td>{{bid.createdAt | date:'MM/dd/yyyy'}}</td>
                <td>{{bid.quantity}}</td>
                <td>{{bid.valueperunit}}</td>
                <td>{{bid.paymentInfo.bankname}}</td>
                <td>{{bid.paymentInfo.checkno}}</td>
                <td>{{bid.paymentInfo.amount}}</td>
                <td>{{bid.status}}</td>
                <td ng-if="isAdmin()">
                <button class="btn btn-primary" ng-click="bidListingVm.payNow($index)" ng-if="bid.status == 'Pending'">Pay Now</button>
                </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
         
        </div>
      </div>   
    </div>
  </div>
