<div class="container-fluid">
  <ol class="breadcrumb">
    <li>
      <a href="/main">Home</a>
    </li>
    <li class="active">Used Equipments</li>
  </ol>
</div>

<!-- Upcoming Auction -->
<section class="category-block upcoming-auction">
  <div class="container">
    <div class="heading-titles text-center">
      <h4>[ I WANT AN EQIPMENT FOR ]</h4>
      <p>Improve productivity and efficiency with equipment you can rely on. With our extensive inventory of new, used, and rental equipment, we can deliver the right solution to meet your unique needs. Check out our latest promotions and find equipment, parts, and power systems that will help you and your customers reach new levels of success.</p>
    </div>
    <div class="row">      
      <div class="col-sm-6 col-md-4 form-group" ng-repeat="group in groupListingVm.groupList">
        <div class="media text-center">
        <img data-ng-src="{{uploadImagePrefix}}{{categoryDir}}/{{group.imgSrc}}" ng-if="group.imgSrc" width="400" height="250">
          <img src="http://placehold.it/400x250" width="100%" ng-if="!group.imgSrc">                        
          <div class="media-body text-left"> 
            <h4>{{group.name}}</h4>                      
            <p>
              {{group.description}} 
            </p>                     
          </div> 
          <div class="category-block text-center">
            <a  href="/used/{{group.name}}" class="btn btn-primary">Explore</a>
          </div>         
        </div>
      </div>
    </div>
  </div>
</section>