  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4>View Cart</h4>
      </div>
      <div class="col-sm-12">
           <table id="mytable" class="table table-bordred table-striped">                  
            <thead>
               <tr>
                  <th></th>
                   <th>Image</th>
                   <th>Product ID</th>
                    <th>Group</th>
                   <th>Product Categories</th>
                   <th>Brand</th>
                   <th>Model</th>
                   <th>Manufacturing Year</th>
                   <th>Location</th>
                   <th>Product Condition</th>
                    <!-- <th>Age </th> -->
                    <th>Action</th>
               </tr>
            </thead>
            <tbody>
  
              <tr ng-repeat="product in cart.products">
              <td><input type="checkbox" ng-click="cartVm.updateSelection($event,product)" id="product_{{product._id}}"></td>
                <td>
                  <a ng-href="/productdetail/{{product._id}}">
                    <img ng-src="{{uploadImagePrefix}}{{product.assetDir}}/{{product.primaryImg}}" width="50" height="50">
                  </a>  
                </td>
                <td>{{product.productId}}</td>
                <td>{{product.group.name}}</td>
                <td>
                  <span ng-if="product.category.name != 'Other'">{{product.category.name}}</span>
                  <span ng-if="product.category.name == 'Other'">{{product.category.otherName}}</span>
                </td>
                <td>
                  <span ng-if="product.brand.name != 'Other'">{{product.brand.name}}</span>
                  <span ng-if="product.brand.name == 'Other'">{{product.brand.otherName}}</span>
                </td>
                <td>
                  <span ng-if="product.brand.name != 'Other'">{{product.model.name}}</span>
                  <span ng-if="product.brand.name == 'Other'">{{product.model.otherName}}</span>
                </td>
                <td>{{product.mfgYear}}</td>
                 <td>{{product.country}}</td>
                 <td ng-if="product.productCondition == 'new'">New</td>
                  <td ng-if="product.productCondition != 'new'">Old</td>
                 <!-- <td>4 days</td> -->
                 <td><a href="javascript:void(0)"  ng-click="cartVm.deleteProductFromCart($index)" class="btn btn-default btn-md"><i class="fa fa-trash"></i></a>
                 <a ng-href="/productdetail/{{product._id}}" class="btn btn-default btn-md"><i class="fa fa-eye"></i></a>
                 </td>

             
             </tr>
              <tr>
                <td colspan="12" class="text-right">
                <a href="#" class="btn btn-warning clear-all" ng-show="cart.products.length > 0" ng-click="cartVm.clearCart()">Clear All</a>
                <a href="javascript:void(0);" class="btn btn-warning send-message" ng-click="cartVm.sendBuyRequest()">Send Message</a>
                
                <a href="javascript:void(0);" class="btn btn-primary compare-cart-item" ng-click="cartVm.compare()">Compare</a>
                 </td>
              </tr>   
            </tbody>
      
          </table>
      </div>
    </div>   
  </div>