  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4>View Cart</h4>
      </div>
      <div class="col-sm-12 table-responsive">
           <table id="mytable" class="table table-bordered table-striped cart-item">                  
            <thead>
               <tr>
                  <th></th>
                   <th>Image</th>
                   <th>Type</th>
                   <th>Product Name</th>                   
                   <th>Product Condition</th>
                    <th>Action</th>
               </tr>
            </thead>
            <tbody>
  
              <tr ng-repeat="product in cartVm.cart.products">
              <td><input type="checkbox" ng-click="cartVm.updateSelection($event,product)" id="product_{{product._id}}"></td>
                <td class="products-img">
                  <a ng-if="product.type == 'spare'" ng-href="/sparedetail/{{product._id}}">
                    <img ng-src="{{uploadImagePrefix}}{{product.assetDir}}/{{product.primaryImg}}" width="50" height="50">
                  </a>
                  <a ng-if="product.type == 'equipment'" ng-href="/productdetail/{{product._id}}">
                    <img ng-src="{{uploadImagePrefix}}{{product.assetDir}}/{{product.primaryImg}}" width="50" height="50">
                  </a>  
                </td>
                <td ng-if="product.type == 'equipment'">Equipment</td>
                <td ng-if="product.type != 'equipment'">Spare Part</td>
                <td>{{product.name}}</td>                
                 <td ng-if="product.productCondition == 'new'">New</td>
                 <td ng-if="product.productCondition != 'new'">Old</td>
                 <!-- <td>4 days</td> -->
                 <td><a href="javascript:void(0)"  ng-click="cartVm.deleteProductFromCart($index)" class="btn btn-default btn-md"><i class="fa fa-trash"></i></a>
                 <a ng-if="product.type == 'spare'"  ng-href="/sparedetail/{{product._id}}" class="btn btn-default btn-md"><i class="fa fa-eye"></i></a>
                 <a ng-if="product.type == 'equipment'" ng-href="/productdetail/{{product._id}}" class="btn btn-default btn-md"><i class="fa fa-eye"></i></a>
                 </td>

             
             </tr>
              <tr>
                <td colspan="12" class="text-right">
                <a href="#" class="btn btn-warning clear-all" ng-show="cart.products.length > 0" ng-click="cartVm.clearCart()">Clear All</a>
                <a href="javascript:void(0);" class="btn btn-warning send-message" ng-click="cartVm.sendBuyRequest()">Send Message</a>
                
                <a href="javascript:void(0);" class="btn btn-primary compare-cart-item" ng-click="cartVm.compare()">Compare</a>
                 </td>
              </tr>   
            </tbody>
      
          </table>
      </div>
    </div>   
  </div>