<div id="wrapper">
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
	      <div class="col-sm-6">
	      	<h3>Dashboard</h3>
	      </div>
	        
	    	<div class="col-sm-3">
				<div class="input-group">
					<span class="input-group-addon" ng-click="openfrom($event)"><i class="fa fa-calendar-o"></i></span>
	              <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="status.openedfrom" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"  />
	            </div>
			</div>
			<div class="col-sm-3">
				<div class="input-group">
					<span class="input-group-addon" ng-click="openfrom($event)"><i class="fa fa-calendar-o"></i></span>
	              <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="status.openedto" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"  />
	            </div>
			</div>	  
	        
					      
	    </div>
	    <hr>

        <div class="col-sm-6">
            <div class="panel panel-default charts">
				<div class="panel-heading calendar">
					<!-- <h3 class="panel-title">Unique Visits</h3> -->
					<div class="row">
						<div class="col-sm-6"><h3 class="panel-title">Unique Visits</h3></div>
			
					</div>
				</div>
				<div class="panel-body">
				<div class="row">
					<canvas id="pie" class="chart chart-pie" chart-data="data1" chart-labels="label1">
					</canvas> 
				</div>
            </div>   
        </div>
        </div>
        <div class="col-sm-6">
        	<div class="panel panel-default charts">
				<div class="panel-heading calendar">
					<div class="row">
						<div class="col-sm-6"><h3 class="panel-title">Products Performance</h3></div>
					
					</div>
				</div>
				<div class="panel-body">
					<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
					</canvas>
				</div>
            </div>                 
        </div>
        <!-- <div class="col-sm-6">
            <div class="panel panel-default charts">
				<div class="panel-heading calendar">					
					<div class="row">
						<div class="col-sm-6"><h3 class="panel-title">Products Place of Sale</h3></div>
				
					</div>
				</div>
				<div class="panel-body">
					<canvas id="polar-area" class="chart chart-polar-area"
					  chart-data="radardata" chart-labels="radarlabels">
					</canvas> 
				</div>
            </div>   
        </div> -->
        <div class="col-sm-6">
        	<div class="panel panel-default charts">
				<div class="panel-heading calendar">
					<div class="row">
						<div class="col-sm-6"><h3 class="panel-title">Services Performance</h3></div>
					</div>
				</div>
				<div class="panel-body">
					<canvas id="line" class="chart chart-line" chart-data="linedata"
					  chart-labels="linelabel" chart-legend="true" chart-series="lineseries"
					  chart-click="onClick" >
					</canvas> 
				</div>
            </div>                 
        </div>
      </div>   
    </div>
  </div>
</div>